<p class="caption">{{ operation }}</p>
<div class="scrollBox2 clearfloat">
	<div id="wrapper" class="wrapper">
		<div class="box">
			<div class="linkt" ng-repeat="stuff in stuffName">
				<a class="select" repeat-finish ng-click="choiceType(stuff.type,stuff.stuffName,stuff.url)">
					<div>
						<img class="img" ng-src="{{ stuff.img }}" />
					</div>
					<div class="stuff">{{ stuff.stuffName }}</div>
				</a>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-prev-btn="hidden" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	.box{
		overflow: hidden;
		padding-top: 50px;
	}
	.img {
		width: 90px;
		height: 90px;
		float: left;
		padding: 28px 0 0 22px;
	}

	.linkt {
		position: relative;
		width: 1800px;
		left: 150px;
	}

	#wrapper {
		width: 1800px;
	    height: 655px;
	    overflow: hidden;
	}

	.select {
		float: left;
		width: 700px;
		height: 140px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 700px 145px;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.handleList {
		margin-left: 394px;
		margin-top: 25px;
	}

	.handleList li {
		float: left;
		width: 455px;
		height: 110px;
		line-height: 126px;
		box-sizing: border-box;
		text-align: center;
		font-size: 33px;
		font-weight: bold;
		margin-top: 50px;
		margin-left: 70px;
		color: #3794e4;
		background: url('../libs/common/images/handleList.png') no-repeat center;
		background-size: 400px 84px;
	}

	.handleList li.in {
		color: #fff;
		background: url('../libs/common/images/dzzz.png') no-repeat;
		background-size: 440px 150px;
		background-position: 32% 6%;
	}

	.stuff {
		padding: 10px 0 0 140px;
		height: 70px;
		line-height: 130px;
		font-size: 30px;
	}
	@media only screen and (max-width: 1600px) {
		.select {
			width: 500px;
			background-size: 500px 100px;
			height: 100px;
		}
		#wrapper {
			height: 520px;
			width: 1090px;
		}
		.linkt {
			left: 0px;
			width: 1100px;
		}
		.img {
			width: 66px;
			height: 66px;
			float: left;
			padding: 19px 0 0 22px;
		}
		.stuff {
			padding: 0;
			height: 70px;
			line-height: 109px;
			font-size: 24px;
		}
	}
</style>