<div class="TabBox1">
	<div class="scrollBox2 clearfloat">
		<div class="linkBox1 clearfloat" style="padding-left: 480px; margin-top: 190px;">
			<a href="#list?areaCode=SH00SH">
				<img src="../libs/common/images/materials-copy.png" />
				<p>市级</p>
			</a>
			<a href="#list?areaCode=SH00HK">
				<img src="../libs/common/images/newIcon/bookMake.png" />
				<p>区级</p>
			</a>
			<!--<a href="#street">
				<img src="../libs/common/images/icon/jsgc.png" />
				<p>街道</p>
			</a>-->
		</div>
	</div>
</div>
<apptb-footer prev="goHome()" next="" default-is-show-prev-btn="hidden" default-is-show-next-btn="hidden" custom-home="true" home="goHome()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>

<style type="text/css">
	#wrapper {
		width: 1800px;
		height: 500px;
	}
	
	.tabBotbox1inner .text a {
		width: 266px;
		margin-right: 44px;
	}
</style>