<div class="TabBox1">
	<ul class="navul1 clearfloat">
		<li>选择事项</li>
		<li>人证核验</li>
		<li>信息填写</li>
		<li class="act">在线填报</li>
	</ul>
	<span class="line"></span>
	<div class="navBox2"><b>您正在办理：</b><span>{{itemName}}---{{statusName}}&nbsp;/&nbsp;上传方式</span></div>

	<div class="main2">
		<div style="text-align: center; margin-bottom: 10px; color: #FFFFFF ;width: 97%;    font-size: 35px;">
			{{stuffName}}
		</div>
		<div class="scrollBox2 clearfloat">
			<div class="linkBox1 clearfloat" style="padding-left: 274px;">
				<a ng-click="scanPhoto()">
					<img src="images/icon-link2.png" />
					<p>扫描上传</p>
				</a>
				<a ng-click="takePhoto()">
					<img src="images/icon-link3.png" />
					<p>U盘上传</p>
				</a>
				<a ng-click="materialPic()">
					<img src="images/icon-link1.png" />
					<p>电子证照上传</p>
				</a>
			</div>
		</div>

	</div>

</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style>
	.main2{
		width: 1713px;
		margin: 0;
	}
</style>