<div class="shell bg2">

	<apptb-header fun-name="人证核验"></apptb-header>

	<div class="TabBox1">
		<ul class="navul1 clearfloat">
			<li>选择事项</li>
			<li>办事指南</li>
			<li>事项情形</li>
			<li class="act">人证核验</li>
			<li>材料上传</li>
		</ul>
		<span class="line"></span>
		<div class="navBox2"><b>您正在办理：</b><span>{{itemName}}---{{statusName}}/上传方式</span></div>
		<div class="main2">
			<div class="scrollBox2 clearfloat">
				<div class="linkBox1 clearfloat">
					<a ng-click="scanPhoto()">
						<img src="images/icon-link4.png" />
						<p>电子证照上传</p>
					</a>
					<a ng-click="materialPic()">
						<img src="images/icon-link13.png" />
						<p>个人历史材料上传</p>
					</a>
				</div>
			</div>
		</div>
	</div>

	<apptb-footer 
		prev="prevStep()" 
		next="" 
		default-is-show-next-btn="hidden" 
		custom-home="true" 
		home="customMain()"
	    go-back="goAppHistoryBack()">
	</apptb-footer>

</div>