<div class="shell bg2">
	<apptb-header fun-name="在线填报"></apptb-header>
	<div class="TabBox1">
		<ul class="navul1 clearfloat">
			<li>选择事项</li>
			<li>办事指南</li>
			<li>事项情形</li>
			<li class="act">人证核验</li>
			<li>材料上传</li>
		</ul>
		<span class="line"></span>
		<div class="navBox2"><b>您正在办理：</b><span>{{fullItemName}}</span></div>
		<div class="main2" id="wrapper" style="height:530px">
		<div class="scrollBox2 clearfloat">
			<div class="right-input" style="width: 97%; left: 60px; top: 25px;">
				<form id="infoForm" method="get">
					<div ng-if="!isShowZNSB" class="inputBox" id="forst">
						<label class="strong">办理信息</label>
						<!--&nbsp;&nbsp;办&nbsp;&nbsp;理&nbsp;&nbsp;信&nbsp;&nbsp;息-->
						  <!--<input type="radio" style="width: 25px; height: 25px;margin-top:30px;margin-left:30px;" value="个人" ng-model="targetTypeName" name="targetType" /><span style="font-size:32px;margin-right:15px;">&nbsp;&nbsp;办理</span>-->
						 <!--<input type="radio" style="width: 25px; height: 25px;margin-top:30px;" value="法人" ng-model="targetTypeName" name="targetType" /><span style="font-size:32px;margin-right:15px;">&nbsp;&nbsp;法人</span>-->
					</div>

					<div class="inputBox">
						<span class="must">*</span>
						<label class="strong">申请人姓名</label>
						<input type="text" value="{{idCardName}}" id="username" name="username" />
					</div>
					
					<div class="inputBox" ng-if="isShowZNSB">
						<span class="must">*</span>
						<label class="strong">性别</label>
						<input type="text" id="sex" name="sex" />
					</div>

					<div class="inputBox">
						<span class="must">*</span>
						<label class="strong">申请人身份证号</label>
						<input type="text" id="targetNo" name="targetNo" />
					</div>
					
					<div class="inputBox">
						<span class="must">*</span>
						<label class="strong">申请人手机号</label>
						<input type="text" id="mobile" name="mobile" />
					</div>
					
					<div ng-if="isShowZNSB" class="inputBox">
						<span class="must">*</span>
						<label class="strong">户籍地址</label>
						<input type="text" id="address" name="address" />
					</div>
					
					<div ng-if="isShowZNSB" class="inputBox">
						<span class="must">*</span>
						<label class="strong">常住地址</label>
						<input type="text" id="liveAddress" name="liveAddress" />
					</div>
					
					<div ng-if="isShowZNSB" class="inputBox">
						<span class="must">*</span>
						<label class="strong">准驾车型</label>
						<input type="text" id="carType" name="carType" />
					</div>
					
					<div ng-if="isShowZNSB" class="inputBox">
						<span class="must">*</span>
						<label class="strong">驾驶证档案编号</label>
						<input type="text" id="driveNo" name="driveNo" />
					</div>

					<div ng-if="isShowZNSB" class="inputBox">
						<span class="must">*</span>
						<label class="strong">驾驶证初领日期</label>
						<input type="text" id="driveDate" name="driveDate" />
					</div>
					
					<div ng-if="!isShowZNSB" class="inputBox">
						<label class="strong">申请单位</label>
						<input type="text" value="{{idCardName}}" id="targetName" name="targetName" />
					</div>

					<div ng-if="!isShowZNSB" class="inputBox">
						<label class="strong">统一识别码</label>
						<input type="text" id="licenseNo" name="licenseNo" />
					</div>

					<div ng-if="!isShowZNSB" class="inputBox" style="padding-bottom:15px;width: 93.5%;">
						<label>备注</label>
						<input type="text" id="content" name="content" style="width: 78%;" />
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	<apptb-footer 
		prev="prevStep()" 
		next="goNext()" 
		custom-home="true" 
		home="customMain()"
	    go-back="goAppHistoryBack()">
	</apptb-footer>
</div>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<div class="loadingBox" ng-if="!isLoading">
	<img style="margin-left: 909px;margin-top: 430px;" src="../libs/common/images/loadings.gif" alt="">
	<p>正在加载数据，请稍后...</p>
</div>
<div id="refresh" ng-if="isShowZNSB" ng-click="refresh()">加载资料</div>

<!-- 签名板 -->
<div class="signBoard" ng-show="isShowSign">
	<div class="signatureBoard">
		<canvas id="signature" ng-click="isSignature()" height="530" width="880">
					请在此签名
		</canvas>
		<div class="btn left clearRect rewrite" ng-click="notSignature()">
			<a>重写</a>
		</div>
		<div class="btnSignConfirm left saveImg" ng-click="saveSignature()">
			<a>确定</a>
		</div>
	</div>
	<div class="text">
		<p style="font-size: 33px;color: #FEE889;margin-bottom: 50px;font-weight: bold;">请在左侧签字区域签字确认:</p>
		<p style="font-size: 29px;line-height: 45px;">本人保证本申请表所有内容属实，如有不实，愿承担由此引起的相应法律后果</p>
	</div>
</div>

<style type="text/css">
	#forst {
		width: 270px;
		display: inline-block;
		text-align-last: justify;
		line-height: 78px;
		font-size: 32px;
		/*letter-spacing: 40px;*/
	}
	.navBox2{
		margin-bottom: 0;
	}
	.inputBox{
		position: relative;
	}
	.inputBox span.must{
		position: absolute;
		color: red;
		top: 45px;
		left: 270px;
	}
	#refresh{
		position:fixed;
		top:310px;
		right:320px;
		width:134px;
		height:50px;
		background:url(./images/print.png) no-repeat;
		background-size:134px 50px;
		text-align:center;
		line-height:50px;
		font-size:18px;
	}
	.signBoard{
		position:fixed;
		z-index:9999;
		background:rgba(0,0,0,.8);
		left:0;
		right:0;
		top:0;
		bottom:0;
		padding:250px 0 0 200px;
	}
	.signatureBoard{
		width: 900px;
		float: left;
	}
	#signature{
		background: url(./images/bg-photo.png) no-repeat;
		background-size: 882px 504px;
	}
	.btn {
		position: absolute;
		top: 283px;
		left: 935px;
		width: 139px;
		height: 80px;
		text-align: center;
		line-height: 49px;
		border-radius: 10px;
		background: url(./images/print.png) no-repeat;
	}
	.btnSignConfirm{
		position: absolute;
		top: 683px;
		left: 935px;
		width: 139px;
		height: 80px;
		text-align: center;
		line-height: 49px;
		border-radius: 10px;
		background: url(./images/print.png) no-repeat;
	}
	
	.rewrite {
		text-align: center;
		border-radius: 10px;
		overflow: hidden;
		font-size: 30px;
	}
	
	.text {
		width: 650px;
		float: left;
		margin-top: 100px;
	}
	
	.view {
		float: right;
		width: 170px;
		height: 70px;
		line-height: 70px;
		overflow: hidden;
		background: #B3A1FF;
		text-align: center;
		border-radius: 10px;
		font-size: 30px;
		position: absolute;
		top: 103px;
		left: 1473px;
	}
</style>