<div class="TabBox1">
	<ul class="navul1 clearfloat">
		<li>选择事项</li>
		<li>办事指南</li>
		<li class="act">人证核验</li>
		<li>在线填报</li>
	</ul>
	<span class="line"></span>
	<div class="navBox2"><b>您正在办理：</b><span>{{itemName}}---{{statusName}}</span></div>

	<div class="main2">
		<idcard read="getIdcard(info,images)" ng-if="isRead"></idcard>
		<zzsbrecognition result="getResult(img)" face-image="{{faceImage}}" ng-if="!isRead"></zzsbrecognition>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style type="text/css">
	.scrollBox2 .cardreadingBox1 img {
		width: 800px;
		height: auto;
	}
</style>