<style type="text/css">
	.scrollBox2 {
		width: 1500px;
		height: 600px;
		margin-top: 1%;
		margin-left: 11%;
	}
	
	.caption {
		margin-top: 86px;
		margin-left: 220px;
	}
	
	#wrapper {
		width: 1500px;
		height: 80%;
		margin: 1% auto;
	}
	
	.searchInput {
		display: flex;
		width: 100%;
	}
	
	.searchInput .button {
		width: 14%;
		margin: 1.4% 0%;
	}
	
	.schoolName {
		width: 40%;
		height: 90px;
		margin: 1% 0.6%;
		background: url(../../libs/common/images/bg-input.png) no-repeat;
		position: relative;
	}
	
	.schoolName input {
		text-align: center;
		font-size: 28px;
		color: #fff;
		padding: 0 4%;
		border: none;
		background: rgba(0, 0, 0, 0);
		border-radius: 8px;
		box-shadow: 0px 0px 8px 4px #175191 inset;
		width: 68%;
		height: 100%;
	}
	
	.schoolName select {
		text-align: center;
		font-size: 28px;
		color: #fff;
		padding: 0 4%;
		border: none;
		border-radius: 8px;
		box-shadow: 0px 0px 8px 4px #175191 inset;
		width: 74%;
		height: 100%;
	}
	
	.schoolName span {
		display: inline-block;
		width: 21%;
		font-size: 28px;
		text-align: right;
	}
	
	.schoolName img {
		opacity: 0.7;
		position: absolute;
		cursor: pointer;
		top: 22%;
		right: 5%;
		width: 52px;
	}

	
	.table-sty1 th {
		padding: 20px 1px;
		text-align: center;
		border: #477cbe 1px solid;
		white-space: normal;
		background-color: rgba(255, 255, 255, 0.1);
		font-weight: bold;
	}
	.table-sty1 td {
		padding: 18px 0px;
		text-align: center;
		border: #477cbe 1px solid;
		white-space: normal;
	}
	
	a {
		text-align: center;
	}
	
	a.stamp {
		background: url(./images/print.png) no-repeat;
		background-size: 100% 100%;
		margin-left: 12%;
		width: 93%;
		height: 96%;
		line-height: 70px;
		font-size: 30px;
		display: inline-block;
		letter-spacing: 8px;
	}
	
	@media screen and (max-width: 1600px) {
		.linkt {
			left: 10px;
		}
		.select {
			width: 900px;
		}
		.select dl {
			width: 80%;
		}
		.select dd {
			margin-top: 12px;
		}
	}
</style>
<p class="caption">{{funName}}</p>
<div class="scrollBox2 clearfloat">
	<!--顶部查询框-->
	<div class="searchInput">
		<div class="schoolName">
			<span>名称&nbsp;</span>:
			<input type="text" ng-model="medicalName" />
		</div>
		<div class="schoolName">
			<span>禁止范围&nbsp;</span>:
			<select class="select1 licenseType" ng-model="range" ng-options="x for x in Range" onclick="selectBlur()">
				<option value="" selected hidden></option>
			</select>
		</div>
		<div class="button">
			<a ng-click="queryInfo(medicalName,range)" class="stamp">查询</a>
		</div>
	</div>
	<!--信息展示-->
	<div id="wrapper" class="wrapper">
		<div>
			<table class="table-sty1" cellspacing="0" ng-if="isShow">
				<tbody>
					<tr>
						<th style="width: 24%;">品名</th>
						<th style="width: 14%;">危化目录序号</th>
						<th>别名</th>
						<th>CAS号</th>
						<th>违禁措施</th>
						<th>备注</th>
					</tr>
					<tr ng-repeat="item in Item" ng-if="isResult">
						<td>{{item.chemicalnmae || "--"}}</td>
						<td>{{item.sequencenum || "--"}}</td>
						<td>{{item.bm || "--"}}</td>
						<td>{{item.cas || "--"}}</td>
						<td>{{item.column1 || "--"}}</td>
						<td>{{item.bz || "--"}}</td>
					</tr>
					<tr ng-if="!isResult">
						<td>暂无结果</td>
						<td>暂无结果</td>
						<td>暂无结果</td>
						<td>暂无结果</td>
						<td>暂无结果</td>
						<td>暂无结果</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>