<style type="text/css">
.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	#wrapper {
		width: 1750px;
		height: 650px;
	}
	
	.tabelBox1 {
		width: 1705px;
		height: 635px;
		padding-top: 35px;
	}
	
	.main2 {
		height: 650px;
		margin-top: 20px;
	}
	
	.input1::-webkit-input-placeholder {
		color: #C5C5C5;
	}
	
	.input1:-ms-input-placeholder {
		color: #C5C5C5;
	}
	
	@media screen and (max-width: 1600px) {
		.caption {
			margin-left: 150px;
		}
		.tabelBox1 .dl1 .lt1 {
			width: 10%;
		}
		.tabelBox1 .dl1 .lt3 {
			width: 12%;
		}
		.tabelBox1 .dl1 .rt2 {
			width: 18%;
		}
	}
}
</style>
<p class="caption">{{funName}}--银行信息填写</p>
<div class="main2">
	<div class="scrollBox2 clearfloat">
		<div id="wrapper">
			<div class="tabelBox1">
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>发放银行：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<select class="select1" id="bank_name" ng-init="bank_name = bank_nameList[0]" ng-model="bank_name" ng-options="x.key for x in bank_nameList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>

					<dd class="lt1 lt3">
						<span>开户支行：</span>
						<b class="red1"></b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="branch_name" ng-model="branch_name">
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>户名：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="account_name" ng-model="account_name">
					</dd>

					<dd class="lt1 lt3">
						<span>账号：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="account_number" ng-model="account_number">
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>