<style>
    .header .eventIcon {
        position: absolute;
        right: 50px;
        top: 50px;
        width: 50px;
        height: 50px;
    }

    .cabinets {
        position: absolute;
        color: #1b4f7b;
        font-family: "微软雅黑";
        font-weight: bold;
        font-size: 35px;
        top: 210px;
        left: 60px;

    }
    .cabinets span {
    	vertical-align: middle;
    }
    .quantity{
        font-size: 50px;
        color: #f9860b;
    }
</style>
<div class="header" ng-class="{'isMain':isMain}" style="    margin-bottom: 0px;">
    <p class="cabinets">
    	<span>剩余空柜子数量: </span>
    	<span class="quantity">{{resideQuantity||'0'}}</span> 
    </p>
    <img class="appLogo" src="images/logo.png" alt="">
    <p class="appTitle"></p>
    <img class="eventIcon" src="images/icon/homeLogo.png" alt="" ng-click="goHome()">
</div>