<div class="shell bg2">
	<apptb-header fun-name="办事指南"></apptb-header>
	<div class="TabBox1">
		<ul class="tabul1 clearfloat">
			<li ng-class="{'in':current==index}" ng-repeat="(index,item) in searchType" ng-click="getMatterCon(index,item)">{{item}}</li>
			<div ng-show="!isRead" class="placeholder"></div>
			<div ng-show="idRead" class="inputBox1 inputDiv">
				<input class="input1" ng-model="matterVal" type="text" placeholder="请输入事项名称" />
				<a class="btn_radius_50" style="right:20px;top:18px;" ng-click="getSearchMatter()">
					<div class="greyLight">
						<img src="images/icon-link9.png" height="50" width="50" />
					</div>
				</a>
			</div>
		</ul>
		<div class="tabBotbox1">
			<div class="cont">
				<div class="tabBotbox1inner tabBotbox1inner1">
					<div id="wrapper">
						<div class="linkbox1 clearfloat" ng-class="{'matter':deptindex==1}">
							<a ng-show="dept" ng-class="{'active':$index==active}" ng-repeat="item in itemName" ng-click="toMaterials(item.stItemName,item.organCode,item.organName,item.stItemNo)">{{item.stItemName||item.organName}}</a>
							<a ng-show="!dept" ng-class="{'active':$index==active}" ng-repeat="itemType in itemType" ng-click="toItemTypeMaterials(itemType.itemTypeName,itemType.itemTypeCode,itemType.type)">{{itemType.itemTypeCode}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<apptb-footer prev="prevStep()" next=""  default-is-show-next-btn="hidden" custom-home="true" home="goHome()">
	</apptb-footer>
</div>
<div class="loadingBox" ng-if="!isLoding">
	<img style="margin-left: 909px;margin-top: 565px;" src="../libs/common/images/loadings.gif" alt="">
	<p>正在加载数据，请稍后...</p>
</div>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>

<style type="text/css">
	#wrapper {
		width: 1300px;
		height: 715px;
	}
	
	.tabBotbox1inner .linkbox1.matter a {
		width: 400px;
		background: url(./images/bg-listCon.png);
		background-size: 440px 90px;
	}
	
</style>