<p class="caption">{{funName}}</p>
	<div class="main2" style="height: 650px;">
		<p style="position: absolute;left: 14%;top: 10%;">已选择的文件：</p>
		<div class="action right-grey">
			<div class="camera">
				<div>{{UData}}</div>
			</div>
		</div>
	</div>
</div>
<apptb-footer 
		prev="prevStep()" 
		next="highCapture()" 
		prev-btn-info="{{prevText}}"
		next-btn-info="{{nextText}}"
		custom-home="true" 
		home="customMain()"
	    go-back="goAppHistoryBack()">
	</apptb-footer>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	.camera{
		width:740px;
		height: 500px;
		position: absolute;
		top: 130px;
		left: 400px;
		font-size: 40px;
	}
</style>