<style type="text/css">
	.input1::-webkit-input-placeholder {
		color: #C5C5C5;
	}
	
	.input1:-ms-input-placeholder {
		color: #C5C5C5;
	}
	
	@media screen and (min-width: 1600px) {
		.caption {
			margin-top: 80px;
			margin-left: 200px;
		}
		#wrapper {
			width: 1750px;
			height: 650px;
		}
		
		.tabelBox1 {
			width: 1705px;
			height: 600px;
			padding-top: 35px;
		}
		
		.main2 {
			height: 650px;
			margin-top: 20px;
		}
		.tabelBox1 .dl1 {
			margin: 30px auto;
		}
	}
	
	@media screen and (max-width: 1600px) {
		.caption {
			margin-top: 80px;
			margin-left: 150px;
		}
		.main2 {
		    width: 100%;
		    height: 600px;
		    overflow: hidden;
		    position: relative;
		    margin: 0px;
		}
		#wrapper {
		    width: 100%;
		    height: 600px;
		}
		
		.tabelBox1 {
			width: 100%;
			padding-top: 0px;
		}
		
		.tabelBox1 .dl1 {
			margin: 30px auto;
		}
		.tabelBox1 .dl1 .lt1 {
			width: 16%;
		}
		.tabelBox1 .dl1 .lt3 {
			width: 20%;
		}
		.tabelBox1 .dl1 .rt2 {
			width: 30%;
		}
	}
</style>
<div class="contain">
	<p class="caption">{{funName}}</p>
	<div class="main2">
		<div class="scrollBox2 clearfloat">
			<div id="wrapper">
				<div class="tabelBox1">

					<dl class="dl1 clearfloat">
						<dd class="lt1 lt6">
							<span>姓名：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" id="consignerName" ng-model="consignerName" readonly>
						</dd>

						<dd class="lt1 lt3">
							<span>身份证号：</span>
							<b class="red1">*</b>
							<dd class="rt2">
								<input class="input1" type="text" id="consignerID" ng-model="consignerID" readonly>
							</dd>
					</dl>

					<dl class="dl1 clearfloat">
						<dd class="lt1 lt6">
							<span>账户号：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<input oninput="value=value.replace(/[^\d]/g,'')" class="input1" type="text" id="ZHH" ng-model="ZHH">
						</dd>

						<dd class="lt1 lt3">
							<span>手机号：</span>
							<b class="red1">*</b>
							<dd class="rt2">
								<input class="input1" type="text" id="consignerMobile" ng-model="consignerMobile">
							</dd>
					</dl>
					<dl class="dl1 clearfloat">
						<dd class="lt1 lt6">
							<span>旧密码：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" id="oldPassword" ng-model="oldPassword">
						</dd>
						<dd class="lt1 lt3">
							<span>新密码：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" id="password" ng-model="password">
						</dd>
					</dl>

				</div>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" next-btn-info="{{nextText}}" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>