<app-header fun-name="{{funName}}" go-back="goAppHistoryBack()"></app-header>
<p class="caption">{{operation}}</p>
<div class="scrollBox2 clearfloat">
	<div class="linkBox1 clearfloat">
		<a ng-click="service('http://www.12333sh.gov.cn/201712333/wsbs/bszn/gsjd/')">
			<img src="../libs/common/images/icon/person.png" />
			<p>服务指南</p>
		</a>
		<a ng-click="downLoad()">
			<img src="../libs/common/images/icon/corporate.png" />
			<p>表格下载</p>
		</a>
	</div>
</div>
<app-footer next="nextStep()" default-next="hidden"></app-footer>
<style type="text/css">
	.scrollBox2 .linkBox1 {
		padding-left: 523px;
		text-align: center;
		margin-top: 134px;
	}
	
</style>