<style type="text/css">
	.uniqueId {
		margin-left: 1700px;
		color: #0296CF;
		margin-top: -7px;
	}
	
	.main5 .lt3 {
		width: 890px;
		margin-left: 110px;
	}
	
	.main5 .navBox3 a .p1 {
		font-weight: bold;
	}
	/**
	 * 2020.1.3
	 */
	.self .tip {
		font-weight: bold;
		width: 82px;
		font-size: 31px;
		color: #19aae2;
		margin-top: 10px;
		margin-left: 25px;
		float: left;
	}
	
	.self .tip1 {
		width: 242px;
		font-size: 25px;
		color: #19aae2;
		margin-top: 17px;
		float: left;
	}
	
	.main5 .lt4 {
		width: 860px;
	}
	
	.main5 .navBox4 {
		margin-bottom: 55px;
	}
	
	.main5 .navBox4 a .p1 {
		height: 91px;
		line-height: 100px;
		overflow: hidden;
		font-size: 32px;
		font-weight: bold;
		color: #19aae2;
	}
	
	.main5 .navBox4 a {
		float: left;
		width: 140px;
		height: 100px;
		margin-left: 10px;
		margin-bottom: 16px;
		text-align: center;
		background: url(libs/common/images/bg-nav3.png) no-repeat;
		background-size: 140px 100px;
	}
	
	.main5 .navBox5 {
		margin-bottom: 55px;
	}
	
	.main5 .navBox5 a .p1 {
		height: 91px;
		line-height: 100px;
		overflow: hidden;
		font-size: 32px;
		font-weight: bold;
		color: #19aae2;
	}
	
	.main5 .navBox5 a {
		float: left;
		width: 375px;
		height: 100px;
		margin-left: 10px;
		margin-bottom: 16px;
		text-align: center;
		background: url(libs/common/images/bg-nav2.png) no-repeat;
		background-size: 375px 100px;
	}
	
	#aItem a {
		width: 385px;
		background-size: 385px 100px;
	}
	
	.main5 .navBox5 a .imgbox1 {
		height: 75px;
		width: 75px;
		margin-left: 50px;
		margin-top: 16px;
		float: left;
	}
	
	.main5 .navBox5 a .imgbox1 img.mart1 {
		margin-top: 0px;
	}
	
	.main5 .navBox5 a .imgbox1 img {
		height: 65px;
		width: 65px;
		-webkit-animation: scale2 1.5s infinite;
	}
	
	.nav5 {
		margin-right: 50px;
	}
	
	.main5 .navBox6 {
		margin-bottom: 55px;
	}
	
	.main5 .navBox6 a .p1 {
		height: 91px;
		margin-top: 20px;
		line-height: 33px;
		font-size: 25px;
		font-weight: bold;
		color: #19aae2;
	}
	
	.main5 .navBox6 a {
		float: left;
		width: 251px;
		height: 100px;
		margin-left: 10px;
		margin-bottom: 16px;
		text-align: center;
		background: url(libs/common/images/bg-nav2.png) no-repeat;
		background-size: 251px 100px;
	}
	
	.main5 .navBox6 a .imgbox1 {
		height: 70px;
		width: 30px;
		padding-left: 30px;
		margin-top: 24px;
		float: left;
	}
	
	.main5 .navBox6 a .imgbox1 img.mart1 {
		margin-top: 0px;
	}
	
	.main5 .navBox6 a .imgbox1 img {
		height: 65px;
		width: 65px;
		-webkit-animation: scale2 1.5s infinite;
	}
	
	.nav6 {
		margin-right: 50px;
	}
	
	#ptd {}
	
	#ptdImg img {
		height: 55px;
		width: 55px;
	}
	
	.main5 .navBox3 a .imgbox1 {
		height: 125px;
	}
	
	.moreImg {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		width: 140px;
	}
	
	.moreImg img {
		width: 70px;
		height: 32px;
	}
	
	.navigation {
		background-size: 2100px 90px;
	}
	
	.navigation ul {
		width: 93%;
		margin: 0 auto;
		overflow: hidden;
	}
	
	.navigation ul li {
		width: auto;
		background-size: 100% 100%;
	}
	
	.navigation ul>li:first-child {
		width: auto;
	}
	
	.navigation ul>li:first-child>a.hover {
		width: auto;
	}
	
	.navigation ul>li:last-child {
		width: auto;
		text-indent: -20px;
		background-size: 100% 100%;
	}
	
	.navigation ul>li:last-child a {
		padding: 0px 71px;
	}
	
	.navigation ul li a {
		padding: 0px 29px;
	}
	
	.hasCall ul li a {
		padding: 0px 44px;
	}
	
	.navigation ul>li:last-child>a:hover {
		width: auto;
		background-size: 100% 100%;
	}
	/*弹框css*/
	
	.controlAlert {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		position: absolute;
		margin: 0 auto;
		top: 480px;
		left: 120px;
		width: 600px;
		height: 80px;
	}
	
	.confirm {
		background-color: #72cffb;
	}
	
	.control {
		height: 60px;
		width: 168px;
		border-radius: 30px;
		line-height: 60px;
		border: 1px solid #33cbfc;
		padding: 0 40px 0 40px;
		font-size: 30px;
		text-align: center;
		box-sizing: border-box;
	}
	
	.title {
		text-align: center;
		margin-top: 200px;
		font-size: 44px;
		color: #72cffb;
		padding: 0px 50px;
	}
	
	.customAlert {
		position: fixed;
		margin: auto;
		background-color: rgba(0, 0, 0, .6);
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
	}
	
	.close {
		position: absolute;
		display: block;
		text-align: center;
		line-height: 60px;
		font-size: 50px;
		height: 60px;
		width: 60px;
		right: 0px;
		top: 0px;
	}
	
	.alertContent {
		overflow: hidden;
		position: relative;
		background-color: rgba(39, 93, 161, .9);
		text-align: center;
		margin: 200px auto;
		height: 604px;
		width: 851px;
		background: url(./libs/common/images/bg-alert.png) no-repeat;
		background-position: center center;
	}
</style>
<div class="shell bg3">
	<div class="TopTit1 clearfloat">
		<img src="libs/common/images/icon/ywtblogo.png" style="position: absolute;width: 73px;left: 235px;">
		<h2 class="tit2" ng-click="goToApp('staffOperation/index.html')" style="padding-left: 300px;">“一网通办”智能自助终端</h2>
		<!--<div class="askPart">
			<button class="iWannaAsk" ng-click="answer()">我要问</button>
			<div class="ask"><img ng-click="sound()" src="libs/common/images/speaker.png" alt="">
				<input id="input1" ng-keyup="enterEvent($event)" ng-model="askText" type="text" placeholder="请输入关键字" class="askInput"></div>
		</div>-->
	</div>
	<!--<a ng-click="test()">放打印纸</a>  <a ng-click="read()">打印</a> <a ng-click="exit()">其他外设</a>-->
	<div class="main5">
		<div class="lt3 fl">
			<div class="titBox1">热门办事</div>
			<div class="navBox6 clearfloat nav5">
				<a id="one" onclick="click_point(this.id);" ng-click="goToApp('medical/index.html#/bookMaking')">
					<div class="imgbox1" id="ptdImg"><img src="libs/common/images/icon-nav18.png" /></div>
					<p id="ptd" class="p1">就医记录<br/>册更换</p>
				</a>
				<a id="two" onclick="click_point(this.id);" ng-click="goToApp('publicSecurity/index.html#/loginResidence')">
					<div class="imgbox1" id="ptdImg"><img src="libs/common/images/icon-nav1.png" /></div>
					<p id="ptd" class="p1">居住证有<br/>效期更新</p>
				</a>
				<a id="three" onclick="click_point(this.id);" ng-click="goToApp('aSocial/index.html#/loginType?itemName=参加个人城镇基本养老保险缴费情况&code=310195323433&type=jfqk')">
					<div class="imgbox1" id="ptdImg"><img src="libs/common/images/icon-nav16.png" class="mart1" /></div>
					<p id="ptd" class="p1">城保缴费<br/>情况打印</p>
				</a>
				<a id="twenty-seven" onclick="click_point(this.id);" ng-click="goToApp('medical/index.html#/loginType?type=info')">
					<div class="imgbox1" id="ptdImg"><img src="libs/common/images/icon-nav10.png" class="mart1" /></div>
					<p id="ptd" class="p1">医保个人<br/>信息查询</p>
				</a>
				<a id="twenty-eight" onclick="click_point(this.id);" ng-click="goToApp('medical/index.html#/loginType1?type=reduce')">
					<div class="imgbox1" id="ptdImg"><img src="libs/common/images/icon-nav12.png" class="mart1" /></div>
					<p id="ptd" class="p1">医保综合<br/>减负试算</p>
				</a>
			</div>
			<div class="titBox1">高效办成一件事</div>
			<div class="navBox5 clearfloat" id="aItem">
				<a id="four" onclick="click_point(this.id);" ng-click="goToApp('sqfw/index.html#/guidelineJybt')">
					<p class="p1">就业补贴一件事</p>
				</a>
				<a id="five" onclick="click_point(this.id);" ng-click="goToApp('sqfw/index.html#/guidelineSybx')">
					<p class="p1">生育保险一件事</p>
				</a>
				<a id="six" onclick="click_point(this.id);" ng-click="goToApp('sqfw/index.html#/guidelineJygx')">
					<p class="p1">异地就医一件事</p>
				</a>
				<!--<a ng-click="goToApp('sqfw/index.html#/guideline')">
					<p class="p1">敬老卡申领、发放</p>
				</a>-->
			</div>
		</div>
		<div class="lt4 fl">
			<div class="titBox1">自助办理</div>
			<div class="navBox4 clearfloat">
				<a id="seven" onclick="click_point(this.id);" ng-click="goToApp('aSocial/index.html')">
					<p class="p1">人社</p>
				</a>
				<a id="eight" onclick="click_point(this.id);" ng-click="goToApp('medical/index.html')">
					<p class="p1">医保</p>
				</a>
				<a id="nine" onclick="click_point(this.id);" ng-click="goToApp('archives/index.html')">
					<p class="p1">档案</p>
				</a>
				<a id="ten" onclick="click_point(this.id);" ng-click="goToApp('publicSecurity/index.html')">
					<p class="p1">公安</p>
				</a>
				<a id="eleven" onclick="click_point(this.id);" ng-click="goToApp('housingConstruction/index.html')">
					<p class="p1">住建</p>
				</a>
				<a id="twelve" onclick="click_point(this.id);" ng-click="goToApp('authentication/index.html')">
					<p class="p1">经信委</p>
				</a>
				<a id="thirteen" onclick="click_point(this.id);" ng-click="goToApp('search/index.html')">
					<p class="p1">发改委</p>
				</a>
				<a id="twenty-five" onclick="click_point(this.id);" ng-click="goToApp('civilAffairs/index.html')">
					<p class="p1">民政</p>
				</a>
				<a id="twenty-six" onclick="click_point(this.id);" ng-click="goToApp('CL_allItem/index.html')">
					<p class="p1">残联</p>
				</a>
				<a ng-click="goToApp('allOrgan/index.html')">
					<div class="moreImg"><img src="libs/common/images/newIcon/more.png" /></div>
				</a>
			</div>

			<div class="titBox1">便捷服务</div>
			<div class="navBox5 clearfloat nav5">
				<!--<a id="fourteen" onclick="click_point(this.id);" ng-click="goToApp('https://zwdt.sh.gov.cn/smzy/shell_terminal/tourist/sceneList')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav7.png" class="mart5" /></div>
					<p class="p1">智能引导</p>
				</a>-->
				<a id="fifteen" onclick="click_point(this.id);" ng-click="goToApp('eLicense/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav3.png" class="mart5" /></div>
					<p class="p1">我的证照</p>
				</a>
				<a id="sixteen" onclick="click_point(this.id);" ng-click="goToApp('research/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav10.png" class="mart5" /></div>
					<p class="p1">用户评价</p>
				</a>
				<a class="self">
					<div class="tip">终端监测</div>
					<div class="tip1">剩余纸张数：{{paperSum||86}}张<br/>剩余记录册：{{bookSum||26}}本</div>
				</a>
			</div>
		</div>
	</div>
	<nav class="navigation" ng-class="{'hasCall' : hasCall == false}">
		<ul>
			<li>
				<a class="hover">特色功能</a>
			</li>
			<li>
				<a id="eighteen" onclick="click_point2(this.id);" ng-click="goToApp('guideline/index.html')">办事指南</a>
			</li>
			<li>
				<a id="nineteen" onclick="click_point2(this.id);" ng-click="goToApp('copy/index.html')">材料复印</a>
			</li>
			<li>
				<a id="twenty" onclick="click_point2(this.id);" ng-click="goToApp('aSocial/index.html#/loginType?type=residencePermit')">居住证积分查询</a>
			</li>
			<li>
				<a id="twenty-one" onclick="click_point2(this.id);" ng-click="goToApp('threeGoldQuery/index.html')">三金查询</a>
			</li>
			<li>
				<a id="twenty-two" onclick="click_point2(this.id);" ng-click="goToApp('authentication/index.html')">市民网上实名认证</a>
			</li>
			<li>
				<a id="twenty-three" onclick="click_point2(this.id);" ng-click="goToApp('search/index.html#/guideline')">个人信用报告</a>
			</li>
			<li ng-if="hasCall">
				<a id="twenty-five" onclick="click_point2(this.id);" ng-click="callConsultation()">服务咨询</a>
			</li>
			<!--<li>
				<a id="twenty-four" onclick="click_point2(this.id);" ng-click="answer()">我要问</a>
			</li>-->
			<!--<li >
				<a href="workSearch/index.html">办件查询</a>
			</li>-->
			<!--<li>
				<a href="recommend/index.html">为您推荐</a>
			</li>-->
			<!--<li>
				<a href="infoSearch/index.html">三金查询</a>
			</li>-->
			<!--<li>
				<a href="#">菜单名称</a>
			</li>-->
		</ul>
	</nav>
	<p class="uniqueId">设备编码：{{id}}</p>
	
	<!--alert弹框-->
	<div style="z-index:321;" class="customAlert" ng-if="isAlert">
		<div class="alertContent">
			<p class="title">{{msg}}</p>
			<div class="controlAlert">
				<a ng-if="confirm_show" class="control confirm continue" ng-click="alertConfirm()">确定</a>
				<a ng-if="cancel_show" class="control cancel" ng-click="alertCancel()">取消</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//qwqw = function(){
	//	    	alert(1);
	//	//  	window.location.href ="http://183.194.241.117/smzy/shell_terminal/tourist/guide/qa?ask="+$('.input1').val();
	//	// 		console.log($('.input1').val());
	//	    }
	//	})
</script>