<nav>
	<ol class="breadcrumb">
		<li>
			<a href="#"><img src="../../../libs/common/images/home.png" style="height: 30px;"></a>
		</li>
		<li>
			<a href="#">市民云亮证</a>
		</li>
		<li class="active">亮证教程</li>
	</ol>
</nav>
<div class="board">
	<div class="info blue-green">
		<img class="bg" src="../../../libs/common/images/mainIndexBG_0.png">
		<div class="vertical-middle horizontal-middle leftLump">
			<img src="../../../libs/common/images/smy.png">
			<div>下载市民云app</div>
		</div>
	</div>
	<div class="action">
		<img src="../../../libs/common/images/right.png" style="position:absolute;left:370px;top:320px;width:30px;" />
		<img src="../../../libs/common/images/right.png" style="position:absolute;left:700px;top:320px;width:30px;" />
		<div class="smyBox" style="top:30px;left:100px;">
			<img class="vertical-middle" src="../../../libs/common/images/smy/citizenCloud1.jpg" />
			<img src="../../../libs/common/images/click.gif" style="position:absolute;width:70px;top:100px;left:120px;" />
			<b>进入市民云<br />选择“亮证”功能</b>
		</div>
		<div class="smyBox" style="top:30px;left:425px;">
			<img class="vertical-middle" src="../../../libs/common/images/smy/citizenCloud2.jpg" />
			<img class="horizontal-middle" src="../../../libs/common/images/smy.png" style="width:150px;margin-top: -170px;margin-left: 50px;" />
			<b>查看二维码信息</b>
		</div>
		<div class="smyBox" style="top:30px;left:750px;">
			<img class="vertical-middle" src="../../../libs/common/images/prototype-grey.png" />
			<img src="../../../libs/common/images/arrow.gif" style="position:absolute;width:40px;top:220px;left:30px;" />
			<b>使用自助机<br />扫码二维码</b>
		</div>
	</div>
</div>