<div class="shell bg2">
<loading ng-if="!isLoading"></loading>
	<apptb-header fun-name="办事指南"></apptb-header>
	
	<div class="TabBox1">
		<!--进度条-->
		<ul class="navul1 clearfloat">
			<li>选择事项</li>
			<li class="act">办事指南</li>
			<li>人证核验</li>
			<li>在线填报</li>
		</ul>
		<span class="line"></span>
		<div class="navBox2"><b>您正在办理：</b><span>{{itemName}}---{{statusName}}</span></div>

		<div class="content">
			<div class="main2">
			<div id="wrapper">
				<div class="scrollBox2 clearfloat widthLimit" id="scrollBox2">
					<dl class="dllist1 clearfloat">
						<dt>一、事项名称和代码：</dt>
						<dd ng-bind-html="guideInfo.clNameCode | to_trusted">
						</dd>
					</dl>
					<dl class="dllist1 clearfloat" style="padding-top: 25px;">
						<dt>二、适用范围：</dt>
						<dd>
							<p>{{clRange|| to_trusted}}</p>
						</dd>
					</dl>

					<!-- <dl class="dllist1 clearfloat">
                <dt>三、办理依据：</dt>
                <dd>
                    <p>{{guideInfo.clDealAccording || to_trusted}}</p>
                </dd>
            </dl>-->
					<dl class="dllist1 clearfloat">
						<dt>三、办理机构：</dt>
						<dd>
							<p>{{guideInfo.clDealOrgan || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>四、审批条件：</dt>
						<dd>
							<p>{{guideInfo.clApprovalConds || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>五、数量限制：</dt>
						<dd>
							<p>{{guideInfo.clApprovalCount || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt style="float:none">六、审批材料：</dt>
						<dd id="lodop" style="width:1220px;margin-left: 15px;" class="stuff" ng-bind-html="guideInfo.clApprovalMater | to_trusted">
						</dd>
					</dl>
					<!--<dl class="dllist1 clearfloat">
			    <dt>七、审批期限：</dt>
			    <dd>
			        <p>{{guideInfo.clApprovalLimit || to_trusted}}</p>
			    </dd>
			</dl>
			<dl class="dllist1 clearfloat">
			    <dt>九、审批证件：</dt>
			    <dd>
			        <p>{{guideInfo.clApprovalCert || to_trusted}}</p>
			    </dd>
			</dl>-->
					<dl class="dllist1 clearfloat">
						<dt class="long">七、收费标准(是否收费)：</dt>
						<dd ng-bind-html="guideInfo.clChargeStd | to_trusted">
						</dd>
					</dl>
					<!--<dl class="dllist1 clearfloat">
			    <dt>十一、申请人权利及义务：</dt>
			    <dd>
			        <p>{{guideInfo.clApplyRightsDuties || to_trusted}}</p>
			    </dd>
			</dl>
			<dl class="dllist1 clearfloat">
			    <dt>十二、申请接受：</dt>
			    <dd>
			        <p>{{guideInfo.clApplyReceive || to_trusted}}</p>
			    </dd>
			</dl>-->
					<dl class="dllist1 clearfloat">
						<dt>八、咨询途径：</dt>
						<dd>
							<p>{{guideInfo.clConsultWay || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>九、投诉渠道：</dt>
						<dd>
							<p>{{guideInfo.clComplaintChannel || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十、办理方式：</dt>
						<dd>
							<p ng-bind-html="guideInfo.clDealType || to_trusted | to_trusted"></p>
						</dd>
					</dl>
					<!--<dl class="dllist1 clearfloat">
			    <dt>十六、决定公开：</dt>
			    <dd>
			        <p>{{guideInfo.clDecidedOpen || to_trusted}}</p>
			    </dd>
			</dl>-->
				</div>
			</div>
		</div>
		</div>
	</div>

	<apptb-footer 
		prev="prevStep()" 
		next="nextStep()" 
		custom-home="true" 
		home="customMain()"
	    go-back="goAppHistoryBack()">
	</apptb-footer>
	<!--二维码 开始-->
	<div class="CodeBox1" id="code" style="height: 330px;top: 430px" ;>
		<!-- <img src="images/code1.jpg" class="img1"/> -->
		<p style="position: absolute;top: 220px;left:8px">使用政务APP<br/>或微信扫描<br/>即可使用手机查看 </p>

	</div>
	<!--二维码 结束-->
	<a ng-click="print()" class="stamp">打印</a>

</div>
<div class="loadingBox" ng-if="!isLoading">
	<img src="../libs/common/images/loadings.gif" alt="">
	<p>正在加载数据，请稍后...</p>
</div>
<style type="text/css">
	#wrapper {
		width: 100%;
		height: 400px;
	}
	
	.stuff td {
		font-size: 24px;
	}
	
	.stuff th {
		font-size: 24px;
	}
	
	.stuff table tr>td:nth-child(1) {
		width: 950px;
	}
	
	.stuff table tr>td:nth-child(2) {
		display: none;
		text-align: center
	}
	
	.stuff table tr>th:nth-child(2) {
		display: none;
	}
	
	.stuff table tr>td:nth-child(3) {
		width: 170px;
		margin-left: 20px;
		text-align: center
	}
	
	.stuff table tr>td:nth-child(4) {
		width: 130px;
		margin-left: 20px;
		text-align: center
	}
	
	.stuff table tr>td:nth-child(5) {
		width: 150px;
		margin-left: 20px;
		text-align: center
	}
	
	.main2 {
		margin-left: 0;
		overflow: hidden;
		width: 1200px;
		height: 400px;
		margin-top: 50px;
	}
	.content{
		background: url(./images/bg-subcontent.png) no-repeat;
		width: 1500px;
		height: 500px;
		margin-left: 100px;
		overflow: hidden;
	}
	.scrollBox2 {
		width: 1400px;
		padding-left: 20px;
	}
	a.stamp{
		background: url(./images/print.png) no-repeat;
		top: 780px;
		left: 1545px;
		width: 130px;
		height: 50px;
		line-height: 50px;
		font-size: 24px;
	}
	.main2{
		width: 1500px;
	}
	
</style>