<style type="text/css">
	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.scrollBox2 .linkBox1 {
		padding-left: 0px;
		text-align: center;
		margin-top: 80px;
		display: flex;
		justify-content: space-around;
	}

	.scrollBox2 .linkBox1 a {
		margin-right: 0px;
	}

	.tips {
		margin: 100px auto;
		text-align: center;
		color: #e1ba1c;
		font-weight: bold;
		font-size: 30px;
	}

	.tips p:nth-of-type(2) {
		text-align: left;
		margin-left: 135px;
	}

	@media screen and (max-width: 1600px) {
		.scrollBox2 .linkBox1 {
			margin-top: 0px;
		}
	}
</style>

<div class="contain">
	<p class="caption">{{ operation }}</p>
	<div class="scrollBox2 clearfloat">
		<div class="linkBox1 clearfloat">
			<a href="javascript:;" ng-click="choiceLogin('idcard')" ng-if="licenseType=='person'">
				<img src="../libs/common/images/newIcon/idCard.png" />
				<p>身份证登录</p>
			</a>
			<a href="javascript:;" ng-click="choiceLogin('ukey')" ng-if="licenseType=='corporate'">
				<img src="../libs/common/images/newIcon/ukey.png" />
				<p>Ukey登录</p>
			</a>
			<a href="javascript:;" ng-click="choiceLogin('cloud')">
				<img class="suiShenBan" src="../libs/common/images/newIcon/qrCode.png" />
				<p>随申办登录</p>
			</a>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>