<p class="caption">{{funName}}--办理须知</p>
<div class="main2">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>一、查档范围：</dt>
				<dd>
					<p>申请查询的档案应为长三角地区内（上海市、江苏省、浙江省、安徽省）各级国家综合档案馆保管的民生档案（目前限定婚姻档案、独生子女档案、知青档案三种），且利用者为档案所记载的当事人本人，不得申请利用其他公民或组织的档案。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>二、申请方式：</dt>
				<dd>
					<p>（一）通过长三角“一网通办”平台或官方APP申请。利用者进入长三角“一网通办”平台或官方APP，注册并通过政务服务网高级实名用户认证，登录长三角“一网通办”平台或官方APP端并在首页“档案查询”中选择需查询的民生档案门类，按要求填写并提交查档申请，同时确定档案复制件或证明送交方式</p>
					<p>（二）到档案馆查档。到档案馆查外省市档案。利用者持有效身份证明到三省一市综合档案馆提出查档请求。受理档案馆（接受申请的档案馆）工作人员通过检验身份证等方式检查其身份信息后，填写申请单，向相应省市提交查档申请，同时确定档案复制件或证明送交方式。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>三、受理情况反馈：</dt>
				<dd>
					<p>利用者<b>自提交申请资料起2个工作日内</b>，“一网通办”平台通过短信形式向利用者反馈查档结果，期间可实时查询办理情况。<b>在规定期限内不能作出答复的，经受查档案馆负责人批准，可以适当延长期限，但最长不超过2个工作日。</b>利用者收到查档结果后，可在长三角“一网通办”平台或官方APP端和三省一市查档系统进行满意度价。
					</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>四、送交档案：</dt>
				<dd>
					<p>档案复印件或证明根据申请时提交的并经档案馆工作人员审核同意的方式送交档案：到指定馆（受理馆）自取、长三角统一物流平台快递送达（费用自理）。</p>
					<p>利用者须自觉遵守档案工作法律法规及相关工作制度，严格执行平台操作规范，确保档案信息安全，不违规留存、使用、披露、公布或者允许他人违规留存、使用、披露、公布在此项工作中接触的档案信息，并依法承担违反承诺的法律责任。</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.main2 {
		width: 1625px;
		height: 645px;
		margin-left: 150px;
		margin-top: 30px;
	}

	.scrollBox2 .dllist1 {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.scrollBox2 .dllist1 dd {
		width: 1270px;
	}

	#wrapper {
		width: 1630px;
		height: 600px;
	}
	.dllist1 dd b{
		color:#e1ba1c;font-weight:bold;
	}
	@media screen and (min-width:1279px) and (max-width:1281px) {
		.caption {
			margin-left: 130px !important;
			margin-top: 60px !important;
		}
		.main2 {
			width: 1105px;
			height: 645px;
			margin-left: 95px;
			margin-top: 30px;
		}
		.scrollBox2 .dllist1 dd {
			width: 1000px;
		}
		#wrapper {
			width: 1000px;
			height: 600px;
		}
	}
</style>