<nav>
	<ol class="breadcrumb">
		<li>
			<a href="#">
				<img src="../libs/common/images/home.png" style="height: 30px;">
			</a>
		</li>
		<li>
			<a href="#">人证核验</a>
		</li>
		<li>
			<a href="#">扫描身份证</a>
		</li>
		<li class="active">拍摄人像</li>
	</ol>
</nav>
<div class="board">
	<div class="info blue-green">
		<img class="bg" src="../libs/common/images/mainIndexBG_2.png">
		<div class="vertical-middle horizontal-middle leftLump">
			<img src="../libs/common/images/prototype.png">
			<img src="../libs/common/images/click.gif" style="width:80px;position:absolute;top:150px;left:160px;">
			<div>请点击“拍照”以继续
				<br />照片将与身份证照片进行比对</div>
		</div>
	</div>
	<div class="action">
		<div class="camera" style="top:80px;left:180px;">
			<p ng-show="status">正在进行核验......</p>
			<img ng-show="status" style="margin-top:100px;" src="../libs/common/images/loading.gif" alt="">
			<p ng-show="complete" style="color:green;font-size:40px;margin-top:100px;">{{tipsText}}</p>
		</div>
		<a ng-show="confirm" class="btn_radius_50" ng-click="capture()" style="position:absolute;left:420px;top:640px;width: 324px;">
			<div class="greyLight" style="padding: 0  10px;">
				<img src="../libs/common/images/icon200/camera.png" height="80">
				<label>人证核验</label>
			</div>
		</a>
		<a ng-show="complete" ng-click="backTo()" class="btn_radius_50" style="position:absolute;left:200px;top:640px;width: 320px;">
			<div class="greyLight" style="padding: 0  10px;">
				<img src="../libs/common/images/icon200/camera.png" height="80">
				<label style="padding: 0px;">重新核验</label>
			</div>
		</a>
		<a ng-show="complete" ng-click="goToHome()" class="btn_radius_50" style="position:absolute;left:600px;top:640px;width: 320px;">
			<div class="greyLight" style="padding: 0  10px;">
				<img src="../libs/common/images/icon200/camera.png" height="80">
				<label style="padding: 0px;">完成</label>
			</div>
		</a>
	</div>
</div>