	<li class="t">请您提出宝贵的建议，并留下联络方式，建议一旦被采用，我们将为您提供礼品奖励</li>
	<div class="text">
		<div class="top1" style="width: 1200px;float: left;">
			<img style="width: 75px;height: 75px;margin-left: 80px;margin-top: 40px;"src="images/合理建议.png" />
			<li style="width: 500px;position: absolute;top: 535px;left: 475px;font-size: 60px;">&nbsp;&nbsp;&nbsp;&nbsp;请提出您的建议</li>
		</div>
		<form class="form">
 			
			<div class="input" style="margin-left: 130px;">
				<label class="strong" style="font-size: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				
			</div>
			<div class="input" style="margin-left: 130px;">
				<label class="strong" style="font-size: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				
			</div>
			<div class="input" style="margin-left: 130px;">
				<label class="strong" style="font-size: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				
			</div>
			<div class="input" style="margin-left: 130px;">
				<label class="strong" style="font-size: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				
			</div>	
			<div class="input1" >
				<label class="strong" style="font-size: 50px;">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名&nbsp;&nbsp;:</label>
				<input type="text" id="name" name="name"/>
			</div>
                       <div class="input" style="margin-left: 130px;">
				<label class="strong" style="font-size: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				
			</div>
			<div class="input" style="margin-left: 130px;">
				<label class="strong" style="font-size: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				
			</div>
			<div class="input1">
				<label class="strong" style="font-size: 50px;">手&nbsp;&nbsp;机&nbsp;&nbsp;号&nbsp;:</label>
				<input type="text" id="mobile" name="mobile"/>
			</div>
                       <div class="input" style="margin-left: 130px;">
				<label class="strong" style="font-size: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				
			</div>
			<div class="input" style="margin-left: 130px;">
				<label class="strong" style="font-size: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				
			</div>
			
			<div class="input2">
				<div class="strong" style="font-size: 50px;">建议内容&nbsp;&nbsp;:</div>
				<textarea  type="text" id="tips" name="tips"></textarea>
			</div>
		</form>
	</div>
	<div class="btnBox1 clearfloat">
			   <a href="" class="Prev" style="width: 225px;margin-left: 150px;font-size: 50px;">取消</a>
			   <a ng-click="save()" class="next"style="width: 225px;margin-left: 150px;font-size: 50px;">确认</a>
	</div>

<style type="text/css">
	.t{
		margin-left:220px ;
		margin-top: 130px;
		font-size: 30px;
	}
	.input>input{
		height: 51px;
		width: 332px;
		border-radius: 10px;
		    font-size: 64px;
	}
	
	.input{
		width: 530px;
		float: left;
		margin-top: 20px;
	}
	.input1{
		width: 770px;
		float: left;
		margin-left: 130px;
		margin-top: 20px;
	}
	.input1>input{
		height: 51px;
		width: 770px;
		border-radius: 10px;
		    font-size: 24px;
	}
	.input2{
		width: 770px;
		float: left;
		margin-left: 130px;
		margin-top: 20px;
	}
	.input2>textarea{
		height: 279px;
		width: 770px;
		border-radius: 10px;
		resize:none;
		    font-size: 24px;
	}
	.title {
	    height: 750px;
	    width: 100%;
	    overflow: hidden;
	    position: absolute;
		top: 195px;
	}
	.text{
		width: 1000px;
		height: 2000px;
		background-color: #2964B0;
		margin: 30px 0 25px 240px;
	}
	.top1{
		font-size: 45px;
	}
</style>