<div class="title">
	<div class="scrollBox2 clearfloat" style="padding-top: 150px;">
	    <div class="device" style="padding-left: 274px;">
	        <a ng-click="next()">
	            <img src="images/评价-好评.png"/>
	            <p>满意</p>
	        </a>
	        <a ng-click="next()">
	            <img src="images/评价-中评.png"/>
	            <p>一般</p>
	        </a>
			<a ng-click="next()">
			    <img src="images/评价-差评.png"/>
			    <p>不满意</p>
			</a>
	    </div>
	</div>
</div>
<style type="text/css">
	.title {
	    height: 750px;
	    width: 100%;
	    overflow: hidden;
	    position: absolute;
		top: 195px;
	}
	.device a{
		float: left;
		width: 303px;
		height: 273px;
		margin-right: 164px;
		margin-top: 84px;
		overflow: hidden;
		text-align: center;
	}
</style>