<div class="title">
	<div  class="scrollBox2 clearfloat" style="padding-top: 450px;">
	    <div class="device1" style="padding-left: 600px;">	       
 <a style="width: 1500px;position: absolute;top: 250px;left: 30px;font-size: 60px;">
	           <p>请您对办事服务情况进行评价</p>
	        </a> 	
 </div>
	</div>
<div class="scrollBox2 clearfloat" style="padding-top: 150px;">
	    <div class="device" style="padding-left: 600px;">
      
		 <a ng-click="next()">
	            <img src="images/评价-好评.png"/>
	            <p>满意</p>
	        </a>
	        <a ng-click="next()">
	            <img src="images/评价-中评.png"/>
	            <p>一般</p>
	        </a>
			<a ng-click="next()">
			    <img src="images/评价-差评.png"/>
			    <p>不满意</p>
			</a>
	    </div>
	</div>
</div>
<style type="text/css">
	.title {
	    height:5000px;
	    width: 100%;
	    overflow: hidden;
	    position: absolute;
		top: 195px;
	}
	.device a{
		float: left;
		width: 303px;
		height: 273px;
		margin-right: 164px;
		margin-top: 84px;
		overflow: hidden;
		text-align: center;
		font-size: 35px;
	}
	.device1 a{
		float: left;
		width: 1750x;
		height: 150px;
		margin-right: 164px;
		margin-top: 34px;
		overflow: hidden;
		text-align: center;
  		font-size: 150px;
	}
</style>