<style type="text/css">
.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	#wrapper {
		width: 1750px;
		height: 650px;
	}
	
	.main2 {
		height: 650px;
		margin-top: 20px;
	}
	
	.input1::-webkit-input-placeholder {
		color: #C5C5C5;
	}
	
	.input1:-ms-input-placeholder {
		color: #C5C5C5;
	}
	
	@media screen and (max-width: 1600px) {
		.caption {
			margin-left: 150px;
		}
		.tabelBox1 .dl1 .lt1 {
			width: 10%;
		}
		.tabelBox1 .dl1 .lt3 {
			width: 12%;
		}
		.tabelBox1 .dl1 .rt2 {
			width: 18%;
		}
		.tabelBox1 .dl1 .rt11 {
			width: 16%;
		}
	}
}
</style>
<p class="caption">{{funName}}--参保人登记个人信息</p>
<div class="main2" style="height: 675px;">
	<div class="scrollBox2 clearfloat">
		<div id="wrapper">
			<div class="tabelBox1" style="width: 1705px;padding-top: 35px;">

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>姓名：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stName" ng-model="stName" readonly>
					</dd>

					<dd class="lt1 lt3">
						<span>身份证号：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stIdCard" ng-model="stIdCard" readonly>
					</dd>
				</dl>

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>性别：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stSex" ng-model="stSex" readonly>
					</dd>

					<dd class="lt1 lt3">
						<span>出生日期：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="dtBirth" ng-model="dtBirth" readonly>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" next-btn-info="{{nextText}}" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>