<table class="infoTable" id="infoTable1">
	<div class="infoTitle">
		<p>共济成员信息1</p>
		<div class="bt-delete">删除</div>
	</div>
	<tr>
		<th><b class="red">*</b>姓名：</th>
		<td><input class="input" type="text" id="name1"></td>
		<th><b class="red">*</b>与组件人关系：</th>
		<td><input class="input" type="text" id="relationship1"></td>
	</tr>
	<tr>
		<th><b class="red">*</b>证件类型：</th>
		<td><input class="input" type="text" id="cardType1"></td>
		<th><b class="red">*</b>身份证号码：</th>
		<td><input class="input" type="text" id="idCard1"></td>
	</tr>
	<tr>
		<th><b class="red">*</b>社（医）保卡号：</th>
		<td><input class="input" type="text" id="cardNo1"></td>
		<th></th>
	</tr>
</table>
