<div class="shell bg2">
	<div class="headBox1">
        <div class="headtop1 clearfloat">
            <a href="../declare/index.html" class="back1">自助办理</a>
            <a ng-click="goHome()" class="backindex1">返回首页</a>
            <div class="backbox1">无操作<zizhu-header></zizhu-header>后将返回首页</div>
        </div>
        <ul class="navul1 navul2 clearfloat">
            <li>选择事项</li>
            <li  class="act">办事指南</li>
            <li>人证核验</li>
            <li>在线填报</li>
        </ul>
    </div>
	<div class="main2" style="height:100%;">
		<div class="action" style="width: 100%; left: 0;">
		</div>
	</div>
	<div class="btnBox1 clearfloat">
        <a ng-click="prev()" class="Prev">上一步</a>
    </div>
</div>