<div class="shell bg2">

	<div class="headBox1">
		<div class="headtop1 clearfloat">
			<a href="../declare/index.html" class="back1">自助办理</a>
			<a ng-click="goHome()" class="backindex1">返回首页</a>
			<div class="backbox1">无操作<zizhu-header></zizhu-header>后将返回首页</div>
		</div>
		<ul class="navul1 navul2 clearfloat">
			<li>选择事项</li>
			<li>办事指南</li>
			<li>人证核验</li>
			<li class="act">在线填报</li>
		</ul>
	</div>

	<div class="navBox2"><b>您正在办理：</b><span>敬老卡申领、发放---个人信息</span></div>

	<div class="main2">
		<div class="scrollBox2 clearfloat">
			<div id="wrapper">
				<div class="tabelBox1">

					<dl class="dl1 clearfloat">
						<dd class="lt1">
							<b class="red1">*</b>
							<span>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</span></b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" ng-model="name" id="name" readonly="readonly">
						</dd>
						<dd class="lt1 lt2">
							<b class="red1">*</b>
							<span>公民身份证号：</span></b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" ng-model="idCard" id="idCard" readonly="readonly">
						</dd>
					</dl>
					<dl class="dl1 clearfloat">
						<dd class="lt1">
							<b class="red1">*</b>
							<span>性&nbsp;&nbsp;&nbsp;&nbsp;别：</span></b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" ng-model="sex" id="sex" readonly="readonly">
						</dd>
						<!--<dd class="lt1 lt2">
						<b>*</b>
                        <span>社保卡号：</span></b>
                    </dd>
                    <dd class="rt2">
                        <input class="input1" type="text" ng-model="shebaoCard" id="shebaoCard">
                    </dd>-->
						<dd class="lt1 lt2">
							<b class="red1">*</b>
							<span>出生年月：</span></b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" ng-model="date" id="date">
						</dd>
					</dl>
					<!--<dl class="dl1 clearfloat">
                    <dd class="lt1 ">
						<b>*</b>
                        <span>联系电话：</span></b>
                    </dd>
                    <dd class="rt2">
                        <input class="input1" type="text" ng-model="mobile" id="mobile">
                    </dd>
                </dl>-->
					<dl class="dl1 clearfloat">
						<dd class="lt1">
							<b class="red1">*</b>
							<span>户籍地址：</span>
						</dd>
						<dd class="rt11">
							<select class="select1" id="province" vName="" vId="" ng-model="province" onchange="selectProvince('province','city','county','street')">
								<option class="col1" value="">选择省份</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="city" vName="" vId="" ng-model="city" onchange="selectCity('city','county','street')">
								<option class="col1" value="">选择城市</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="county" vName="" vId="" ng-model="county" onchange="selectCounty('county','street')">
								<option class="col1" value="">选择区/县</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="street" vName="" vId="" ng-model="street" onchange="selectStreet('street')" disabled>
								<option class="col1" value="">选择街/镇</option>
							</select>
						</dd>
					</dl>

					<dl class="dl1 clearfloat">
						<dd class="lt1">
							<b class="red1">*</b>
							<span>居住地址：</span>

						</dd>
						<dd class="rt11">
							<select class="select1" id="liveProvince" vName="" vId="" ng-model="liveProvince" onchange="selectProvince('liveProvince','liveCity','liveCounty','liveStreet')">
								<option class="col1" value="">选择省份</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="liveCity" vName="" vId="" ng-model="liveCity" onchange="selectCity('liveCity','liveCounty','liveStreet')">
								<option class="col1" value="">选择城市</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="liveCounty" vName="" vId="" ng-model="liveCounty" onchange="selectCounty('liveCounty','liveStreet')">
								<option class="col1" value="">选择区/县</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="liveStreet" vName="" vId="" ng-model="liveStreet" onchange="selectStreet('liveStreet')" disabled>
								<option class="col1" value="">选择街/镇</option>
							</select>
						</dd>
					</dl>
					<dl class="dl1 clearfloat">
						<dd class="lt1">
							<b class="red1">*</b><span>联系电话：</span>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" id="mobile" ng-model="mobile" placeholder="">
						</dd>
						<!--<dd class="lt1 lt5">
							<b class="red1">*</b><span>联系地址：</span>
						</dd>
						<dd class="rt14">
							<input class="input1" type="text" id="stLxAddress" ng-model="stLxAddress" placeholder="">
						</dd>
						<div class="btnBox2 clearfloat">
							<a ng-click="synchronize()" class="sameAdd4">同居住地址</a>
						</div>-->
					</dl>
					<!--<dl class="dl1 clearfloat">
                    <dd class="lt1">
						<b>*</b>
                        <span>地&nbsp;&nbsp;&nbsp;&nbsp;址：</span></b>
                    </dd>
                    <dd class="rt1">
                        <input class="input1" type="text" ng-model="address" id="address">
                    </dd>
                </dl>-->
					<dl class="dl1 clearfloat">
						<dd class="lt1 lt6">
							<b class="red1">*</b>
							<span>选择受理中心：</span>
						</dd>
						<dd class="rt14">
							<select class="select1" id="stCenterCounty" vName="" vId="" ng-model="stCenterCounty" onchange="selectCenterCounty('stCenterCounty','stCenter')">
								<option class="col1" value="">请选择</option>
							</select>
						</dd>
						<dd class="rt14">
							<select class="select1" id="stCenter" vName="" vId="" ng-model="stCenter" onchange="selectCenter('stCenter')">
								<option class="col1" value="">请选择</option>
							</select>
						</dd>

					</dl>
					<div class="psbox1 pad1">*友情提示：请选择您准备前往的社区事务受理服务中心！30个工作日后，凭提交成功后的自助办理凭条或者身份证、随申办</br>电子亮证到所选社区事务受理自助取证柜领领卡。</div>

					<dl class="dl1 clearfloat">
						<dd class="lt1">
							<b class="red1">*</b>
							<span>发放银行：</span></b>
						</dd>
						<dd class="rt1 singleselect2 clearfloat">
							<a href="javascript:;">
								<li>工商银行</li>
							</a>
							<a href="javascript:;">
								<li>上海银行</li>
							</a>
						</dd>
					</dl>

				</div>
			</div>
		</div>

	</div>
	<div class="btnBox1 clearfloat">
		<a href="#select" class="Prev">上一步</a>
		<a ng-click="next()" class="next">继续</a>
	</div>
</div>
<alert msg="Smsg" ng-if="SisAlert" confirm="SalertConfirm()" concel="concel"></alert>
<style type="text/css">
	#wrapper {
		width: 1600px;
		height: 500px;
	}
</style>