

<div class="shell bg2">

    <div class="headBox1">
        <div class="headtop1 clearfloat">
            <a href="../declare/index.html" class="back1">自助办理</a>
            <a ng-click="goHome()" class="backindex1">返回首页</a>
            <div class="backbox1">无操作<zizhu-header></zizhu-header>后将返回首页</div>
        </div>
        <ul class="navul1 navul2 clearfloat">
            <li>选择事项</li>
            <li>办事指南</li>
            <li>人证核验</li>
            <li class="act">在线填报</li>
        </ul>
    </div>

    <div class="navBox2"><b>您正在办理：</b><span>{{itemName}}</span></div>

    <div class="main2">
		<div class="signatureBoard">
		    <canvas id="signature" ng-click="isSignature()" height="530" width="880">
		        		请在此签名
		    </canvas>
			<div class="btn left clearRect" ng-click="notSignature()">
				<a class="rewrite">重写</a>
			</div>
		</div>
		<div class="text">
			<p style="font-size: 33px;color: #FEE889;margin-bottom: 50px;font-weight: bold;">请在左侧签字区域签字确认:</p>
			<p style="font-size: 29px;line-height: 45px;">本人保证所有内容属实，如有不实，愿承担由此引起的相应法律后果</p>
		<!--	<a class="view">查看</a>-->
		</div>
    </div>
    <div class="btnBox1 clearfloat">
        <a href="#materialJybtList" class="Prev">上一步</a>
        <a ng-click="saveSignature()" class="next saveImg">继续</a>
    </div>
</div>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style type="text/css">
	.signatureBoard{
		width: 900px;
		float: left;
	}
	#signature{
		background-color: #2964B0;
	}
	.btn{
		position: absolute;
		top: 10px;
		left: 746px;
		border: 1px solid #fcfeff;
		width: 123px;
		height: 68px;
		text-align: center;
		line-height: 67px;
		border-radius: 10px;
	}
	.rewrite{
		text-align: center;
		border-radius: 10px;
		overflow: hidden;
		font-size: 30px;
	}
	.text{
		width: 650px;
		float: left;
		margin-top: 100px;
		margin-left: 100px;
	}
	.view{
		float: right;
	    width: 170px;
	    height: 70px;
	    line-height: 70px;
	    overflow: hidden;
	    background: #B3A1FF;
	    text-align: center;
	    border-radius: 10px;
	    font-size: 30px;
	    position: absolute;
	    top: 103px;
	    left: 1473px;
	}
</style>