
<div class="shell bg2">

    <div class="headBox1">
        <div class="headtop1 clearfloat">
            <a class="back1" href="../declare/index.html">自助办理</a>
            <a ng-click="goHome()" class="backindex1">返回首页</a>
            <div class="backbox1">无操作<zizhu-header></zizhu-header>后将返回首页</div>
        </div>
        <ul class="navul1 navul2 clearfloat">
            <li>选择事项</li>
            <li>人证核验</li>
			<li>信息填写</li>
            <li class="act">在线填报</li>
        </ul>
    </div>

    <div class="navBox2"><b>您正在办理：</b><span>{{itemName}}---{{statusName}}&nbsp;/&nbsp;上传方式</span></div>

    <div class="main2">
		<div style="text-align: center; margin-bottom: 10px; color: #FFFFFF ;width: 97%;    font-size: 35px;">
		    {{stuffName}}
		</div>
        <div class="scrollBox2 clearfloat">
            <div class="linkBox1 clearfloat" style="padding-left: 274px;">
                <a ng-click="scanPhoto()">
                    <img src="images/icon-link2.png"/>
                    <p>扫描上传</p>
                </a>
                <a ng-click="takePhoto()">
                    <img src="images/icon-link3.png"/>
                    <p>U盘上传</p>
                </a>
				<a ng-click="materialPic()">
				    <img src="images/icon-link1.png"/>
				    <p>电子证照上传</p>
				</a>
            </div>
        </div>

    </div>
    <div class="btnBox1 clearfloat">
        <a ng-click="prve()" class="Prev">上一步</a>
    </div>

</div>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>