<nav>
    <ol class="breadcrumb">
        <li>
			<a ng-click="Home()"><img src="images/home.png" height="30"></a>
		</li>
		<li>
			<a href="#">自助申报</a>
		</li>
		<li>
			<a href="#list">{{itemName}}</a>
		</li>
		<li>
			<a href="#guideline">办事指南</a>
		</li>
		<li class="active">一网通办</li>
    </ol>
</nav>
<div class="board">
    <div class="action" style="width: 100%; left: 0;">
       <!--<iframe ng-src="{{trustSrc(applyUrl)}}" 
       	width="100%" height="100%" frameborder="0"
       	sandbox="allow-forms allow-scripts allow-same-origin allow-popups"></iframe>-->
       	<!-- sandbox 限制 src 重定向-->
       	
    </div>
</div>