<!DOCTYPE html>
<style>
	* {
		margin: 0;
		padding: 0;
	}
	.board {
		position: relative;
	}
	.board .info p {
		position: absolute;
		top: 110px;
		left: 220px;
		width: 20%;
		height: 70%;
		font-size: 70px;
	}
	.ywtb {
		background-color: rgba(255,255,255,.7);
		position: absolute;
		top: 0;
		right: 0px;
		height: 100%;
		width: 66.67%;
	}
	iframe {
		border-radius: 10px;
		position: absolute;
		top: 200px;
		left: 300px;
		border:0;
		scrollbar: none;
	}
</style>
<div class="board">
    <div class="info blue-green">
        <img class="bg" src="../../../libs/common/images/mainIndexBG_2.png">
        <p>事项办理预约</p>
    </div>
    <div class="ywtb">
  		<iframe src="http://101.227.180.90/#/reserve" width="44.8%" height="56%" scrolling="no"></iframe>
    </div>
</div>