<style type="text/css">
	.queryFace {
		position: absolute;
		top: 1480px;
		left: 40px;
		color: blue;
	}
	
	.btn {
		position: absolute;
		z-index: 100;
		top: 1287px;
		opacity: 1;
		left: 0;
		right: 0;
	}
	
	.btn .event {
		left: 95px;
	}
	
	.view-main {
		justify-content: space-around;
	}
</style>

<nav>
	<ol class="breadcrumb">
		<li>
			<a href="javascript:;" ui-sref="main">
				<img src="images/homeLogo.png">
			</a>
		</li>
		<li>
			<a href="javascript:;">工作人员操作</a>
		</li>
		<li class="active">选择类型</li>
	</ol>
</nav>
<div class="shadowBox staffOperationChoiceLayout">
	<div class="view-main">
		<!--工作人员放入证照-->
		<a ng-click="handleChoice('staff-putin-license')" ui-sref="inputPhone" class="staff-putin-license">
			<img src="images/licensePut.png" alt="">
		</a>
		<!--工作人员取出证照-->
		<!--<a href="javascript:;" ui-sref="licenseInfoList" class="staff-takeout-license">
			<img src="images/licenseGet.png" alt="">
		</a>-->
		<!--工作人员取出材料-->
		<a ng-click="handleChoice('staff-take-out-material')">
			<img src="images/materialGet.png" alt="">
		</a>
	</div>
</div>
<div class="btn" ui-sref="cabinetController">
	<span class="event">控制中心</span>
</div>
<!--<a class="queryFace" ng-click="queryFace()">
    开启/关闭刷脸
</a>-->