<apptb-header fun-name="医保个人信息查询"></apptb-header>
<div class="stable">
	<div id="wrapper">
		<div class="my-card">
			<div class="head">
				<h4 style="margin-top: 60px;margin-left: 110px;">医保个人信息查询</h4>
			</div>
			<div class="body" style="margin-left: 125px;padding-top: 81px;">
				<dd id="ybbf" class="singselect">
					<dl style="font-size: 30px;  color: #c2cce3; line-height: 60px;">选择医保办法</dl>
					<a>
						<li vId="000003">职工保险</li>
					</a>
					<a>
						<li vId="000001">居民保险</li>
					</a>
				</dd>
				<dd id="year" class="singselect">
					<dl style="font-size: 30px;  color: #c2cce3; line-height: 60px;">选择年限</dl>
					<a>
						<li vId="000003">{{year}}年</li>
					</a>
					<a>
						<li vId="000001">{{year-1}}年</li>
					</a>
				</dd>
				<!--<dl style="position: absolute;   font-size: 30px;  color: #c2cce3;   line-height: 60px; top: 485px;">输入手机号</dl>
				<div id="view-search" class="view-search">
					<input id="input" class="view-input" ng-keyup="keyboardInput($event)" type="text" ng-model="count" ng-click="(count=='请输入')?count='':''" />
				</div>
				<div id="keybord" class="keybord">
					<a ng-repeat="item in keybordArr" ng-click="inputNumber(item)">{{item}}</a>
				</div>-->
			</div>
		</div>
	</div>
</div>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()"></apptb-footer>
<style type="text/css">
	#wrapper {
		width: 1850px;
		height: 758px;
	}
	
	.singselect {
		float: left;
		min-height: 60px;
		font-size: 24px;
		color: #FFF;
		margin-left: 295px;
		margin-top: 40px;
	}
	
	.singselect a {
		float: left;
		width: 345px;
		height: 90px;
		overflow: hidden;
		border: 1px solid rgba(233, 237, 240, .4);
		margin-right: 10px;
		margin-bottom: 25px;
		position: relative;
		text-align: center;
		display: inline-block;
		line-height: 80px;
		font-size: 30px;
		padding: 0 40px;
	}
	
	.singselect a.in:after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 78px;
		height: 68px;
		overflow: hidden;
		background: url(../libs/common/images/check1.png) no-repeat;
	}
	
	.singselect2 {
		float: left;
		min-height: 60px;
		margin-bottom: 30px;
		font-size: 24px;
		color: #FFF;
	}
	
	.singselect2 a {
		float: left;
		width: 125px;
		height: 90px;
		overflow: hidden;
		border: 1px solid rgba(233, 237, 240, .4);
		margin-right: 10px;
		margin-bottom: 25px;
		position: relative;
		text-align: center;
		display: inline-block;
		line-height: 80px;
		font-size: 30px;
		padding: 0 40px;
	}
	
	.singselect2 a.in:after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 78px;
		height: 68px;
		overflow: hidden;
		background: url(../libs/common/images/check1.png) no-repeat;
	}
	
	.view-input {
		background: rgba(255, 255, 255, .25);
		position: absolute;
		border: none;
		font-size: 32px;
		right: 0px;
		height: 75px;
		line-height: 50px;
		padding-left: 35px;
		width: 817px;
		top: 50%;
		margin-top: -25px;
	}
	
	.view-search {
		position: absolute;
		top: 545px;
		left: 145px;
		width: 910px;
		height: 97px;
	}
	
	.keybord {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 540px;
		width: 500px;
		margin-left: 955px;
		margin-top: 55px;
	}
	
	.keybord a {
		font-size: 35px;
		color: #fff;
		height: 110px;
		width: 150px;
		text-align: center;
		line-height: 110px;
		border-radius: 20px;
		box-shadow: 0 0 10px #2779C6;
		transition: all 0.5s;
	}
	
	.keybord a:active {
		transform: scale(0.8);
		background-color: #BCD7EF;
	}
</style>