<style type="text/css">
.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	.linkt {
		position: relative;
		width: 1800px;
		top: 65px;
		left: 150px;
	}
	
	#wrapper {
		width: 1800px;
		height: 655px;
	}
	
	.select {
		float: left;
		width: 700px;
		height: 180px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 700px 180px;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
	}
	
	.select dd {
		margin-left: 50px;
		margin-top: 14px;
		height: 40px
	}
	
	.select dl {
		white-space: normal
	}
	
	.select b {
		width: 180px;
		display: block;
		float: left;
		font-weight: bold;
	}
	
	.select span {
		display: block;
		float: left;
		width: 446px;
	}
	@media screen and (max-width: 1600px) {
		#wrapper {
		    width: 100%;
		    height: 580px;
		}
		.scrollContain {
			width: 100%;
		}
		.linkt {
		    position: relative;
		    width: 90%;
		     top: 0px; 
		    left: 50%;
		    transform: translateX(-50%);
		    overflow: hidden;
		}
		.select {
		    float: left;
		    width: 100%;
		    height: auto;
		    overflow: hidden;
		    background: url(../libs/common/images/bg-bigList.png) no-repeat;
		    background-size: 100% 100%;
		    margin-left: 0px;
		    margin-bottom: 0px;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    font-size: 25px;
		    padding: 20px;
		    box-sizing: border-box;
		}
		.select span {
		    width: auto;
		}
		.select dd {
			margin-top: 20px!important;
		}
	}
</style>
<div class="contain">
	<p class="caption">{{funName}}--查询结果（{{listLength}}条）</p>
	<div class="scrollBox2 clearfloat">
		<div id="wrapper" class="wrapper">
			<div class="scrollContain">
				<div class="linkt" ng-repeat="list in queryList">
					<a class="select">
						<dd style="margin-top: 40px;">
							<dl><b>机构名称：</b><span>{{ list.jgmc }}</span></dl>
						</dd>
						<dd>
							<dl><b>地址：</b><span>{{ list.dizhi }}</span></dl>
						</dd>
						<!--<dd>
						<dl><b>联系电话：</b>{{ list.dh ||"暂无"}}</dl>
					</dd>-->
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>