/*reset*/

html,
body,
div,
ul,
li,
p,
a,
span,
img,
main,
section,
input {
	font-family: "微软雅黑";
	text-decoration: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
/*public*/
html{
		/*overflow:hidden;*/
}
body {
	background: url(../images/index-bg.png) no-repeat;
	position: relative;
	transform: translate3d(0deg);
	
	height: 1080px;
	width: 1920px;
	background-size: 100%;
	/*overflow:hidden;*/
	/*border: solid 1px red;*/
}

.header {
	position: relative;
	margin: 0 auto;
	margin-bottom: 105px;
	width: 100%;
	height: 128px;
}

.header .appLogo {
	margin: 45px 0px 0px 50px;
}

.header .appTitle {
	color: #424b54;
	font-weight: bolder;
	text-align: center;
	/* transition: all ease-in-out 100ms; */
	margin-top: 180px;
	font-size: 64px;
}

.mask {
	position: fixed;
	background-color: rgba(0, 0, 0, .5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9;
	margin: auto;
}

.header.isMain {
	height: 285px;
	margin-bottom: 200px;
}

.header.isMain .appTitle {
	transition: all ease-in-out 100ms;
	margin-top: 412px;
}

.custom.absoluteTopBottomCenter {
	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}


/*nav*/

nav {
	margin-left: 90px;
	font-size: 25px;
}

nav .breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	border-radius: 4px;
}

nav .breadcrumb>li {
	display: inline-block;
	vertical-align: top;
}

nav .breadcrumb>li img {
	height: 35px;
}

nav .breadcrumb a {
	color: #337ab7;
	text-decoration: none;
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #999;
	content: "/\00a0";
	box-sizing: border-box;
}


/*shadow main*/

.shadowBox {
	position: absolute;
	background: url(../images/shadow-bg.png) no-repeat;
	background-size: 100%;
	 box-shadow: 0px -3px 2px #c3c3c3 inset;
	 /*border-radius: 0px 0px 20px 20px;*/
	text-align: center;
	overflow: hidden;
	color: #424b54;
	margin: 12px auto 0px;
	left: 0px;
	right: 0px;
	height: 716px;
	width: 918px;
	
}

.switchover {
	position: absolute;
	color: #1566aa;
	right: 32px;
	top: 22px;
	font-size: 26px;
}

.switchover img {
	position: absolute;
	top: 0px;
	left: -35px;
	height: 33px;
}

.mainImg {
	position: relative;
	margin: 0 auto;
	/* width: 500px; */
	height: 420px;
	margin-top: 20px;
}

.mainImg>.bgMain {
	height: 100%;
}

.mainImg>.idcard {
	position: absolute;
    left: 397px;
    top: 187px;
    height: 50px;
}

.mainImg>.arrow {
	position: absolute;
    left: 473px;
    top: 216px;
    height: 45px;
}

.boldTips {
	font-weight: bold;
	margin-top: 15px;
	font-size: 25px;
}

.boldTips .boxName {
	color: #ff5426;
}

.normalTips {
	margin-top: 8px;
	font-size: 24px;
}

.camera {
	position: absolute;
	background-color: rgba(255, 255, 255, .7);
	width: 650px;
	height: 480px;
	left: 215px;
	top: 715px;
}

.btn {
	position: relative;
	background: url(../images/buttonBg.png)no-repeat left top;
	background-size: 100%;
	color: #1d67a7;
	margin: 0 auto;
	cursor: pointer;
	user-select: none;
	margin-top: 20px;
	height: 110px;
	width: 310px;
}

.btn .eventIcon {
	position: absolute;
	height: 104px;
	left: 56px;
	/*top: 5px;*/
}

.btn .event {
	position: absolute;
	font-size: 34px;
	top: 28px;
	left: 180px;
}

.loadingBox {
	margin-top: 200px;
	font-size: 45px;
}

.loadingBox img {
	height: 120px;
}

.picBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 200px;
	width: 690px;
	height: 350px;
}

.verificationStatus {
	color: #26a556;
	font-size: 45px;
	margin-top: 20px;
}

.picBox li {
	border: 1px solid #dcdad9;
	width: 305px;
	height: 100%;
}

.inputBox {
	background-color: #eae7e3;
	border: 1px solid #c0bfbf;
	margin-top: 55px;
	padding-left: 30px;
	font-size: 33px;
	border-radius: 10px;
	width: 424px;
	height: 85px;
}

.keybord {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #dbdada;
	margin: 0px auto;
	margin-top: 50px;
	border-radius: 15px;
	height:450px;
	width: 376px;
}

.keybord .key {
	color: #1566aa;
	text-align: center;
	font-weight: bolder;
	cursor: pointer;
	background: url(../images/keyShadow.png) left top no-repeat;
	background-size: 100%;
	line-height: 100px;
	font-size: 45px;
	border-radius: 15px;
	width: 100px;
	height: 100px;
}

.keybord .key.txt {
	font-size: 35px;
}

.keybord .key:active {
	position: relative;
	left: 2px;
	top: 2px;
	box-shadow: -3px -3px 10px 2px inset rgb(121, 120, 120);
}

.signatureBoard {
	border: 1px solid #dbdada;
	margin: 0 auto;
	margin-top: 42px;
	width: 880px;
	height: 430px;
}

.infoConfirm {
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid #dbdada;
	overflow: hidden;
	border-radius: 15px;
	height: 446px;
	width: 790px;
}


/*table info style*/

.licenseInfoTable {
	/* margin-top: 540px; */
	padding: 10px;
	width: 100%;
}

.licenseInfoTable tr {
	color: #424b54;
	font-size: 30px;
	height: 75px;
	width: 30%;
}

.licenseInfoTable tr:nth-child(2n+1) {
	background-color: #dadada;
}


/*证照、办件列表框*/

.fileInfoList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	border: 1px solid #dbdada;
	margin-top: 30px;
	border-radius: 15px;
	width: 790px;
	height: 372px;
}

.fileInfoList .fileInfo {
	position: relative;
	color: #424b54;
	font-size: 24px;
	flex-grow: 0;
	width: 96%;
	height: 110px;
}

.fileInfoList .fileInfo:nth-of-type(1) {
	margin-top: 14px;
}

.fileInfoList .fileInfo:nth-child(2n+1) {
	background-color: #dadada;
}

.fileInfo .order,
.fileInfo .infoBox,
.fileInfo .order {
	position: absolute;
}

.fileInfo .order {
	margin: auto;
	font-size: 60px;
	line-height: 100px;
	top: 0px;
	bottom: 0px;
	height: 100px;
	width: 100px;
	left: -10px;
}

.fileInfo .pos {
	position: absolute;
}

.fileInfo .leftTop {
	top: 0px;
	left: 0px;
}

.fileInfo .rightTop {
	top: 0px;
	right: 0px;
}

.fileInfo .leftBottom {
	font-weight: bolder;
	font-size: 36px;
	bottom: -5px;
	left: 0px;
}

.fileInfo .rightBottom {
	bottom: 0px;
	right: 0px;
}

.fileInfo hr {
	background-color: #424b54;
	border: none;
	height: 2px;
}

.fileInfo .infoBox {
	width: 510px;
	height: 90px;
	left: 82px;
}

.fileInfo .btn {
	right: 0px;
}


/*.fileInfo animation start*/

.fileInfo.ng-enter {
	animation: infoStart linear 400ms both;
}


/*citizenCloudFlow*/

.citizenCloudFlow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 545px;
	margin-bottom: 14px;
}

.citizenCloudFlow li {
	text-align: center;
	position: relative;
	line-height: 400px;
	margin-top: 80px;
	height: 367px;
	text-align: center;
	/*width: 50%;*/
}

.citizenCloudFlow li span {
	position: absolute;
	display: inline-block;
	font-size: 40px;
	line-height: 20px;
	bottom: 10px;
	left: 37px;
}

.citizenCloudFlow li p {
	position: absolute;
	color: red;
	font-weight: bold;
	font-size: 19px;
    width: 187px;
    margin-left: -97px;
    line-height: 36px;
    top: 174px;
    left: 90px;
}
}

.citizenCloudFlow img {
	height:240px;
}

.citizenCloudFlow .flow img {
	height: 286px;
}

@keyframes infoStart {
	0% {
		opacity: 0.4;
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}


/*.fileInfo animation end*/

.btnIcon {
	background: url(../images/buttonBgIcon.png) left top no-repeat;
	border: none;
	outline: none;
	background-size: 100%;
	width: 131px;
	height: 73px;
	right: 10px;
	font-size: 26px;
}


/*empty tips */

.emptyTips {
	font-size: 35px;
	margin-top: 300px;
}


/*loginTips 身份证登录和市民云登录提示*/

.loginTips {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.loginTips .idCardTips {
	color: #337ab7;
	margin-top: 500px;
	font-size: 50px;
}

.loginError {
	position: relative;
}

.loginError .tips {
	position: absolute;
	width: 100%;
	top: 344px;
	left: 50%;
	margin-left: -50%;
	font-size: 75px;
}

.loginError div.btn {
	position: absolute;
	top: 800px;
}
.loginError div.btn.home {
	left: 80px;
} 
.loginError div.btn.reLogin {
	left: 470px;

} 
/*toCount倒计数*/

.toCount {
	position: absolute;
	color: #337ab7;
	font-size: 74px;
	height: 100px;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	top: 614px;
}