<div class="shell bg2">
    <div class="headBox1">
        <div class="headtop1 clearfloat">
            <a class="back1" ng-click="back()">取表</a>
            <a ng-click="goHome()" class="backindex1">返回首页</a>
            <div class="backbox1">无操作<zizhu-header></zizhu-header><!--<span><b class="minute">{{maxCountDown}}</b>秒</span>-->后将返回首页</div>
        </div>
    </div>
  
  <alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<!-- </div> -->

<style type="text/css">
	#wrapper{
		width:1800px;
		height: 500px;
	}
	.tabBotbox1inner .text a{
		width:266px;
		margin-right: 44px;
	}
	
	
</style>