<style type="text/css">
	.camera {
		width: 875px;
		height: 590px;
		background: url(./images/bg-photo.png) no-repeat;
		background-size: 875px 590px;
		margin-top: 30px;
	}
	
	.info {
		position: absolute;
		top: 20px;
		left: 870px;
	}
	
	.imgBox {
		overflow: auto;
		width: 680px;
		height: 540px;
		margin-top: 20px;
		margin-left: 20px;
	}
	
	.img {
		display: inline-block;
		position: relative;
		margin-bottom: 30px;
		margin-right: 10px;
	}
	
	.del {
		position: absolute;
		bottom: -16px;
		left: 38%;
		margin: 0;
		padding: 5px 15px;
		background: rgba(0, 0, 0, 0.6);
		border-radius: 50%;
		cursor: pointer;
	}
	
	.main2 span.line {
		top: 50px;
	}
	
	.camera div img {
		margin: 230px 15px 0px 0px;
		float: right;
		
	}
</style>
<div class="TabBox1">
	<ul class="navul1 clearfloat">
		<li>选择事项</li>
		<li>人证核验</li>
		<li>信息填写</li>
		<li class="act">在线填报</li>
	</ul>
	<span class="line"></span>
	<div class="main2" style="height: 650px;">
		<div class="camera">
			<div>
				<img ng-click="next()" src="images/btn-photo.png" />
			</div>
		</div>
		<div class="info">
			<div style="margin: 10px 15px 0; text-align: left;">已上传图片：</div>
			<div class="imgBox">
			</div>
		</div>
	</div>
</div>
<div class="loadingBox" ng-show="!isLoading">
	<img style="margin-left: 909px;margin-top: 460px;" src="../libs/common/images/loadings.gif" alt="">
	<p>正在上传中，请稍候...</p>
</div>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<no-rtn-footer prev="last()" next="finishUpload()" prev-btn-info="{{prevText}}" next-btn-info="{{nextText}}" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</no-rtn-footer>