<div class="TabBox1">
	<!--进度条-->
	<ul class="navul1 clearfloat">
		<li>选择事项</li>
		<li class="act">办事指南</li>
		<li>人证核验</li>
		<li>在线填报</li>
	</ul>
	<span class="line"></span>
	<div class="navBox2"><b>您正在办理：</b><span>{{itemName}}---{{statusName}}</span></div>
	<div class="content">
		<div class="main2">
			<div id="wrapper">
				<div class="scrollBox2 clearfloat" id="scrollBox2">
					<dl class="dllist1 clearfloat">
						<dt>一、适用范围：</dt>
						<dd>
							<p>{{clRange|| to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>二、事项名称和代码：</dt>
						<dd ng-bind-html="guideInfo.clNameCode | to_trusted">
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>三、办理依据：</dt>
						<dd>
							<p>{{guideInfo.clDealAccording || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>四、办理机构：</dt>
						<dd>
							<p>{{guideInfo.clDealOrgan || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>五、审批条件：</dt>
						<dd>
							<p>{{guideInfo.clApprovalConds || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>六、审批数量：</dt>
						<dd>
							<p>{{guideInfo.clApprovalCount || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt style="float:none">七、审批材料：</dt>
						<dd id="lodop" style="width:1220px;margin-left: 15px;" class="stuff" ng-bind-html="guideInfo.clApprovalMater | to_trusted">
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>八、审批期限：</dt>
						<dd ng-bind-html="guideInfo.stPromiseTime">
							<!-- <p>{{guideInfo.stPromiseTime+guideInfo.stLegalTime}}</p> -->
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>九、审批证件：</dt>
						<dd ng-bind-html="guideInfo.clApprovalCert| to_trusted">
							<!--<p>{{guideInfo.clApprovalCert || to_trusted}}</p>-->
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十、收费标准：</dt>
						<dd ng-bind-html="guideInfo.clChargeStd | to_trusted">
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十一、申请人权利及义务：</dt>
						<dd>
							<p>{{guideInfo.clApplyRightsDuties || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十二、申请接受：</dt>
						<dd>
							<p>{{guideInfo.clApplyReceive || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十三、咨询电话：</dt>
						<dd>
							<p>{{guideInfo.stTelConsult || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十四、投诉电话：</dt>
						<dd>
							<p>{{guideInfo.stTelComplaint || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十五、办理方式：</dt>
						<dd>
							<p>{{guideInfo.clDealType || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十六、决定公开：</dt>
						<dd>
							<p>{{guideInfo.clDecidedOpen || to_trusted}}</p>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
<no-rtn-footer prev="prev()" next="next()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</no-rtn-footer>
<!--二维码 开始-->
<div class="CodeBox1" id="code" style="height: 330px;top: 430px" ;>
	<!-- <img src="images/code1.jpg" class="img1"/> -->
	<p style="position: absolute;top: 220px;left:8px">使用政务APP<br/>或微信扫描<br/>即可使用手机查看 </p>

</div>
<!--二维码 结束-->
<a ng-click="print()" class="stamp">打印</a>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<style type="text/css">
	#wrapper {
		width: 1600px;
		height: 410px;
	}
	
	.stuff td {
		font-size: 24px;
	}
	
	.stuff th {
		font-size: 24px;
	}
	
	.stuff table tr>td:nth-child(1) {
		width: 950px;
	}
	
	.stuff table tr>td:nth-child(2) {
		display: none;
		text-align: center
	}
	
	.stuff table tr>th:nth-child(2) {
		display: none;
	}
	
	.stuff table tr>td:nth-child(3) {
		width: 170px;
		margin-left: 20px;
		text-align: center
	}
	
	.stuff table tr>td:nth-child(4) {
		width: 130px;
		margin-left: 20px;
		text-align: center
	}
	
	.stuff table tr>td:nth-child(5) {
		width: 150px;
		margin-left: 20px;
		text-align: center
	}
	
	.main2 {
		margin-left: 0;
		overflow: hidden;
		width: 1250px;
		height: 400px;
		margin-top: 50px;
	}
	
	.content {
		background: url(./images/bg-subcontent.png) no-repeat;
		width: 1500px;
		height: 500px;
		margin-left: 100px;
		overflow: hidden;
	}
	
	.scrollBox2 {
		width: 1400px;
		padding-left: 20px;
	}
	
	a.stamp {
		background: url(./images/print.png) no-repeat;
		top: 780px;
		left: 1545px;
		width: 130px;
		height: 50px;
		line-height: 50px;
		font-size: 24px;
	}
</style>