	<div class="TabBox1">
		<ul class="navul1 clearfloat">
				<li>选择事项</li>
				<li>人证核验</li>
				<li>信息填写</li>
				<li class="act">在线填报</li>
			</ul>
		<span class="line"></span>
	<div class="main2" style="height: 650px;">
		<p style="position: absolute;left: 14%;top: 10%;">已选择的文件：</p>
		<div class="action right-grey">
			<div class="camera">
				<div>{{UData}}</div>
			</div>
		</div>
	</div>
</div>
<no-rtn-footer 
		prev="prevStep()" 
		next="highCapture()" 
		prev-btn-info="{{prevText}}"
		next-btn-info="{{nextText}}"
		custom-home="true" 
		home="customMain()"
	    go-back="goAppHistoryBack()">
	</no-rtn-footer>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style type="text/css">
	.camera{
		width:740px;
		height: 500px;
		position: absolute;
		top: 130px;
		left: 400px;
		font-size: 40px;
	}
</style>