<p class="caption">{{stuffName}}</p>
<div class="main2" style="height: 675px;">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<div class="tabelBox1" style="width: 1705px;">
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>查档人姓名：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stName" ng-model="stName" readonly>
					</dd>

					<dd class="lt1 lt3">
						<span>身份证号：</span>
						<b class="red1">*</b>
						<dd class="rt2">
							<input class="input1" type="text" id="stIdCard" ng-model="stIdCard" readonly>
						</dd>
				</dl>

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>联系电话：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stMobile" ng-model="stMobile" placeholder="">
					</dd>

					<dd class="lt1 lt3">
						<span>联系地址：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stAddress" ng-model="stAddress" placeholder="">
					</dd>
				</dl>

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>出生日期：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<div class="input-append date form_datetime">
							<input class="input1" size="16" type="text" id="stBirth" ng-model="stBirth" readonly>
							<span class="add-on"><i class="icon-th"></i></span>
						</div>
						<!--<input class="input1" type="text" id="stBirth" ng-model="stBirth">-->
					</dd>
					<dd class="lt1 lt3">
						<span>户主姓名：</span>
						<b class="red1"></b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stHouseholderName" ng-model="stHouseholderName" placeholder="">
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>迁出地点：</span>
						<b class="red1"></b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stMoveOut" ng-model="stMoveOut">
					</dd>
					<dd class="lt1 lt3">
						<span>迁入年月：</span>
						<b class="red1"></b>
					</dd>
					<dd class="rt2">
						<div class="input-append date form_datetime1">
							<input class="input1" size="16" type="text" id="stMovingDate" ng-model="stMovingDate" readonly>
							<span class="add-on"><i class="icon-th"></i></span>
						</div>
						<!--<input class="input1" type="text" id="stMovingDate" ng-model="stMovingDate">-->
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>迁入地点：</span>
						<b class="red1"></b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stMovingAddress" ng-model="stMovingAddress">
					</dd>
					<dd class="lt1 lt3">
						<span>家庭成员：</span>
						<b class="red1"></b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stFamily" ng-model="stFamily" placeholder="">
					</dd>

				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>补充查档线索：</span>
						<b class="red1"></b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stOther" ng-model="stOther" placeholder="">
					</dd>
					<dd class="lt1 lt3">
						<span>落户所在区：</span>
						<b class="red1"></b>
					</dd>
					<dd class="rt2">
						<select class="select1" ng-init="archivesAddress = archivesAddressList[0]" ng-model="archivesAddress" ng-options="x.address for x in archivesAddressList">
						</select>
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>查档用途：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt5 singleselect3 clearfloat" id="archivesType" ng-model="archivesType">
						<a style="margin-bottom: 0px;">补正办件</a>
						<a style="margin-bottom: 0px;">申报户口</a>
						<a style="margin-bottom: 0px;">办理退休手续</a>
						<a style="margin-bottom: 0px;">公证</a>
						<a style="margin-bottom: 0px;">申请廉租房</a>
						<a style="margin-bottom: 0px;">经适房</a>
						<a style="margin-bottom: 0px;">其他</a>
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>利用方式：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt5 singleselect3 clearfloat" id="useType" ng-model="useType">
						<!--<a style="margin-bottom: 0px;">利用全文和证明</a>-->
						<a style="margin-bottom: 0px;" class="in">利用全文</a>
						<!--<a style="margin-bottom: 0px;">利用证明</a>-->
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" next-btn-info="{{nextText}}" custom-home="true" home="customMain()"go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<div class="loadingBox" ng-if="!isLoding">
	<img style="margin-left: 909px;margin-top: 460px;" src="../libs/common/images/loadings.gif" alt="">
	<p>正在加载数据，请稍后...</p>
</div>
<style type="text/css">
	#wrapper {
		width: 1750px;
		height: 650px;
	}
	.caption{
		margin-top: 80px;
		margin-left: 200px;
	}
	.select1 option {
		color: #333;
	}
	.main2 {
		height: 650px;
		margin-top: 20px;
	}
	@media screen and (max-width: 1600px) {
		.tabelBox1{
			width: 1080px !important;
		}
		.tabelBox1 .dl1 .lt1{
			    width: 20%;
         letter-spacing: 0px;
		}
		.tabelBox1{
			padding-top: 0px; 
		}
		.archivesType{
			margin-bottom: 10px !important;
		}
		#wrapper {
          height: 580px;
         }
	}
</style>