<nav>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <img src="../libs/common/images/home.png" style="height: 30px;">
            </a>
        </li>
        <li>
            <a href="#main">档案中心</a>
        </li>
        <li class="active">
            选择档案库
        </li>
    </ol>
</nav>
<div class="board">
    <div class="info blue-green">
        <img class="bg" src="../libs/common/images/mainIndexBG_2.png">
        <div class="vertical-middle horizontal-middle leftLump">
            <img src="../libs/common/images/prototype.png">
            <img src="../libs/common/images/click.gif" class="gifArrow">
            <div>请选择一个档案库</div>
        </div>
    </div>
    <div class="action">
        <a class="btn_radius_50" href="#idcard" style="position:absolute;right: 240px;top:195px;">
            <div class="greyLight" style="padding: 0  40px;width:464px">
                <img src="../libs/common/images/icon200/personal.png" height="160">
                <label style="width:200px;">个人档案库</label>
            </div>
        </a>
        <a class="btn_radius_50" href="#key" style="position:absolute;right: 240px;top:425px;">
            <div class="greyLight" style="padding: 0  40px;width:464px">
                <img src="../libs/common/images/icon200/corporation.png" height="160">
                <label style="width:200px;">法人档案库</label>
            </div>
        </a>
    </div>
</div>