<p class="caption">{{funName}}--办理须知</p>
<div class="main2">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>一、事项名称：</dt>
				<dd>
					<p>长三角地区基本医疗保险关系转移接续</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>二、办理依据：</dt>
				<dd>
					<p>《住建部关于公积金异地贷款有关操作问题的通知》建金〔2015〕135号。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>三、申请条件：</dt>
				<dd>
					<p>长三角地区（试点城市）缴存住房公积金的个人因异地贷款等原因向公积金中心申请出具个人异地贷款缴存使用证明</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>四、服务方式：</dt>
				<dd>
					<p>长三角地区（试点城市）缴存住房公积金的职工登录“长三角一网通办专栏”申请办理，选择“个人申请出具异地贷款缴存使用证明”，输入相关信息，并按提示进行操作。</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" default-is-show-prev-btn="hidden" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.main2 {
		width: 1625px;
		height: 645px;
		margin-left: 150px;
		margin-top: 30px;
	}

	.scrollBox2 .dllist1 {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.scrollBox2 .dllist1 dd {
		width: 1270px;
	}

	#wrapper {
		width: 1630px;
		height: 600px;
	}
	.dllist1 dd b{
		color:#e1ba1c;font-weight:bold;
	}
	@media screen and (min-width:1279px) and (max-width:1281px) {
		.caption {
			margin-left: 130px !important;
			margin-top: 60px !important;
		}
		.main2 {
			width: 1105px;
			height: 645px;
			margin-left: 95px;
			margin-top: 30px;
		}
		.scrollBox2 .dllist1 dd {
			width: 1000px;
		}
		#wrapper {
			width: 1000px;
			height: 600px;
		}
	}
</style>