<style type="text/css">
.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	#wrapper {
		width: 1750px;
		height: 650px;
	}
	
	.main2 {
		height: 650px;
		margin-top: 20px;
	}
	
	.input1::-webkit-input-placeholder {
		color: #C5C5C5;
	}
	
	.input1:-ms-input-placeholder {
		color: #C5C5C5;
	}
	
	@media screen and (max-width: 1600px) {
		.main2 {
			width: 1080px;
			margin-left: 100px;
			height: 570px !important;
			overflow:auto;
		}
		#wrapper {
			width: 100%;
		}
		.tabelBox1 {
			width: 1080px !important;
		}
		.tabelBox1 .dl1 {
			width: 100%;
		}
		.tabelBox1 .dl1 .lt1 {
			width: 17%;
			letter-spacing: 0px; 
		}
		.tabelBox1 .dl1 .lt3 {
			width: 21%;
		}
	}
}
</style>
<p class="caption">{{funName}}--个人信息填写</p>
<div class="main2" style="height: 675px;">
	<div class="scrollBox2 clearfloat">
		<div id="wrapper">
			<div class="tabelBox1" style="width: 1705px;height: 635px;padding-top: 35px;">

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>姓名：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stName" ng-model="stName" readonly>
					</dd>

					<dd class="lt1 lt3">
						<span>身份证号：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stIdCard" ng-model="stIdCard" readonly>
					</dd>
				</dl>

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>性别：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stSex" ng-model="stSex" readonly>
					</dd>

					<dd class="lt1 lt3">
						<span>出生日期：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="dtBirth" ng-model="dtBirth" readonly>
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>联系电话：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stMobile" ng-model="stMobile">
					</dd>
					<dd class="lt1 lt3">
						<span>民族：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<drop-down width='476px' selectval="" modelval='nation' ng-model="nation" dropdowndata="nationList" valchange="">
						</drop-down>
						<!--<select class="select1" id="nation" ng-init="nation = nationList[0]" ng-model="nation" ng-options="x.shortname for x in nationList">
							<option value="" selected ng-if="false"></option>
						</select>-->
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>户籍地址：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt11">
						<drop-down width='423px' selectval="" modelval='hjCity' ng-model="hjCity" dropdowndata="hjCityList" valchange="">
						</drop-down>
						<!--<select class="select1" id="hjCity" ng-init="hjCity = hjCityList[0]" ng-model="hjCity" ng-options="x.value for x in hjCityList">
							<option value="" selected ng-if="false"></option>
						</select>-->
					</dd>
					<dd class="rt11">
						<drop-down width='422px' selectval="" modelval='hjCounty' ng-model="hjCounty" dropdowndata="hjCountyList" valchange="">
						</drop-down>
						<!--<select class="select1" id="hjCounty" ng-model="hjCounty" ng-options="x.value for x in hjCountyList">
							<option value="" selected ng-if="false"></option>
						</select>-->
					</dd>
					<dd class="rt11">
						<drop-down width='422px' selectval="hjsss" modelval='hjStreet' ng-model="hjStreet" dropdowndata="hjStreetList" valchange="">
						</drop-down>
						<!--<select class="select1" id="hjStreet" ng-model="hjStreet" ng-options="x.value for x in hjStreetList">
							<option value="" selected ng-if="false"></option>
						</select>-->
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>居住地址：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt11">
						<drop-down width='423px' selectval="" modelval='jzCity' ng-model="jzCity" dropdowndata="jzCityList" valchange="">
						</drop-down>
						<!--<select class="select1" id="jzCity" ng-init="jzCity=jzCityList[0]" ng-model="jzCity" ng-options="x.value for x in jzCityList">
							<option value="" selected ng-if="false"></option>
						</select>-->
					</dd>
					<dd class="rt11">
						<drop-down width='422px' selectval="" modelval='jzCounty' ng-model="jzCounty" dropdowndata="jzCountyList" valchange="">
						</drop-down>
						<!--<select class="select1" id="jzCounty" ng-model="jzCounty" ng-options="x.value for x in jzCountyList">
							<option value="" selected ng-if="false"></option>
						</select>-->
					</dd>
					<dd class="rt11">
						<drop-down width='422px' selectval="jzsss" modelval='jzStreet' ng-model="jzStreet" dropdowndata="jzStreetList" valchange="">
						</drop-down>
						<!--<select class="select1" id="jzStreet" ng-model="jzStreet" ng-options="x.value for x in jzStreetList">
							<option value="" selected ng-if="false"></option>
						</select>-->
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>注销原因：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt5 singleselect3 clearfloat" id="stLogOutReason">
						<a ng-class="{'in':current==index}" ng-repeat="(index,item) in logOutReasonList" ng-click="change(item.name,index,item.id)" style="margin-bottom: 0px;" value="{{item.value}}">{{item.name}}</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>