<nav>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <img src="../../../libs/common/images/home.png" style="height: 30px;">
            </a>
        </li>
        <li>
            <a href="#">材料打印</a>
        </li>
        <li class="active">等待打印</li>
    </ol>
</nav>
<div class="board">
    <div class="info blue-green">
        <img class="bg" src="../../../libs/common/images/mainIndexBG_2.png">
        <div class="vertical-middle horizontal-middle leftLump">
            <img src="../../../libs/common/images/prototype.png">
            <img src="../../../libs/common/images/arrow-down.gif" style="position:absolute;width:40px; left:50%;margin-left:-20px;top:300px">
            <div>请按照教程操作</div>
        </div>
    </div>
    <div class="action">
        <img class="vertical-middle horizontal-middle absoluteCenterClass"  src="../../../libs/common/images/print-tutorial.png">
        <img src="../../../libs/common/images/arrow.gif" style="position:absolute;width:40px; left:850px;top:400px">
    </div>
</div>