<p class="caption">{{operation}}</p>
<div class="input serialInput" ng-if="inputType==='serial'">
	<label>申请对象名称:</label>
	<input type="text" name="" id="" ng-model="$parent.applyObj" value="" /><br>
	<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;办件编码:</label>
	<input type="text" name="" id="" ng-model="$parent.applySerial" value="" /><br>
	<input type="button" id="" value="查询" ng-click="serialSearch()" />
</div>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()"></alert>
<idcard read="idcardSearch(info)" has-img='no' class="input idcardInput" ng-if="inputType==='idcard'"></idcard>
<div class="input codeInput" ng-if="inputType==='code'">
	<img src="../libs/common/images/tips/code.png"/>
</div>
<app-footer prev="prevStep()" next="nextStep()" default-next="hidden"></app-footer>
<style type="text/css">
	.input{
		position: relative;
		margin: 0 auto;
		text-align: center;
		height: 600px;
		width: 1760px;
		margin-top: 160px;
	}

	.input label{
		font-size: 35px;
		margin-left: -186px;
	}
	input{
		color: #fff;
		
	}
	.input input[type='text']{
		background-color: #2864b0;
		border: none;
		padding-left: 20px;
		margin-top: 40px;
		font-size: 45px;
		height: 115px;
		width: 840px;
	}
	.input input[type='button']{
		background-color: #56ce97;
		line-height: 70px;
		text-align: center;
		border-radius: 10px;
		margin-top: 40px;
		border: none;
		font-size: 30px;
		height: 70px;
		width: 200px;
	}
</style>