<style>
	.caption {
		position: absolute;
		left: 6%;
		top: 15%;
		color: #fff;
		opacity: 1;
	}
	
	.wrapper {
		width: 90%;
		height: 56%;
		overflow: hidden;
	}
	
	@media screen and (min-width:1279px) and (max-width:1281px) {
		.TabBox {
			margin: 9.2% auto 0;
			height: 756px;
		}
		.yearList {
			width: 94%;
		}
		.yearList a {
			font-size: 21px;
			width: 8%;
			margin: 0 3px;
		}
		.yearList a.in:after {
			width: 48px;
			height: 46px;
			background-size: 100%;
		}
		.itemFile {
			font-size: 22px;
		}
		.itemFile .itemName {
			width: 61%;
		}
		.itemFile .itemTime {
			width: 25%;
		}
	}
</style>
<p class="caption">
	{{firstName}}&emsp; |&emsp; <span class="captionMini">{{secondName}}</span></p>
<div class="scrollBox2 clearfloat">
	<div class="TabBox">
		<div class="yearList" ng-if="isShowYear">
			<a ng-repeat="(index,item) in yearsList" ng-class="{'in':current==index}" ng-click="chooseYear(index,item)">{{item.name}}</a>
		</div>
		<div class="infoList wrapper" id="wrapper">
			<div>
				<div class="itemFile" ng-repeat="item in infoList" ng-click="choiceItemDetail(item)" repeat-finish>
					<span class="itemName">{{item.title}}</span>
					<span class="itemTime">{{item.displayDate | limitTo : 10}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>