<style type="text/css">
	#wrapper {
		width: 100%;
		height: 98%;
		overflow: scroll;
		-ms-overflow-style: none;
	}

	@media screen and (min-width:1279px) and (max-width:1281px) {
		.menuBox ul li {
			font-size: 24px;
		}
		.menuBox ul li.in:after, .menuBox ul li.in::after {
			top: 34%;
		}
	}
</style>
<div class="scrollBox2 clearfloat">
	<div class="TabBox">
		<!--左边菜单-->
		<div class="menuBox">
			<ul>
				<li ng-class="{in:current=='guide'}" ng-click="choice('guide')"><span>政府信息公开指南</span></li>
				<li ng-class="{in:current=='secondMenu'}" ng-click="choice('secondMenu')"><span>政府信息公开</span></li>
			</ul>
		</div>
		<!--右边内容-->
		<div class="menuInfoBox">
			<!--办事指南-->
			<div class="guideInfo" ng-show="isGuide">
				<div id="wrapper">
					<p class="guide-tips">为便于公民、法人和其他组织及时、准确获取上海市人民政府及上海市人民政府办公厅的政府信息，提高政府工作的透明度，建设法治政府，充分发挥政府信息对人民群众生产、生活和经济社会活动的服务作用，根据《中华人民共和国政府信息公开条例》（以下简称《条例》）和《上海市政府信息公开规定》（以下简称《规定》），编制本指南。</p>
					<div class="guide-content">
						<p class="content-title">一、主动公开</p>
						<p class="content-child-title">(一)公开范围</p>
						<p>根据《条例》第三章、《规定》第三章规定，应当主动公开的政府信息。</p>
						<p class="content-child-title">(二)公开渠道</p>
						<p>1、“中国上海”门户网站（http://www.shanghai.gov.cn/）；</p>
						<p>2、《上海市人民政府公报》；</p>
						<p>3、市政府新闻发布会；</p>
						<p>4、“上海发布”新媒体；</p>
						<p>5、其他：报刊、广播、电视等。</p>
						<p>同时，在市档案馆、上海图书馆设置本机关政府信息公开查阅点。</p>
						<p class="content-child-title">(三)公开时限</p>
						<p>属于主动公开范围的政府信息，自该信息形成或者变更之日起20个工作日内予以公开。法律、法规对政府信息公开的期限另有规定的，从其规定。</p>
						<p class="content-title">二、依申请公开</p>
						<p>公民、法人或者其他组织可以向本机关申请获取主动公开以外的政府信息。</p>
						<p class="content-child-title">(一)申请接收渠道</p>
						<p>1、当面提交</p>
						<p>本机关在市档案馆外滩新馆设置政府信息公开申请受理点，申请人可到现场当面提交申请。</p>
						<p>地址：上海市浦东新区白杨路636号（临）南楼308室</p>
						<p>办公时间：9:00-11:30，13:00-17:00（节假日除外）</p>
						<p>联系电话：021-63582606</p>
						<p>2、信函或传真提交</p>
						<p>申请人可通过邮政寄送或传真方式向本机关提交申请。</p>
						<p>来信请寄：上海市浦东新区白杨路636号（临）南楼308室，市政府信息公开申请受理点（收），请在信封左下角注明“政府信息公开申请”字样；邮政编码：201204。</p>
						<p>传真号码：021-38429688转1303</p>
						<p>3、网上申请</p>
						<p>申请人可登陆“中国上海”门户网站，在政府信息公开专栏“依申请公开”页面，在线填写提交申请。</p>
						<p class="content-child-title">(二)申请注意事项</p>
						<p>1、申请获取政府信息，应当填写《上海市人民政府政府信息公开申请表》，申请表可在市政府信息公开申请受理点领取或在“中国上海”门户网站政府信息公开专栏下载打印，网上申请的可直接在线填写。</p>
						<p>2、当面申请的，应当出示有效身份证件；通过邮政寄送或传真提交申请的，应随申请表附有效身份证件复印件；网上申请的，应上传有效身份证件扫描件或照片。</p>
						<p>3、申请表应准确载明申请人的姓名或者名称、联系方式、获取政府信息的方式及其载体形式。所需政府信息内容描述应当指向明确，建议详尽提供特定政府信息的文件名称、文号或者其他有助于确定信息内容的特征描述。</p>
						<p>4、政府信息公开申请内容不明确的，本机关给予指导和释明，并自收到申请之日起7个工作日内一次性告知申请人作出补正，说明需要补正的事项和合理的补正期限。补正的申请不符合要求或者补正后仍然无法指向特定政府信息的，本机关将视情与申请人进行沟通，仍无法确定的，本机关书面告知申请人申请内容不明确，无法处理该政府信息公开申请。申请人无正当理由逾期不补正的，视为放弃申请，本机关不再处理该政府信息公开申请。</p>
						<p>5、本机关依申请提供政府信息，不收取费用。但是，申请人申请公开政府信息的数量、频次明显超过合理范围的，本机关可以收取信息处理费，具体标准按照有关规定执行。</p>
						<p class="content-child-title">(三)申请办理的有关说明</p>
						<p>本机关对收到的信息公开申请，将根据有关规定分别作出处理和答复。</p>
						<p>1、对于符合《条例》、《规定》申请要求的，按照《条例》第三十六条、《规定》第三十八条分别作出答复。</p>
						<p>（1）所申请公开信息已经主动公开的，告知申请人获取该政府信息的方式和途径。</p>
						<p>（2）所申请公开信息可以公开的，向申请人提供该政府信息，或者告知申请人获取该政府信息的方式、途径和时间。</p>
						<p>（3）依据《条例》和《规定》的有关规定决定不予公开的，告知申请人不予公开并说明理由。</p>
						<p>（4）经检索没有所申请公开信息的，告知申请人该政府信息不存在并说明情况。</p>
						<p>（5）所申请公开信息不属于本机关负责公开的，告知申请人并说明理由；能够确定负责公开该政府信息的行政机关的，告知申请人该行政机关的名称、联系方式。</p>
						<p>（6）本机关已就申请人提出的政府信息公开申请作出答复、申请人重复申请公开相同政府信息的，告知申请人不予重复处理。</p>
						<p>（7）所申请公开信息属于工商、不动产登记资料等信息，有关法律、行政法规对信息的获取有特别规定的，告知申请人依照有关法律、行政法规的规定办理。</p>
						<p>2、对于其他情形的，按照《规定》第三十九条作出相应处理。</p>
						<p>3、办理期限：本机关收到政府信息公开申请，能够当场答复的，应当当场予以答复。不能当场答复的，应当自收到申请之日起20个工作日内予以答复；如需延长答复期限的，应当经本机关政府信息公开工作机构负责人同意，并书面告知申请人，延长答复的期限最长不超过20个工作日。</p>
						<p>本机关征求第三方和其他机关意见所需时间不计入申请办理期限。经补正的政府信息公开申请，答复期限自本机关收到补正的申请之日起计算。</p>
						<p>申请人申请公开政府信息的数量、频次明显超过合理范围，本机关有权要求申请人说明理由。申请理由不合理的，告知申请人不予处理；申请理由合理，但是无法在《条例》第三十三条、《规定》第三十五条规定的期限内答复申请人的，确定延迟答复的合理期限并告知申请人。</p>
						<p class="content-title">三、政府信息公开工作机构</p>
						<p>上海市人民政府办公厅负责推进、指导、协调、监督全市政府信息公开工作。</p>
						<p>市政府办公厅政务公开办具体承办本机关的政府信息公开事宜，办公地址：上海市人民大道200号；工作时间：9：00-18:00（节假日除外）；联系电话：021-63582606；传真号码：021-38429688转1303；电子邮箱：xxgkyjx@shanghai.gov.cn。（本邮箱仅用于接收信息公开工作咨询及有关意见建议，如需提交政府信息公开申请，请参阅前述“申请接收渠道”。）</p>
						<p class="content-title">四、监督和救济</p>
						<p>公民、法人或者其他组织认为本机关在政府信息公开工作中侵犯其合法权益的，可以向上一级行政机关或者政府信息公开工作主管部门投诉、举报，也可以依法申请行政复议或者提起行政诉讼。</p>
					</div>
				</div>
			</div>
			<!--二级菜单列表-->
			<div class="sonMenu" ng-show="!isGuide">
				<a ng-repeat="item in secondMenuList" ng-click="choiceSecondMenu(item)">{{item.name}}</a>
			</div>
		</div>
	</div>
</div>
<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" default-is-show-prev-btn="hidden" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>