<p class="caption">{{operation}}</p>
<div class="previewContainer" ng-class="{'mask':isAllScreen}" ng-click="allScreen('con')">
	<img ng-src="{{configUrl+previewImg}}" ng-click="allScreen()"/>
</div>
<app-footer default-next="hidden" prev-text="全屏查看" default-prev="hidden">
	<a href="javascript:;" class="Prev" ng-click="prev()">返回列表</a>
	<a href="javacsript:viod(0);" class="continue" ng-click="print()">
		打印
	</a>
</app-footer>
<print show="isPrint"></print>
<style type="text/css">
	.previewContainer {
		text-align: center;
	}

	.previewContainer.mask {
		position: fixed;
		background-color: rgba(0, 0, 0, .7);
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		margin: auto;
	}

	.previewContainer img {
		height: 700px;
	}

	.previewContainer.mask img {
		margin-top: 200px;
	}
</style>
