<nav>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <img src="../libs/common/images/home.png" style="height: 30px;">
            </a>
        </li>
        <li>
            <a href="#">办件查询</a>
        </li>
        <li class="active">办件列表</li>
    </ol>
</nav>
<div class="board">
    <div class="info blue-green">
        <div class="bg"></div>
        <div class="vertical-middle horizontal-middle leftLump">
            <img src="../libs/common/images/prototype.png">
            <img src="../libs/common/images/click.gif" style="width:80px;position:absolute;top:150px;left:160px;">
            <div>请选择一个办件</div>
            <div class="sub-index  horizontal-middle">
				<a class="blue-green active" href="#main" style="padding:15px 0px;width:100%;font-size:30px;margin-top:50px;">重新查询</a>
			</div>
        </div>
    </div>
    <div class="action">
        <div class="panelList one vertical-middle horizontal-middle absoluteLeftRightCenterClass" style="width:850px;height:710px; padding: 35px 105px;">
            <a class="left control-group" ng-click="left()">
                <img class="vertical-middle horizontal-middle" src="../libs/common/images/left.png" width="30" />
            </a>
            <a class="right control-group" ng-click="right()">
                <img class="vertical-middle horizontal-middle" src="../libs/common/images/right.png" width="30" />
            </a>
			<p class="emptyTips" ng-if="!totalLength">没有查询到您的办件！</p>
            <div style="height: 150px;text-align:left" ng-repeat="i in list">
                <a class="vertical-middle horizontal-middle businessInquiries"  href="#/detail/{{i.stApplyNo}}">
                    <div>
                        {{i.No+1}} 办件编码：
                        <b>{{i.stApplyNo}}</b>
                        <span>
                            <b>{{i.stFinishStr}}</b>
                        </span>
                    </div>
                    <div>
                        {{i.stItemName}}
                    </div>
                </a>
            </div>
            <span class="horizontal-middle">{{now_page||1}}/{{total_page||1}}</span>
        </div>
    </div>
</div>