<div class="stable">
	<div class="my-card">
		<div class="head">
			<h4>居住证信息确认</h4>
		</div>
		<div class="body">
			<table class="table-sty1" cellspacing="0">
				<tr>
					<th>姓名：</th>
					<td>张三</td>
					<th>性别：</th>
					<td>男性</td>
				</tr>
				<tr>
					<th>民族：</th>
					<td>汉族</td>
					<th>公民身份号码：</th>
					<td>310109198802260030</td>
				</tr>
				<tr>
					<th>常住户口所在地址：</th>
					<td colspan="3">福建省厦门市湖里区枋湖东四里88号301室</td>
				</tr>
				<tr>
					<th>居住地住址：</th>
					<td colspan="3" style="color:#e1ba1c;font-weight:bold;">上海市虹口区新市南路918弄5号301室</td>
				</tr>
				<tr>
					<th>居住证有效期：</th>
					<td colspan="3" style="color:#e1ba1c;font-weight:bold;">2020-09-16</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<app-footer prev="prevStep()" next="nextStep()" next-text="nextText"></app-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
