<nav>
        <ol class="breadcrumb">
            <li><a href="#"><img src="../libs/common/images/home.png" style="height: 30px;"></a></li>
            <li><a href="#">公积金查询</a></li>
            <li><a href="#">扫描身份证</a></li>
            <li class="active">验证手机号</li>
        </ol>
    </nav>
    <div class="board">
        <div class="info blue-green">
            <img class="bg" src="../libs/common/images/mainIndexBG_0.png">
            <div class="vertical-middle horizontal-middle leftLump">
                <img src="../libs/common/images/prototype.png">
                <img src="../libs/common/images/click.gif" style="width:80px;position:absolute;top:150px;left:160px;">
                <div>请输入手机号并验证手机</div>
            </div>
        </div>
        <div class="action">
            <div class="inputBox horizontal-middle" style="top:200px;left: 267.5px;position:absolute;font-size:42px;">
                <label>手机号</label>
                <input type="text" style="width:380px" />
            </div>
            <div class="inputBox horizontal-middle" style="top:320px;left: 267.5px;position:absolute;font-size:42px;width:550px;">
                <label>验证码</label>
                <input type="text" style="width:150px" />
                <a class="btn_radius_50" style="position:absolute;right:20px;top:18px;">
                    <div class="greyLight" style="padding: 5px 0 10px 0;">
                        <label style="font-size:30px;">发送验证码</label>
                    </div>
                </a>
            </div>
            <a class="btn_radius_50" style="position:absolute;left:410px;top:500px;width: 300px;">
                <div class="greyLight" style="padding: 0  25px;">
                    <img src="../libs/common/images/icon200/search.png" height="80">
                    <label>查询</label>
                </div>
            </a>
        </div>
    </div>