<div class="reserve-one">
	<p class="caption1"><b>请选择办理点：</b>{{areaName}} - {{type}}</p>
	<div id="wrapper" class="wrapper">
		<div id="scrollContain">
			<div class="linkt" repeat-finish ng-repeat="item in licenseList" ng-click="choice(item)">
				<img src="images/center.png" alt="" />
				<div class="cert">
					<p class="certName">{{item.placeName}}</p>
					<p class="certDate">{{item.placeAddress}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<apptb-footer prev="prevStep()" next="nextStep()" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()"></apptb-footer>
<style>
	a {
		color: #FFFFFF;
	}

	.footBox {
		top: 958px;
		width: 1920px;
	}

	.reserve-one .reserve {
		margin-top: 0px;
	}

	.caption1 {
		margin-left: 80px;
		margin-top: 50px;
	}

	.caption1 {
		color: #FFFFFF;
		font-size: 33px;
	}

	.caption1 b {
		font-weight: normal;
		opacity: .6;
	}

	.linkt {
		float: left;
		width: 700px;
		height: 170px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 700px 170px;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	#scrollContain {
		overflow: hidden;
	}

	#wrapper {
		width: 1500px;
		margin: 10px auto;
		height: 640px;
		color: #ffff;
		overflow: scroll;
		-ms-overflow-style: none;
		overflow-style: none;
	}

	.linkt img {
		width: 80px;
		height: 80px;
		float: left;
		padding: 42px 0 0 38px;
	}

	.cert {
		margin-left: 160px;
		height: 100%;
		line-height: 50px;
		font-size: 30px;
		text-align: left;
		width: 75%;
	}

	.certName {
		margin-top: 40px;
		font-size: 34px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #FFFFFF;
	}

	.certDate {
		color: #fefefe;
		opacity: .6;
	}

	@media screen and (min-width:1279px) and (max-width:1281px) {
		#wrapper {
			width: 1000px;
			height: 632px;
		}
	}
</style>