<style type="text/css">
	.scrollBox2 {
		width: 1500px;
		height: 700px;
		margin-top: 80px;
		margin-left: 210px;
		overflow: scroll;
		-ms-overflow-style: none;
	}

	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.singselect {
		float: left;
		min-height: 60px;
		font-size: 24px;
		color: #FFF;
		width: 100%;
	}

	.singselect a {
		float: left;
		/* width: 314px; */
		height: 65px;
		overflow: hidden;
		border: 1px solid rgba(233, 237, 240, .4);
		margin-right: 10px;
		margin-bottom: 15px;
		position: relative;
		text-align: center;
		display: inline-block;
		line-height: 65px;
		font-size: 24px;
		padding: 0px 41px;
	}

	.singselect p,.choose{
		font-size: 24px;
		color: #c2cce3;
		line-height: 50px;
	}

	.singselect a.in:after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 78px;
		height: 68px;
		overflow: hidden;
		background: url(../libs/common/images/check1.png) no-repeat;
	}

	.input {
		width: 73%;
		height: 60px;
		background: rgba(255, 255, 255, .25);
		box-sizing: border-box;
		display: inline-block;
		border: none;
		outline: none;
		font-size: 24px;
		color: #FFF;
		padding-left: 15px;
		margin-bottom: 30px;
	}
	.result {
		font-size: 26px;
	}
	@media screen and (max-width: 1600px) {
		.scrollBox2 {
			width: 1000px;
			margin-left: 140px;
		}
	}
</style>
<div class="scrollBox2 clearfloat">
	<div class="singselect">
		<p>请选择房产证件类型（必选）：</p>
		<a ng-class="{'in':current==index}" ng-repeat="(index,item) in licenseTypeList" ng-click="change(item.name,index,item.id)">
			{{item.name}}
		</a>
	</div>
	<div class="singselect">
		<p>请选择证件类型（必选）：</p>
		<a ng-class="{'in':current3==index}" ng-repeat="(index,item) in cardTypeList" ng-click="change3(item.name,index,item.id)">
			{{item.name}}
		</a>
	</div>
	<div class="singselect">
		<p>请输入证件号码（必填）：</p>
		<input class="input" type="text" placeholder="请输入证件号码：" ng-model="cardNo"/>
	</div>
	<div>
		<p class="choose">请选择房产证权号：</p>
	</div>
	<div class="singselect">
		<p>区划（必选）：</p>
		<a ng-class="{'in':current1==index}" ng-repeat="(index,item) in areaList" ng-click="change1(item.name,index,item.id)">
			{{item.name}}
		</a>
	</div>
	<div class="singselect">
		<p>年份（必选）：</p>
		<a ng-class="{'in':current2==index}" ng-repeat="(index,item) in yearList" ng-click="change2(item.name,index,item.id)">
			{{item.name}}
		</a>
	</div>
	<div class="singselect">
		<input class="input" type="text" placeholder="请输入数字编号：" ng-model="keyWord"/>
	</div>
	<div>
		<p class="result">沪房地（{{areaName||"**"}}）字（{{yearName||"**"}}）第（{{keyWord||"**"}}）号</p>
	</div>
</div>
<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>