<apptb-header fun-name="{{funName}}"></apptb-header>
<p class="caption">{{funName}}--个人信息填写</p>
<div class="main2" style="height: 675px;">
	<div class="scrollBox2 clearfloat">
		<div id="wrapper">
			<div class="tabelBox1" style="width: 1705px;height: 635px;">

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>姓名：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stName" ng-model="stName" readonly>
					</dd>

					<dd class="lt1 lt3">
						<span>身份证号：</span>
						<b class="red1">*</b>
						<dd class="rt2">
							<input class="input1" type="text" id="stIdCard" ng-model="stIdCard" readonly>
						</dd>
				</dl>

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>性别：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stSex" ng-model="stSex" readonly>
					</dd>

					<dd class="lt1 lt3">
						<span>出生日期：</span>
						<b class="red1">*</b>
						<dd class="rt2">
							<input class="input1" type="text" id="dtBirth" ng-model="dtBirth" readonly>
						</dd>
				</dl>

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>民族：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<select class="select1" id="nation" ng-init="nation = nationList[0]" ng-model="nation" ng-options="x.shortname for x in nationList">
						</select>
					</dd>
					<dd class="lt1 lt3">
						<span>联系电话：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stMobile" ng-model="stMobile" placeholder="">
					</dd>
				</dl>

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>户籍地址：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt11" ng-class="{'hjActive':hjActive==true}">
						<select class="select1" id="hjProvince" ng-model="hjProvince" ng-options="x.value for x in hjProvinceList">
						</select>
					</dd>
					<dd class="rt11" ng-class="{'hjActive':hjActive==true}">
						<select class="select1" id="hjCity"  ng-model="hjCity" ng-options="x.value for x in hjCityList">
						</select>
					</dd>
					<dd class="rt11" ng-class="{'hjActive':hjActive==true}" ng-show="!hjActive">
						<select class="select1" id="hjCounty"  ng-model="hjCounty" ng-options="x.value for x in hjCountyList">
						</select>
					</dd>
					<dd class="rt11" ng-class="{'hjActive':hjActive==true}" ng-show="!hjActive">
						<select class="select1" id="hjStreet"  ng-model="hjStreet" ng-options="x.value for x in hjStreetList">
						</select>
					</dd>
				</dl>
				
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>居住地址：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt11" ng-class="{'jzActive':jzActive==true}">
						<select class="select1" id="jzProvince"  ng-model="jzProvince" ng-options="x.value for x in jzProvinceList">
						</select>
					</dd>
					<dd class="rt11" ng-class="{'jzActive':jzActive==true}">
						<select class="select1" id="jzCity"  ng-model="jzCity" ng-options="x.value for x in jzCityList">
						</select>
					</dd>
					<dd class="rt11" ng-class="{'jzActive':jzActive==true}" ng-show="!jzActive">
						<select class="select1" id="jzCounty"  ng-model="jzCounty" ng-options="x.value for x in jzCountyList">
						</select>
					</dd>
					<dd class="rt11" ng-class="{'jzActive':jzActive==true}" ng-show="!jzActive">
						<select class="select1" id="jzStreet"  ng-model="jzStreet" ng-options="x.value for x in jzStreetList">
						</select>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	#wrapper {
		width: 1750px;
		height: 650px;
	}
	
	.main2 {
		height: 650px;
		margin-top: 20px;
	}
	
	.tabelBox1 .dl1 .hjActive {
		width: 40%;
	}
	.tabelBox1 .dl1 .jzActive {
		width: 40%;
	}
</style>