<style type="text/css">
	.scrollBox2 {
		width: 1500px;
		height: 600px;
		margin-top: 1%;
		margin-left: 11%;
	}
	
	.caption {
		    margin-top: 86px;
    margin-left: 220px;
	}
	
	#wrapper {
		margin-top: 20px;
		width: 1500px;
		height: 80%;
	}
	
	.schoolName {
		width: 40%;
		height: 90px;
		margin: 1% 9.4%;
		background: url(../../libs/common/images/bg-input.png) no-repeat;
		position: relative;
	}
	
	.schoolName input {
		font-size: 28px;
		color: #fff;	
		padding-left: 4%;
		border: none;
		background: rgba(0,0,0,0);
		border-radius: 8px;
		box-shadow: 0px 0px 8px 4px #175191 inset;
		width: 100%;
		height: 100%;
	}
	.schoolName img {
		opacity: 0.7;
		position: absolute;
		cursor: pointer;
		top: 22%;
	    right: 5%;
	    width: 52px;
	}
	
	.linkt {
		position: relative;
		width: 1800px;
		/*top: 65px;*/
		left: 94px;
	}
	
	.sDetail{
		float: left;
		width: 1300px;
    	height: 390px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 100% 100%;
		margin-top: 80px;
		margin-left: 105px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		padding-top: 2%;
	}
	.sDetail dd {
		margin-top: 30px;
	    height: 40px;
	    width: 74%;
	    margin: 0.9% auto;
	}
	
	.sDetail dl {
		white-space: normal;
		width: 80%;
		float: right;
		height: 100%;
		line-height: 150%;
	}
	.sDetail b {
		width: 14%;
		display: block;
		float: left;
		font-weight: bold;
		text-align: justify;
		text-align-last: justify;
		/* -ms-text-justify: inter-ideograph; */
		-ms-text-align-last: justify;
	}
	
	.select {
		float: left;
		width: 600px;
    	height: 330px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 100% 100%;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		padding-top: 1%;
	}
	
	.select dd {
		margin-top: 20px;
		margin-left: 20px;
		height: 40px;
		width: 74%;
    /* margin: 0.6% auto; */
	}
	.select .top {
		margin-top: 30px;
		margin-left: 20px;
		height: 120px;
		width: 74%;
    /* margin: 0.6% auto; */
	}
	
	.select dl {
		white-space: normal;
		width: 120%;
		height: 100%;
		line-height: 150%;
		margin-top: 30px;
		padding: 10px;
	}
	
	.select b {
		width: 160px;
		display: block;
		float: left;
		font-weight: bold;
		text-align: justify;
		text-align-last: justify;
		/* -ms-text-justify: inter-ideograph; */
		-ms-text-align-last: justify;
	}
	.select  dl span {
		width: 320px;
		font-size: 26px;
		/* margin-left: 0px; */
		height: 37px;
		display: block;
		float: right;
	}
	
	@media screen and (max-width: 1600px) {
		.bg-middle {
			background-size: 100% 80%;
		}
		.caption {
			margin-left: 80px !important;
			margin-top: 60px !important;
		}
		.linkt {
			left: 10px;
		}
		.select {
			width: 900px;
		}
		.select dl {
			width: 80%;
		}
		.select dd {
			margin-top: 12px;
		}
	}
</style>
<p class="caption">{{funName}}</p>
<div class="scrollBox2 clearfloat">
	<div class="schoolName">
		<input type="text" placeholder="请输入地址资料名称关键字" ng-model="spaceName"/>
		<img ng-click="selectSpace(spaceName)" src="../libs/common/images/icon-link9.png"/>
	</div>
	<div id="wrapper" class="wrapper" whenScrolled="loadMore()">
		<div>
			<div class="linkt" ng-repeat="list in animalCertList" ng-if="isDetial">
					<a class="select" ng-click="spaceInfo(list.codeV)">
						<dd class="top">
							<dl><b>标题</b>：<span>{{ list.titleV }}</span></dl>
						</dd>
						<dd>
							<dl><b>档案号</b>：<span>{{ list.codeV }}</span></dl>
						</dd>
						<dd>
							<dl><b>形成时间</b>：<span>{{ list.dateV || '------'}}</span></dl>
						</dd>
					</a>
			</div>
		</div>
	</div>
</div>
<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" next="nextStep()" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirmshow='confirmshow' confirm="alertConfirm()" concel="concel"></alert>