<p class="caption">{{funName}}办理须知</p>
<div class="main2">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>一、主管部门：</dt>
				<dd>
					<p>各区烟草专卖局</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>二、申报条件：</dt>
				<dd>
					<p>停业：已经取得烟草专卖零售许可证的公民、法人或者其他组织。</p>
					<p>恢复营业：正在停业期间内的已经取得烟草专卖零售许可证的公民、法人或者其他组织。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>三、申请材料：</dt>
				<dd>
					<p>申请对象需带齐以下材料：</p>
					<p>（1）有效身份证原件</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>四、办理流程：</dt>
				<dd>
					<p>停业：</p>
					<p>（1）该项业务全市通办，申请对象可至就近的区烟草专卖局政务服务窗口或通过一网通办、随申办、自助终端提出申请</p>
					<p>（2）材料齐全，无特殊情况当场提交申请</p>
					<p>（3） 相关区烟草专卖局受理</p>
					<p>（4）各区烟草专卖局应在受理之日内作出行政审批决定，按规定流程送达《收件回执》《烟草专卖许可证管理类事项办理通知书（同意）》或《烟草专卖许可证管理类事项办理通知书（不同意）》</p>
					<p>恢复营业：</p>
					<p>（1）该项业务全市通办，申请对象可至就近的区烟草专卖局政务服务窗口或通过一网通办、随申办、自助终端提出申请</p>
					<p>（2）材料齐全，无特殊情况当场提交申请</p>
					<p>（3） 相关区烟草专卖局受理</p>
					<p>（4）各区烟草专卖局应在受理之日内作出行政审批决定，按规定流程送达《收件回执》《烟草专卖许可证管理类事项办理通知书（同意）》或《烟草专卖许可证管理类事项办理通知书（不同意）》</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>五、收费标准：</dt>
				<dd>
					<p>免费</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.main2 {
		width: 1625px;
		height: 645px;
		margin-left: 118px;
		margin-top: 30px;
	}

	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	#wrapper {
		width: 1750px;
		height: 600px;
	}

	.scrollBox2 .dllist1 {
		margin-left: 50px;
	}
</style>