<p class="caption">{{stuffName}}办理须知</p>
<div class="main2" style="width: 1625px;height: 645px;margin-left: 118px;    margin-top: 30px;">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>温馨提示：</dt>
				<dd>
					<p>1、该服务须由本人申请，相关法律责任由本人承担。</p>
					<p>2、能够用居民户口簿、个人户口卡、居民身份证或者护照等法定身份证件证明的事项，</p>
					<p>公安派出所不再开具户籍证明。但有下列情形之一的，公安派出所可以根据申请开具户籍证明：</p>
					<p>（一）居民户口簿、个人户口卡遗失尚未补办的;</p>
					<p>（二）因家庭矛盾等原因无法获得居民户口簿，经民警调查确需开具的;</p>
					<p>（三）学生集体户口、博士后工作站集体户口以及中央各部委、各省市驻沪办事处工作集体户口人员需要证明户籍信息的;</p>
					<p>（四）需要查阅历史户籍档案，证明曾经同户人员间亲属关系的。</p>
					<p>3、婚姻状况、文化程度、宗教信仰、兵役状况、职业、服务处所、血型等非公安机关主管事项，公安派出所不予开具相关户籍证明。</p>
					<p>4、网上《户籍证明》结果展示后，请仔细核对信息，如您认为登记的信息错误，可以携带相关证明材料，向户口所在地派出所申请更正，最终以派出所反馈的信息为准。</p>
					<p>5、《户籍证明》仅限于国内使用（港、澳、台地区除外）。</p>
					<p>6、《户籍证明》只证明户籍登记情况。</p>
					<p>7、如您无法通过网上申请出具《户籍证明》的，可以携带相关证明材料，前往户口所在地派出所申请开具。</p>
					<p>8、网上申请的《户籍证明》与派出所出具的《户籍证明》具有同等效力。</p>
					<p>9、公安派出所在系统收到线上户籍证明<span style='color:#e1ba1c;font-weight:bold;'>申请后在3个工作日内</span>进行人工审核并开具电子证明。</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" default-is-show-prev-btn="hidden" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	table th,
	table td {
		border: #477cbe 1px solid;
		text-align: center;
		padding: 8px;
	}

	#wrapper {
		width: 1750px;
		height: 600px;
	}
	@media screen and (min-width:1279px) and (max-width:1281px) {
		.caption {
			margin-left: 130px !important;
			margin-top: 60px !important;
		}
	}
</style>