<p class="caption">{{funName}}--办理须知</p>
<div class="main2">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>一、事项名称：</dt>
				<dd>
					<p>个人申请出具异地贷款缴存使用证明</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>二、申请范围：</dt>
				<dd>
					<p>职工符合以下条件的,可以申请网上个人申请出真异地贷款缴存使用证明:</p>
					<p>1. 本市缴存住房公积金的个人困异地贷款等原因向市公积金中心申请出具个人住房公积金缴存证明;</p>
					<p>2. 签署过网上服务协议的。</p>
					<p>职工为外籍及港、澳、台在沪工作人员的，目前暂无法申请网上异地贷款缴存证明。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>三、办理场所：</dt>
				<dd>
					<p>上海住房公积金网www.shgjj.com、上海公积金微信服务号、上海公积金手机APP、随申办APP、随申办微信小程序、随申办支付宝小程序。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>四、办理条件：</dt>
				<dd>
					<p>1、申请人身份证件号码</p>
					<p>2. 异地公积金中心名称信息</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>五、承诺内容：</dt>
				<dd>
					<p>1. 本人因在外地购房需中请当地住房公积金贷款,现申请开具《异地货款职工住房公积金缴存使用证明》,并认可该证明不代表贷款城市公积金中心同意贷款。</p>
					<p>2. <b>本市公积金中心自开具本证明之日起,暂停受理申请人在本市的公积金贷款业务。贷款城市公积金中心应当向本市公积金中心提供本证明回执。</b>提供准予贷款回执的,本市继续暂停受理申请人在本市的公积金贷款业务;直至申请人后续提供结清凭证,再恢复申请人在本市的公积金贷款资格;提供不予贷款回执的，恢复申请人在本市的公积金贷款资格;未提供回执的,继续暂停受理申请人在本市的公积金贷款业务。</p>
					<p>3. 本证明开具之日起2个月内,暂停受理申请人在本市的公积金提取业务,以确保贷款城市公积金中心贷款审核。本证明开具之日起2个月后,恢复申请人在本市的公积金提取资格。</p>
					<p>4. 申请人开具本证明后,需再次申请开具的,应当向市公积金中心业务网点提供前笔贷款城市公积金中心准予贷款的回执及结清凭证,或者不予贷款的回执,或者本证明原件等相关材料,方能再次申请开具。</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" default-is-show-prev-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.main2 {
		width: 1625px;
		height: 645px;
		margin-left: 150px;
		margin-top: 30px;
	}

	.scrollBox2 .dllist1 {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.scrollBox2 .dllist1 dd {
		width: 1270px;
	}

	#wrapper {
		width: 1630px;
		height: 600px;
	}
	.dllist1 dd b{
		color:#e1ba1c;font-weight:bold;
	}
	@media screen and (min-width:1279px) and (max-width:1281px) {
		.caption {
			margin-left: 130px !important;
			margin-top: 60px !important;
		}
		.main2 {
			width: 1105px;
			height: 645px;
			margin-left: 95px;
			margin-top: 30px;
		}
		.scrollBox2 .dllist1 dd {
			width: 1000px;
		}
		#wrapper {
			width: 1000px;
			height: 600px;
		}
	}
</style>