<p class="caption">{{funName}}--办理须知</p>
<div class="main2">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>一、办理依据：</dt>
				<dd>
					<p>一、申请查询的违法犯罪记录范围为本市公安机关制作或者获取的违法犯罪记录。对已办理市居住证或领取居住登记凭证的境内来沪人员，查询其在本市的违法犯罪记录。线上申请开具有无违法犯罪记录证明，本市户籍人员请选择向户籍所在地派出所申请开具，境内来沪人员请选择向居住地派出所申请开具。</p>
					<p>二、申请查询的违法犯罪记录可在以下四类中选择一至四种：</p>
					<p>1.曾被判处管制、拘役、有期徒刑、无期徒刑、死刑、罚金、剥夺政治权利、没收财产以及已构成犯罪，被人民法院判处免予刑事处罚的犯罪记录，包括缓刑、假释、暂予监外执行等执行方式 </p>
					<p>2.曾被处以收容教育、劳动教养、强制隔离戒毒（强制戒毒）、责令社区戒毒（限期戒毒）的违法信息，包括不执行、暂缓执行、所外执行等执行方式；</p>
					<p>3.曾被处以行政拘留、暂扣或吊销许可证的违法信息；</p>
					<p>4.曾被处以警告、罚款、没收的违法信息，不包括交通类违法信息。</p>
					<p>三、申请人应当填写申请查询违法犯罪记录的起止时间。</p>
					<p>四、根据有关规定，违法时不满18周岁，以及犯罪时不满18周岁、被判处5年有期徒刑以下刑罚人员的相关违法犯罪记录，依法予以封存。</p>
					<p>五、申请开具有无违法犯罪记录证明，应当提交以下材料：</p>
					<p>1.本市户籍人员申请的，应当提交本人有效身份证件；</p>
					<p>2.境内来沪人员申请的，应当提交本人有效居住证或居住登记凭证；</p>
					<p>六、在线申请开具有无违法犯罪记录证明的，公安派出所一般在收到申请之日起1个工作日内开具证明；如经公安派出所初步查询，申请人的违法犯罪记录登记不清、表述不全，需要进行调查核实的，公安派出所一般在收到申请之日起2个工作日内开具证明；</p>"
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	.main2 {
		width: 1625px;
		height: 645px;
		margin-left: 118px;
		margin-top: 30px;
	}
	
	.scrollBox2 .dllist1 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.scrollBox2 .dllist1 dd {
		width: 1270px;
	}
	
	#wrapper {
		width: 1750px;
		height: 600px;
	}
	
	@media screen and (min-width:1279px) and (max-width:1281px) {
		.caption {
			margin-left: 130px !important;
			margin-top: 60px !important;
		}
		.main2 {
			width: 1105px;
			height: 645px;
			margin-left: 118px;
			margin-top: 30px;
		}
		.scrollBox2 .dllist1 dd {
			width: 1000px;
		}
		#wrapper {
			width: 1000px;
			height: 600px;
		}
	}
</style>