<apptb-header fun-name="{{funName}}" go-back="goAppHistoryBack()"></apptb-header>
<p class="caption">{{operation}}</p>
<div class="scrollBox2 clearfloat">
	<div class="linkBox1 clearfloat">
		<a ng-click="service('http://rsj.sh.gov.cn/201712333/bmfw/bszn/gsjd/201711/t20171101_1264314.shtml')">
			<img src="../libs/common/images/newIcon/bookMake.png" />
			<p>服务指南</p>
		</a>
		<a ng-click="downLoad()">
			<img src="../libs/common/images/materials-copy.png" />
			<p>表格下载</p>
		</a>
	</div>
</div>
<apptb-footer default-is-show-next-btn="hidden" prev="prevStep()"  go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.scrollBox2 .linkBox1 {
		padding-left: 580px;
		text-align: center;
		margin-top: 190px;
	}
	
</style>