<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	#wrapper {
		width: 1750px;
		height: 650px;
	}
	
	.main2 {
		height: 650px;
		margin-top: 20px;
	}
	
	.input1::-webkit-input-placeholder {
		color: #C5C5C5;
	}
	
	.input1:-ms-input-placeholder {
		color: #C5C5C5;
	}
	
	.tabelBox1 .dl1 .jzActive {
		width: 40%;
	}
	
	@media screen and (max-width: 1600px) {
		.caption {
			margin-left: 150px;
		}
		.tabelBox1 .dl1 .lt1 {
			width: 15%;
			letter-spacing: 0px;
		}
		.tabelBox1 .dl1 .lt3 {
			width: 12%;
		}
		.tabelBox1 .dl1 .rt2 {
			width: 18%;
		}
		.tabelBox1 .dl1 .rt11 {
			width: 13%;
		}
		#wrapper {
			height: 560px;
		}
		.tabelBox1 .dl1 .rt10 {
			width: 26%;
		}
		.tabelBox1 .dl1{
			margin: 0px;
		}
	}
</style>
<p class="caption">{{funName}}--登记个人信息</p>
<div class="main2">
	<div class="scrollBox2 clearfloat">
		<div id="wrapper">
			<div class="tabelBox1" style="width: 1705px;padding-top: 35px;">

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>姓名：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stName" ng-model="stName" readonly>
					</dd>

					<dd class="lt1 lt3">
						<span>身份证号：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stIdCard" ng-model="stIdCard" readonly>
					</dd>
				</dl>

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>性别：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stSex" ng-model="stSex" readonly>
					</dd>

					<dd class="lt1 lt3">
						<span>出生日期：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="dtBirth" ng-model="dtBirth" readonly>
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>联系电话：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stMobile" ng-model="stMobile">
					</dd>
					<dd class="lt1 lt3">
						<span>民族：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<select class="select1" id="nation" ng-init="nation = nationList[0]" ng-model="nation" ng-options="x.shortname for x in nationList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>残疾人证件类型：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<select class="select1" id="discardtype" ng-init="discardtype = discardtypeList[0]" ng-model="discardtype" ng-options="x.name for x in discardtypeList">
							<option value="" selected ng-if="false"></option>
						</select>

					</dd>
					<dd class="lt1 lt3">
						<span>残疾人证号：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="dis_number" ng-model="dis_number">
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>户籍地址：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt11">
						<select class="select1" id="hjCity" ng-model="hjCity" ng-options="x.value for x in hjCityList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
					<dd class="rt11">
						<select class="select1" id="hjCounty" ng-model="hjCounty" ng-options="x.value for x in hjCountyList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
					<dd class="rt11">
						<select class="select1" id="hjStreet" ng-model="hjStreet" ng-options="x.value for x in hjStreetList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
					<dd class="rt11">
						<select class="select1" id="hjComm" ng-model="hjComm" ng-options="x.value for x in hjCommList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>户籍详细地址：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stHjAddress" ng-model="stHjAddress">
					</dd>

					<dd class="lt1 lt3">
						<span>户籍地邮编：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stHjPostCode" ng-model="stHjPostCode">
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>居住地址：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt11">
						<select class="select1" id="jzCity" ng-model="jzCity" ng-options="x.value for x in jzCityList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
					<dd class="rt11">
						<select class="select1" id="jzCounty" ng-model="jzCounty" ng-options="x.value for x in jzCountyList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
					<dd class="rt11">
						<select class="select1" id="jzStreet" ng-model="jzStreet" ng-options="x.value for x in jzStreetList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
					<dd class="rt11">
						<select class="select1" id="jzComm" ng-model="jzComm" ng-options="x.value for x in jzCommList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>居住详细地址：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stJzAddress" ng-model="stJzAddress">
					</dd>

					<dd class="lt1 lt3">
						<span>居住地邮编：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="stJzPostCode" ng-model="stJzPostCode">
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>受理中心：</span>
						<b class="red1">*</b>
					</dd>
					<dd class="rt10">
						<select class="select1" id="centerProvince" ng-model="centerProvince" ng-options="x.value for x in centerProvinceList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
					<dd class="rt10">
						<select class="select1" id="centerStreet" ng-model="centerStreet" ng-options="x.value for x in centerStreetList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>