<app-header go-back="goAppHistoryBack()" fun-name="医保制册"></app-header>
<p class="caption">{{operation}}</p>
<div class="scrollBox2 clearfloat">
	<div class="linkBox1 clearfloat" style="padding-left: 340px;">
		<a ng-click="choiceReason('Renewed')">
			<img src="../libs/common/images/Renewed.png" />
			<p>用完换新</p>
		</a>
		<a ng-click="choiceReason('newMore')">
			<img src="../libs/common/images/newMore.png" />
			<p>新增制册</p>
		</a>
		<a ng-click="choiceReason('Reissue')">
			<img src="../libs/common/images/Reissue.png" />
			<p>遗失补办</p>
		</a>
	</div>
</div>

<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<print show="isShowPrint"></print>

<app-footer prev="prevStep()" next="nextStep()" default-next="hidden" default-prev="hidden" ></app-footer>
<style type="text/css">
	.scrollBox2 .linkBox1 {
		padding-left: 600px;
		text-align: center;
		margin-top: 134px;
	}
</style>