<app-header go-back="goAppHistoryBack()" fun-name="{{funName}}"></app-header>
<p class="caption">{{operation}}</p>
<div class="scrollBox2 clearfloat">
	<div class="linkBox1 clearfloat" style="padding-left: 340px;">
		<a ng-click="choiceLogin('idcard')">
			<img src="../libs/common/images/icon-link14.png" />
			<p>身份证登录</p>
		</a>
		<a ng-click="choiceLogin('cloud')">
			<img src="../libs/common/images/icon-link13.png" />
			<p>随申办登录</p>
		</a>
		<a ng-click="choiceLogin('medical')">
			<img src="../printLicense/images/卫计委.png" />
			<p>医保卡登录</p>
		</a>
	</div>
</div>
<app-footer prev="prevStep()" next="nextStep()" default-next="hidden" ></app-footer>
<style type="text/css">
	.scrollBox2 .linkBox1 {
		padding-left: 600px;
		text-align: center;
		margin-top: 134px;
	}
</style>