<app-header go-back="goAppHistoryBack()" fun-name="医保"></app-header>
<p class="caption">{{operation}}</p>
<div class="scrollBox2 clearfloat">
	<div class="linkBox1 clearfloat">
		<a href="javascript:;" ng-click="choiceType('info')">
			<img src="../libs/common/images/icon-link4.png" />
			<p>医保个人信息</p>
		</a>
		<a href="javascript:;" ng-click="choiceType('reduce')">
			<img src="../libs/common/images/icon-link11.png" />
			<p>医保综合减负试算</p>
		</a>
		<a href="javascript:;" ng-click="choiceType('bookMaking')">
			<img src="../libs/common/images/Reissue.png" />
			<p>医保制册</p>
		</a>

	</div>
</div>
<style type="text/css">
	.scrollBox2 .linkBox1 {
		padding-left: 340px;
		text-align: center;
		margin-top: 134px;
	}
</style>