<div class="shell bg3">
	<div class="TopTit1 clearfloat">
		<img src="libs/common/images/icon/ywtblogo.png" style="position: absolute;width: 73px;left: 138px;">
		<h2 class="tit2" style="    padding-left: 10.5%;">“一网通办”智能终端</h2>
		<!--<div class="inputBox1 clearfloat">
			<a ng-click="sound()"><img style="width: 60px;float: left;margin-top: 6px;" src="libs/common/images/sd.png" /></a>
			<input ng-keyup="enterEvent($event)" class="input1" type="text" placeholder="请输入关键字">
			<a ng-click="answer()" class="btn1">我要问</a>
		</div>-->
		<div class="weatherForecast" ng-show="dataWeatherList.length>0" ng-click="goToApp('http://183.194.250.112/ac-product/cmpt/selfWorkBench_V2/weather/index.html#/main')">
			<div class="warning"><img ng-src="{{warningImg}}" /></div>
			<div class="weather">
				<img ng-src="{{weatherImg}}" />
				<div class="temperature">{{todayWeather.lowtem}}°C~{{todayWeather.highttem}}°C</div>
				<p>{{todayWeather.dayweather}}     &emsp;| &emsp;    {{todayWeather.winddir}} {{todayWeather.windlev}}</p>
			</div>
		</div>
	</div>

	<div class="main5">
		<div class="lt3 fl">
			<div class="titBox1">办理服务</div>
			<div class="navBox3 clearfloat">
				<a ng-click="goToApp('http://183.194.250.112/ac-product/cmpt/selfWorkBench_V2/declare/index.html#/list?areaCode=SH00YP')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav1.png" /></div>
					<p class="p1">自助办理</p>
				</a>
				<a ng-click="goToApp('synthesize/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav5.png" /></div>
					<p class="p1">综合通办</p>
				</a>
				<a ng-click="goToApp('yiwindow/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav14.png" class="mart1" /></div>
					<p class="p1" id="twoP">企业开办“一窗通”</p>
				</a>
				<a ng-click="goToApp('printLicense/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav2.png" /></div>
					<p class="p1">证明开具</p>
				</a>
			</div>

			<div class="titBox1">便捷服务</div>
			<div class="navBox3 clearfloat">
				<a ng-click="goToApp('workAppointment/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav10.png" class="mart3" /></div>
					<p class="p1">自助预约</p>
				</a>
				<a ng-click="goToApp('autoForm/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav12.png" class="mart1" /></div>
					<p class="p1">自助取表</p>
				</a>
				<a ng-click="goToApp('eLicense/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav11.png" class="mart1" /></div>
					<p class="p1">我的证照</p>
				</a>
				<a ng-click="goToApp('copy/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav9.png" class="mart5" /></div>
					<p class="p1">材料复印</p>
				</a>
			</div>
		</div>
		<div class="lt4 fl">
			<div class="titBox1">数据服务</div>
			<div class="navBox3 clearfloat">
				<a ng-click="goToApp('waiter/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav13.png" class="mart1" /></div>
					<p class="p1">套餐查询</p>
				</a>
				<a ng-click="goToApp('workSearch/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav4.png" class="mart2" /></div>
					<p class="p1">进度查询</p>
				</a>
			</div>

			<div class="titBox1">咨询服务</div>
			<div class="navBox3 clearfloat">
				<a ng-click="goToApp('guideline/index.html')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav7.png" class="mart1" /></div>
					<p class="p1">办事指南</p>
				</a>
				<a ng-click="goToApp('https://zwdt.sh.gov.cn/smzy/shell_terminal/tourist/sceneList')">
					<div class="imgbox1"><img src="libs/common/images/icon-nav8.png" class="mart1" /></div>
					<p class="p1">智能引导</p>
				</a>
				<!--<a ng-click="goToApp('guideline/index.html')">
                    <div class="imgbox1"><img src="libs/common/images/icon-nav7.png" class="mart4"/></div>
                    <p class="p1">办事指南</p>
                </a>
				<a ng-click="goToApp('evaluate/index.html')">
                    <div class="imgbox1"><img src="libs/common/images/icon-nav8.png" class="mart5"/></div>
                    <p class="p1">我要评</p>
                </a>-->
			</div>
		</div>
	</div>
	<div class="VideoBox1"  ng-click="goToApp('http://10.1.93.168:7070/anychat/allInOnePC/visitor/listDepts')"><p>
		视频咨询
	</p></div>
</div>
<style type="text/css">
	.main5 .navBox3 a .p1 {
		height: 50px;
		line-height: 50px;
		overflow: hidden;
		font-size: 32px;
		color: #19aae2;
	}

	.main5 .lt3 {
		width: 1098px;
		margin-left: 116px;
	}

	.main5 .lt4 {
		width: 576px;
		margin-left: 53px;
	}

	#twoP {
		text-align: center;
		line-height: 32px;
		width: 208px;
		height: 100px;
		text-indent: 18px;
		margin-top: -9px;
	}
	/*
	 * 天气样式
	 */

	.TopTit1 {
		margin-bottom: 30px !important;
	}

	.weatherForecast {
		float: right;
		margin-right: 115px;
	}

	.warning {
		display: inline-block;
		float: right;
	}

	.warning img {
		height: 120px;
	}

	.weather {
		display: inline-block;
		width: 400px;
		float: right;
		height: 154px;
	}

	.weather img {
		width: 90px;
		float: left;
	}

	.weather p {
		font-size: 24px;
		margin-left: 13px;
	}

	.temperature {
		display: inline-block;
		font-size: 45px;
		width: 270px;
		text-align: center;
		height: 90px;
		line-height: 90px;
	}
</style>