<nav>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <img src="../libs/common/images/home.png" style="height: 30px;">
            </a>
        </li>
        <li>
            <a href="#">事项预约</a>
        </li>
        <li>
            <a href="#">A 用工管理和人才服务</a>
        </li>
        <li>
            <a href="#">用人用工服务</a>
        </li>
        <li class="active">{{appointmentStatus}}</li>
    </ol>
</nav>
<div class="board">
    <div class="info blue-green">
        <img class="bg" src="../libs/common/images/mainIndexBG_0.png">
        <div class="vertical-middle horizontal-middle leftLump" style="top: 360px;">
            <div>{{appointmentStatus}}</div>
        </div>
    </div>
    <div class="action">
        <div class="horizontal-middle vertical-middle" style="font-size:48px;text-align:center;margin-top: 300px;">
            <b style="font-size:1.5em;color:#ff6a00">预约成功
                <span style="color:#ff6a00"></span>
            </b>
            <br /> 预约号稍后通过短信的方式发送到您的手机上！
        </div>
    </div>
</div>