<nav>
	<ol class="breadcrumb">
		<li>
			<a href="#">
				<img src="../libs/common/images/home.png" style="height: 30px;">
			</a>
		</li>
		<li>
			<a href="#">事项预约</a>
		</li>
		<li class="active">选择大厅</li>
	</ol>
</nav>
<div class="board">
	<div class="info blue-green">
		<img class="bg" src="../libs/common/images/mainIndexBG_2.png">
		<div class="vertical-middle horizontal-middle leftLump">
			<img src="../libs/common/images/prototype.png">
			<img src="../libs/common/images/click.gif" style="width:80px;position:absolute;top:150px;left:160px;">
			<div>请选择需要预约的大厅</div>
		</div>
	</div>
	<div class="action">
		<a class="btn_radius_50 make" ng-click="matter('A','法人事项综合受理大厅')" style="position:absolute;left:80px;top:80px;">
			<div class="greyLight" style="padding: 0  40px;width:400px;padding:15px;">
				<b class="code"></b>
				<label style="width:250px;">法人事项综合受理大厅</label>
			</div>
		</a>
		<a class="btn_radius_50 make" ng-click="matter('B','个人事项综合受理大厅')" style="position:absolute;left:570px;top:80px;">
			<div class="greyLight" style="padding: 0  40px;width:400px;padding:15px;">
				<b class="code"></b>
				<label style="width:250px;">个人事项综合受理大厅</label>
			</div>
		</a>
		<a class="btn_radius_50 make" ng-click="matter('L','就业服务')" style="position:absolute;left:570px;top:250px;">
			<div class="greyLight" style="padding: 0  40px;width:400px;padding:15px;">
				<b class="code"></b>
				<label style="width:250px;">就业服务<br />&nbsp;</label>
			</div>
		</a>
		<a class="btn_radius_50 make" ng-click="matter('D','档案和信息公开查询')" style="position:absolute;left:80px;top:250px; ">
			<div class="greyLight" style="padding: 0  40px;width:400px;padding:15px;">
				<b class="code"></b>
				<label style="width:250px;">档案和信息公开查询</label>
			</div>
		</a>
		<a class="btn_radius_50 make" ng-click="matter('I','婚前保健服务中心')" style="position:absolute;left:80px;top:420px;">
			<div class="greyLight" style="padding: 0  40px;width:400px;padding:15px;">
				<b class="code"></b>
				<label style="width:250px;">婚前保健服务中心</label>
			</div>
		</a>
		<a class="btn_radius_50 make" ng-click="matter('J','结婚(收养)登记，离婚登记')" style="position:absolute;left:570px;top:420px;">
			<div class="greyLight" style="padding: 0  40px;width:400px;padding:15px;">
				<b class="code"></b>
				<label style="width:250px;">结婚(收养)登记，离婚登记</label>
			</div>
		</a>
		<a class="btn_radius_50 make" ng-click="matter('K','基本医疗保障和工伤服务')" style="position:absolute;left:80px;top:590px;">
			<div class="greyLight" style="padding: 0  40px;width:400px;padding:15px;">
				<b class="code"></b>
				<label style="width:250px;">基本医疗保障和工伤服务</label>
			</div>
		</a>
		<a class="btn_radius_50 make" ng-click="matter('H','出入境办证中心')" style="position:absolute;left:570px;top:590px;">
			<div class="greyLight" style="padding: 0  40px;width:400px;padding:15px;">
				<b class="code"></b>
				<label style="width:250px;">出入境办证中心</label>
			</div>
		</a>
	</div>
</div>