<style type="text/css">
	#linkt {
		position: absolute;
		top: 100px;
		left: 0px;
	}

	.main2 {
		height: auto;
	}

	.scrollBox2 {
		margin-left: 120px;
		margin-top: 15px;
		height: 640px;
		overflow: scroll;
		-ms-overflow-style: none;
	}

	.scrollBox2::-webkit-scrollbar {
		display: none;
	}

	.caption {
		margin-top: 80px !important;
		margin-left: 200px !important;
	}

	.linkt {
		float: left;
		width: 1500px;
		height: 170px;
		overflow: hidden;
		font-size: 28px;
		position: relative;
		background: url(../libs/common/images/bg-xLlist.png) no-repeat;
		background-size: 100% 100%;
	}

	.stuff {
		display: table-cell;
		height: 170px;
		max-width: 1135px;
		word-wrap: break-word;
		word-break: break-all;
		overflow: hidden;
		margin-left: 20px;
		padding-left: 50px;
		vertical-align: middle;
	}

	.upload2 {
		width: 400px;
		height: 50px;
		line-height: 50px;
		position: absolute;
		top: 70px;
		left: 885px;
		font-size: 20px;
		text-align: center;
		background: url(../libs/common/images/print.png) no-repeat;
		background-size: 400px 50px;
	}

	.upload {
		width: 130px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		position: absolute;
		top: 70px;
		background: url(../libs/common/images/print.png) no-repeat;
		font-size: 20px;
		left: 1300px;
	}

	.view {
		width: 130px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		position: absolute;
		top: 70px;
		background: url(../libs/common/images/print.png) no-repeat;
		font-size: 20px;
		left: 1135px;
	}

	@media only screen and (max-width: 1600px) {
		.select {
			width: 1100px;
			background-size: 100% 100%;
		}

		.linkt {
			width: 1100px;
		}

		.scrollBox2 {
			height: 560px;
		}

		.stuff {
			width: 880px;
		}

		.main2 {
			width: 1280px;
			margin-left: -30px;
		}

		.upload {
			left: 940px;
		}

		.view {
			left: 810px;
		}

		.upload2 {
			left: 400px;
		}

		.ps-container .ps-scrollbar-x {
			width: auto !important;
		}
	}
</style>
<p class="caption">{{funName}}---材料上传</p>
<div class="main2">
	<div class="scrollBox2 clearfloat">
		<div class="linkt" ng-repeat="(index,stuff) in MaterialList">
			<div class="stuff">
				<font color='red' ng-show="{{stuff.isMust}}">*</font>
				{{stuff.stuffName}}<span ng-show="{{stuff.stuffName=='监护人居民身份证'}}"
					style="margin-left:50px;color:yellow;">（ 此材料为选填 ）<span>
			</div>
			<div ng-click="view(index)" ng-show="{{stuff.upload2}}" ng-show="show" class="upload2">
				由市电子证照库自动调出，点击预览
			</div>
			<div ng-click="view(index)" ng-show="{{stuff.upload3}}" class="view">
				预览
			</div>
			<div ng-click="toUploadMaterial(stuff,index)" class="upload">
				上传
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="submit()" next-btn-info="{{nextText}}" custom-home="true" home="customMain()"
	go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
