<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.box {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		height: auto;
		width: 1400px;
		margin: auto;
		overflow: hidden;
	}

	.linkt {
		margin: 10px;
	}

	#wrapper {
		width: 1800px;
		height: 655px;
		overflow: hidden;
	}

	.select {
		width: 680px;
		height: 100px;
		overflow: hidden;
		background: url(../libs/common/images/bg-biglist.png) no-repeat;
		background-size: 100% 100%;
		display: table;
	}

	.stuff {
		display: table-cell;
		vertical-align: middle;
		font-size: 30px;
		text-align: center;
	}
</style>
<apptb-header fun-name="无人工干预办理" go-back="goAppHistoryBack()"></apptb-header>
<p class="caption">{{ operation }}</p>
<div class="scrollBox2 clearfloat">
	<div id="wrapper" class="wrapper">
		<div class="box">
			<div class="linkt" ng-repeat="stuff in stuffName">
				<a class="select" repeat-finish ng-click="choiceType(stuff.url,stuff.name)">
					<div class="stuff">{{ stuff.name }}</div>
				</a>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-prev-btn="hidden" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>