<div class="TabBox1">
	<ul class="navul1 clearfloat">
		<li>选择事项</li>
		<li>办事指南</li>
		<li>人证核验</li>
		<li class="act">在线填报</li>
	</ul>
	<span class="line"></span>
	<div class="navBox2"><b>您正在办理：</b><span>灵活就业两项补贴申请--个人信息</span></div>
	<div class="main2">
		<div id="wrapper">
			<div class="scrollBox2 clearfloat" style="width:1671px;" id="widthinfoJybt">
				<div class="tabelBox1">

					<div class="navBox" style="margin-top:10px;margin-bottom:40px;margin-left: 300px;"><b>--------------------------  申请人信息  --------------------------</b></div>

					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" id="stName" ng-model="stName" readonly>
						</dd>

						<dd class="lt1 lt2">
							<span>性&nbsp;&nbsp;&nbsp;&nbsp;别：</span>
							<b class="red1">*</b>
							<dd class="rt2">
								<input class="input1" type="text" id="stSex" ng-model="stSex" readonly>
							</dd>
					</dl>

					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>身份证号：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" id="stIdCard" ng-model="stIdCard" readonly>
						</dd>

						<dd class="lt1 lt2">
							<span>民&nbsp;&nbsp;&nbsp;&nbsp;族：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<select class="select1" id="nations" ng-model="nation" vName="" vId="" onchange="selectNationById('nations')">
								<option class="col1" value="">选择民族</option>
							</select>
						</dd>
					</dl>

					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>出生日期：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<div class="input-append date form_datetime">
								<input class="input1" size="16" type="text" id="dtBirth" ng-model="dtBirth" readonly>
								<span class="add-on"><i class="icon-th"></i></span>
							</div>
							<!--<input class="input1" type="text" id="dtBirth" ng-model="dtBirth" readonly>-->
						</dd>

						<dd class="lt1 lt2">
							<span>联系手机：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" id="stMomile" ng-model="stMomile">
						</dd>
					</dl>

					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>户籍地址：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt11">
							<select class="select1" id="province" vName="" vId="" ng-model="province" onchange="selectProvince('province','city','county','street','')">
								<option class="col1" value="">选择省份</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="city" vName="" vId="" ng-model="city" onchange="selectCity('city','county','street','')">
								<option class="col1" value="">选择城市</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="county" vName="" vId="" ng-model="county" onchange="selectCounty('county','street','')">
								<option class="col1" value="">选择区/县</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="street" vName="" vId="" ng-model="street" onchange="selectStreet('street','')">
								<option class="col1" value="">选择街/镇</option>
							</select>
						</dd>
					</dl>
					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>&nbsp;</span></b>
						</dd>
						<dd class="rt1">
							<input class="input1" type="text" id="stAddress" ng-model="stAddress" placeholder="详细地址">
						</dd>
					</dl>

					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>居住地址：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt11">
							<select class="select1" id="liveProvince" vName="" vId="" ng-model="liveProvince" onchange="selectProvince('liveProvince','liveCity','liveCounty','liveStreet','')">
								<option class="col1" value="">选择省份</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="liveCity" vName="" vId="" ng-model="liveCity" onchange="selectCity('liveCity','liveCounty','liveStreet','')">
								<option class="col1" value="">选择城市</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="liveCounty" vName="" vId="" ng-model="liveCounty" onchange="selectCounty('liveCounty','liveStreet','')">
								<option class="col1" value="">选择区/县</option>
							</select>
						</dd>
						<dd class="rt11">
							<select class="select1" id="liveStreet" vName="" vId="" ng-model="liveStreet" onchange="selectStreet('liveStreet','')">
								<option class="col1" value="">选择街/镇</option>
							</select>
						</dd>
					</dl>
					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>&nbsp;</span></b>
						</dd>
						<dd class="rt1">
							<input class="input1" type="text" id="liveStAddress" ng-model="liveStAddress" placeholder="详细地址">
						</dd>
					</dl>
					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>银行账号：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt2">
							<input class="input1" type="text" id="bankNum" ng-model="bankNum">
						</dd>

						<dd class="lt1 lt2">
							<span>卡类型：</span>
							<b class="red1">*</b>
							<dd class="rt2">
								<select class="select1" id="bankType" vName="" vId="" ng-model="bankType">
									<option class="col1">硬卡（磁卡）</option>
									<option class="col1">软卡（存折）</option>
								</select>
							</dd>
					</dl>
					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>开户银行：</span>
							<b class="red1">*</b>
						</dd>
						<dd class="rt1 singleselect2 clearfloat" id="bank">
							<a href="javascript:;">
								<li vId="000003">工商银行</li>
							</a>
							<a href="javascript:;">
								<li vId="000001">上海银行</li>
							</a>
							<a href="javascript:;">
								<li vId="000002">农业银行</li>
							</a>
							<a href="javascript:;">
								<li vId="000005">邮政局</li>
							</a>
							<a href="javascript:;">
								<li vId="000011">农村商业银行</li>
							</a>
							<a href="javascript:;">
								<li vId="000018">中国银行</li>
							</a>
							<a href="javascript:;">
								<li vId="000008">建设银行</li>
							</a>
						</dd>
					</dl>
					<div class="navBox" style="margin-bottom:40px;margin-left: 300px;"><b>--------------------------  材料原件取回方式  --------------------------</b></div>
					<dl class="dl1 clearfloat">
						<dd class="lt1 lt5">
							<span>取回方式：</span>
							<b class="red1">*</b>
							<dd class="rt5 singleselect3 clearfloat" id="stType" ng-model="stType">
								<a href="javascript:;" style="margin-bottom:0px;" id="ziqu" class="in">社区事务受理中心自取</a>
								<a href="javascript:;" style="margin-bottom:0px;" id="wuliu">物流寄递</a>
							</dd>
					</dl>

					<div id="zq" style="display:block;">
						<dl class="dl1 clearfloat">
							<dd class="lt1 lt5">
								<span>选择受理中心：</span>
								<b class="red1">*</b>
							</dd>
							<dd class="rt14">
								<select class="select1" id="stCenterCounty" vName="" vId="" ng-model="stCenterCounty" onchange="selectCenterCounty('stCenterCounty','stCenter')">
									<option class="col1" value="">请选择</option>
								</select>
							</dd>
							<dd class="rt14">
								<select class="select1" id="stCenter" vName="" vId="" ng-model="stCenter" onchange="selectCenter('stCenter')">
									<option class="col1" value="">请选择</option>
								</select>
							</dd>
						</dl>
						<div class="psbox1 pad4">*友情提示：请选择您准备前往的社区事务受理服务中心！收到审批完成短信后可凭提交成功后的自助办理凭条或者身份证、<br/>随申办电子亮证到所选社区事务受理自助取证柜取回材料。</div>
					</div>

					<div id="wl" style="display:none;">
						<dl class="dl1 clearfloat">
							<dd class="lt1 lt5">
								<span>收件人姓名：</span>
								<b class="red1">*</b>
							</dd>
							<dd class="rt2">
								<input class="input1" type="text" id="stRecipient" ng-model="stRecipient" disabled="true">
							</dd>

							<dd class="lt1 lt2">
								<span>收件人联系电话：</span>
								<b class="red1">*</b>
							</dd>
							<dd class="rt2">
								<input class="input1" type="text" id="stRecipientMomile" ng-model="stRecipientMomile" placeholder="" disabled="true">
							</dd>
						</dl>

						<dl class="dl1 clearfloat">
							<dd class="lt1 lt5">
								<span>收件地址邮编：</span><b class="red1">*</b>
							</dd>
							<dd class="rt3">
								<input class="input1" type="text" id="stRecipientPostCode" ng-model="stRecipientPostCode" placeholder="" disabled="true">
							</dd>

							<dd class="lt1 lt5">
								<span>收件地址：</span><b class="red1">*</b>
							</dd>
							<dd class="rt12">
								<input class="input1" type="text" id="stRecipientPostAddress" ng-model="stRecipientPostAddress" placeholder="" disabled="true">
							</dd>
						</dl>

						<dl class="dl1 clearfloat">
							<dd class="lt1 lt5">
								<div class="btnBox2 clearfloat">
									<a ng-click="synchronize()" class="sameAdd2">同居住地址</a>
								</div>
							</dd>
							<dd class="rt1">
								<span style="color: #fff958;">快递服务：将办理结果通过邮政EMS快递至您指定的地址，配送范围限国内，由收件人付费。付费标准根据目的地不同有所差异：对于0.5千克以内的快件，上海市内10元/件，江苏浙江12元/件，安徽14元/件，国内其他地区20元/件。</span>
							</dd>
						</dl>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="next()" next-btn-info="{{nextText}}" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="Smsg" ng-if="SisAlert" confirm="SalertConfirm()" concel="concel"></alert>
<div class="loadingBox" ng-show="!isLoading">
	<img style="margin-left: 909px;margin-top: 460px;" src="../libs/common/images/loadings.gif" alt="">
	<p>正在加载数据，请稍候...</p>
</div>
<style type="text/css">
	#wrapper {
		width: 1600px;
		height: 500px;
	}
	
	.tabelBox1 .dl1 {
		width: 104%;
		margin: 0px auto;
		overflow: hidden;
	}
	
	.tabelBox1 .dl1 .rt11 {
		width: 19.25%;
	}
	
	.main2 {
		margin-left: 40px;
	}
	
	.sameAdd2 {
		float: right;
		width: 150px;
		height: 50px;
		line-height: 50px;
		overflow: hidden;
		background: #B3A1FF;
		margin-top: 0px;
		margin-right: 30px;
		margin-bottom: 20px;
		text-align: center;
		border-radius: 10px;
		font-size: 20px;
	}
	
	#bank a {
		width: 253px;
	}
	
	@media screen and (max-width: 1600px) {
		#wrapper {
			width: 1100px;
			height: auto;
		}
		#widthinfoJybt {
			width: 1100px !important;
			left: 60px !important;
		}
		.navBox {
			margin-left: 31px !important;
		}
		.tabelBox1 .dl1 .lt2 {
			width: 16% !important;
		}
		.tabelBox1 .dl1 .lt5 {
			width: 19% !important;
		}
		.select1{
			width: 90% !important;
		}
		.scrollBox2 .tabelBox1 .psbox1.pad4{
			padding-right: 60px;
		}
	}
</style>