<div class="TabBox1">
	<ul class="navul1 clearfloat">
		<li>选择事项</li>
		<li>人证核验</li>
		<li>信息填写</li>
		<li class="act">在线填报</li>
	</ul>
	<span class="line"></span>

	<div class="navBox2" style="margin-bottom: 5px;"><b>您正在办理：</b><span>{{itemName}}</span></div>

	<div class="main2">
		<div class="stuff" style="margin-left: 110px;">
			<div id="jq22" class="scan" ng-show="scanShow">
				<!--<img data-original="{{stuff.img}}" ng-src="{{stuff.img}}" ng-repeat="(index,stuff) in showImgList track by $index" />-->
				<!--<a ng-click="prevPage()" class="control prev" ng-if="currentPage>1"><img src="../libs/common/images/prevBtn.png" /></a>
				<a ng-click="nextPage()" class="control next" ng-if="currentPage<totalPages"><img src="../libs/common/images/nextBtn.png" /></a>-->
			</div>
			<div class="u-pan" ng-show="upanShow">
				<img style="float: left;height: 100px;width: 100px;" src="images/icon-word.png" />
				<div class="paragraph3" ng-click="open()">{{stuffList[0].fileName}}</div>
			</div>
		</div>
	</div>
	<p ng-show="upanShow" class="pages" style="height: 55px"></p>
	<p ng-show="!upanShow" class="pages">{{currentPage+"/"+totalPages}}</p>
</div>
<!--<div class="large" ng-if="!closeFlag" ng-click="imgShow()">
	<img ng-src="{{largeImg}}" alt="">
	<p>{{largeTips}}</p>
</div>-->
<apptb-footer prev="prev()" default-is-show-next-btn="hidden" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<div class="mask" ng-click="imgShow()" ng-class="{'show':closeFlag===false}"></div>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style type="text/css">
	.pages {
		margin-top: -75px;
		text-align: center;
		font-size: 50px;
	}
	
	.main2 {
		height: 540px;
		width: 1900px;
		margin-left: 44px;
		margin-bottom: 0px;
	}
	
	.viewer-button {
		width: 150px;
		height: 150px;
		border-radius: 32%;
	}
	
	.viewer-close:before {
		width: 100%;
		height: 100%;
		background: url(../libs/common/images/guanbi.png) no-repeat;
		background-size: 100px 100px;
		background-position: 0px 50px;
	}
	
	.paragraph3 {
		float: left;
		line-height: 100px;
		font-size: 40px;
		margin-left: 40px;
	}
	
	.btn {
		position: absolute;
		top: 163px;
		left: 1033px;
		width: 275px;
		height: 275px;
		background: #2964B0;
	}
	
	.scan {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		/* margin: 30px auto; */
		width: 1382px;
		height: 440px;
		background: url(../libs/common/images/bg-dzzz.png) no-repeat;
		background-size: 100% 100%;
	}
	
	.scan img {
		transition: all 300ms;
		max-height: 85%;
		width: 25%;
	}
	
	.scan .control {
		position: absolute;
		display: block;
		height: 100px;
		width: 100px;
		top: 50%;
		margin-top: -50px;
	}
	
	.scan .control img {
		height: 100%;
		width: 100%;
	}
	
	.control.prev {
		left: -110px;
	}
	
	.control.next {
		right: -110px;
	}
	
	.u-pan {
		position: absolute;
		width: 520px;
		height: 100px;
		top: 38%;
		left: 29%;
	}
	
	.mask {
		position: absolute;
		margin: auto;
		display: none;
		background-color: rgba(0, 0, 0, 0.6);
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 9;
	}
	
	.mask.show {
		display: block;
	}
	
	.large {
		position: absolute;
		text-align: center;
		top: 50px;
		z-index: 19;
		height: 900px;
		width: 100%;
		left: 50%;
		margin-left: -50%;
	}
	
	.large .close {
		display: block;
		position: absolute;
		color: red;
		font-size: 40px;
		height: 50px;
		width: 150px;
		right: 310px;
		top: 0px;
	}
	
	.large img {
		user-select: none;
		height: 100%;
	}
	
	.large p {
		font-size: 30px;
		color: #fff;
	}
	@media screen and (max-width: 1600px){
		.main2 {
		height: 486px;
		width: 1200px;
		margin-left: 44px;
		margin-bottom: 0px;
	}
	}
</style>