<div class="TabBox1">
	<ul class="navul1 clearfloat">
		<li>选择事项</li>
		<li>人证核验</li>
		<li>信息填写</li>
		<li class="act">在线填报</li>
	</ul>
	<span class="line"></span>
	<div class="navBox2"><b>您正在办理：</b><span>生育保险---材料上传</span></div>

	<div class="main2">
		<div class="scrollBox2 clearfloat">
			<div id="wrapper">
				<!--<div class="oldBox1">
                <ul class="oldul1 clearfloat" ng-repeat="(index,stuff) in listImg">
                    <li class="clearfloat">
                        <h3>{{stuff.stuffName}}<b>*</b><span style="font-size:24px; font-weight:bold;" ng-show="{{stuff.index==5}}">（请在申报完成后凭自助办理凭条扫码将原件放置证照柜中）</span></h3>
                        <a ng-click="toUploadMaterial(stuff.index,stuff.stuffName,stuff.affairscode,stuff.archivescode,stuff.needflag)" class="bggreen4" ng-show="{{stuff.index!=5}}">上传</a>
                        <a ng-click="view(stuff.index)" class="bgpurple2" ng-show="{{stuff.upload2}}" class="bgpurple2" style="width: 420px;font-size:18px;">由市电子证照库自动调出，点击预览</a>
                    	<a ng-click="view(stuff.index)" ng-show="{{stuff.upload3}}" class="bgpurple2">预览</ a>
                    		
                    	
                    </li>
                </ul>
            </div>-->
				<div style="width:1800px">
					<div class="linkt" ng-repeat="(index,stuff) in listImg">
						<div class="select">
							<div class="stuff">
								<font color='red'>*</font>
								{{stuff.stuffName}}
								<font style="font-size:24px; font-weight:bold;" ng-show="{{stuff.index==5}}">（请在申报完成后凭自助办理凭条扫码将原件放置证照柜中）</font>
							</div>
							<div ng-click="view(stuff.index)" ng-show="{{stuff.upload2}}" class="upload2">
								由市电子证照库自动调出，点击预览
							</div>
							<div ng-click="view(stuff.index)" ng-show="{{stuff.upload3}}" class="view">
								预览
							</div>
							<div ng-click="toUploadMaterial(stuff.index,stuff.stuffName,stuff.affairscode,stuff.archivescode,stuff.needflag)" ng-show="{{stuff.index!=5}}" class="upload">
								上传
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<apptb-footer prev="prevStep()" next="submit()" next-btn-info="{{nextText}}" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style type="text/css">
	#wrapper {
		width: 1800px;
		height: 505px;
	}
	
	#linkt {
		position: absolute;
		top: 100px;
		left: 0px;
	}
	
	.select {
		float: left;
		width: 1500px;
		height: 123px;
		overflow: hidden;
		font-size: 30px;
		background: #2864b0;
		white-space: nowrap;
		text-overflow: ellipsis;
		position: relative;
		background: url(./images/bg-xLlist.png) no-repeat;
	}
	
	.stuff {
		line-height: 123px;
		max-width: 1430px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-left: 20px;
		padding-left: 50px;
	}
	
	.upload2 {
		width: 400px;
		height: 50px;
		line-height: 50px;
		position: absolute;
		top: 37px;
		left: 885px;
		font-size: 20px;
		text-align: center;
		background: url(./images/print.png) no-repeat;
		background-size: 400px 50px;
	}
	
	.upload {
		width: 130px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		position: absolute;
		top: 37px;
		background: url(./images/print.png) no-repeat;
		font-size: 20px;
		left: 1300px;
	}
	
	.view {
		width: 130px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		position: absolute;
		top: 37px;
		background: url(./images/print.png) no-repeat;
		font-size: 20px;
		left: 1135px;
	}
</style>