<style type="text/css">
	.scrollBox2 {
		width: 1500px;
		height: 600px;
		margin-top: 1%;
		margin-left: 11%;
	}
	
	.caption {
		margin-top: 86px;
   		margin-left: 220px;
	}
	
	#wrapper {
		width: 1300px;
		height: 600px;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-position:0px -25px;
		background-size:1200px 650px;
	}
	
	.sDetail{
		float: left;
		width: 1300px;
    	height:100%;
		overflow: hidden;
		/* background: url('../libs/common/images/bg-bigList.png') no-repeat; */
		/* background-size: 100% 100%; */
		margin-top: 10px;
		margin-left: 145px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		/* padding-top: 2%; */
	
		
	}
	.sDetail1{
		float: left;
		width: 1300px;
    	height:100%;
		overflow: hidden;
		/* margin-top: 10px; */
		margin-left: -76px;
		/* margin-bottom: 40px; */
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		/* padding-top: 2%; */
	
		
	}
	.sDetail1 .line1 {
		margin-top: 30px;
	    /* height: 400px; */
	    width: 54%;
	    margin: 0.9% auto;
	
	
	}
	.sDetail1 .line1 .img-container {
		width: 200px;
		height: 280px;
		float:left;
		margin-left: 15px;
		margin-top: 10px;
	}
	
	
	.sDetail .line1 dl {
		/* white-space: normal; */
		width: 90%;
		float: left;
		margin-right: 500px;
		/* height: 100%; */
		line-height: 150%;
		margin-top: 30px;
	}
	.sDetail dl {
		white-space: normal;
		width: 80%;
		float: left;
		margin-right: 100px;
	
		height: 100%;
		line-height: 150%;
	}
	.sDetail b {
		width: 20%;
		display: block;
		float: left;
		/* margin-left: -150px; */
		font-weight: bold;
	}
	.sDetail dd{
		margin-top: 100px;
	}
	
	.select {
		float: left;
		width: 600px;
    	height: 230px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 100% 100%;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		padding-top: 1%;
	}
	
	.select dd {
	margin-top: 30px;
    height: 80px;
    width: 74%;
    margin: 2.6% auto;
	}
	
	.select dl {
		white-space: normal;
		width: 100%;
		height: 100%;
		line-height: 150%;
	}
	
	.select b {
		width: 130px;
		display: block;
		float: left;
		font-weight: bold;
		text-align: justify;
		text-align-last: justify;
		/* -ms-text-justify: inter-ideograph; */
		-ms-text-align-last: justify;
	}
	
	@media screen and (max-width: 1600px) {
		.scrollBox2 {
		width: 1000px;
		height: 600px;
		margin-top: 3%;
		margin-left: 10%;
	   }
	   #wrapper {
		width: 1000px;
		height: 100%;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-position:0px -25px;
		background-size:1000px 650px;
	}
		.bg-middle {
				background-size: 100% 80%;
			}
		.caption {
			margin-left: 80px !important;
				margin-top: 60px !important;
			}
		.linkt {
			left: 10px;
		}
		.sDetail{
		float: left;
		width: 1000px;
    	height: 100%;
		overflow: hidden;
		/* background: url('../libs/common/images/bg-bigList.png') no-repeat; */
		/* background-size: 100% 100%; */
		margin-top: 10px;
		margin-left: 45px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		padding-top: 2%;
	 }
	 .sDetail .line1 {
		margin-top: 30px;
	    /* height: 400px; */
	    width: 54%;
	    margin: 0.9% auto;
	
	}
	
	
	.sDetail .line1 dl {
		/* white-space: normal; */
		width: 90%;
		float: left;
		margin-right: 500px;
		/* height: 100%; */
		line-height: 150%;
	}
	.sDetail dl {
		white-space: normal;
		width: 80%;
		float: left;
		margin-right: 100px;
	
		height: 100%;
		line-height: 150%;
	}
	.sDetail b {
		width: 25%;
		display: block;
		float: left;
		margin-left: -150px;
		font-weight: bold;
		/* text-align: justify;
		text-align-last: justify;
		-ms-text-align-last: justify; */
	}

	 .select {
		float: left;
		width: 600px;
    	height: 230px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 100% 100%;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		padding-top: 1%;
	}
	
	.select dd {
	margin-top: 30px;
    height: 80px;
    width: 74%;
    margin: 2.6% auto;
	}
	
	.sDetail .line1 dl {
		
		width: 110%;
		float: left;
		margin-right: 200px;
		height: 100%;
		line-height: 150%;
	}
	
	.select b {
		width: 130px;
		display: block;
		float: left;
		font-weight: bold;
		text-align: justify;
		text-align-last: justify;
		/* -ms-text-justify: inter-ideograph; */
		-ms-text-align-last: justify;
	}
	}
</style>
<p class="caption">{{ spaceInfoList.ORG_NAME || "------"}}</p>
<div class="scrollBox2 clearfloat">
	<div id="wrapper" class="wrapper">
		<div>
			<div class="detailInfo">
				<a class="sDetail">
				 <dd class="line1">	
						<dl><b>地址：</b>{{ spaceInfoList.COM_ADDR || "------"}}</dl>
					</dd>
					<dd class="line1">
						<dl><b>联系电话：</b>{{ spaceInfoList.LINK_TEL || "------"}}</dl>
					</dd>
					
				</a>
				<a class="sDetail1">
					   <dd class="line1">
						   <div  ng-repeat="list in spaceInfoList.FILE_PATH">
							   <img ng-src="{{list.FILE_PATH}}" class="img-container">
						   </div>
						   
						   <!-- <dl><b>图片地址：</b>{{ list.FILE_PATH || "------"}}</dl> -->
					   </dd>
					   
				   </a>
			</div>
		</div>
	</div>
</div>
<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" next="nextStep()" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>