<style type="text/css">
.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	.linkt {
		position: relative;
		width: 1800px;
		top: 65px;
		left: 150px;
	}
	
	#wrapper {
		width: 1800px;
		height: 655px;
	}
	
	.select {
		float: left;
		width: 700px;
		height: 280px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 700px 280px;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
	}
	
	.select dd {
		margin-left: 50px;
		margin-top: 14px;
		height: 40px;
	}
	
	.select dl {
		white-space: normal
	}
	
	.select b {
		width: 130px;
		display: block;
		float: left;
		font-weight: bold;
	}
	
	.select span {
		display: block;
		float: left;
		width: 500px;
	}
	@media screen and (max-width: 1600px) {
		#wrapper {
		    width: 100%;
		    height: 580px;
		}
		.scrollContain {
			width: 100%;
		}
		.linkt {
		    position: static;
		    width: 100%; 
		    float: left;
		    padding: 0px 40px;
    		box-sizing: border-box;
		}
		.select {
		    float: left;
		    width: 100%;
		    height: 280px;
		    overflow: hidden;
		    background: url(../libs/common/images/bg-bigList.png) no-repeat;
		    background-size: 100% 100%;
		    margin-left: 0px; 
		    margin-bottom: 0px; 
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    font-size: 25px;
		}
	}
	.tipWxtstext{
		font-size: 20px;
		color:#DEC70F;
		font-weight:900;
		display: inline-flex;
		width: 86%;
		justify-content: flex-end;
	}
</style>
<div class="contain">
	<p class="caption">{{funName}}--查询结果（{{listLength}}条）</p>
	<div class="tipWxtstext">
		温馨提示：信息查询仅供参考
	</div>
	<div class="scrollBox2 clearfloat">
		<div id="wrapper" class="wrapper">
			<div>
				<div class="linkt" ng-repeat="list in queryList">
					<a class="select">
						<dd style="margin-top: 50px;">
							<dl><b>机构名称：</b><span>{{ list.jgmc }}</span></dl>
						</dd>
						<dd>
							<dl><b>所属区域：</b>{{ list.area_idsm }}</dl>
						</dd>
						<dd>
							<dl><b>地址：</b><span>{{ list.address }}</span></dl>
						</dd>
						<dd>
							<dl><b>电话：</b>{{ list.telephone ||"暂无"}}</dl>
						</dd>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>