<div class="contain">
	<div class="stable">
		<div class="my-card">
			<div class="head">
				<h4>基本信息</h4>
			</div>
			<div class="body">
				<table class="table-sty1" cellspacing="0">
					<tr>
						<th>姓名：</th>
						<td style="color:#e1ba1c;">{{stName}}</td>
						<th>性别：</th>
						<td>{{sex}}</td>
					</tr>
					<tr>
						<th>公民身份号码：</th>
						<td>{{stIdCard}}</td>
						<th>详情：</th>
						<td>{{result}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" next-btn-info="{{nextText}}" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<style type="text/css">
	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
	.close {
		    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 845px;
    background: url(../libs/common/images/print.png) no-repeat;
    font-size: 20px;
    left: 895px;
	}
</style>