<apptb-header custom-home="true" fun-name="我的信息" home="customMain()" go-back="goAppHistoryBack()"></apptb-header>
<p class="caption">{{operation}}</p>
<div class="scrollBox2 clearfloat">
	<idcard read="idcardLogin(info,images)" ng-if="loginType == 'idcard'"></idcard>
	<recognition result="getResult(img)" face-image="{{faceImage}}" ng-if="loginType == 'recognition'"></recognition>
	<ca result="caInfo(companyName,companyNo)" ng-if="loginType == 'ukey'" login="caLoginStatus"></ca>
	<citizen-cloud result="citizenLogin(info)" ng-if="loginType == 'cloud'"></citizen-cloud>
</div>
<zalert msg="msg" ng-if="isAlert" confirm="alertConfirm()"></zalert>
<app-footer prev="prevStep()" next="" default-next="hidden">
	<a href="javascript:;" class="continue" ng-if="loginBtn" ng-click="caLogin()">登录</a>
</app-footer>
<style type="text/css">
	ca {
		display: block;
		margin-top: 150px;
	}
	
	.stamp {
		margin-left: 60px;
	}
	
	citizen-cloud {
		margin-top: 84px;
		display: block;
	}
	
	citizen-cloud .scrollBox2 .cardreadingBox1 img {
		width: 1300px
	}
	
	.scrollBox2 .linkBox1 {
		padding-left: 600px;
		text-align: center;
		margin-top: 134px;
	}
</style>