<style type="text/css">
	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
	.scrollBox2 {
		height: 640px;
		overflow: scroll;
		-ms-overflow-style: none;
	}
	
	.scrollBox2::-webkit-scrollbar {
		display: none;
	}
	
	.input {
		width: 100%;
		height: 60px;
		background: rgba(255, 255, 255, .25);
		box-sizing: border-box;
		display: inline-block;
		border: none;
		outline: none;
		font-size: 24px;
		color: #FFF;
		padding-left: 15px;
	}
	
	.input::-webkit-input-placeholder {
		color: #fff;
	}
	
	.input:-ms-input-placeholder {
		color: #fff;
	}
	
	.infoTable {
		margin-top: 30px;
		width: 97%;
		margin-left: -48px;
		font-size: 24px;
	}
	
	.infoTable th {
		width: 13%;
		text-align: right;
		height: 85px;
	}
	
	.infoTable td {
		width: 22%;
		height: 85px;
	}
	
	td a {
		float: left;
		width: 37.6%;
		height: 70%;
		overflow: hidden;
		border: 1px solid rgba(233, 237, 240, .4);
		text-align: center;
		display: inline-block;
		line-height: 66px;
		padding: 0px 20px;
	}
	
	td a.in:after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 78px;
		height: 68px;
		overflow: hidden;
		background: url(../libs/common/images/check1.png) no-repeat;
	}
	
	.select {
		font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
		width: 100%;
		padding: 10px 10px;
		line-height: 40px;
		height: 60px;
		overflow: hidden;
		display: inline-block;
		border: none;
		background: url("../libs/common/images/icon-square.png") no-repeat 95% 20px rgba(255, 255, 255, .25);
		font-size: 24px;
		color: #FFF;
		position: relative;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	
	.select option {
		color: #333;
	}
	
	.red {
		color: red;
		margin-right: 10px;
	}
	
	.getButton {
		width: 200px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background: url(../libs/common/images/print.png) no-repeat;
		background-size: 100% 100%;
		font-size: 24px;
		margin-left: 95px;
	}
	
	.checkTable {
		width: 97%;
		margin-bottom: 20px;
		margin-left: 50px;
	}
	
	.checkTable td {
		height: 85px;
	}
	
	.checkTable .checkBoxTip {
		float: left;
		line-height: 70px;
	}
	
	.checkTable .checkBoxA {
		float: left;
		width: 25%;
	}
</style>
<div class="contain">
	<p class="caption">{{ operation }}</p>
	<div class="scrollBox2 clearfloat">
		<form name="infoParams">
			<table class="infoTable">
				<tr>
					<th><b class="red">*</b>姓名：</th>
					<td><input class="input" type="text" id="stName" ng-model="stName" readonly></td>
					<th><b class="red">*</b>证件号码：</th>
					<td><input class="input" type="text" id="stIdCard" ng-model="stIdCard" readonly></td>
				</tr>
				<tr>
					<th><b class="red">*</b>性别：</th>
					<td><input class="input" type="text" id="stSex" ng-model="stSex" readonly></td>
					<th><b class="red">*</b>民族：</th>
					<td>
						<select class="select" id="nation" ng-model="nation" ng-options="x.name for x in nationList">
							<option value="" selected ng-if="false"></option>
						</select>
					</td>
				</tr>
				<tr>
					<th><b class="red">*</b>出生年月：</th>
					<td><input class="input" type="text" id="dtDate" ng-model="dtDate" readonly></td>
					<th><b class="red">*</b>户籍地址：</th>
					<td><input class="input" type="text" id="stAddress" ng-model="stAddress"></td>
				</tr>
				<tr>
					<th><b class="red">*</b>文化程度：</th>
					<td>
						<select class="select" id="per_edudegree" ng-model="per_edudegree" ng-options="x.name for x in edudegreeList">
							<option value="" selected ng-if="false"></option>
						</select>
					</td>
					<th><b class="red">*</b>在沪居住地址：</th>
					<td><input class="input" type="text" id="lxdz" ng-model="lxdz"></td>
				</tr>
				<tr>
					<th><b class="red">*</b>登记类别：</th>
					<td>
						<select class="select" id="stRegisterType" ng-model="stRegisterType" ng-options="x.name for x in stRegisterTypeList">
							<option value="" selected ng-if="false"></option>
						</select>
					</td>
					<th><b class="red">*</b>就业起始日期：</th>
					<td>
						<div class="input-append date form_datetime">
							<input class="input" size="16" type="text" id="jyqsrq" ng-model="jyqsrq" readonly>
							<span class="add-on"><i class="icon-th"></i></span>
						</div>
					</td>
				</tr>
				<tr>
					<th><b class="red">*</b>联系电话：</th>
					<td><input class="input" type="text" id="lxdh" ng-model="lxdh"></td>
					<th><b class="red">*</b>灵活就业所在地址：</th>
					<td><input class="input" type="text" id="jydz" ng-model="jydz"></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" next-btn-info="{{nextText}}" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>