<style type="text/css">
	.title {
		margin-left: 175px;
		margin-bottom: 20px;
		margin-top: 80px;
	}
	
	#wrapper {
		width: 1600px;
		height: 500px;
	}
	
	.detail1 {
		width: 1565px;
	}
	
	.detail1 .dd1 {
		width: 1565px;
		height: 90px;
		background-image: url(image/1.png);
		margin-bottom: 20px;
	}
	
	.detail1 .dd1 p {
		font-size: 34px;
		padding: 20px 85px;
	}
	
	.tips {
		text-align: center;
		margin-bottom: 20px;
	}
	
	.tips b {
		font-size: 34px;
		font-weight: bold;
		margin: 0px 20px;
	}
</style>
<div class="title">
	<img src="image/title.png" />
</div>
<div class="yqMain">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat" id="scrollBox2" style="margin-left: 15px;">
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>上海市</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/9a7taUC0tlKvDHze7_6n9g')">
					<p>•&nbsp;&nbsp;【聚焦】本市各单位支持中小企业进一步减负举措（2月14日）</p>
				</dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/92p6kutLp9OQnOWxHYLXmg')">
					<p>•&nbsp;&nbsp;【最新】减免中小企业房屋租金，市国资委出台细则</p>
				</dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/iufjQ8o4uHoOMgT3Sw8uKQ')">
					<p>•&nbsp;&nbsp;上海再出惠企政策：职工医保费减半征收，社保费暂缓缴纳</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat" style="padding-top: 25px;">
				<dd class="tips"><img src="image/left.png" /><b>区人力资源和社会保障局</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/hJV2FDLD4xUDZcfsY_59Uw')">
					<p>•&nbsp;&nbsp;黄浦区受疫情影响企业职工线上培训补贴政策解读</p>
				</dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/XRstckMjnanvJgOCZTnqfQ')">
					<p>•&nbsp;&nbsp;延长社会保险缴费期报备也可以在“上海社保” 微信公众号上预申报啦！</p>
				</dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/McQaTB2dJaTxV9BkORUwaQ')">
					<p>•&nbsp;&nbsp;特殊时期，黄浦区人社业务怎么办? 您关心的线上业务办理指南来了！</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区财政局</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/XftDj6d8E9xjUK__V1Qg9Q')">
					<p>•&nbsp;&nbsp;100%比例！本市生活服务业中的文化事业建设费缴费人实施财政补贴政策明确</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区司法局</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/z8cbie7-nLT19C7zUn-RZw')">
					<p>•&nbsp;&nbsp;黄浦区司法局为中小微企业抗击疫情提供迅捷、多样法律服务</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>中国人民银行上海市分行</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/RcJ_qZpuS7i2zrSz0rzV4w')">
					<p>•&nbsp;&nbsp;关于为上海市会计师事务所开设企业信用报告查询服务窗口的通知</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区消防</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/QtJGJaMpbqVen-DPtkmNxw')">
					<p>•&nbsp;&nbsp;黄浦区关于近期办理公众聚集场所使用或开业前消防安全检查服务指南</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区绿化和市容管理局</b><img src="image/right.png" /></dd>
				<dd class="dd1">
					<p>•&nbsp;&nbsp;绿化市容项目增设虚拟办理窗口，提供24小时线上咨询</p>
				</dd>
				<dd class="dd1">
					<p>•&nbsp;&nbsp;黄浦区绿化和市容管理局全方位线上咨询和服务指南</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区生态环境局</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/RWYsFwN3U1GP2LQdMsouMA')">
					<p>•&nbsp;&nbsp;抗击疫情、优化服务，区生态环境局行政审批服务不打烊</p>
				</dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/VDnKi0AzUy5BdA-P0Z4NAA')">
					<p>•&nbsp;&nbsp;黄浦区生态环境局全方位线上办理和服务指南</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区科学技术委员会</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/6IZcEuuQwTFz3LUnqtd0UA')">
					<p>•&nbsp;&nbsp;关于黄浦区外国人来华工作许可有关事项实行全程网上办理“不见面”审批的通知</p>
				</dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/RT8qlulEKVOfePFzP-GVfA')">
					<p>•&nbsp;&nbsp;黄浦区新版社保卡网上平台服务指南</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区建设和管理委员会</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/XLmvEKOA8PAAdA6UX26YoA')">
					<p>•&nbsp;&nbsp;建管委窗口多项举措应对疫情，优化审批服务不停步</p>
				</dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/WJHSzrpVL-lndKPTBGH36g')">
					<p>•&nbsp;&nbsp;建设项目窗口高频审批业务办理提示</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区市场监督管理局</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/CnYv98F5t_GsrTy_2voL7w')">
					<p>•&nbsp;&nbsp;黄浦区市场监督管理局全方位线上咨询和服务指南</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区规划和自然资源局</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/CW1F9DDnNf1MK_ymjQ4MUg')">
					<p>•&nbsp;&nbsp;黄浦区规划和自然资源局全方位线上咨询和服务指南</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区卫生健康委员会</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/fEoibOo4-7qshvEjCsF8Mw')">
					<p>•&nbsp;&nbsp;服务疫情当前，《公共场所卫生许可证》如何办？</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区民政局</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/TNoYVLwR8wkRgBywgfUsYQ')">
					<p>•&nbsp;&nbsp;黄浦区民政局（黄浦区社会组织管理局）关于近期办理社会组织事项服务指南</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区税务局</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/qineg_-SpnM8olhkGBIPiQ')">
					<p>•&nbsp;&nbsp;黄浦区税务局疫情防控期间做好纳税服务工作告纳税人书</p>
				</dd>
			</dl>
			<dl class="detail1 clearfloat">
				<dd class="tips"><img src="image/left.png" /><b>区商务委员会</b><img src="image/right.png" /></dd>
				<dd class="dd1" ng-click="choice('https://mp.weixin.qq.com/s/CakEr-4WRcRqoowMRlJkyg')">
					<p>•&nbsp;&nbsp;黄浦区商务委员会全方位线上办理和咨询服务指南</p>
				</dd>
				<dd class="dd1" ng-click="choice('http://mp.weixin.qq.com/s?__biz=Mzg4OTI4ODQ2Ng==&mid=100000444&idx=6&sn=6d9bf21516f823c8759a13eebc0c7e3e&chksm=4fef60c17898e9d7f8a159597418239af50dcf6f5821a3b20d05b73aa79e9dc57222a3bc1be0#rd')">
					<p>•&nbsp;&nbsp;黄浦区企业应对疫情复工、复产、复市指南</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" default-is-show-next-btn="hidden"  go-back="goAppHistoryBack()">
</apptb-footer>