.baseTable{
    width: 840px;
    color: white;
}
.baseTable table{
    width: 100%;
    border-collapse: collapse;
}
.baseTable caption{
    width: 100%;
    height: 36px;
    line-height: 36px;
}
.baseTable th{
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #2D8DDA;
}
.baseTable td{
    border: 1px solid #153A65;
    height: 36px;
    line-height: 36px;
    text-align: center;
}
.baseTableMid tr td,.baseTableBot tr td{
    width: 140px;
}
/*明细*/
.baseDetailTable{
    width: 840px;
    height: 443px;
    color: white;
    position: relative;
}
.baseDetailTable table{
    width: 100%;
    border-collapse: collapse;
}
.baseDetailTable caption{
    width: 100%;
    height: 36px;
    line-height: 36px;
}
.baseDetailTable th{
    width: 17.5%;
    height: 36px;
    line-height: 36px;
    background-color: #2D8DDA;
}
.baseDetailTable th:last-child{
    width: 30%;
}
.baseDetailTable td{
    border: 1px solid #153A65;
    height: 36px;
    line-height: 36px;
    text-align: center;
}
.baseDetailTable td:nth-child(5n){
    line-height: 18px;
}
/**/
.baseDetailTable th{
    border: 1px solid black;
}
.prevPage,.nextPage,.displayPage,.loading{
    display: none;
}