<p class="caption">{{stuffName}}办理须知</p>
<div class="main2" style="width: 1625px;height: 645px;margin-left: 118px;    margin-top: 30px;">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dd ng-bind-html="info | to_trusted">
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" default-is-show-prev-btn="hidden" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
	table th,
	table td {
		border: #477cbe 1px solid;
		text-align: center;
		padding: 8px;
	}
	
	#wrapper {
		width: 1750px;
		height: 600px;
	}
	
	.scrollBox2 .dllist1 {
		margin-left: 150px;
	}
</style>