<style type="text/css">
	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.scrollBox2 .linkBox1 {
		display: flex;
		padding-left: 395px;
		margin-top: 100px;
	}

	.scrollBox2 .linkBox1 a {
		margin-right: 145px;
	}

	@media screen and (min-width:1279px) and (max-width:1281px) {
		.scrollBox2 .linkBox1 {
			padding-left: 150px;
			margin-top: 50px;
		}
	}
</style>
<div class="contain">
	<p class="caption">{{ funName }}</p>
	<div class="scrollBox2 clearfloat">
		<div class="linkBox1 clearfloat">
			<a ng-click="choiceType('handle')">
				<img src="../libs/common/images/newIcon/bookMake.png" />
				<p>立即办理</p>
			</a>
			<a ng-click="choiceType('print')">
				<img src="../libs/common/images/materials-copy.png" />
				<p>打印</p>
			</a>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>