<style type="text/css">
	.scrollBox2 {
		width: 1800px;
		height: 600px;
		margin-top: 1%;
		margin-left: 10%;
	}
	
	.caption {
		margin-top: 86px;
		margin-left: 220px;
	}
	
	.boxList {
		width: 80%;
		/*height: 370px;*/
		height: auto;
		overflow: hidden;
		display: flex;
		justify-content: space-around;
		padding: 40px;
	}
	
	.boxListHead {
		display: flex;
		flex-direction: column;
	}
	
	.boxListHead p {
		font-size: 26px;
		margin: 10px;
	}
	
	.boxListHead p:first-child {
		font-size: 40px;
		font-weight: bold;
	}
	
	.boxListHead b {
		font-weight: bold;
		/*text-align: justify;
		text-align-last: justify;
		-ms-text-justify: inter-ideograph;
		-ms-text-align-last: justify;*/
	}
	
	.boxListFoot {
		display: flex;
		align-items: center;
	}
	
	.boxListFoot img {
		width: 200px;
		height: 200px;
	}
	@media screen and (max-width: 1600px) {
		.scrollBox2{
			width: 1180px;
			overflow: auto;
			height: 560px;
		}
		.boxListHead{
			width: 750px;
		}
		.boxListHead p:first-child{
			font-size: 22px;
		}
		.boxListHead p{
			font-size: 20px;
			margin: 6px;
		}
	}
</style>
<p class="caption">{{funName}}</p>
<div class="scrollBox2 clearfloat">
	<div class="boxList">
		<div class="boxListHead">
			<p>{{list.OrgName}}</p>
			<p><b>地址</b>：{{list.Address}}</p>
			<p><b>许可证</b>：{{list.License}}</p>
			<p><b>经营范围</b>：{{list.Scope}}中型饭店（热食类食品制售）</p>
			<p><b>检查日期</b>：{{list.CheckDate | limitTo:10}}</p>
			<p><b>有效期</b>：{{list.Expiration | limitTo:10}}</p>
			<p><b>日常监督管理机构</b>：{{list.Regulator}}</p>
		</div>
		<div class="boxListFoot"><img ng-src="{{list.CheckResult|to_replace}}" /></div>
	</div>
</div>
<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" next="nextStep()" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>