<style type="text/css">
	#wrapper {
		height: 550px;
		position: relative;
	}
	
	#infoForm .inputBox {
		width: 47%;
		height: 70px
	}
	
	.inputBox>label {
		width: 270px;
	}
	
	#infoForm .inputBox select,
	#infoForm .inputBox input[type=textarea] {
		width: 55%;
		background-color: rgba(200, 200, 200, 0.8);
		min-height: 20px;
		min-width: 20px;
		padding: 15px;
		font-size: 0.8em;
		box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px inset;
		border-radius: 8px;
		border: 0;
	}
	
	#infoForm .inputBox input[type=textarea] {
		width: 50%;
		vertical-align: middle;
		height: 58%;
	}
	
	#infoForm .content {
		padding-bottom: 15px;
		width: 95%;
	}
	
	#infoForm .inputBox input[type=text] {
		width: 50%;
	}	
	.datetimepicker {
		display: none;
		position: absolute;
		font-size: 24px;
		background-color: white;
		color: black;
		padding: 5px 20px;
		background: rgba(255, 255, 255, 0.95);
	}
	
	/*.datetimepicker td,
	.datetimepicker th {
		padding: 2px 10px;
	}*/
	#font_24 {
		font-size: 24px;
	}
	/*日期控件相关*/
	.layui-laydate-main{
		width: 440px !important;
	}
	.laydate-set-ym span, .layui-laydate-header i{
		font-size: 30px;
	}
	.layui-laydate-content td, .layui-laydate-content th{
		padding: 5px 15px !important;
		font-size: 26px !important;
	}
	.layui-laydate-header{
		line-height: 50px !important;
	}
	.layui-laydate-footer span{
		font-size: 32px !important;
		border: none;
	}
	.layui-laydate-footer{
		height: 50px !important;
		line-height: 50px !important;
	}
</style>
<nav>
	<ol class="breadcrumb">
		<li>
			<a ng-click="Home()"><img src="images/home.png" height="30"></a>
		</li>
		<li>
			<a href="#list">自助申报</a>
		</li>
		<li>
			<a href="#">{{itemName}}</a>
		</li>
		<li>
			<a href="#guideline">办事指南</a>
		</li>
		<li>
			<a href="#main">实名认证</a>
		</li>
		<li class="active">基本信息</li>
	</ol>
</nav>
<div class="board">
	<div class="action right-info" style="background: none; width: 100%;left: 0;">
		<div class="right-input" style="width: 97%; margin: 2% auto;">
			<form id="infoForm" method="get">
				<div style="text-align: center; margin-bottom: 10px; color: #1566aa;width: 97%;">
					{{fullItemName}}
				</div>
				<div id="wrapper">
					<div class="infoContent" style="margin-left: 2.4%;margin-top: 1%;width: 1550px; display: flex; display: -ms-flexbox; flex-flow: wrap;-ms-flex-wrap: wrap;justify-content: space-between;-ms-flex-pack: justify;align-content: flex-start;">
						<div style="width: 100%; margin: 10px;">
							<hr style="width:40%;border-top:3px dashed #000; height:1px;float: left;">
							<span style=" text-align: center;font-weight: bold;">&emsp;&nbsp;基本信息 </span>
							<hr style="width:38%;border-top:3px dashed #000; height:1px;float: right;">
						</div>
						<div class="inputBox">
							<label class="true">单位名称</label>
							<input type="text" id="targetName" ng-model="targetName"/>
						</div>
						<div class="inputBox">
							<label class="">单位类型</label>
							<select ng-model="selected_st_org_type" ng-options="x.name for x in ST_ORG_TYPE"></select>
						</div>
						<div class="inputBox">
							<label class="true">统一社会信用代码</label>
							<input type="text" id="targetNo" ng-model="targetNo"/>
						</div>
						<div class="inputBox">
							<label class="true">联系人姓名</label>
							<input type="text" id="ST_LINK_NAME" ng-model="ST_LINK_NAME"/>
						</div>
						<div class="inputBox">
							<label class="true">法定代表人姓名</label>
							<input type="text" id="ARTIFICIALPERSON" ng-model="ARTIFICIALPERSON"/>
						</div>
						<div class="inputBox">
							<label class="true">联系地址</label>
							<input type="text" id="ST_LINK_ADDRESS" ng-model="ST_LINK_ADDRESS"/>
						</div>
						<div class="inputBox">
							<label class="true">单位地址</label>
							<input type="text" id="APPADDRESS" ng-model="APPADDRESS"/>
						</div>
						<div class="inputBox">
							<label class="true">单位邮编</label>
							<input type="text" id="APPPOST" ng-model="APPPOST"/>
						</div>
						<div class="inputBox">
							<label class="true">固定电话</label>
							<input type="text" id="DWTEL" ng-model="DWTEL"/>
						</div>
						<div class="inputBox">
							<label class="true">手机号码</label>
							<input type="text" id="mobile" ng-model="mobile"/>
						</div>
						<div class="inputBox">
							<label class="">电子邮件</label>
							<input type="text" id="DWEMAIL" ng-model="DWEMAIL"/>
						</div>
						<div class="inputBox">
							<label class="">法人电话</label>
							<input type="text" id="ARTPHONE" ng-model="ARTPHONE"/>
						</div>
						<div class="inputBox">
							<label class="">法人手机</label>
							<input type="text" id="ARTMPHONE" ng-model="ARTMPHONE"/>
						</div>
						<div class="inputBox">
							<label class="">法人传真</label>
							<input type="text" id="ARTFAX" ng-model="ARTFAX"/>
						</div>
						<div class="inputBox">
							<label class="">联系人传真</label>
							<input type="text" id="LINKFAX" ng-model="LINKFAX"/>
						</div>
						<div class="inputBox">
							<label class="">申请内容</label>
							<input type="textarea" id="ST_CONTENT" ng-model="ST_CONTENT"/>
						</div>
						<div style="width: 100%; margin: 10px;">
							<hr style="width:40%;border-top:3px dashed #000; height:1px;float: left;">
							<span style=" text-align: center;font-weight: bold;">&emsp;&nbsp;工程信息 </span>
							<hr style="width:38%;border-top:3px dashed #000; height:1px;float: right;">
						</div>
						<div class="inputBox">
							<label class="true">行政区</label>
							<select ng-model="selected_districts" ng-options="x.name for x in DISTRICTS"></select>
						</div>
						<div class="inputBox">
							<label class="true">证件类型</label>
							<select ng-model="selected_zzjglx" ng-options="x.name for x in ZZJGLX"></select>
						</div>
						<div class="inputBox">
							<label class="true">证件号</label>
							<input type="text" id="COMPANYCODE" ng-model="COMPANYCODE"/>
						</div>
						<div class="inputBox">
							<label class="true">统一编码</label>
							<input type="text" id="WSLBH" ng-model="WSLBH"/>
						</div>
						<div class="inputBox">
							<label class="true">单位名称</label>
							<input type="text" id="APPLIER" ng-model="APPLIER"/>
						</div>
						<div class="inputBox">
							<label class="true">设立时间</label>
							<input style="margin-left: 10px;" size="16" type="text" id="SLDATE" ng-model="SLDATE" readonly>
						</div>
						<div class="inputBox">
							<label class="">单位地址</label>
							<input type="text" id="APPADDRESS" ng-model="APPADDRESS"/>
						</div>
						<div class="inputBox">
							<label class="">联系电话</label>
							<input type="text" id="LINKPHONE" ng-model="LINKPHONE"/>
						</div>
						<div class="inputBox">
							<label class="">邮编</label>
							<input type="text" id="LINKPOSTCODE" ng-model="LINKPOSTCODE"/>
						</div>
						<div class="inputBox">
							<label class="">传真</label>
							<input type="text" id="LINKFAX" ng-model="LINKFAX"/>
						</div>
						<div class="inputBox">
							<label class="">电子邮件</label>
							<input type="text" id="LINKEMAIL" ng-model="LINKEMAIL"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 30px;">工商营业执照注册号</label>
							<input type="text" id="GSZCH" ng-model="GSZCH"/>
						</div>
						<div class="inputBox">
							<label class="">发证机关</label>
							<input type="text" id="FZDEPART" ng-model="FZDEPART"/>
						</div>
						<div class="inputBox">
							<label class="">注册资金</label>
							<input type="text" id="ZCFINACE" ng-model="ZCFINACE"/>
						</div>
						<div class="inputBox">
							<label class="">经济性质</label>
							<input type="text" id="JJTYPE" ng-model="JJTYPE"/>
						</div>
						<div class="inputBox">
							<label class="">开户银行</label>
							<input type="text" id="KHBANK" ng-model="KHBANK"/>
						</div>
						<div class="inputBox">
							<label class="">开户银行账号</label>
							<input type="text" id="KHBANKCODE" ng-model="KHBANKCODE"/>
						</div>
						<div class="inputBox">
							<label class="">计量认证书号</label>
							<input type="text" id="JLRZH" ng-model="JLRZH"/>
						</div>
						<div class="inputBox">
							<label class="">发证机关</label>
							<input type="text" id="FZDEPART2" ng-model="FZDEPART2"/>
						</div>
						<div class="inputBox">
							<label class="">法定代表人</label>
							<input type="text" id="ARTIFICIALPERSON" ng-model="ARTIFICIALPERSON"/>
						</div>
						<div class="inputBox">
							<label class="">法定代表人职务</label>
							<input type="text" id="POSITION" ng-model="POSITION"/>
						</div>
						<div class="inputBox">
							<label class="">法定代表人职称</label>
							<input type="text" id="CPOSITION" ng-model="CPOSITION"/>
						</div>
						<div class="inputBox">
							<label class="">技术负责人</label>
							<input type="text" id="JSFZR" ng-model="JSFZR"/>
						</div>
						<div class="inputBox">
							<label class="">技术负责人职务</label>
							<input type="text" id="JSPOSITION" ng-model="JSPOSITION"/>
						</div>
						<div class="inputBox">
							<label class="">技术负责人职称</label>
							<input type="text" id="JSCPOSITION" ng-model="JSCPOSITION"/>
						</div>
						<div class="inputBox">
							<label class="">在编总人数</label>
							<input type="text" id="ZBZRS" ng-model="ZBZRS"/>
						</div>
						<div class="inputBox">
							<label class="">专业技术人数</label>
							<input type="text" id="ZYJSRS" ng-model="ZYJSRS"/>
						</div>
						<div class="inputBox">
							<label class="">高级职称人数</label>
							<input type="text" id="GJZCRS" ng-model="GJZCRS"/>
						</div>
						<div class="inputBox">
							<label class="">中级职称人数</label>
							<input type="text" id="ZJZCRS" ng-model="ZJZCRS"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 28px;vertical-align: middle;">仪器设备<br/>总台（套）数</label>
							<input type="text" id="YQZS" ng-model="YQZS"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 28px;vertical-align: middle;">仪器设备固定资产<br/>原值（万元）</label>
							<input type="text" id="YQGDZS" ng-model="YQGDZS"/>
						</div>
						<div class="inputBox">
							<label class="">工作面积（m2）</label>
							<input type="text" id="GZMJ" ng-model="GZMJ"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 28px;">房屋建筑面积（m2）</label>
							<input type="text" id="FWJZMJ" ng-model="FWJZMJ"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 30px;">申请资质类别和等级</label>
							<input type="text" id="SQZZLB" ng-model="SQZZLB"/>
						</div>
						<div class="inputBox">
							<label class="">备注</label>
							<input type="text" id="BEIZHU" ng-model="BEIZHU"/>
						</div>
					</div>
				</div>
			</form>
		</div>
		<a class="btn_radius_50" ng-click="goNext()" style="left: 42%;">
			<div class="greyLight">
				<img src="images/ok.png" width="50" height="50" style="margin: 15px 0 15px 15px;">
				<label>继续</label>
			</div>
		</a>
	</div>
</div>