<apptb-header custom-home="true" fun-name="主题服务" home="customMain()" go-back="goAppHistoryBack()"></apptb-header>
<ul class="container">
	<li ng-click="goToApp('../synthesize/index.html')">
		<img src="../libs/common/images/icon/ggkz.png" />
		<p>
			一窗通
		</p>
	</li>
	<li ng-click="choice('http://gcls.sh.gov.cn/urpfront/#/ui/user/login')">
		<img src="../libs/common/images/icon/ddsw.png" />
		<p>
			建设工程联审共享平台
		</p>
	</li>
	<li ng-click="goToApp('../sqfw/index.html#/guidelineJybt')">
		<img src="../libs/common/images/icon/rszz.png" />
		<p>
			就业两项补贴</br>一件事
		</p>
	</li>
	<li ng-click="goToApp('../sqfw/index.html#/guidelineSybx')">
		<img src="../libs/common/images/icon-link3.png" />
		<p>
			生育保险</br>一件事
		</p>
	</li>
	<li ng-click="goToApp('../sqfw/index.html#/guidelineJygx')">
		<img src="../libs/common/images/icon-link3.png" />
		<p>
			异地就医</br>一件事
		</p>
	</li>
</ul>
<style type="text/css">
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 80px auto;
		align-items: flex-start;
		width: 1300px;
		height: 800px;
	}
	
	.container li {
		margin-left: 120px;
		text-align: center;
		height: 300px;
		width: 300px;
	}
	
	.container li>img {
		margin-top: 80px;
	}
	
	.container li>p {
		margin: 0 auto;
		margin-top: 20px;
		width: 226px;
		font-size: 37px;
	}
	
	.container li:nth-of-type(1) {
		background-color: #0078d7;
		margin-left: 335px;
	}
	
	.container li:nth-of-type(2) {
		background-color: #50a299;
		margin-right: 220px;
	}
	
	.container li:nth-of-type(3) {
		background-color: #8973b4;
	}
	
	.container li:nth-of-type(4) {
		background-color: #10d367;
	}
	
	.container li:nth-of-type(5) {
		background-color: #ffb347;
	}
	
	.container li:nth-of-type(6) {
		background-color: #fc6392;
	}
</style>