<p class="caption">{{stuffName}}</p>
<div class="main3" id="print1" style="height:680px">
	<div style="margin-top: 50px;">
		<div class="successBox1">
			<div class="shadow1"></div>
			<div class="successBox2">
				<div class="cont1">
					<h3 style="margin-left: 45px;">办理成功！</h3>
					<p class="p1">事项名称</p>
					<p class="p2">{{stuffName}}</p>
				</div>
				<div class="line1"></div>
				<div class="cont1">
					<p class="p1">温馨提示：</p>
					<p class="p3">约30分钟后，申请人可在自助终端上打印带有档案馆电子印章的档案复制件</p>
				</div>
				<div class="line2"></div>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()"default-is-show-prev-btn="hidden"  next-btn-info="{{nextText}}" custom-home="true" home="customMain()"go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption{
		margin-top: 80px;
		margin-left: 200px;
	}
	.successBox2 .cont1 .p3 {
		line-height: 40px;
		font-size: 26px;
		color: #333;
		font-family: "Microsoft YaHei";
		margin-bottom: 24px;
		margin-left: 30px;
		margin-right: 30px;
	}
	
</style>