<style type="text/css">
	.uniqueId {
		margin-left: 1700px;
		color: #0296CF;
		margin-top: -7px;
	}
	
	#wrapper1 {
		width: 100%;
		height: 870px;
		overflow-y: scroll;
		-ms-overflow-style: none;
	}
	
	#wrapper1::-webkit-scrollbar {
		display: none;
	}
	
	.main5 {
		overflow: hidden;
	}
	
	.main5 .lt3 {
		width: 890px;
		margin-left: 110px;
	}
	
	.main5 .navBox3 a .p1 {
		font-weight: bold;
	}
	/**
	 * 2020.1.3
	 */
	
	.self .tip {
		font-weight: bold;
		width: 82px;
		font-size: 31px;
		color: #19aae2;
		margin-top: 10px;
		margin-left: 25px;
		float: left;
	}
	
	.self .tip1 {
		width: 242px;
		font-size: 25px;
		color: #19aae2;
		margin-top: 17px;
		float: left;
	}
	
	.main5 .lt4 {
		width: auto;
	}
	
	.main5 .navBox4 {
		/*margin-bottom: 55px;*/
	}
	
	.main5 .navBox4 a .p1 {
		height: 91px;
		line-height: 100px;
		overflow: hidden;
		font-size: 32px;
		font-weight: bold;
		color: #19aae2;
	}
	
	.main5 .navBox4 a {
		/*float: left;*/
		display: inline-block;
		/* width: 180px; */
		padding: 0px 40px;
		height: 100px;
		margin-left: 10px;
		margin-bottom: 16px;
		text-align: center;
		background: url(libs/common/images/bg-nav3.png) no-repeat;
		background-size: 100% 100%;
		line-height: 100px;
		overflow: hidden;
		font-size: 32px;
		font-weight: bold;
		color: #19aae2;
	}
	
	.main5 .navBox5 {
		margin-bottom: 55px;
	}
	
	.main5 .navBox5 a .p1 {
		height: 91px;
		line-height: 100px;
		overflow: hidden;
		font-size: 32px;
		font-weight: bold;
		color: #19aae2;
	}
	
	.main5 .navBox5 a {
		float: left;
		width: 375px;
		height: 100px;
		margin-left: 10px;
		margin-bottom: 16px;
		text-align: center;
		background: url(libs/common/images/bg-nav2.png) no-repeat;
		background-size: 375px 100px;
	}
	
	.main5 .navBox5 a .imgbox1 {
		height: 75px;
		width: 75px;
		margin-left: 50px;
		margin-top: 16px;
		float: left;
	}
	
	.main5 .navBox5 a .imgbox1 img.mart1 {
		margin-top: 0px;
	}
	
	.main5 .navBox5 a .imgbox1 img {
		height: 65px;
		width: 65px;
		-webkit-animation: scale2 1.5s infinite;
	}
	
	.nav5 {
		margin-right: 50px;
	}
	
	#ptd {
		height: 100px;
		font-size: 26px;
		width: 160px;
		margin-left: 25px;
		line-height: 30px;
	}
	
	#ptdImg img {
		height: 75px;
		width: 75px;
	}
	
	.main5 .navBox3 a .imgbox1 {
		height: 125px;
	}
	
	.main5 .lt4 {
		width: 100%;
		margin-left: 0px;
		padding-left: 50px;
		box-sizing: border-box;
	}
	.float-time{
		color: #ffffff;
		position: fixed;
		font-size: 30px;
		z-index: 9;
		top: 90px;
		right: 80px;
	}
	@media screen and (max-width: 1600px) {
		.shell.bg3 {
			overflow: hidden;
			position: relative;
			width: 1280px;
			height: 1024px;
			background: url(libs/common/images/shell-bg3.jpg) no-repeat center;
			background-size: 100% 100%;
		}
	}
</style>
<p class="float-time">模块数量：98</p>
<div class="shell bg3">
	<div class="TopTit1 clearfloat">
		<img src="libs/common/images/icon/ywtblogo.png" style="position: absolute;width: 73px;left: 235px;">
		<h2 class="tit2" ng-click="goToApp('staffOperation/index.html')" style="padding-left: 300px;">“一网通办”智能自助终端</h2>
	</div>
	<div class="main5">

		<div class="lt4 fl">

			<div id="wrapper1" class="wrapper1">
				<div class="navBox4 clearfloat">
					
					<div class="titBox1">新点</div>
					<a href="http://117.184.226.170:8095/epoint-web-zwfwznsb/znsb/equipmentdisplay/selfservicemachine_v2/default?MacAddress=test&iframeurl=..%2F..%2F..%2Fshdsj%2Fincrease%2Fznsb%2Fequipmentdisplay%2Fselfservicemachine_v2%2Fplatform-adaptation-index">新点测试</a>
					<a href="http://10.81.16.48:8080/epoint-web-zwfwznsb/shdsj/increase/znsb/equipmentdisplay/selfservicemachine_v2_sh/default?MacAddress=test&iframeurl=login-wanda%3Furl%3Dssww%2Fyfkinfo%2Fsearch">新点模块测试</a>
					<a href="http://10.81.16.48:8080/epoint-web-zwfwznsb/shdsj/increase/znsb/equipmentdisplay/selfservicemachine_v2_sh/default?MacAddress=54:B2:03:91:AF:F3&iframeurl=login-wanda%3Furl%3Dssww%2Fyfkinfo%2Fsearch">新点测试20200710</a>
					<a href="http://10.81.16.48:8080/epoint-web-zwfwznsb/shdsj/increase/znsb/equipmentdisplay/selfservicemachine_v2_sh/default?MacAddress=54:B2:03:91:AF:F3&iframeurl=login%3Furl%3Dssww%2Fyfkbalance%2Fsearch">预付卡余额查询</a>
					<a href="http://10.81.16.48:8080/epoint-web-zwfwznsb/shdsj/increase/znsb/equipmentdisplay/selfservicemachine_v2_sh/default?MacAddress=54:B2:03:91:AF:F3&iframeurl=login%3Furl%3Dssww%2Fyfkinfo%2Fsearch">预付卡信息查询</a>
					<a href="http://10.81.16.48:8080/epoint-web-zwfwznsb/shdsj/increase/znsb/equipmentdisplay/selfservicemachine_v2_sh/default?MacAddress=54:B2:03:91:AF:F3&iframeurl=login%3Furl%3Dssww%2Fyfkwarning%2Fsearch">预付卡警示名单</a>
					<a href="http://10.81.16.48:8080/epoint-web-zwfwznsb/shdsj/increase/znsb/equipmentdisplay/selfservicemachine_v2_sh/default?MacAddress=54:B2:03:91:AF:F3&iframeurl=login%3furl%3dswjw%252fhszyzc-bg%252fselecttaskdetail%253ftaskid%253d310100621000-02-02">护士执业注册-变更</a>
					<a href="http://10.81.16.48:8080/epoint-web-zwfwznsb/shdsj/increase/znsb/equipmentdisplay/selfservicemachine_v2_sh/default?MacAddress=54:B2:03:91:AF:F3&iframeurl=login%3furl%3dswjw%252fhszyzc-yx%252fselecttaskdetail%253ftaskid%253d310100621000-06-02">护士执业注册-延续 </a>
					<a href="http://10.81.16.48:8080/epoint-web-zwfwznsb/znsb/equipmentdisplay/selfservicemachine_v3/default?MacAddress=20:16:B9:88:15:99&iframeurl=newlogin%3Furl%3Dplatform%2FLR_OutdoorAdvertisingLicence%2Fselecttaskdetail">对户外广告设施设置的许可 </a>
					<div class="titBox1">卓繁</div>
					<a href="http://10.81.16.200:8081/front//multiport/adaptation/getLoginRedirect.do?functionInfoId=4028bca372c4f9860172c6475ba90000&source=wd">入学信息查询</a>
					<a href="http://10.81.16.200:8081/front//multiport/adaptation/getLoginRedirect.do?serviceId=4028a8d372bfe0740172c02242df0000&source=wd">《退休住院计划》参保受理</a>
					<a href="http://10.81.16.200:8081/front//multiport/adaptation/getLoginRedirect.do?functionInfoId=2c90fdc873761bbd017376379f8e0001&source=wd">民办非学历培训机构查询</a>	
					<a href="http://10.81.16.200:8081/front//multiport/adaptation/getLoginRedirect.do?functionInfoId=4028a8c5736ac8db01736acb55620000&source=wd">垃圾分类查询</a>	
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getLoginRedirect.do?functionInfoId=2c90fdc873be92540173e1f8ae4100cf&source=wd">排污二维码查询</a>
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getLoginRedirect.do?functionInfoId=2c90fdc873be92540173e1f02abc00cd&source=wd">价格公式</a>
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getLoginRedirect.do?functionInfoId=2c90fdc873be92540173e1f09d3d00ce&source=wd">耗材查询</a>
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getLoginRedirect.do?functionInfoId=2c90fdc873be92540174014370d10108&source=wd">上海市医疗服务查询</a>
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getLoginRedirect.do?functionInfoId=2c90fdc87406220901740623fbb10000&source=wd">空气质量</a>
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getLoginWay.do?functionInfoId=2c90fdc8745886c8017467e48b25001e&source=wd">上海市教育考试院成绩证明打印系统</a>
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getLoginRedirect.do?serviceId=2c90fdc875d049c90175f4163e9300f2&source=wd">《退休住院计划》参保代扣款受理</a>
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getLoginRedirect.do?serviceId=2c90fdc875d049c90175f41733cc00f4&source=wd">退休住院计划》给付受理</a>
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getLoginRedirect.do?serviceId=2c90fdc875454b810175781ed3500095&source=wd">疫苗接种点</a>	
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getGuideInfo.do?serviceId=9f805c477c0c269d017c0cd27fc20000">对出售、购买、利用国家重点保护陆生野生动物及其制品的审批</a>
					<a href="http://10.81.16.200:8081/front/multiport/adaptation/getGuideInfo.do?serviceId=402809817c1c11ec017c1c167c830000">对占用已建成绿地的许可</a>
					
					<!--新增-->
					<div class="titBox1">高效办成一件事</div>
					<a ng-click="goToApp('sqfw/index.html#/guidelineJybt')">就业补贴一件事</a>
					<!--新增-->
					<div class="titBox1">人社</div>
					<a ng-click="goToApp('RS_endowInsurePay/index.html')">个人城镇基本养老保险缴费情况</a>
					<a ng-click="goToApp('RS_xscxjblyjqk/grxsczjbyljqk/index.html')">个人享受城镇基本养老金情况</a>
					<a ng-click="goToApp('RS_lastYearEndowInsureRecord/index.html')">上年度养老保险个人权益记录单</a>
					<a ng-click="goToApp('RS_nimbleEmployBill/index.html')">灵活就业人员电子对账单</a>
					<a ng-click="goToApp('RS_zwwssjfpz/index.html')">转往外省市缴费凭证</a>
					<a ng-click="goToApp('RS_cxjbjfqk/index.html')">城乡居保缴费情况</a>
					<a ng-click="goToApp('RS_cityBaseOldPension/index.html')">享受城乡居保养老金情况</a>
					<a ng-click="goToApp('RS_lastYearEndowInsureRecord_cxjb/index.html')">上年度养老保险个人权益记录单(城乡居保)</a>
					<a ng-click="goToApp('RS_ywshjbqk/index.html')">业务审核办结情况</a>
					<a ng-click="goToApp('RS_residenceIntegralQuery/index.html')">居住证积分查询</a>
                    <a ng-click="goToApp('RS_ssCardInfo/index.html')">社保卡个人信息查询</a>
                    <a ng-click="goToApp('RS_PensionAdjustmentCardOrPassbook/index.html')">养老金卡（折）调整</a>
                    <a ng-click="goToApp('RS_queryWorkerInfo/index.html')">劳动者个人基本信息查询及维护</a>
                    <a ng-click="goToApp('RS_unemploymentInsurance/index.html')">失业保险金申领</a>
                    <a ng-click="goToApp('RS_unemploymentRegistration/index.html')">失业登记</a>
                    <a ng-click="goToApp('RS_allItem/index.html#/flexibleEmployment')">灵活就业登记</a>
                    <a ng-click="goToApp('RS_unemploymentAllowance/index.html#/guideline')">申请大龄失业就业岗位补贴</a>
                    <a ng-click="goToApp('RS_unemploymentSubsidy/index.html')">申请“就业困难人员”灵活就业社会保险费补贴</a>
                    
					<div class="titBox1">医保</div>
					<a ng-click="goToApp('YB_medicalTreatmentDetails/index.html')">参保人员待遇查询</a>
					<a ng-click="goToApp('YB_medicalInsureInfo/index.html')">医保个人信息</a>
					<a ng-click="goToApp('YB_medicalReduceTrial/index.html')">医保综合减负试算</a>
					<a ng-click="goToApp('YB_medicalBookMaking/index.html')">办理门急诊就医记录册</a>
					<a ng-click="goToApp('YB_medicalDetailsQuery/index.html')">医保就医明细查询</a>
					<a ng-click="goToApp('YB_medicalClearInfoQuery/index.html')">账户清算信息查询</a>
					<a ng-click="goToApp('YB_servOrgQuery/index.html')">服务机构查询</a>
					<a ng-click="goToApp('YB_medicalOrgQuery/index.html')">医疗机构查询</a>
					<a ng-click="goToApp('YB_passwordUpdate/index.html')">办理医保网站密码变更服务</a>
					<a ng-click="goToApp('YB_payStandard/index.html')">支付标准查询服务</a>
					<a ng-click="goToApp('YB_medicalCostCalculator/index.html')">医疗费用分担模拟计算器</a>
                    <a ng-click="goToApp('YB_acceptRegister/index.html')">办理居民医保受理新增登记</a>
                    <a ng-click="goToApp('YB_accumulatedMedicalExpenses/index.html')">年度累计医疗费用信息查询</a>
					<a ng-click="goToApp('YB_medicalCard/index.html')">办理医疗卡挂失及撤销</a>
					<a ng-click="goToApp('YB_settlementService/index.html')">办理结算服务项目的相关手续</a>
					<a ng-click="goToApp('staffOperation/index.html')">就医册补打</a>
					<a ng-click="goToApp('sqfw/index.html#/guidelineJygx')">异地就医一件事</a>
					<a ng-click="goToApp('YB_sporadicReimbursementQuery/index.html')">零星报销进度查询</a>
					<a ng-click="goToApp('YB_helpfulQueries/index.html')">帮困补助进度查询</a>
					<a ng-click="goToApp('YB_helpfulQueriesNext/index.html')">互助帮困登记缴费进度查询</a>
					
					<div class="titBox1">档案</div>
					<a ng-click="goToApp('DA_marryRegister/index.html')">婚姻登记档案查询</a>
					<a ng-click="goToApp('DA_onlyChild/index.html')">独生子女档案查询</a>
					<a ng-click="goToApp('DA_educatedYouthChildEntrance/index.html')">知青子女入户档案查询</a>
					<a ng-click="goToApp('DA_educatedYouthSSXS/index.html')">知青上山下乡档案查询</a>
					<a ng-click="goToApp('DA_educatedYouthReturn/index.html')">知青返城档案查询</a>
					<a ng-click="goToApp('DA_rebirthChildApproval/index.html')">再生育子女审批档案查询</a>
					<a ng-click="goToApp('DA_industrialInjuryConfirm/index.html')">工伤认定档案查询</a>
					<a ng-click="goToApp('DA_studentStatus/index.html')">学籍档案查询</a>
					<a ng-click="goToApp('DA_demobilizedVeterans/index.html')">复员退伍军人档案查询</a>
					<a ng-click="goToApp('DA_militaryService/index.html')">兵役档案查询</a>
					<a ng-click="goToApp('DA_talentIntorductApproval/index.html')">人才引进审批档案查询</a>
					<a ng-click="goToApp('DA_sanxiaImmigrant/index.html')">三峡移民档案查询</a>
					<a ng-click="goToApp('DA_foreignMarryRegister/index.html')">涉外婚姻登记档案查询</a>
					<a ng-click="goToApp('DA_cityTalentIntroductApproval/index.html')">市级人才引进审批档案查询</a>
					<a ng-click="goToApp('DA_zyjsgbdncjsqwcz/index.html')">专业技术干部的农村家属迁往城镇审批档案</a>
					<a ng-click="goToApp('DA_cbdqqdj/index.html')">承包地权登记档案</a>
                    <a ng-click="goToApp('DA_farmerBuildApproval/index.html')">农民建房审批档案</a>
                    <a ng-click="goToApp('DA_march8RedFlagBearer/index.html')">上海市三八红旗手档案</a>
					<div class="titBox1">公安</div>
					<a ng-click="goToApp('GA_isCrimeProve/index.html')">有无违法犯罪记录证明开具</a>
					<a ng-click="goToApp('GA_movementRecord/index.html')">出境入籍记录查询</a>
					<a ng-click="goToApp('GA_oldCardApply/index.html')">敬老卡申领</a>
					<a ng-click="goToApp('GA_residenceRegister/index.html')">居住证签注</a>
					<a ng-click="goToApp('GA_vehIllegalInfoQuery/index.html')">机动车违法信息查询</a>
                    <a ng-click="goToApp('GA_ssCardOpen/index.html')">新社保卡开通服务</a>
                    <a ng-click="goToApp('GA_sameBirthday/index.html')">同日出生查询</a>
                    <a ng-click="goToApp('GA_policeStationQuery/index.html')">属地派出所查询</a>
                    <a ng-click="goToApp('GA_hjrhflryjzdjzx/index.html')">户籍人户分离人员居住登记注销</a>
                    <a ng-click="goToApp('GA_hjrhflryjzdjsl/index.html')">户籍人户分离人员居住登记受理</a>
                    <a ng-click="goToApp('GA_fshsygxbyslh/index.html')">非上海生源高校毕业生落户查询</a>
                    <a ng-click="goToApp('GA_duplicateName/index.html')">新生儿重名查询</a>
                   
					<div class="titBox1">住建</div>
					<a ng-click="goToApp('ZJ_accFundQuery/index.html')">公积金查询</a>
                    <a ng-click="goToApp('ZJ_accumulationFundDK/index.html')">公积金贷款试算</a>
                    <a ng-click="goToApp('ZJ_accumulationFundHK/index.html')">公积金还款计算</a>
                    <a ng-click="goToApp('ZJ_accumulationFundJC/index.html')">公积金缴存计算</a>
                    <a ng-click="goToApp('ZJ_accumulationFundQGLB/index.html')">公积金区管理部查询</a>
                    <a ng-click="goToApp('ZJ_accumulationFundDKWD/index.html')">纯公积金贷款受理网点</a>
                    <a ng-click="goToApp('ZJ_accumulationFundBankOfJCTQ/index.html')">公积金缴存提取经办银行查询</a>
                    <a ng-click="goToApp('ZJ_accumulationFundJCB/index.html')">公积金缴存表查询</a>
                    <a ng-click="goToApp('ZJ_loanbanks/index.html')">组合贷款各受理银行查询</a>
                    <a ng-click="goToApp('ZJ_communityInformationSearch/index.html')">小区信息查询</a>
                    <a ng-click="goToApp('ZJ_propertyInformationSearch/index.html')">物业企业信息查询</a>
                    <a ng-click="goToApp('ZJ_transferFundProvinceToCity/index.html#/handleChoice')">个人住房公积金从外省市转移到本市</a>
                    <a ng-click="goToApp('ZJ_voluntaryDeposit/index.html#/loginType')">自愿缴存（信息变更）</a>
                    
					<div class="titBox1">经信委</div>
					<a ng-click="goToApp('JXW_citizenAuthentication/index.html')">市民认证</a>

					<div class="titBox1">发改委</div>
					<a ng-click="goToApp('FGW_perCreditQuery/index.html')">个人信用报告查询</a>
                    <a ng-click="goToApp('LS_nonStapleFood/index.html')">副食品价格补贴发放银行卡维护</a>
					<div class="titBox1">民政</div>
					<a ng-click="goToApp('MZ_CXJMZDSHBZJTZMCJ/index.html')">城乡居民最低生活保障家庭证明出具</a>
					<a ng-click="goToApp('MZ_DQDLSHBTRYZMCJ/index.html')">定期定量生活补贴人员证明出具</a>
					<a ng-click="goToApp('MZ_DSRKNJTZMCJ/index.html')">低收入困难家庭证明开具</a>
					<a ng-click="goToApp('MZ_TKRYZMCJ/index.html')">特困人员证明出具</a>
					<a ng-click="goToApp('MZ_YBZCXPKJTZMCJ/index.html')">因病支出型贫困家庭证明开具</a>
                    <a ng-click="goToApp('MZ_marriageAppointment/index.html')">婚姻登记预约</a>
                    <a ng-click="goToApp('MZ_communityServiceCentreEnquiries/index.html')">社区事务受理地址查询</a>
                    
					<div class="titBox1">残联</div>
					<a ng-click="goToApp('CL_informationCard/index.html')">听力、言语残疾人信息卡套餐服务申请</a>
					<a ng-click="goToApp('CL_travelAllowance/index.html')">残疾人交通补贴申请</a>
                    <a ng-click="goToApp('CL_movieLocationInquiry/index.html')">无障碍电影放映点信息查询</a>
					<a ng-click="goToApp('CL_readingRoomLocations/index.html')">盲人有声读物阅览室（角）信息查询</a> 
					
					<div class="titBox1">三金查询</div>
					<!--<a ng-click="goToApp('SJ_medicalInsureFund/index.html')">医保金查询</a>
					<a ng-click="goToApp('SJ_oldAgePensionQuery/index.html')">养老金查询</a>-->
                    <a ng-click="goToApp('threeGoldQuery/index.html')">新版三金查新</a>
					<div class="titBox1">材料复印</div>
					<a ng-click="goToApp('materialsCopy/index.html')">材料复印</a>

					<div class="titBox1">办事指南</div>
					<a ng-click="goToApp('guideline/index.html#/citylist')">办事指南</a>

					<div class="titBox1">我的证照</div>
					<a ng-click="goToApp('eLicense/index.html')">我的证照</a>
					<div class="titBox1">交通委服务</div>
					<a ng-click="goToApp('JTW_queryBalance/index.html')">交通卡余额查询</a>
					<a ng-click="goToApp('JTW_queryDrivingTestSite/index.html')">驾照考点查询</a>
					<a ng-click="goToApp('JTW_travelCardNetworkQuery/index.html')">交通卡服务网点查询</a>
					<a ng-click="goToApp('JTW_onlineCarHailingInfo/index.html')">网约车平台企业信息查询</a>
					
					<div class="titBox1">教委服务</div>
					<a ng-click="goToApp('JW_modelHighschool/index.html')">全市示范高中信息查询</a>
					<a ng-click="goToApp('JW_privateEducational/index.html')">民办教育机构查询</a>
					<a ng-click="goToApp('JW_studentAffairsCenter/index.html')">上海市学生事务中心存档证明</a>
					<a ng-click="goToApp('JW_cooperateEducationInfo/index.html')">中外合作办学信息查询</a>
					<a ng-click="goToApp('JW_queryRegistrationInfo_XSC/index.html')">小升初报名信息查询(公办、民办)</a>
					<a ng-click="goToApp('JW_queryRegistrationInfo_YSX/index.html')">幼升小报名信息查询(公办、民办)</a>
					<a ng-click="goToApp('JW_queryScoreOfNCRE/index.html')">上海市计算机等级考试成绩查询</a>
					<a ng-click="goToApp('JW_queryNurseryService/index.html')">3岁以下幼儿托育服务机构查询</a>
					<a ng-click="goToApp('JW_queryTrainingInstitutions/index.html')">民办非学历培训机构查询</a>
					
					<div class="titBox1">市场监管局</div>
					<a ng-click="goToApp('SCJG_cateringFacebook/index.html')">餐饮脸谱查询</a>
					<a ng-click="goToApp('SCJG_queryMeasurementstandard/index.html')">社会公用计量标准查询</a>
					<a ng-click="goToApp('SCJG_queryAssessor/index.html')">法定计量检定机构考评员查询</a>
					<a ng-click="goToApp('SCJG_queryAdvertising/index.html')">广告发布登记查询</a>
					<a ng-click="goToApp('SCJG_queryContractTextOfDemonstration/index.html')">合同示范文本查询</a>
					<a ng-click="goToApp('SCJG_queryEnterpriseNameStatus/index.html')">企业名称状态查询</a>
					<a ng-click="goToApp('SCJG_queryMeasurementStandardAssessor/index.html')">计量标准考评员查询</a>
					<a ng-click="goToApp('SCJG_queryMetrologist/index.html')">二级注册计量师查询</a>
					
					<div class="titBox1">司法服务</div>
					<a ng-click="goToApp('SF_firstApplyLawyerFullTime/index.html')">首次申请律师专职执业审核</a>
					<a ng-click="goToApp('SF_firstApplyLawyerPartTime/index.html')">首次申请律师兼职执业审核</a>
					<a ng-click="goToApp('SF_reapplyLawyerFullTime/index.html')">重新申请律师专职执业</a>
					<a ng-click="goToApp('SF_reapplyLawyerPartTime/index.html')">重新申请律师兼职执业</a>
					<a ng-click="goToApp('SF_lawyerFullTimeToPartTime/index.html')">律师专职执业变更兼职执业</a>
					<a ng-click="goToApp('SF_lawyerPartTimeToFullTime/index.html')">律师兼职执业变更专职执业</a>
					<a ng-click="goToApp('SF_lawyerPracticeCertificateCancel/index.html')">律师执业证注销</a>
					<a ng-click="goToApp('SF_lawyerPracticeOrganChange/index.html')">律师执业机构变更</a>
					<a ng-click="goToApp('SF_legalAchievementsQuery/index.html')">法职成绩查询</a>
					<a ng-click="goToApp('SF_legalQualificationQuery/index.html')">法职资格证查询</a>
					<a ng-click="goToApp('SF_legalAdmissionTicketQuery/index.html')">法职准考证查询</a>
					
					
					<div class="titBox1">应急局服务</div>
					<a ng-click="goToApp('YJGL_queryHazardousChemicals/index.html')">上海市禁止、限制和控制危险化学品目录查询</a>
					<a ng-click="goToApp('YJGL_queryBusinessLicense/index.html')">危险化学品经营许可证核发查询</a>
					<a ng-click="goToApp('YJGL_queryHCProjectInfo/index.html')">危险化学品建设项目信息查询</a>
					<a ng-click="goToApp('YJGL_queryProductionLicense/index.html')">危险化学品生产企业安全生产许可证查询</a>
					<a ng-click="goToApp('YJGL_queryQualificationPermission/index.html')">安全评价机构资质许可查询</a>
					<a ng-click="goToApp('YJGL_queryQualificationRecognition/index.html')">安全生产检测检验机构资质认可查询</a>
					<a ng-click="goToApp('YJGL_querySafetyProductionInfo/index.html')">安全生产协会会员培训机构条件核实情况查询</a>
				    
				    <div class="titBox1">申康医联服务</div>
				    <a ng-click="goToApp('SKYL_consumablesQuery/index.html')">耗材查询</a>
				    <a ng-click="goToApp('SKYL_pricePublicity/index.html')">价格公示</a>
				    
				    <div class="titBox1">市商务委服务</div>
				    <a ng-click="goToApp('SWW_prepaidCardBalanceQuery/index.html')">预付卡余额查询</a>
				    <a ng-click="goToApp('SWW_prepaidCardInfoQuery/index.html')">预付卡信息查询</a>
				    <a ng-click="goToApp('SWW_prepaidCardWarningQuery/index.html')">预付卡警示名单查询</a>
				    
				    
				    <div class="titBox1">市卫健委服务</div>
				    <a ng-click="goToApp('WJW_medicalQualificationQuery/index.html')">医师执业资格信息查询</a>
				    <a ng-click="goToApp('WJW_nurseQualificationQuery/index.html')">护士执业资格信息查询</a>
				    <a ng-click="goToApp('WJW_nucleicAcidDetectionQuery/index.html')">核酸检测采样机构查询</a>
				    <div class="titBox1">市税务局服务</div>
				    <a ng-click="goToApp('SWJ_propertyTaxQuery/index.html')">房产税查询</a>
				    
				    <div class="titBox1">规划资源局服务</div>
				    <a ng-click="goToApp('GH_searchOfGeologicalRecords/index.html')">地质档案查询</a>
				    <a ng-click="goToApp('GH_realEstateInformation/index.html')">不动产登记信息自助查询、打印</a>
				    
				    <div class="titBox1">农委服务</div>
				    <a ng-click="goToApp('NW_petHospital/index.html')">宠物诊疗机构查询</a>
				    <div class="titBox1">政府信息公开</div>
				    <a ng-click="goToApp('GovernmentPublicInformations/index.html')">政府信息公开</a>
				    
				    <a ng-click="goToApp('workAppointment/index.html#/')">自助预约</a>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	//qwqw = function(){
	//	    	alert(1);
	//	//  	window.location.href ="http://183.194.241.117/smzy/shell_terminal/tourist/guide/qa?ask="+$('.input1').val();
	//	// 		console.log($('.input1').val());
	//	    }
	//	})
</script>