<style type="text/css">
	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
	ca {
		display: block;
		margin-top: 150px;
	}
	
	.stamp {
		margin-left: 60px;
	}
	
	citizen-cloud {
		margin-top: 40px;
		display: block;
	}
	
	citizen-cloud .scrollBox2 .cardreadingBox1 img {
		width: 1500px;
    	height: 555px;
	}
	
	.scrollBox2 .linkBox1 {
		padding-left: 600px;
		text-align: center;
		margin-top: 134px;
	}
	@media screen and (max-width: 1600px) {
		citizen-cloud .scrollBox2 .cardreadingBox1 img {
		    width: 1000px;
		    height: auto;
		    padding-top: 40px;
		}
	}
</style>

<div class="contain">
	<p class="caption">{{operation}}</p>
	<div class="scrollBox2 clearfloat">
		<sscard read="sscardLogin(info)" ng-if="loginType == 'medical'"></sscard>
		<idcard read="idcardLogin(info,images)" ng-if="loginType == 'idcard'"></idcard>
		<recognition result="getResult(img)" face-image="{{faceImage}}" ng-if="loginType == 'recognition'"></recognition>
		<citizen-cloud result="citizenLogin(info)" ng-if="loginType == 'cloud'"></citizen-cloud>
	</div>
</div>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()"></apptb-footer>
