<style>
    .layoutBank .item {
        height: 500px;
        margin-top: 200px;
    }
    .layoutBank .item:nth-child(1){
        margin-left: 100px;
    }
    .layoutBank .item:nth-child(2){
        margin-left: 230px;
    }
    .layoutBank .item>img {
        height: 300px;
    }
</style>
<nav>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <img src="../../../libs/common/images/home.png" style="height: 30px;">
            </a>
        </li>
        <li>
            <a href="javascript:;">银行服务</a>
        </li>
        <li class="active">建设银行</li>
    </ol>
</nav>
<div class="board">
    <div class="layoutBank">
        <div class="item">
            <img src="../../../libs/common/images/bankService/ccb/惠懂你下载.jpg" alt="">
            <p>惠懂你下载</p>
        </div>
        <div class="item">
            <img src="../../../libs/common/images/bankService/ccb/惠懂你详情.jpg" alt="">
            <p>惠懂你详情</p>
        </div>
    </div>
</div>