<style>
    .layoutBank .item {
        margin: 0 auto;
        margin-top: 200px;
        height: 100%;
        width: 100%;
    }

    .layoutBank .item>img {
        height: 400px;
    }
</style>
<nav>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <img src="../../../libs/common/images/home.png" style="height: 30px;">
            </a>
        </li>
        <li>
            <a href="javascript:;">银行服务</a>
        </li>
        <li class="active">厦门银行</li>
    </ol>
</nav>
<div class="board">
    <div class="layoutBank">
        <div class="item">
            <img src="../../../libs/common/images/bankService/xmbc/service_code.jpg" alt="">
            <p>请用微信扫描上方二维码办理预约开户</p>
        </div>
    </div>
</div>