<img class="largeImg" ng-src="{{largeImg}}" />
<div class="tipsBox">
	<p class="title">步骤说明</p>
	<p>1.刷身份证</p>
	<p>2.拍身份证</p>
	<p>3.取表</p>
</div>
<app-footer next="nextStep()"></app-footer>
<style type="text/css">
	.largeImg {
		height: 775px;
		margin-left: 360px;
	}
	
	.tipsBox .title {
		margin-top: 50px;
		font-size: 50px;
	}
	
	.tipsBox p {
		margin-left: 100px;
		font-size: 35px;
		margin-top: 40px;
	}
	
	.tipsBox {
		height: 666px;
		width: 560px;
		float: right;
		margin-right: 300px;
		background-color: #2864b0;
		margin-top: 60px;
	}
</style>