<img class="largeImg" ng-src="{{largeImg}}" />
<div class="chooseQuantity">
	<p>请选择您要打印的份数</p>
	<span class="control" ng-click="minus()">
		-
	</span>
	<span>
		{{printQuantity}}份
	</span>
	<span class="control" ng-click="plus()">+</span>
</div>
<print show="isPrint"></print>
<app-footer default-next="hidden">
	<a href="javascript:;" class="continue" ng-click="print()">
		打印
	</a>
</app-footer>
<style type="text/css">
	.largeImg {
		height: 775px;
		margin-left: 360px;
	}
	
	.continue {
		padding: 0 20px 0 20px;
	}
	

</style>