@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: border-box;
}
html {
	height: 100vh;
	width: 100vw;
}
/*设置最小屏幕宽度768px*/
@media only screen and (max-width: 768px) {
	html{
		font-size:11px;
		width: 768px;
	}
}
@media (min-width: 768px) {
	 html{font-size:13px;}
}
@media (min-width: 1200px) {
	 html{font-size:16px;}
}
@media (min-width: 1280px) {
	 html{font-size:17px;}
}
@media (min-width: 1366px) {
	 html{font-size:18px;}
}
@media (min-width: 1600px) {
	 html{font-size:22px;}
}
@media (min-width: 1680px) {
	 html{font-size:22.2px;}
}
@media (min-width: 1920px) {
	 html{font-size:24px;}
}
body {
	font-family: 'Microsoft YaHei', 'SimSun', sans-serif;
	font-size: 100%;
	height: 100%;
	width: 100%;
	color: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

pre {
	font: inherit;
}

img {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea {
	font: inherit;
	resize: none;
}

/*top*/
.top {
	width: 100%;
	height: 6%;
	font-size: 1rem;
	box-shadow: 0px 8px 28px 0px rgba(72,89,102,0.1); 
}
.top .left {
	width: 60%;
	height: 100%;
	line-height: 36px;
	margin-left: 2%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-weight: bold;
}
.top .content {
	width: 33%;
	height: 100%;
}
.top .right {
	width: 10%;
	height: 100%;
	line-height: 36px;
	float: right;
}
#pagemap{
	cursor: pointer;
}
.top img {
	height: 86%;
}
.top .right img {
	height: 40%;
}
/*totalNum*/
.totalNum {
	width: 100%;
	height: 12%;
	line-height: 30px;
	margin: 2% 0 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.2rem;
}
.totalNum>div {
	width: 22%;
	height: 100%;
	border-radius: 10px;
}
.totalNum>div div {
	width: 50%;
	height: 100%;
	padding-top: 4%;
	margin-right: 10%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.totalNum>div img {
	width: 26%;
}
.totalNum .zx {
	color: #78B4D3;
	background: linear-gradient(180deg,#c4ebff, #e3f6ff);
}
.totalNum .lx {
	color: #F4B076;
	background: linear-gradient(0deg,#fff7eb, #ffe9cd 90%);
}
.totalNum .jr {
	color: #80A3DA;
	background: linear-gradient(180deg,#cedfff, #e9f1ff);
}
.totalNum .mz {
	color: #E89595;
	background: linear-gradient(180deg,#ffd9d9, #ffeeee);
}
.totalNum .mz div {
	width: 60%;
    margin-right: 2%;
}
/*currentNum*/
.currentNum {
	width: 100%;
	height: 4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.2rem;
	margin-top: 1%;
}

/*detail*/
.detail {
	width: 100%;
	height: 70%;
	margin-top: 1%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.detail>div {
	width: 45%;
	padding-top: 2%;
	margin: 0 auto;
}
.detail .new,
.detail .warn {
	height: 30%;
}
.detail .area,
.detail .top20 {
	height: 70%;
}
.detail .nav{
	width: 70%;
    height: 20%;
    font-size: 1.2rem;
    font-weight: bold;
}
.detail .area .nav,
.detail .top20 .nav {
	height: 8%;
}
.detail .area .content,
.detail .top20 .content {
	height: 92%;
}
.detail .content {
	width: 100%;
	height: 72%;
	padding-top: 2%;
	font-size: 1.1rem;
	overflow: auto;
}

#table td {
    cursor: pointer;
}
#table td:hover{
	color:#06c;
}
.detail .area .content {
	padding-top: 1%;
}
.detail table {
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px solid #2484CC;
}
.detail table thead {
	background: #eff9ff;
	color: #2484CC;
}
.detail table tr {
	border: 1px solid #2484CC;
}
.detail table th,
.detail table td {
	border-left: 1px solid rgba(61, 159, 249,0.3);
}
.detail table tr th:nth-of-type(1),
.detail table tr td:nth-of-type(1)
 {
	border-left: 1px solid #2484CC;
}
.red {
	color: rgb(250,100,0);
}
.small {
	font-size: 0.6rem;
	font-weight: normal;
}
/*detail area*/
.area .content>div {
	width: 100%;
	height: 14.6%;
	line-height: 30px;
}
.area .content>div span {
	display: inline-block;
	width: 20%;
	height: 60%;
	text-align: center;
}
.area .content .useNum {
	display: inline-block;
	width: 75%;
	height: 60%;
	vertical-align: middle;
	background-color: #91C6FC;
}
div::-webkit-scrollbar {
  width: 0;
}
