<div class="navBox2">
	<b>您正在办理：</b><span>社会救助项目证明</span></div>
<p ng-show="yynext" style="margin-top: 100px;text-align: center;font-size: 50px;color: yellow;">正在打印社会救助证明</p>
<div class="loadingBox-z" ng-if="!isLoding">
	<div id="box-z">
		<img src="../libs/common/images/loadings.gif" alt="">
		<p class="p1">正在查询请稍后...</p>
		<p class="p2">大约需要五分钟请勿离开，如若超时未响应请联系相关工作人员</p>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<style type="text/css">
	.navBox2 {
		margin: 70px 0 0 130px;
	}
	
	.loadingBox-z {
		position: fixed;
		background-color: rgba(0, 0, 0, .5);
		left: 0;
		top: -150px;
		right: 0;
		bottom: 0;
		z-index: 10;
		height: 100%;
		width: 100%;
	}
	
	#box-z {
		width: 460px;
		height: 180px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -90px 0px 0px -230px;
		text-align: center;
	}
	
	#box-z img {
		width: 100px;
		height: 100px;
	}
	
	#box-z p {
		font-size: 38px;
		color: #FFFFFF;
	}
</style>