<div class="bg">
	<div class="headBox">
		<div class="headTop clearfloat">
			<div class="headName">离线随申码</div>
		</div>
		<div class="minimize" ng-click="proMinimizes()">
			<img src="img/minimize.png" alt="" />
		</div>
	</div>
	<div class="bg-middle">
		<div>
			<div class="box">
				<a ng-click="choiceLogin()">
					<img src="img/idCard.png" />
					<p>离线随申码申领</p>
				</a>
			</div>
		</div>
	</div>
	<div class="footBox">
		<div class="prev-back-next">
			<a></a>
			<!--<a class="prev" ng-click=" prevStep()">上一步</a>-->
			<a class="backindex1" ng-click="goHome()"></a>
			<!--<a class="next" ng-click="nextStep()">下一步</a>-->
			<a></a>
		</div>
	</div>
</div>