<style type="text/css">
	.bg-middle {
		align-items: center;
	}
	
	.layui-layer-hui .layui-layer-content {
		height: 300px!important;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
<div class="bg">
	<div class="headBox">
		<div class="headTop clearfloat">
			<div class="headName">离线随申码</div>
		</div>
		<div class="minimize" ng-click="proMinimizes()">
			<img src="img/minimize.png" alt="" />
		</div>
	</div>
	<div class="bg-middle">
		<div id='divCentInput'>
			<div class="">
				<span id="" style="font-size: 32px;">
					姓名：
				</span>
				<input type="text" class="textName" placeholder="工作人员姓名" ng-model='textName' />
			</div>
			<div class="">
				<span id="" style="font-size: 32px;">
					身份证号码：
				</span>
				<input type="text" class="textNumber" placeholder="工作人员身份证号" ng-model='textNumber' />
			</div>

			<button ng-click="loginClick()">登录</button>
		</div>
	</div>
	<div class="footBox">
		<div class="prev-back-next">
			<a></a>
			<!--<a class="prev" ng-click="prevStep()">上一步</a>-->
			<a class="backindex1" ng-click="goHomeMain()"></a>
			<!--<a class="next" ng-click="nextStep()">下一步</a>-->
			<a></a>
		</div>
	</div>
</div>