<style type="text/css">
	@media screen and (min-width: 1600px) {
		.contain {
			width: 1530px;
			height: 700px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		.scrollBox2 .linkBox1 {
			padding-left: 0px;
			text-align: center;
			margin-top: 80px;
			display: flex;
			justify-content: space-around;
		}
		.scrollBox2 .linkBox1 a {
			margin-right: 0px;
			height: auto;
		}
	}
	
	@media screen and (max-width: 1600px) {
		.contain {
			width: 1100px;
			height: 700px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		.caption {
			margin: 15px 80px;
		}
		.scrollBox2 .linkBox1 {
			padding-left: 0px;
			text-align: center;
			margin-top: auto;
		}
		.scrollBox2 .linkBox1 a {
			margin-right: 0px;
			height: auto;
		}
	}
</style>

<div class="contain">
	<p class="caption">{{operation}}</p>
	<div class="scrollBox2 clearfloat">
		<div class="linkBox1 clearfloat">
			<a ng-click="choiceLogin('idcard')">
				<img src="../libs/common/images/newIcon/idCard.png" />
				<p>身份证登录</p>
			</a>
			<a ng-click="choiceLogin('cloud')">
				<img src="../libs/common/images/newIcon/qrCode.png" />
				<p>随申办登录</p>
			</a>
			<a ng-click="choiceLogin('sscard')">
				<img src="../libs/common/images/newIcon/ybCard.png" />
				<p>社保卡登录</p>
			</a>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-prev-btn="hidden" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()"></apptb-footer>