<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	.tabelBox1 {
		width: 1705px;
		padding-top: 35px;
	}
	
	#wrapper {
		width: 1750px;
		height: 650px;
	}
	
	.main2 {
		height: 650px;
		margin-top: 20px;
	}
	
	.input1::-webkit-input-placeholder {
		color: #C5C5C5;
	}
	
	.input1:-ms-input-placeholder {
		color: #C5C5C5;
	}
	
	@media screen and (max-width: 1600px) {
		.caption {
			margin-left: 150px;
		}
		.tabelBox1 .dl1 .lt1 {
			width: 10%;
		}
		.tabelBox1 .dl1 .lt3 {
			width: 12%;
		}
		.tabelBox1 .dl1 .rt2 {
			width: 18%;
		}
		.tabelBox1 .dl1 .rt11 {
			width: 16%;
		}
	}
</style>
<p class="caption">{{funName}}--送达信息</p>
<div class="main2" style="height: 675px;">
	<div class="scrollBox2 clearfloat">
		<div id="wrapper">
			<div class="tabelBox1">

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span><b class="red1">*</b>送达方式：</span>
					</dd>
					<!--<dd class="rt2">
						<select class="select1" id="sendWay" ng-model="sendWay" ng-options="x.name for x in sendWayList">
							<option value="" selected ng-if="false"></option>
						</select>
					</dd>-->
					<dd class="rt5 singleselect3 clearfloat" id="sendWay">
						<a ng-class="{'in':currentSendWay==index}" ng-repeat="(index,item) in sendWayList" ng-click="changeSendWay(item.id,index,item.name)">{{item.name}}</a>
					</dd>
				</dl>

				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>送达邮编：</span>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="sendPostCode" ng-model="sendPostCode">
					</dd>

					<dd class="lt1 lt3">
						<span>送达说明：</span>
					</dd>
					<dd class="rt2">
						<input class="input1" type="text" id="sendOther" ng-model="sendOther">
					</dd>
				</dl>
				<dl class="dl1 clearfloat">
					<dd class="lt1 lt6">
						<span>送达地址：</span>
					</dd>
					<dd class="rt4">
						<input class="input1" type="text" id="sendAddress" ng-model="sendAddress">
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>