<div class="main3" id="print1" style="height:690px;margin-top: 100px;">
	<div class="successBox1">
		<div class="shadow1"></div>
		<div class="successBox2">
			<div class="cont1">
				<h3>操作成功！</h3>
				<p class="p1">事项名称</p>
				<p class="p2" ng-bind="itemName"></p>
			</div>
			<div class="line1"></div>
			<div class="cont1">
				<p class="p1">办件编码</p>
				<p class="p2" ng-bind="applyNo"></p>
				<p class="p3"></p>
			</div>
			<div class="line2"></div>
		</div>
	</div>
	<div class="text">
		<p style="color: #FEE889;font-size: 30px;margin-bottom: 20px;">温馨提示:</p>
		<p style="font-size: 29px;line-height: 63px;margin-bottom: 20px;">您的申请已提交成功，统一审批编码为{{applyNo}}，您可至随申办小程序或APP办件进度查询办理状态
		</p>
	</div>
</div>

<apptb-footer prev="prev()" next="goHome()" next-btn-info="{{nextText}}" default-is-show-prev-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style type="text/css">
	.successBox2 .cont1 h3 {
		margin: 30px 0 20px 35px;
	}
	
	.text {
		width: 716px;
		float: left;
		margin-left: 60px;
		margin-top: 170px;
	}
	
	.successBox1 {
		float: left;
		margin-left: 130px;
		margin-top: 80px;
	}
</style>