<apptb-header custom-home="true" fun-name="材料复印" home="customMain()" go-back="goAppHistoryBack()"></apptb-header>
<p class="caption">{{operation}}</p>
<div class="scrollBox2 clearfloat">
	<div class="linkBox1 clearfloat">
		<a ng-click="goToApp('../idcard/index.html')">
			<img src="../libs/common/images/icon/person.png" />
			<p>身份证复印</p>
		</a>
		<a ng-click="goToApp('../materialsCopy/index.html')">
			<img src="../libs/common/images/icon/corporate.png" />
			<p>材料复印</p>
		</a>
	</div>
</div>
<style type="text/css">
	.scrollBox2 .linkBox1 {
		padding-left: 523px;
		text-align: center;
		margin-top: 134px;
	}
	
</style>