<div class="shell bg2">
	<apptb-header fun-name="在线填报"></apptb-header>
	<div class="TabBox1">
		<ul class="navul1 clearfloat">
			<li>选择事项</li>
			<li>办事指南</li>
			<li>事项情形</li>
			<li>人证核验</li>
			<li  class="act">材料上传</li>
		</ul>
		<span class="line"></span>
		<div class="navBox2"><b>您正在办理：</b><span>{{itemName}}</span></div>
		<div class="main3" id="print1">
			<div>
				<div class="successBox1">
					<div class="shadow1"></div>
					<div class="successBox2">
						<div class="cont1">
							<h3>操作成功!</h3>
							<p class="p1">事项名称</p>
							<p class="p2">{{allName}}</p>
						</div>
						<div class="line1"></div>
						<div class="cont1">
							<p class="p1">办件编码</p>
							<div class="code">
								<img src="./images/code2.png" alt="" />
							</div>
							<p class="p3">{{applyNo}}</p>
						</div>
						<div class="line2"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
<print show="isPrint"></print>
	
<a class="next" ng-click="print()">{{statusText}}</a>
	<apptb-footer 
		prev="prevStep()" 
		next="finishUpload()" 
		default-is-show-next-btn="hidden" 
		default-is-show-prev-btn="hidden" 
		custom-home="true" 
		home="customMain()"
	    go-back="goAppHistoryBack()">
	</apptb-footer>
</div>
<style type="text/css">
	.next{
		position: absolute;
		bottom: 60px;
		right: 40px;
		width: 154px;
	    height: 60px;
	    background: url(../libs/common/images/next-step.png) no-repeat center center;
	    line-height: 60px;
	    text-align: center;
	    z-index: 9999;
	}
	.p2{
		padding: 0 20px;
	}
</style>