<div class="shell bg2">

	<apptb-header fun-name="自助申报"></apptb-header>

	<div class="TabBox1">
		<ul class="navul1 clearfloat">
			<li>选择事项</li>
			<li>办事指南</li>
			<li>事项情形</li>
			<li>人证核验</li>
			<li class="act">材料上传</li>
		</ul>
		<span class="line"></span>
		<div class="navBox2"><b>您正在办理：</b><span>{{itemName}}---{{statusName}}</span></div>

		<div class="main2" style="position: relative;">
			<div id="wrapper">
				<div style="width:1550px">
					<div class="linkt" ng-repeat="(index,stuff) in stuffList">
						<div class="select">
							<div class="stuff" ng-class="stuff.nmMust=='1' ? 'must' : ''">
								{{stuff.stStuffName}}
								<span ng-show="{{stuff.stExamineBasis != undefined}}" class="stExamineBasis" ng-click="clickStExamineBasis()">
									要点
								</span>
							</div>
							
							<div ng-show="{{ listImg[index].upload2 }}" class="upload2" ng-click="toNewUploadMaterial(index,stuff.stStuffId,stuff.stStuffName)">
								重新上传
							</div>
							<div ng-show="{{ listImg[index].upload2 }}" class="view" ng-click="view(index,stuff.stStuffId,stuff.stStuffName)">
								查看
							</div>
							<div ng-show="{{ listImg[index].upload }}" class="upload" ng-click="toUploadMaterial(index,stuff.stStuffId,stuff.stStuffName)">
								上传
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<apptb-footer 
		prev="prevStep()" 
		next="submit()" 
		custom-home="true" 
		home="customMain()"
	    go-back="goAppHistoryBack()">
	</apptb-footer>
</div>
<div class="loadingBox" ng-if="!isLoading">
	<img style="margin-left: 909px;margin-top: 430px;" src="../libs/common/images/loadings.gif" alt="">
	<p>正在加载数据，请稍后...</p>
</div>
<div class="AlertStE" ng-show="isAlert">
	<div class="stEContent">
		<p data-ng-bind-html="msg"></p>
		<span ng-click="stExamineBasisHandle()">关闭</span>
	</div>
</div>
<style type="text/css">
	#wrapper {
		width: 1550px;
		height: 500px;
	}
	
	#linkt {
		position: absolute;
		top: 100px;
		left: 0px;
	}
	
	.select {
		float: left;
		width: 1500px;
		height: 123px;
		overflow: hidden;
		font-size: 30px;
		background: #2864b0;
		white-space: nowrap;
		text-overflow: ellipsis;
		position: relative;
		background: url(./images/bg-xLlist.png) no-repeat;
	}
	
	.stuff {
		line-height: 123px;
		max-width: 1000px;
		/*overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;*/
		margin-left: 35px;
		padding-left: 50px;
		padding-right: 220px;
	}
	
	.upload2 {
		width: 130px;
		height: 50px;
		line-height: 50px;
		position: absolute;
		top: 37px;
		left: 1130px;
		font-size: 20px;
		text-align: center;
		background: url(./images/print.png) no-repeat;
	}
	
	.upload {
		width: 130px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		position: absolute;
		top: 37px;
		background: url(./images/print.png) no-repeat;
		font-size: 20px;
		left: 1300px;
	}
	
	.view {
		width: 130px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		position: absolute;
		top: 37px;
		background: url(./images/print.png) no-repeat;
		font-size: 20px;
		left: 1300px;
	}
	.must{
		position: relative;
	}
	.must::before{
		position: absolute;
		content: '*';
		font-size: 42px;
		color: #f10c00;
		left: 20px;
	}
	.stExamineBasis{
		width: 130px;
		height: 50px;
		display: inline-block;
		line-height: 50px;
		text-align: center;
		background: url(./images/print.png) no-repeat;
		font-size: 20px;
		margin-left: 20px;
	}
	.stExamineBasis span{
		display: none;
	}
	
	/*要点样式*/
	.AlertStE{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.stEContent{
		background-color: rgba(0,0,0,.6);
		position: absolute;
		padding: 30px 50px;
		max-width: 800px;
		min-width: 500px;
		box-sizing: border-box;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.stEContent>p{
		font-size: 26px;
	}
	.stEContent span{
		float:right;
		margin-top: 40px;
		background: #3385ff;
		width: 110px;
		height: 50px;
		line-height: 50px;
		text-align: center;
	}
</style>