<div class="shell">
	<div class="Tit1">欢迎使用一网通办智能自助工作台</div>
	<div class="main1">
		<div class="swiper-container1">
			<div class="swiper-wrapper">
				<!--每列宽度417,列数变动宽度变动-->
				<div class="swiper-slide" style="width:834px;">
					<h2>一网通办申报</h2>
					<ul class="ul1 clearfloat">
						<li class="bgpink1" ng-click="goToApp('declare/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link1.png"/>
                                    </dt>
									<dd>自助申报</dd>
								</dl>
								<p class="p1">自助办事窗口，涵盖区里所有的个人、法人办事事项</p>
							</a>
						</li>
						<!-- <li class="bggreen1" ng-click="goToApp('waiter/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link2.png"/>
                                    </dt>
									<dd>套餐查询</dd>
								</dl>
								<p class="p1">套餐查询</p>
							</a>
						</li> -->
						<li class="bgblue1" ng-click="goToApp('yiwindow/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon/qqy.png"/>
                                    </dt>
									<dd>企业开办“一窗通”</dd>
								</dl>
								<p class="p1">企业开办“一窗通”</p>
							</a>
						</li>
						<li class="bgpurple1" ng-click="goToApp('synthesize/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link4.png"/>
                                    </dt>
									<dd>综合通办服务</dd>
								</dl>
								<p class="p1">综合通办服务</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="swiper-slide" style="width:1251px;">
					<h2>自助政务服务</h2>
					<ul class="ul1 clearfloat">
						<li class="bgorange1" ng-click="goToApp('eLicense/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link5.png"/>
                                    </dt>
									<dd>我的证照</dd>
								</dl>
								<p class="p1">营业执照、食品经营许可证等17类证件通过市电子证照库在线调取打印</p>
							</a>
						</li>
						<li class="bgblue2" ng-click="goToApp('guideline/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link6.png"/>
                                    </dt>
									<dd>办事指南</dd>
								</dl>
								<p class="p1">办理事项的服务指南</p>
							</a>
						</li>
						<li class="bgred1" ng-click="goToApp('autoForm/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link7.png"/>
                                    </dt>
									<dd>自助填表</dd>
								</dl>
								<p class="p1">刷身份证、扫码自助填表，无需再在表格手动填写身份信息、手工粘贴身份证复印件</p>
							</a>
						</li>
						<!-- <li class="bggreen2" ng-click="goToApp('workAppointment/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link8.png"/>
                                    </dt>
									<dd>自助预约</dd>
								</dl>
								<p class="p1">区行政服务中心所有窗口办事服务在线预约</p>
							</a>
						</li> -->
						<li class="bggrey1" ng-click="goToApp('workSearch/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link9.png"/>
                                    </dt>
									<dd>进度查询</dd>
								</dl>
								<p class="p1">一网通办、窗口办事进度情况查看</p>
							</a>
						</li>
					<!--	<li class="bgyellow1" ng-click="goToApp('faceRecognition/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link10.png"/>
                                    </dt>
									<dd>人证核验</dd>
								</dl>
								<p class="p1">比对身份证照片和现场拍摄照片确认是否是申请人本人</p>
							</a>
						</li> -->
						<li class="bgyellow1" ng-click="goToApp('printLicense/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link16.png"/>
                                    </dt>
									<dd>证明开具</dd>
								</dl>
								<p class="p1">证明开具</p>
							</a>
						</li>
					</ul>
				</div>
			<!-- 	<div class="swiper-slide" style="width:834px;">
					<h2>金融服务</h2>
					<ul class="ul1 clearfloat bank">
						<li class="bgblue3" ng-click="goToApp('bankService/index.html#/main?name=icbc')">
							<img src="libs/common/images/bankService/icbc.png" />
						</li>
						<li class="bgyellow2" ng-click="goToApp('bankService/index.html#/main?name=ccb')">
							<img src="libs/common/images/bankService/js.png" />
						</li>
						<li class="bgorange2" ng-click="goToApp('bankService/index.html#/main?name=pfbc')">
							<img src="libs/common/images/bankService/pf.png" />
						</li>
						<li class="bgpink2" ng-click="goToApp('bankService/index.html#/main?name=xmbc')">
							<img src="libs/common/images/bankService/xm.png" />
						</li>
					</ul>
				</div> -->
				<div class="swiper-slide" style="width:834px;">
					<h2>便捷服务</h2>
					<ul class="ul1 clearfloat">
						<li class="bgblue3" ng-click="goToApp('materialsCopy/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link15.png"/>
                                    </dt>
									<dd>材料复印</dd>
								</dl>
								<p class="p1">材料复印</p>
							</a>
						</li>
						<li class="bgorange1" ng-click="goToApp('evaluate/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
						                <img src="libs/common/images/icon-link7.png"/>
						            </dt>
									<dd>评价及建议</dd>
								</dl>
								<p class="p1">评价及建议</p>
							</a>
						</li>
						<li class="bgyellow2" ng-click="goToApp('idcard/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link14.png"/>
                                    </dt>
									<dd>身份证复印</dd>
								</dl>
								<p class="p1">身份证复印</p>
							</a>
						</li>
						<li class="bggreen2" ng-click="goToApp('waiter/index.html')">
							<a href="#">
								<dl class="dl1 clearfloat">
									<dt>
                                        <img src="libs/common/images/icon-link8.png"/>
                                    </dt>
									<dd>微信</dd>
								</dl>
								<p class="p1">微信</p>
							</a>
						</li>
					</ul>
				</div>

			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
		<div class="examplebox1"><img src="libs/common/images/icon-test1.png" />左右滑动进行选择</div>
	</div>
	<div class="logoBox1"><img src="libs/common/images/logo1.png" /><img src="libs/common/images/logo2.png" />虹口区行政服务中心</div>
	</div> 
	<img src="libs/common/images/icon/wonders-logo.png" class="wondersLogo" />
</div>
<style type="text/css">
	.wondersLogo {
		position: absolute;
		right: 100px;
		bottom: 23px;
	}
	
	@-webkit-keyframes zy {
		10% {
			transform: rotate(15deg);
		}
		20% {
			transform: rotate(-10deg);
		}
		30% {
			transform: rotate(5deg);
		}
		40% {
			transform: rotate(-5deg);
		}
		50%,
		100% {
			transform: rotate(0deg);
		}
	}
	
	@-moz-keyframes zy {
		10% {
			transform: rotate(15deg);
		}
		20% {
			transform: rotate(-10deg);
		}
		30% {
			transform: rotate(5deg);
		}
		40% {
			transform: rotate(-5deg);
		}
		50%,
		100% {
			transform: rotate(0deg);
		}
	}
	
	@-o-keyframes zy {
		10% {
			transform: rotate(15deg);
		}
		20% {
			transform: rotate(-10deg);
		}
		30% {
			transform: rotate(5deg);
		}
		40% {
			transform: rotate(-5deg);
		}
		50%,
		100% {
			transform: rotate(0deg);
		}
	}
	
	@keyframes zy {
		10% {
			transform: rotate(15deg);
		}
		20% {
			transform: rotate(-10deg);
		}
		30% {
			transform: rotate(5deg);
		}
		40% {
			transform: rotate(-5deg);
		}
		50%,
		100% {
			transform: rotate(0deg);
		}
	}
	
	.VideoBox1 {
		animation: zy 2.5s .15s linear infinite;
		-moz-animation: zy 2.5s .15s linear infinite;
		/* Firefox */
		-webkit-animation: zy 2.5s .15s linear infinite;
		/* Safari and Chrome */
		-o-animation: zy 2.5s .15s linear infinite;
		/* Opera */
	}
	
	.swiper-container1 .ul1.bank li {
		line-height: 200px;
		text-align: center;
	}
</style>