<style type="text/css">
	.scrollBox2 {
		width: 1500px;
		height: 600px;
		margin-top: 1%;
		margin-left: 11%;
	}
	
	.caption {
		margin-top: 86px;
   		margin-left: 220px;
	}
	
	#wrapper {
		width: 1300px;
		height: 100%;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-position:0px -25px;
		background-size:1200px 650px;
	}
	
	
	.schoolName input {
		font-size: 28px;
		color: #fff;	
		padding-left: 4%;
		border: none;
		background: rgba(0,0,0,0);
		border-radius: 8px;
		box-shadow: 0px 0px 8px 4px #175191 inset;
		width: 100%;
		height: 100%;
	}
	.schoolName img {
		opacity: 0.7;
		position: absolute;
		cursor: pointer;
		top: 22%;
	    right: 5%;
	    width: 52px;
	}
	
	.linkt {
		position: relative;
		width: 1800px;
		/*top: 65px;*/
		left: 94px;
	}
	
	.sDetail{
		float: left;
		width: 1300px;
    	height: 800px;
		overflow: hidden;
		/* background: url('../libs/common/images/bg-bigList.png') no-repeat; */
		/* background-size: 100% 100%; */
		margin-top: 10px;
		margin-left: 145px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		padding-top: 2%;
	}
	.sDetail dd {
		margin-top: 30px;
	    height: 60px;
	    width: 54%;
	    margin: 0.9% auto;
	}
	.sDetail .line1 {
		margin-top: 30px;
	    height: 400px;
	    width: 54%;
	    /* margin: 0.9% auto; */
	}
	.sDetail .line2 {
		margin-top: 30px;
	    height: 140px;
	    width: 54%;
	    margin: 0.9% auto;
	}
	.sDetail .line1 dl {
		/* white-space: normal; */
		width: 90%;
		float: left;
		margin-right: 500px;
		height: 100%;
		line-height: 150%;
	}
	.sDetail dl {
		white-space: normal;
		width: 80%;
		float: left;
		margin-right: 100px;
		/* margin-left: -300px; */
		height: 100%;
		line-height: 150%;
	}
	.sDetail b {
		width: 16%;
		display: block;
		float: left;
		margin-left: -200px;
		font-weight: bold;
		text-align: justify;
		text-align-last: justify;
		/* -ms-text-justify: inter-ideograph; */
		-ms-text-align-last: justify;
	}
	
	.select {
		float: left;
		width: 600px;
    	height: 230px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 100% 100%;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		padding-top: 1%;
	}
	
	.select dd {
		margin-top: 30px;
    height: 80px;
    width: 74%;
    margin: 2.6% auto;
	}
	
	.select dl {
		white-space: normal;
		width: 100%;
		height: 100%;
		line-height: 150%;
	}
	
	.select b {
		width: 130px;
		display: block;
		float: left;
		font-weight: bold;
		text-align: justify;
		text-align-last: justify;
		/* -ms-text-justify: inter-ideograph; */
		-ms-text-align-last: justify;
	}
	
	@media screen and (max-width: 1600px) {
		.scrollBox2 {
		width: 1000px;
		height: 600px;
		margin-top: 3%;
		margin-left: 10%;
	   }
	   #wrapper {
		width: 1000px;
		height: 100%;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-position:0px -25px;
		background-size:1000px 650px;
	}
		.bg-middle {
				background-size: 100% 80%;
			}
		.caption {
			margin-left: 80px !important;
				margin-top: 60px !important;
			}
		.linkt {
			left: 10px;
		}
		.sDetail{
		float: left;
		width: 1000px;
    	height: 800px;
		overflow: hidden;
		/* background: url('../libs/common/images/bg-bigList.png') no-repeat; */
		/* background-size: 100% 100%; */
		margin-top: 10px;
		margin-left: 45px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		padding-top: 2%;
	 }

	 .select {
		float: left;
		width: 600px;
    	height: 230px;
		overflow: hidden;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 100% 100%;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 25px;
		padding-top: 1%;
	}
	
	.select dd {
	margin-top: 30px;
    height: 80px;
    width: 74%;
    margin: 2.6% auto;
	}
	
	.sDetail .line1 dl {
		
		width: 110%;
		float: left;
		margin-right: 200px;
		height: 100%;
		line-height: 150%;
	}
	
	.select b {
		width: 130px;
		display: block;
		float: left;
		font-weight: bold;
		text-align: justify;
		text-align-last: justify;
		/* -ms-text-justify: inter-ideograph; */
		-ms-text-align-last: justify;
	}
	}
</style>
<p class="caption">{{ spaceInfoList.organname || "------"}}</p>
<div class="scrollBox2 clearfloat">
	<div id="wrapper" class="wrapper">
		<div>
			<div class="detailInfo">
				<a class="sDetail">
					<dd class="line1">
						<b>预约说明：</b>
						<dl>{{ spaceInfoList.orderexplain || "------"}}</dl>
					</dd>
					<dd class="line2">
						<b>办公时间：</b>
						<dl>{{ spaceInfoList.opentime || "------"}}</dl>
					</dd>
					<dd>
						<b>咨询电话：</b>
						<dl>{{ spaceInfoList.telphone || "------"}}</dl>
					</dd>
					<dd>
						<b>地址：</b>
						<dl>{{ spaceInfoList.address || "------"}}</dl>
					</dd>
				</a>
			</div>
		</div>
	</div>
</div>
<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" next="nextStep()" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>