<!-- <div class="main">
    <a><img src="../libs/common/images/card.gif" alt=""/></a>
    <p>请将您的身份证放置在证件扫描区，系统会自动验证您的身份信息。</p>
</div> -->
<nav>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <img src="../libs/common/images/home.png" style="height: 30px;">
            </a>
        </li>
        <li>
            <a href="#">公积金查询</a>
        </li>
        <li class="active">扫描身份证</li>
    </ol>
</nav>
<div class="board">
    <div class="info blue-green">
        <img class="bg" src="../libs/common/images/mainIndexBG_0.png">
        <div class="vertical-middle horizontal-middle leftLump">
            <img src="../libs/common/images/prototype.png">
            <img src="../libs/common/images/card.gif" style="width:80px;position:absolute;top: 211px;left: 108px;">
            <div>请刷身份证以继续</div>
        </div>
    </div>
    <div class="action">
        <div class="camera" style="top:80px;left:180px;"></div>
        <b style="position:absolute;font-size:30px;width:100%;text-align:center;top:650px;">
            系统将在您刷身份证同时，拍摄您的照片，用作身份核验
        </b>
    </div>
</div>