.section{
    width: 1080px;
    height:517px;
    position: absolute;
    top: 275px;
}
.section h3{
    width: 1080px;
    height: 43px;
    line-height: 43px;
    font-size: 40px;
    color: white;
    text-align: center;
}
.input_box{
    width: 1080px;
    height: 86px;
    line-height: 86px;
    margin-top: 72px;
    text-align: center;
    position: relative;
}
.input{
    width: 388px;
    height: 86px;
    color: white;
    background: url("../images/input_bg.png") no-repeat;
    background-size: 100%;
    border: none;
    border-radius: 42px;
    padding-left: 35px;
    padding-right: 89px;
    font-size: 32px;
}
.submit{
    width: 86px;
    height: 86px;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 32px;
    background: transparent;
    position: absolute;
    top: 0px;
    right: 285px;
}
.num-list-box{
    width: 1080px;
    height: 308px;
    margin-top: 80px;
    text-align: center;
}
.num-list{
    width: 342px;
    height: 308px;
    margin-left: 317px;
}
.num-list li{
    width: 99px;
    height: 99px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 99px;
    text-align: center;
    font-size: 32px;
    color: white;
    cursor: pointer;
    background: url("../images/code2_bg.png") no-repeat;
    background-size: 100%;
}
.num-list li:hover{
    background: url("../images/code_bg.png") no-repeat;
    background-size: 100%;
}
.num-list-r li:nth-child(1):hover{
    background: url("../images/code_bg.png") no-repeat;
    background-size: 100%;
}
.num-list-r li:nth-child(2):hover{
    background:url("../images/clear_click_bg.png") no-repeat;
    background-size: 100%;
}
.num-list-r li:nth-child(1){
    width: 99px;
    height: 99px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height:99px;
    text-align: center;
    font-size: 32px;
    color: white;
    cursor: pointer;
    background: url("../images/code2_bg.png") no-repeat;
    background-size: 100%;
}
.num-list-r li:nth-child(2){
    width: 99px;
    height: 208px;
    line-height: 99px;
    font-size: 32px;
    color: white;
    background: url("../images/code_clear_bg.png") no-repeat;
    background-size: 103%;
    cursor: pointer;
}
.num-list-r li:nth-child(2) span{
    display: block;
}
.choose-word{
    width: 1080px;
    height: 525px;
    margin-top: 100px;
    text-align: center;
}
.choose-word p{
    width: 1080px;
    color: white;
}
.choose-word p:first-child{
    height: 25px;
    line-height: 25px;
    font-size: 22px;
}
.choose-word p:nth-child(2){
    height: 70px;
    line-height: 70px;
    font-size: 65px;
    margin-top: 45px;
}
.choose-word p:nth-child(3){
    margin-top: 152px;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}
.choose-word ul{
    width: 625px;
    height: 215px;
    margin: 45px auto 0px;

}
.choose-word ul li{
    width: 99px;
    height: 99px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    line-height: 99px;
    text-align: center;
    font-size: 32px;
    color: white;
    cursor: pointer;
    background: url("../images/code2_bg.png") no-repeat;
    background-size: 100%;
}
.choose-word ul li:hover{
    background: url("../images/code_bg.png") no-repeat;
    background-size: 100%;
}
.choose-word ul li:nth-child(5),
.choose-word ul li:nth-child(10){
    margin-right: 0px;
}
.layui_ico {
	margin-top:9px;
}
.layui-layer-content span{
	font-size:50px;
    line-height:225px;
    text-align:center;
    display: block;
 }
 .layui-layer-content p{
    font-size:50px;
    line-height:50px;
    margin-left:50px;
 }
.layui-layer-padding p{
	font-size:50px;
	line-height:35px;
}
body .layui-layer-title{
	border: none;
	height:40px;
	font-size:20px;
}
body .layui-layer-btn{
	border-top:1px solid #E9E7E7;
	height:40px;
}
body .layui-layer-btn .layui-layer-btn0{
	height:30px;
	width:100px;
	margin-top:10px;
	font-size:25px;
	line-height:30px;
	text-align:center;
}