<p class="caption">{{funName}}--办理须知</p>
<div class="main2">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>一、事项名称：</dt>
				<dd>
					<p>个人住房公积金从外省市转移到本市</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>二、申请范围：</dt>
				<dd>
					<p>职工符合以下条件的，可以申请网上个人住房公积金从外省市转移到本市：</p>
					<p>（一）职工在本市设立住房公积金账户并稳定缴存住房公积金半年以上的；</p>
					<p>（二）签署过网上服务协议的。</p>
					<p>职工为外籍及港、澳、台在沪工作人员的，目前暂无法申请网上个人住房公积金从外省市转移到本市。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>三、办理场所：</dt>
				<dd>
					<p>上海住房公积金网www.shgjj.com、上海公积金微信服务号、上海公积金手机APP、随申办APP、随申办微信小程序、随申办支付宝小程序。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>四、办理条件：</dt>
				<dd>
					<p>1、申请人身份证件号码；</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>五、承诺内容：</dt>
				<dd>
					<p>一、申请人已知晓并同意遵守本市住房公积金规定、申请人承诺对本表所填写内容的真实性、完整性负责，因错误、虚假信息造成的损失由申请人自行承担。</p>
					<p>二、申请人已知晓并同意遵守如下条款：</p>
					<p>（一）授权上海市公积金管理中心（转入地中心）将本人以上信息及《住房公积金异地转移接续联系函》传递到住房公积金账户转出地住房公积金管理中心，并将转入资金计入本人住房公积金个人账户。</p>
					<p>（二）授权外省市住房公积金管理中心（转出地中心）于接收到《住房公积金异地转移接续联系函》后为本人办理住房公积金账户转出手续。</p>
					<p>（三）住房公积金转移实际金额以转出地办理账户转出时的账户本金余额及计利息合计为准。</p>
					<p>（四）此次申请在申请人所填信息与核查信息不符合的情况下终止。</p>
					<p>（五）申请审核结果将通过短信发送到表中的制定手机号，五个工作日内未收到短信的，可拨打12329热线查询。</p>
					<p>（六）手机号码发生变更的、提供的本市银行借记卡发生遗失、注销等情况的，应及时至区管理部、上海市公积金官方线上渠道办理变更手续，未及时办理变更手续造成的损失由申请人自行承担。</p>
					<p>（七）申请人应妥善保管并采取有效措施防止手机验证码、银行卡信息、身份证信息、上海住房公积金网用户名及密码等有关身份证识别信息泄露，因上述信息泄露而造成的后果由申请人承担。</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.main2 {
		width: 1625px;
		height: 645px;
		margin-left: 150px;
		margin-top: 30px;
	}

	.scrollBox2 .dllist1 {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.scrollBox2 .dllist1 dd {
		width: 1270px;
	}

	#wrapper {
		width: 1630px;
		height: 600px;
	}
	.dllist1 dd b{
		color:#e1ba1c;font-weight:bold;
	}
	@media screen and (min-width:1279px) and (max-width:1281px) {
		.caption {
			margin-left: 130px !important;
			margin-top: 60px !important;
		}
		.main2 {
			width: 1105px;
			height: 645px;
			margin-left: 95px;
			margin-top: 30px;
		}
		.scrollBox2 .dllist1 dd {
			width: 1000px;
		}
		#wrapper {
			width: 1000px;
			height: 600px;
		}
	}
</style>