<div class="contain">
    <p class="caption">{{ operation }}</p>
    <div class="scrollBox2 clearfloat">
        <div class="linkBox1 clearfloat">
        	<a ng-click="handle()">
                <img src="../libs/common/images/serial.png" />
                <p>办理</p>
            </a>
            <a ng-click="handleSearch()">
                <img src="../libs/common/images/serial.png" />
                <p>进度查询及撤销</p>
            </a>
        </div>
    </div>
</div>
<apptb-footer
	prev="prevStep()"
	next=""
	default-is-show-next-btn="hidden"
	default-is-show-prev-btn="hidden"
	custom-home="true"
	home="customMain()"
    go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
    .contain {
        width: 1530px;
        height: 700px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .scrollBox2 .linkBox1 {
        padding-left: 390px;
        text-align: center;
        margin-top: 80px;
    }
    @media screen and (min-width:1279px) and (max-width:1281px) {
		.scrollBox2 .linkBox1 {
			padding-left: 20px;
			margin-top: 50px;
		}
	}
</style>