<style type="text/css">
	@media screen and (min-width: 1600px) {
		#infoForm {
			font-size: 34px;
			display: flex;
			width: 100%;
			flex-wrap: wrap;
		}
		.inputBox {
			width: 50%;
			margin-bottom: 20px;
		}
		.inputBox label {
			display: inline-block;
			width: 35%;
			text-align: right;
		}
		.inputBox input {
			width: 55%;
			height: 70px;
			border-radius: 15px;
			box-sizing: border-box;
			padding: 0px 10px;
		}
		.fullItemName {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 50px;
			width: 100%;
		}
		.select{
			width: 55%;
			height: 100%;
			padding: 15px;
			box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px inset;
			border-radius: 15px;
			border: 0;
			font-size: 30px;
		}
		.inputBox.content {
			width: 100%;
		}
		.inputBox.content label {
			width: 17.6%;
		}
		.inputBox.content input {
			width: 77.4%;
		}
	}
	@media screen and (max-width: 1600px) {
		#infoForm {
			font-size: 28px;
			display: flex;
			width: 100%;
			flex-wrap: wrap;
		}
		.inputBox {
			width: 50%;
			margin-bottom: 20px;
		}
		.inputBox label {
			display: inline-block;
			width: 35%;
			text-align: right;
		}
		.inputBox input {
			width: 55%;
			height: 70px;
			border-radius: 15px;
			box-sizing: border-box;
			padding: 0px 10px;
		}
		.fullItemName {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 50px;
			width: 100%;
		}
		.select{
			width: 55%;
			height: 100%;
			padding: 15px;
			box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px inset;
			border-radius: 15px;
			border: 0;
			font-size: 30px;
		}
		.inputBox.content {
			width: 100%;
		}
		.inputBox.content label {
			width: 17.6%;
		}
		.inputBox.content input {
			width: 77.4%;
		}
		.inputBox.targetNo label {
			font-size: 24px;
		}
	}

	
</style>

<div>
<div class="headBox1">
        <ul class="navul1 clearfloat">
            <li>选择事项</li>
            <li>办事指南</li>
            <li>人证核验</li>
            <li  class="act">在线填报</li>
        </ul>
    </div>
<div class="main2" style="height:650px">
    <div class="scrollBox2 clearfloat">
        <div class="right-input">
        	<form id="infoForm" method="get">
        		<div class="fullItemName">{{fullItemName}}</div>
        		<div class="inputBox">
		            <label class="strong"><font color='red'>*</font>办理对象</label>
					<select class="select" ng-model="targetTypeName">
						<option ng-repeat="x in list" value="{{x.obj}}">{{x.obj}}</option>
					</select>
		           <!-- <input type="button" style="width: 125px; height: 50px;margin-top:20px;margin-left:30px;" value="个人" ng-model="targetTypeName" name="targetType" ng-click="person()" /> <span style="font-size:32px;margin-right:15px;">&nbsp;&nbsp;个人</span> -->
		            <!--<input type="button" style="width: 125px; height: 50px;" value="法人" ng-model="targetTypeName" name="targetType" ng-click="faren()"/> <span style="font-size:32px;margin-right:15px;">&nbsp;&nbsp;法人</span> -->
		        </div>
	        	<div class="inputBox">
		            <label class="strong"><font color='red'>*</font>{{targetName}}</label>
		            <input type="text" id="targetName" name="targetName" />
		        </div>
	        	<div class="inputBox targetNo">
		            <label class="strong"><font color='red'>*</font>{{targetTips}}</label>	
		            <input type="text" id="targetNo" name="targetNo" />
		        </div>
		        <div class="inputBox">
		            <label class="strong"><font color='red'>*</font>经办人姓名</label>
		            <input type="text" id="username" name="username" />
		        </div>
		        <div class="inputBox">
		            <label class="strong"><font color='red'>*</font>经办人身份证号</label>
		            <input type="text" id="licenseNo" name="licenseNo" />
		        </div>
		        <div class="inputBox">
		            <label class="strong"><font color='red'>*</font>经办人手机号</label>
		            <input type="text" id="mobile" name="mobile" />
		        </div>
		        <div class="inputBox content">
		            <label>申请内容</label>
		            <input type="text" id="content" name="content"/>	
		        </div>
        	</form>
        </div>
    </div>
</div>
		<!--<div class="btnBox1 clearfloat">
		   <a href="#select" class="Prev">上一步</a>
		   <a ng-click="goNext()" class="next">下一步</a>
		</div>-->

		<apptb-footer 
			need-count-down="true" 
			default-is-show-prev-btn="1" 
			default-is-show-next-btn="1" 
			prev="prev()"
			next="goNext()">
		</apptb-footer>
</div>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()"></alert>
