<p class="caption" style="margin-bottom: 30px;">{{stuffName}}办事指南</p>
<div class="main2" style="width: 1750px;height: 645px;background-color: #2864B0;">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat" id="scrollBox2">
			<dl class="dllist1 clearfloat" style="padding-top: 25px;">
				<dt>一、事项名称：</dt>
				<dd ng-bind-html="stuffName | to_trusted">
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>二、事项编码：</dt>
				<dd>
					<p>{{code || to_trusted}}</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>三、办事指南：</dt>
				<dd ng-bind-html="info | to_trusted">
				</dd>
			</dl>
		</div>
	</div>
</div>
<app-footer prev="prevStep()" next="nextStep()"></app-footer>
<style type="text/css">
	#wrapper {
		width: 1750px;
		height: 600px;
	}
	
	.stuff td {
		font-size: 24px;
	}
	
	.stuff th {
		font-size: 24px;
	}
	
	.stuff table tr>td:nth-child(1) {
		width: 950px;
	}
	
	.stuff table tr>td:nth-child(2) {
		display: none;
		text-align: center
	}
	
	.stuff table tr>th:nth-child(2) {
		display: none;
	}
	
	.stuff table tr>td:nth-child(3) {
		width: 170px;
		margin-left: 20px;
		text-align: center
	}
	
	.stuff table tr>td:nth-child(4) {
		width: 130px;
		margin-left: 20px;
		text-align: center
	}
	
	.stuff table tr>td:nth-child(5) {
		width: 150px;
		margin-left: 20px;
		text-align: center
	}
</style>