<style>
	.caption {
		position: absolute;
		left: 6%;
		top: 15%;
		font-size: 36px;
		color: #fff;
		opacity: 1;
	}
	
	#wrapper {
		width: 100%;
		height: 70%;
		margin-top: 8%;
		overflow: hidden;
		overflow: scroll;
		-ms-overflow-style: none;
	}
	
	.table-sty1 {
		margin: 0 auto;
	}
	
	.table-sty1 th,
	.table-sty1 td {
		text-align: center;
		white-space: normal;
		padding: 5px 4px;
		font-size: 18px;
	}
	
	.table-sty1 thead tr th {
		font-weight: bold;
		text-align: center;
	}
	
	.gray {
		background-color: rgba(255, 255, 255, 0.2);
	}
	
	.tips {
		position: absolute;
		bottom: 20%;
		left: 10.4%;
		width: 80%;
		color: rgb(250, 189, 1);
		font-size: 18px;
	}
	
	@media screen and (min-width:1279px) and (max-width:1281px) {
		#wrapper {
			margin-top: 12%;
			height: 66%
		}
		.table-sty1 {
			width: 90%;
		}
	}
</style>
<p class="caption">
	{{firstName}}&emsp; |&emsp; <span class="captionMini">{{secondName}}</span></p>
<div class="scrollBox2 clearfloat">
	<div class="TabBox">
		<div id="wrapper">
			<table class="table-sty1">
				<thead>
					<tr class="gray">
						<th data-field="部门" style="width: 10%;">
							<div class="th-inner ">部门</div>
							<div class="fht-cell"></div>
						</th>
						<th data-field="序号" style="width: 7%;">
							<div class="th-inner">序号</div>
							<div class="fht-cell"></div>
						</th>
						<th data-field="收费项目名称" style="width: 17%;">
							<div class="th-inner ">收费项目名称</div>
							<div class="fht-cell"></div>
						</th>
						<th data-field="收费标准" style="width: 22%;">
							<div class="th-inner ">收费标准</div>
							<div class="fht-cell"></div>
						</th>
						<th data-field="资金管理方式" style="width: 10%;">
							<div class="th-inner ">资金管理方式</div>
							<div class="fht-cell"></div>
						</th>
						<th data-field="政策依据">
							<div class="th-inner ">政策依据</div>
							<div class="fht-cell"></div>
						</th>
						<th data-field="批准文号">
							<div class="th-inner ">批准文号</div>
							<div class="fht-cell"></div>
						</th>
						<th data-field="备注" style="width: 7%;">
							<div class="th-inner ">备注</div>
							<div class="fht-cell"></div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-index="0">
						<td>交 通</td>
						<td>1</td>
						<td>车辆通行费(限于政府还贷)</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="1">
						<td></td>
						<td></td>
						<td>(1)申嘉湖高速公路</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>《收费公路管理条例》</td>
						<td>沪财预[2008]30号 沪建交联[2011]1350号
						</td>
						<td></td>
					</tr>
					<tr data-index="2">
						<td></td>
						<td></td>
						<td>(2)嘉金高速公路</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>《收费公路管理条例》</td>
						<td>沪财预[2008]30号 沪建交联[2011]1350号
						</td>
						<td></td>
					</tr>
					<tr data-index="3">
						<td></td>
						<td></td>
						<td>(3)沪常高速公路</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>《收费公路管理条例》</td>
						<td>沪财预[2011]43号 沪建交联[2011]1350号
						</td>
						<td></td>
					</tr>
					<tr data-index="4">
						<td></td>
						<td></td>
						<td>(4)崇启通道(上海段)</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>《收费公路管理条例》</td>
						<td>沪财预[2011]143号 沪建交联[2011]1350号
						</td>
						<td></td>
					</tr>
					<tr data-index="5">
						<td></td>
						<td>2</td>
						<td>城市道路占用、挖掘修复费</td>
						<td>挖掘修复费：见文件(具体按《上海市市政工程养护维修预算定额(第八册)[SHA1-41(08)-2018]&lt;城市道路掘路修复工程&gt;》) 临时占道费：市区甲等2元/平方米·天；乙等1元/平方米·天；郊区一级1元/平方米·天；二级0.5元/平方米·天
						</td>
						<td>缴入地方国库</td>
						<td>建城[1993]410号</td>
						<td>沪价涉[1992]232号 沪价费[1995]195号 沪价费[2018]8号
						</td>
						<td></td>
					</tr>
					<tr data-index="6">
						<td></td>
						<td>3</td>
						<td>道路运输管理证照工本费(限丢失、损坏补办)</td>
						<td>道路运输经营许可证18元/本 道路运输证12元/套 省际班车客运铝质标志110元/块 省际道路客运标志8元/张
						</td>
						<td>缴入地方国库</td>
						<td>国务院令第406号 市人大公告1996年第40号
						</td>
						<td>沪价行[1999]72号 沪价费[2006]31号 沪财预[2014]155号
						</td>
						<td></td>
					</tr>
					<tr data-index="7">
						<td></td>
						<td>4</td>
						<td>机动车道路停车费收费</td>
						<td>重点区域白天首小时内15元；超过1小时后，每30分钟10元；夜间10元/次。内环线以内其他区域白天首小时内10元；超过1小时后，每30分钟6元；夜间8元/次。内、外环线间(含外环线外城镇)白天首小时内7元；超过1小时后，每30分钟4元；夜间5元/次</td>
						<td>缴入地方国库</td>
						<td>市政府令2012年第85号</td>
						<td>沪财预[2005]14号 沪交停[2005]621号 沪财预[2012]153号
						</td>
						<td></td>
					</tr>
					<tr data-index="8">
						<td></td>
						<td>5</td>
						<td>岸线使用费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="9">
						<td></td>
						<td></td>
						<td>(1)内河岸线使用费</td>
						<td>2元/米.半年</td>
						<td>缴入地方国库</td>
						<td>市政府令1997年第53号</td>
						<td>沪价费[2003]15号</td>
						<td></td>
					</tr>
					<tr data-index="10">
						<td></td>
						<td></td>
						<td>(2)港口岸线使用费</td>
						<td>按码头前沿水深2米以下3元/米·季；2米以上至5米以下10元/米·季；5米以上至8米以下30元/米·季；8米以上90元/米·季</td>
						<td>缴入地方国库</td>
						<td>市政府令1997年第53号</td>
						<td>沪价费[2005]11号</td>
						<td></td>
					</tr>
					<tr data-index="11">
						<td></td>
						<td>6</td>
						<td>公路路产损坏赔(补)偿费</td>
						<td>高等级公路，水泥混凝土路面面层损坏赔偿标准为180元/平方米，详见文件</td>
						<td>缴入地方国库</td>
						<td>《公路法》</td>
						<td>沪价费[2005]27号 沪财预[2013]144号</td>
						<td></td>
					</tr>
					<tr data-index="12">
						<td></td>
						<td>7</td>
						<td>市政设施损坏赔偿费</td>
						<td>见文件(按市政工程养护维修定额)</td>
						<td>缴入地方国库</td>
						<td>市人大公告1994年第11号</td>
						<td>沪价涉[1992]232号</td>
						<td></td>
					</tr>
					<tr data-index="13">
						<td>经济信息</td>
						<td>8</td>
						<td>无线电频率占用费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>计价费[1998]218号 发改价格[2003]2300号 发改价格[2005]2812号 发改价格[2018]601号 发改价格[2019]914号
						</td>
						<td>沪财预[2002]100号 沪价费[2006]3号 沪价费[2018]2号 沪发改价调[2019]3号 沪财税[2019]31号
						</td>
						<td></td>
					</tr>
					<tr data-index="14">
						<td>农 委</td>
						<td>9</td>
						<td>渔业资源增殖保护费</td>
						<td>近海渔业资源增殖保护费(拖网)基数1500元/艘+15元/马力，详见文件</td>
						<td>缴入中央和地方国库</td>
						<td>价费字[1992]452号</td>
						<td>沪价涉[1990]358号 沪价涉[1993]第237号 沪价行[1995]221号 沪财预[2002]126号 沪财预[2006]84号
						</td>
						<td>▲</td>
					</tr>
					<tr data-index="15">
						<td>水 务</td>
						<td>10</td>
						<td>废弃物海洋倾倒费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>发改价格[2008]1927号</td>
						<td>沪财预[2006]62号</td>
						<td></td>
					</tr>
					<tr data-index="16">
						<td></td>
						<td>11</td>
						<td>水资源费</td>
						<td>(1)地下水征收标准：0.20元/立方米；(2)地表水：自建设施及其他取水：0.1元/立方米；公共供水取水：0.1元/立方米；火力发电企业取水：直流式冷却按取水量1%征收，标准为0.1元/立方米，未安装计量设施的按发电量征收，每千瓦时0.15厘；循环式冷却用水，已安装计量设施的按实际补充新鲜水量征收，每立方米0.05元，未安装计量设施的，由水务局核定水量征收，标准同上</td>
						<td>缴入中央和地方国库</td>
						<td>财综[2008]79号 发改价格[2013]29号 市政府令2013年第11号
						</td>
						<td>沪财预[2008]113号 沪价管[2013]24号
						</td>
						<td></td>
					</tr>
					<tr data-index="17">
						<td></td>
						<td>12</td>
						<td>污水处理费</td>
						<td>居民用水为1.7元/立方米；工商业用水为2.34元/立方米；行政事业用水为2.24元/立方米；特种用水为2.34/立方米</td>
						<td>缴入地方国库</td>
						<td>国务院令第641号 财税[2014]151号
						</td>
						<td>沪财预[2016]25号</td>
						<td>应缴纳污水处理费=用水量×征收标准×0.9</td>
					</tr>
					<tr data-index="18">
						<td></td>
						<td>13</td>
						<td>滩涂有偿使用费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>《上海市滩涂管理条例》(2010年9月17日修订)</td>
						<td>沪府办规[2018]4号</td>
						<td></td>
					</tr>
					<tr data-index="19">
						<td></td>
						<td>14</td>
						<td>深井水水费</td>
						<td>(1)公共供水企业深井水费标准为0.45元/立方米； (2)直接取水用户：公共供水管网到达区域，深井水费4元/立方米，未到达区域深井水费2元/立方米； (3)饮料生产企业：已领取取水许可证、但未领取采矿许可证的，深井水费6.2元/立方米，已领取取水许可证、采矿许可证，并缴纳矿产资源补偿费的，按直接取水用户价格执行
						</td>
						<td>缴入地方国库</td>
						<td>市政府令1997年第53号</td>
						<td>沪价公[2005]25号 沪发改价公[2008]011号 沪水务[2008]750号
						</td>
						<td></td>
					</tr>
					<tr data-index="20">
						<td></td>
						<td>15</td>
						<td>超计划加价水费</td>
						<td>现行水费的2倍</td>
						<td>缴入地方国库</td>
						<td>市政府令1994年第69号</td>
						<td>沪价费[2002]38号</td>
						<td></td>
					</tr>
					<tr data-index="21">
						<td>规划和自然资源</td>
						<td>16</td>
						<td>不动产登记收费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>▲</td>
					</tr>
					<tr data-index="22">
						<td></td>
						<td></td>
						<td>(1)不动产登记费</td>
						<td>住宅类：80元/件，非住宅类：550元/件，详见文件</td>
						<td>缴入地方国库</td>
						<td>财税[2016]79号 发改价格规[2016]2559号 财税[2019]45号
						</td>
						<td>沪价督[2016]8号 沪财税[2019]22号
						</td>
						<td></td>
					</tr>
					<tr data-index="23">
						<td></td>
						<td></td>
						<td>(2)不动产权属证书工本费</td>
						<td>10元/本</td>
						<td>缴入地方国库</td>
						<td>财税[2016]79号 发改价格规[2016]2559号 财税[2019]45号
						</td>
						<td>沪价督[2016]8号 沪财税[2019]22号
						</td>
						<td></td>
					</tr>
					<tr data-index="24">
						<td></td>
						<td>17</td>
						<td>耕地开垦费</td>
						<td>120元/平方米</td>
						<td>缴入地方国库</td>
						<td>《土地管理法》</td>
						<td>沪发改价督[2015]8号 沪发改价督[2018]4号
						</td>
						<td></td>
					</tr>
					<tr data-index="25">
						<td></td>
						<td>18</td>
						<td>土地复垦费</td>
						<td>破坏耕地15元/平方米 破坏非耕农用地7.5元/平方米
						</td>
						<td>缴入地方国库</td>
						<td>《土地管理法》</td>
						<td>沪价商[2001]53号</td>
						<td></td>
					</tr>
					<tr data-index="26">
						<td></td>
						<td>19</td>
						<td>土地闲置费</td>
						<td>按照出让土地价款或者划拨土地取得价款的20%，详见文件</td>
						<td>缴入地方国库</td>
						<td>《土地管理法》</td>
						<td>沪府办[2010]35号</td>
						<td></td>
					</tr>
					<tr data-index="27">
						<td></td>
						<td>20</td>
						<td>探矿权、采矿权使用费及价款收入</td>
						<td>每平方公里每年100元，500元，1000元，详见文件</td>
						<td>缴入地方国库</td>
						<td>国务院令第240、241号 财综[2017]35号
						</td>
						<td>沪财综[1998]35号 沪财城[2000]2号 沪财税[2017]94号
						</td>
						<td></td>
					</tr>
					<tr data-index="28">
						<td></td>
						<td>21</td>
						<td>外商投资企业场地使用费</td>
						<td>0.50-170元/亩，详见文件</td>
						<td>缴入地方国库</td>
						<td>财企[2008]293号 财税[2018]16号 市政府令2018年第7号
						</td>
						<td>沪府[1995]38号 沪财税[2018]40号
						</td>
						<td></td>
					</tr>
					<tr data-index="29">
						<td></td>
						<td>22</td>
						<td>土地收益金</td>
						<td>实际购房款的1%，详见文件</td>
						<td>缴入地方国库</td>
						<td>沪府发[1999]44号</td>
						<td>沪房地资金[2003]339号</td>
						<td></td>
					</tr>
					<tr data-index="30">
						<td>绿化市容</td>
						<td>23</td>
						<td>户外广告公共阵地使用费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>市政府令2010年第56号</td>
						<td>沪财预[2007]55号</td>
						<td></td>
					</tr>
					<tr data-index="31">
						<td></td>
						<td>24</td>
						<td>临时使用绿地补偿费</td>
						<td>1-3元/平方米.日</td>
						<td>缴入地方国库</td>
						<td>市人大公告2007年第73号</td>
						<td>沪价费[2006]27号</td>
						<td></td>
					</tr>
					<tr data-index="32">
						<td></td>
						<td>25</td>
						<td>绿化补建费</td>
						<td>(1)建设项目容积率在1.8以内(含1.8)的：一类地区10000元/平方米；二类地区9000元/平方米；三类地区8000元/平方米；四类地区6000元/平方米；五类地区5000元/平方米；六类地区3000元/平方米；七类地区2000元/平方米 (2)容积率超过1.8的，按下列公式计算：绿化补建费=所处地段基价+(实际容积率—1.8)×所处地段基价×50%</td>
						<td>缴入地方国库</td>
						<td>市人大公告2007年第73号</td>
						<td>沪价费[2007]13号</td>
						<td></td>
					</tr>
					<tr data-index="33">
						<td></td>
						<td>26</td>
						<td>绿地易地补偿费</td>
						<td>一类地区8500元/平方米；二类地区7600元/平方米；三类地区6800元/平方米；四类地区5100元/平方米；五类地区4200元/平方米；六类地区2500元/平方米；七类地区1700元/平方米</td>
						<td>缴入地方国库</td>
						<td>市人大公告2007年第73号</td>
						<td>沪价费[2007]13号</td>
						<td></td>
					</tr>
					<tr data-index="34">
						<td></td>
						<td>27</td>
						<td>绿化补偿费</td>
						<td>季节内胸径6cm以下常绿乔木280元/棵，详见文件</td>
						<td>缴入地方国库</td>
						<td>市人大公告2007年第73号</td>
						<td>沪价费[2006]27号</td>
						<td></td>
					</tr>
					<tr data-index="35">
						<td>民 防</td>
						<td>28</td>
						<td>民防工程建设费</td>
						<td>60元/平方米</td>
						<td>缴入地方国库</td>
						<td>中发[2001]9号 计价格[2000]474号 市政府令2010年第52号
						</td>
						<td>沪价房[1996]179号</td>
						<td></td>
					</tr>
					<tr data-index="36">
						<td>教 育</td>
						<td>29</td>
						<td>幼、托保育教育费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="37">
						<td></td>
						<td></td>
						<td>(1)公办幼儿园保育教育费</td>
						<td>全日制一级园225元/月、二级园175元/月、三级园125元/月、市级示范园700元/月；寄宿制一级园390元/月、二级园340元/月、三级园290元/月、市级示范园800元/月</td>
						<td>缴入地方国库</td>
						<td>发改价格[2011]3207号 沪发改价费[2015]5号
						</td>
						<td>沪价费[2012]009号</td>
						<td></td>
					</tr>
					<tr data-index="38">
						<td></td>
						<td></td>
						<td>(2)托儿所管理费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>沪价行[2000]187号 沪价费[2004]43号</td>
						<td>沪价行[2000]187号 沪价费[2004]43号
						</td>
						<td></td>
					</tr>
					<tr data-index="39">
						<td></td>
						<td></td>
						<td>(3)外籍儿童就读费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>沪发改价费[2015]5号</td>
						<td>沪价行[2000]187号 沪价费[2004]43号 沪价费[2012]009号
						</td>
						<td></td>
					</tr>
					<tr data-index="40">
						<td></td>
						<td>30</td>
						<td>义务制教育阶段外籍儿童就读费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>沪教委财[2007]8号</td>
						<td>沪教委财[2007]8号</td>
						<td></td>
					</tr>
					<tr data-index="41">
						<td></td>
						<td>31</td>
						<td>普通高中学费、住宿费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="42">
						<td></td>
						<td></td>
						<td>(1)普通高中学费</td>
						<td>一般高中900元/学期,区县重点1200元/学期,市重点1500元/学期,高级寄宿制2000元/学期</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号</td>
						<td>沪价行[2000]119号</td>
						<td></td>
					</tr>
					<tr data-index="43">
						<td></td>
						<td></td>
						<td>(2)外籍学生就读费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>沪教委财[2007]8号</td>
						<td>沪教委财[2007]8号</td>
						<td></td>
					</tr>
					<tr data-index="44">
						<td></td>
						<td></td>
						<td>(3)普通高中住宿费</td>
						<td>一类条件360元/学期,二类270元/学期,三类180元/学期;空调加收200元、供热水加收40元/学期</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号</td>
						<td>沪教委财[2008]5号</td>
						<td></td>
					</tr>
					<tr data-index="45">
						<td></td>
						<td>32</td>
						<td>中等职业学校学费、住宿费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="46">
						<td></td>
						<td></td>
						<td>(1)一般学校学费(含综合高中)</td>
						<td>一般专业1100元/学期,特殊专业1300元/学期,艺术类专业2300元/学期;技校普通专业1100元/学期,技校复合专业1300元/学期</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号</td>
						<td>沪价行[1997]173号 沪价费[2003]20号</td>
						<td></td>
					</tr>
					<tr data-index="47">
						<td></td>
						<td></td>
						<td>(2)国家级重点学校学费(含综合高中)</td>
						<td>一般专业1500元/学期,特殊专业2000元/学期,艺术类专业4000元/学期;技校普通专业1500元/学期,技校复合专业2000元/学期</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号</td>
						<td>沪价费[2002]34号 沪价费[2002]50号</td>
						<td></td>
					</tr>
					<tr data-index="48">
						<td></td>
						<td></td>
						<td>(3)成人教育学费</td>
						<td>一般专业300-900元/学期,艺术类专业及特殊专业900-1500元/学期,高中2－3元/课时</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号</td>
						<td>沪价行[2000]180号</td>
						<td></td>
					</tr>
					<tr data-index="49">
						<td></td>
						<td></td>
						<td>(4)职业高中学费</td>
						<td>1200元/学期</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号</td>
						<td>沪教委财[2004]63号</td>
						<td></td>
					</tr>
					<tr data-index="50">
						<td></td>
						<td></td>
						<td>(5)外籍学生就读费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>沪教委财[2007]8号</td>
						<td>沪教委财[2007]8号</td>
						<td></td>
					</tr>
					<tr data-index="51">
						<td></td>
						<td></td>
						<td>(6)中等职业学校住宿费</td>
						<td>一类条件360元/学期,二类270元/学期,三类180元/学期;空调加收200元、供热水加收40元/学期</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号</td>
						<td>沪教委财[1998]11号 沪价费[2003]20号
						</td>
						<td></td>
					</tr>
					<tr data-index="52">
						<td></td>
						<td>33</td>
						<td>高等学校学费、住宿费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="53">
						<td></td>
						<td></td>
						<td>(1)全日制普通高校学费</td>
						<td>本科生：一般专业和师范院校5000元/学年,特殊(热门)专业6500元/学年,艺术类专业10000元/学年； 研究生及自费来华留学生学费见文件
						</td>
						<td>缴入地方财政专户</td>
						<td>价费字[1992]367号 教外来[1998]7号 教财[2006]2号 发改价格[2013]887号
						</td>
						<td>沪价行[2000]120号 沪价费[2013]15号</td>
						<td></td>
					</tr>
					<tr data-index="54">
						<td></td>
						<td></td>
						<td>(2)高等职业技术教育学费</td>
						<td>7500元/学年(上海农林职业技术学院涉农专业2500元/学年)</td>
						<td>缴入地方财政专户</td>
						<td>价费字[1992]367号 教外来[1998]7号 教财[2006]2号
						</td>
						<td>沪价行[2000]120号 沪教委财[2011]11号</td>
						<td></td>
					</tr>
					<tr data-index="55">
						<td></td>
						<td></td>
						<td>(3)成人高等教育学费</td>
						<td>一般专业800-1600元/学期,艺术类及特殊专业1500-2400元/学期</td>
						<td>缴入地方财政专户</td>
						<td>教财[1992]42号</td>
						<td>沪价行[2000]180号</td>
						<td></td>
					</tr>
					<tr data-index="56">
						<td></td>
						<td></td>
						<td>(4)中外合作办学学费</td>
						<td>见文件</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号 教外综[2006]5号 沪价费[2006]17号 沪发改规范[2018]2号
						</td>
						<td>沪教委财[2005]34号 沪价费[2006]17号 沪教委财[2011]26号 沪教委财[2013]94号 沪价费[2018]7号
						</td>
						<td></td>
					</tr>
					<tr data-index="57">
						<td></td>
						<td></td>
						<td>(5)示范性软件学院学费</td>
						<td>本科及第二学士最高400元/学分,工程硕士最高1000元/学分</td>
						<td>缴入地方财政专户</td>
						<td>计价格[2002]665号 发改价格[2005]2528号</td>
						<td>发改价格[2005]2528号</td>
						<td></td>
					</tr>
					<tr data-index="58">
						<td></td>
						<td></td>
						<td>(6)网络学院学费</td>
						<td>最高9100元/年，艺术类超过上限报批</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号</td>
						<td>沪价费[2004]12号 沪教委财[2006]10号</td>
						<td></td>
					</tr>
					<tr data-index="59">
						<td></td>
						<td></td>
						<td>(7)高等学校住宿费</td>
						<td>最高1200元/年</td>
						<td>缴入地方财政专户</td>
						<td>教财[1996]101号</td>
						<td>沪价费[2003]56号 沪教委财[2012]118号</td>
						<td></td>
					</tr>
					<tr data-index="60">
						<td>药品监督</td>
						<td>34</td>
						<td>药品、医疗器械产品注册费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>▲</td>
					</tr>
					<tr data-index="61">
						<td></td>
						<td></td>
						<td>(1)国产药品注册费(包括补充申请注册费、再注册费)</td>
						<td>(1)补充申请注册费：改变国内生产药品的有效期 每个品种4620元；药品生产企业内部改变药品生产场地、变更直接接触药品的包装材料或者容器 每个品种22050元； (2)再注册费(五年一次)：每个品种20790元
						</td>
						<td>缴入地方国库</td>
						<td>财税[2015]2号 发改价格[2015]1006号
						</td>
						<td>沪财预[2016]13号 沪财税[2017]85号 沪价费[2018]10号 市食品药品监管局公告2018年第79号
						</td>
						<td></td>
					</tr>
					<tr data-index="62">
						<td></td>
						<td></td>
						<td>(2)境内第二类医疗器械产品注册费(包括首次注册费、变更注册费、延续注册费)</td>
						<td>(1)再次注册费：每个品种65730元； (2)变更注册费：每个品种27510元； (3)延续注册费(五年一次)：每个品种27300元
						</td>
						<td>缴入地方国库</td>
						<td>财税[2015]2号 发改价格[2015]1006号
						</td>
						<td>沪财预[2016]13号 沪价费[2018]10号 市食品药品监管局公告2018年第79号
						</td>
						<td></td>
					</tr>
					<tr data-index="63">
						<td>卫生健康</td>
						<td>35</td>
						<td>医疗事故鉴定费</td>
						<td>每例3500元，详见文件</td>
						<td>缴入地方国库</td>
						<td>国务院令第351号 发改价格[2007]2749号</td>
						<td>沪价费[2006]8号</td>
						<td></td>
					</tr>
					<tr data-index="64">
						<td></td>
						<td>36</td>
						<td>社会抚养费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>国务院令第357号 财规[2000]29号</td>
						<td>沪府发[2011]97号</td>
						<td></td>
					</tr>
					<tr data-index="65">
						<td></td>
						<td>37</td>
						<td>用血互助金和献血补偿金</td>
						<td>见条例</td>
						<td>缴入地方国库</td>
						<td>《上海市献血条例》(1998年)</td>
						<td>《上海市献血条例》(1998年)</td>
						<td></td>
					</tr>
					<tr data-index="66">
						<td>公 安</td>
						<td>38</td>
						<td>证照费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="67">
						<td></td>
						<td></td>
						<td>(1)《户口簿》工本费(限丢失、损坏补办)</td>
						<td>10元/本</td>
						<td>缴入地方国库</td>
						<td>价费字[1992]240号 财综[2012]97号</td>
						<td>沪财综[1996]50号 沪财综[1997]24号 沪财预[2012]167号</td>
						<td></td>
					</tr>
					<tr data-index="68">
						<td></td>
						<td></td>
						<td>(2)机动车号牌工本费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="69">
						<td></td>
						<td></td>
						<td>①号牌专用固封装置</td>
						<td>1元/个</td>
						<td>缴入地方国库</td>
						<td>发改价格[2004]2831号</td>
						<td>沪价费[2004]66号</td>
						<td></td>
					</tr>
					<tr data-index="70">
						<td></td>
						<td></td>
						<td>②机动车号牌</td>
						<td>(1)汽车反光号牌每副100元、不反光号牌每副80元； (2)挂车反光号牌每面50元、不反光号牌每面30元； (3)三轮汽车、低速货车、拖拉机反光号牌每副40元、不反光号牌每副25元； (4)摩托车反光号牌每副70元、不反光号牌每副50元； (5)机动车临时号牌每张5元
						</td>
						<td>缴入地方国库</td>
						<td>发改价格[2004]2831号</td>
						<td>沪价费[2004]66号 沪财税[2019]40号
						</td>
						<td></td>
					</tr>
					<tr data-index="71">
						<td></td>
						<td></td>
						<td>(3)机动车行驶证、登记证、驾驶证工本费(含临时入境机动车号牌、行驶证以及临时驾驶许可)</td>
						<td>10元/证</td>
						<td>缴入地方国库</td>
						<td>财综[2001]67号 发改价格[2004]2831号 财综[2008]36号 发改价格[2008]1575号 发改价格[2017]1186号
						</td>
						<td>沪价费[2004]66号 沪财预[2008]117号 沪价费[2017]10号 沪财税[2017]98号 沪财税[2019]40号
						</td>
						<td></td>
					</tr>
					<tr data-index="72">
						<td></td>
						<td></td>
						<td>(4)居民身份证工本费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>停征首次申领居民身份证工本费</td>
					</tr>
					<tr data-index="73">
						<td></td>
						<td></td>
						<td>①居民身份证</td>
						<td>到期换发20元/证，因丢失损换等换、补领40元/证</td>
						<td>缴入地方国库</td>
						<td>价费字[1992]240号 发改价格[2003]2322号 财综[2004]8号 财综[2007]34号 财税[2018]37号
						</td>
						<td>沪财预[2007]47号 沪财税[2018]27号
						</td>
						<td></td>
					</tr>
					<tr data-index="74">
						<td></td>
						<td></td>
						<td>②临时身份证</td>
						<td>10元/证</td>
						<td>缴入地方国库</td>
						<td>价费字[1992]240号 发改价格[2003]2322号 财综[2004]8号 财综[2007]34号 财税[2018]37号
						</td>
						<td>沪财预[2007]47号 沪财税[2018]27号
						</td>
						<td></td>
					</tr>
					<tr data-index="75">
						<td></td>
						<td></td>
						<td>(5)外国人证件费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="76">
						<td></td>
						<td></td>
						<td>①准予停留章</td>
						<td>100元</td>
						<td>缴入地方国库</td>
						<td>价费字[1992]240号 公通字[1996]89号</td>
						<td>价费字[1992]240号 公通字[1996]89号
						</td>
						<td></td>
					</tr>
					<tr data-index="77">
						<td></td>
						<td></td>
						<td>②居留证(含临时、延期)</td>
						<td>有效期不满1年的居留许可，每人400元；有效期1年(含1年)至3年以内的居留许可，每人800元；有效期3年(含3年)至5年(含5年)的居留许可，每人1000元。增加偕行人，每增加1人按上述相应标准收费；减少偕行人，收费标准为每人次200元；居留许可变更的，收费标准为每次200元</td>
						<td>缴入中央和地方国库</td>
						<td>财综[2004]60号 发改价格[2004]2230号
						</td>
						<td>财综[2004]60号 发改价格[2004]2230号</td>
						<td></td>
					</tr>
					<tr data-index="78">
						<td></td>
						<td></td>
						<td>③永久居留申请</td>
						<td>1500元/人</td>
						<td>缴入中央和地方国库</td>
						<td>财综[2004]32号 发改价格[2004]1267号
						</td>
						<td>沪财预[2005]33号</td>
						<td></td>
					</tr>
					<tr data-index="79">
						<td></td>
						<td></td>
						<td>④永久居留身份证</td>
						<td>300-600元/证</td>
						<td>缴入中央国库</td>
						<td>财综[2004]32号 发改价格[2004]1267号 财税[2018]10号
						</td>
						<td>沪财预[2005]33号 沪财税[2018]14号
						</td>
						<td></td>
					</tr>
					<tr data-index="80">
						<td></td>
						<td></td>
						<td>⑤出入境证</td>
						<td>100元/人次</td>
						<td>缴入地方国库</td>
						<td>公通字[1996]89号</td>
						<td>公通字[1996]89号</td>
						<td></td>
					</tr>
					<tr data-index="81">
						<td></td>
						<td></td>
						<td>⑥旅行证(含延期)</td>
						<td>旅行证50元/证；证件延期100元/次</td>
						<td>缴入地方国库</td>
						<td>公通字[1996]89号</td>
						<td>公通字[1996]89号</td>
						<td></td>
					</tr>
					<tr data-index="82">
						<td></td>
						<td></td>
						<td>(6)公民出入境证件费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="83">
						<td></td>
						<td></td>
						<td>①护照</td>
						<td>120元/本</td>
						<td>缴入中央和地方国库</td>
						<td>价费字[1993]164号 计价格[2000]293号 发改价格[2013]1494号 发改价格[2017]1186号 发改价格[2019]914号
						</td>
						<td>价费字[1993]164号 计价格[2000]293号 沪价费[2013]12号 沪价费[2017]10号 沪发改价调[2019]3号
						</td>
						<td></td>
					</tr>
					<tr data-index="84">
						<td></td>
						<td></td>
						<td>②护照加页核定加注延期</td>
						<td>20元/项次</td>
						<td>缴入中央和地方国库</td>
						<td>价费字[1993]164号 计价格[2000]293号</td>
						<td>价费字[1993]164号 计价格[2000]293号</td>
						<td></td>
					</tr>
					<tr data-index="85">
						<td></td>
						<td></td>
						<td>③出入境通行证费</td>
						<td>一次性出入境有效15元/证 多次出入境有效80元/证
						</td>
						<td>缴入中央和地方国库</td>
						<td>价费字[1993]164号 财综[2008]9号 发改价格[2017]1186号
						</td>
						<td>沪财预[2008]29号 沪价费[2017]10号
						</td>
						<td></td>
					</tr>
					<tr data-index="86">
						<td></td>
						<td></td>
						<td>④往来(含前往)港澳通行证</td>
						<td>往来港澳通行证收费60元/证；前往港澳通行证收费40元/证</td>
						<td>缴入中央和地方国库</td>
						<td>计价格[2002]1097号 发改价格[2017]1186号 发改价格[2019]914号
						</td>
						<td>计价格[2002]1097号 沪价费[2017]10号 沪发改价调[2019]3号
						</td>
						<td></td>
					</tr>
					<tr data-index="87">
						<td></td>
						<td></td>
						<td>⑤往来港澳通行证签注</td>
						<td>一次有效签注 15元/件；二次有效签注 30元/件；短期(不超过一年)多次有效签注 80元/件；一年以上(不含一年)两年以下(含两年)多次有效签注 120元/件；两年以上三年以下(不含三年)多次有效签注 160元/件；长期(三年以上，含三年)多次有效签注 240元/件</td>
						<td>缴入地方国库</td>
						<td>发改价格[2005]77号 发改价格[2017]1186号
						</td>
						<td>沪价费[2005]5号 沪价费[2017]10号
						</td>
						<td></td>
					</tr>
					<tr data-index="88">
						<td></td>
						<td></td>
						<td>⑥台湾居民来往大陆通行证(含签注)</td>
						<td>电子通行证 200元/证；一次有效通行证 40元/证。 签注的收费标准为：一次有效来往大陆签注每件20元人民币，口岸一次有效来往大陆签注每件50元人民币，一年(含)以内多次有效来往大陆签注每件100元人民币，一年(含)以上、五年(含)以下居留签注每件100元人民币</td>
						<td>缴入中央和地方国库</td>
						<td>价费字[1993]164号 发改价格[2004]334号 发改价格[2005]1460号 财综[2005]58号 发改价格[2011]1389号 发改价格[2017]1186号
						</td>
						<td>沪价费[2005]42号 沪价费[2017]10号
						</td>
						<td></td>
					</tr>
					<tr data-index="89">
						<td></td>
						<td></td>
						<td>⑦大陆居民往来台湾通行证(含签注)</td>
						<td>电子通行证 80元/证；一次有效通行证 15元/证。 大陆居民前往台湾签注收费：一次有效签注 15元/件；多次有效签注 80元/件</td>
						<td>缴入中央和地方国库</td>
						<td>价费字[1993]164号 计价格[2001]1835号 发改价格[2017]1186号
						</td>
						<td>价费字[1993]164号 计价格[2001]1835号 沪价费[2017]10号
						</td>
						<td></td>
					</tr>
					<tr data-index="90">
						<td></td>
						<td>39</td>
						<td>外国人签证费</td>
						<td>非对等国家零次、一次签证160元，详见文件</td>
						<td>缴入中央和地方国库</td>
						<td>价费字[1992]240号 计价格[2003]392号</td>
						<td>价费字[1992]240号 计价格[2003]392号
						</td>
						<td></td>
					</tr>
					<tr data-index="91">
						<td></td>
						<td>40</td>
						<td>中国国籍申请手续费(含证书费)</td>
						<td>国籍申请手续费50元；加入中国国籍证书200元；退出中国国籍证书200元；恢复中国国籍证书200元</td>
						<td>缴入地方国库</td>
						<td>价费字[1992]240号</td>
						<td>公通字[1996]89号</td>
						<td></td>
					</tr>
					<tr data-index="92">
						<td></td>
						<td>41</td>
						<td>犬类管理费</td>
						<td>内环以内区域500元/犬.年 内环以外区域300元/犬.年(农村地区停征)
						</td>
						<td>缴入地方国库</td>
						<td>《上海市养犬管理条例》(2011年)</td>
						<td>沪价费[2011]6号 沪财预[2012]166号
						</td>
						<td></td>
					</tr>
					<tr data-index="93">
						<td></td>
						<td>42</td>
						<td>上海市居住证工本费(限丢失、损坏补办)</td>
						<td>20元/证</td>
						<td>缴入地方国库</td>
						<td>市政府令2013年第2号</td>
						<td>沪财预[2006]102号 沪财预[2011]11号 沪财预[2014]155号
						</td>
						<td></td>
					</tr>
					<tr data-index="94">
						<td>法 院</td>
						<td>43</td>
						<td>诉讼费</td>
						<td>劳动争议案件每件交纳10元案件受理费，详见文件</td>
						<td>缴入地方国库</td>
						<td>国务院令第481号</td>
						<td>沪价费[2007]7号</td>
						<td></td>
					</tr>
					<tr data-index="95">
						<td>人力社保</td>
						<td>44</td>
						<td>职工劳动能力鉴定费</td>
						<td>350元/件</td>
						<td>缴入地方国库</td>
						<td>沪价费[1994]237号</td>
						<td>沪价费[1994]237号</td>
						<td></td>
					</tr>
					<tr data-index="96">
						<td>外 事</td>
						<td>45</td>
						<td>签证费</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-index="97">
						<td></td>
						<td></td>
						<td>(1)代办外国驻沪领馆签证费</td>
						<td>普通件25元；急件35元</td>
						<td>缴入地方国库</td>
						<td>价费字[1992]198号</td>
						<td>沪价涉[1992]225号</td>
						<td></td>
					</tr>
					<tr data-index="98">
						<td></td>
						<td></td>
						<td>(2)代办北京外国驻华使馆签证费</td>
						<td>代办签证费70元/人·国；每增加一国加收25元/人；代填外国(地区)签证申请表5元/证</td>
						<td>缴入地方国库</td>
						<td>价费字[1992]198号</td>
						<td>沪价涉[1992]225号</td>
						<td></td>
					</tr>
					<tr data-index="99">
						<td>市场监管</td>
						<td>46</td>
						<td>特种设备检验检测费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>价费字[1992]268号 财综[2001]10号 财综[2009]1号
						</td>
						<td>沪发改价费[2019]4号</td>
						<td></td>
					</tr>
					<tr data-index="100">
						<td>财 政</td>
						<td>47</td>
						<td>财政票据工本费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>沪价费[2008]10号</td>
						<td>沪价费[2008]10号 沪财预[2013]144号
						</td>
						<td></td>
					</tr>
					<tr data-index="101">
						<td>党 校</td>
						<td>48</td>
						<td>短期培训进修费</td>
						<td>见文件</td>
						<td>缴入地方国库</td>
						<td>沪财预[2005]30号</td>
						<td>沪财预[2005]30号</td>
						<td></td>
					</tr>
					<tr data-index="102">
						<td>相关部门</td>
						<td>49</td>
						<td>考试考务费 (详见附表《上海市考试考务费目录清单》)
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tips">
			注：对小微企业免征的行政事业性收费在备注栏中以"▲"标明，其中："药品、医疗器械产品注册费"减免内容为经认定书育申请创新医疗器械产品注册的，免收其首次注册费。
		</div>
	</div>
</div>

<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>