<div class="shell bg2">

    <div class="headBox1">
        <div class="headtop1 clearfloat">
            <a ng-click="prev()" class="back1">办事指南</a>
            <a ng-click="goHome()" class="backindex1">返回首页</a>
            <div class="backbox1">无操作<zizhu-header></zizhu-header>后将返回首页</div>
        </div>
        <ul class="navul1 clearfloat">
            <li class="act">选择事项</li>
            <li>办事指南</li>
            <li>人证核验</li>
            <li>在线填报</li>
        </ul>
    </div>

    <div class="navBox2"><b>您正在办理：</b><span>{{itemName}}</span> - <span>请选择事项情形</span></div>

    <div class="main2" style="height:620px;">
		<div id="wrapper">
        <div class="scrollBox1 clearfloat">
            <a ng-repeat="item in itemList"  ng-click="getSubItem(item.stItemId,item.stStatusName,item.description,item.stItemTenNo,item.stItemNo)" >{{item.stStatusName}}</a>
        </div>
		</div>
    </div>
    <div class="btnBox1 clearfloat">
        <a ng-click="prev()" class="Prev">上一步</a>
    </div>
</div>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style type="text/css">
	#wrapper{
		width:1800px;
		height: 500px;
	}
	
</style>