<style type="text/css">
	#capture {
		width: 840px;
		height: 1360px;
		/* background-image: url(img/EDP.bmp); */
		background-size: 840px 1360px;
	}

	#capture .face {
		width: 300px;
		height: 400px;
		float: right;
		margin: 600px 100px 0px 0px;
	}

	#capture .name {
		font-size: 40px;
		font-weight: bold;
		padding-top: 675px;
		padding-left: 125px;
		width: 300px;
		text-align: left;
	}

	.name .english {
		font-size: 30px;
	}

	#capture .study {
		font-size: 30px;
		padding-left: 125px;
		padding-top: 50px;
		width: 300px;
		text-align: left;
	}
</style>
<section class="card">
	<h2>校园卡预览</h2>
	<div id="capture">
		<!-- <img class="face" src="img/iconStdSubtit.png" alt="" />
		<p class="name">
			<span>魏雨琦</span></br>
			<span class="english">Yuqi Wei</span>
		</p>
		<p class="study">
			GEMBA</br>
			GEMBA
		</p> -->
	</div>
</section>
<app-footer default-is-show-prev-btn="hidden" next="nextStep()"></app-footer>