<div class="bg-middle">
	<apptb-header home="customMain()" fun-name="我的信息" go-back="goAppHistoryBack()"></apptb-header>
	<div class="contain">
	</div>
	<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()"></apptb-footer>
</div>
<div class="load">
	正在加载...
</div>
<!-- <iframe id="infoForm" ng-src="{{address}}" width="" height=""></iframe> -->
<style type="text/css">
	.load {
		position: absolute;
		font-size: 100px;
		top: 400px;
		left: 750px;
	}
	
	iframe {
		position: absolute;
		width: 1915px;
		height: 909px;
		margin: 0 auto;
		display: block;
		border: none;
	}
</style>