<p class="caption">{{operation}}</p>
<ul class="licenseTab">
	<li ng-class="{'pitchOn':currentLicense=='license'}" ng-click="choiceLicenseType('license')">电子证照</li>
	<li ng-class="{'pitchOn':currentLicense=='history'}" ng-click="choiceLicenseType('history')">历史上传材料</li>
</ul>
<div class="licenseContainer" ng-if="!test">
	<img ng-src="{{item.length>1?item:configUrl+ (item.pictureUrlForBytes?item.pictureUrlForBytes:item.imageUrl)}}" ng-class="{'active':currentImgIndex == index,'hidden': !item }" ng-repeat="(index,item) in showLicenseList track by $index" ng-click="pitchOnImg(index,item)" />
	<a href="javascript:;" ng-click="prevPage()" class="control prev" ng-if="currentPage>1"><img src="../libs/common/images/prevBtn.png" /></a>
	<a href="javascript:;" ng-click="nextPage()" class="control next" ng-if="currentPage<totalPages"><img src="../libs/common/images/nextBtn.png" /></a>
</div>
<div class="licenseContainer" ng-if="test">
	<img ng-src="{{item.pictureUrlForBytes}}" ng-class="{'active':currentImgIndex == index,'hidden': !item }" ng-repeat="(index,item) in showLicenseList track by $index" ng-click="pitchOnImg(index,item)" />
	<a href="javascript:;" ng-click="prevPage()" class="control prev" ng-if="currentPage>1"><img src="../libs/common/images/prevBtn.png" /></a>
	<a href="javascript:;" ng-click="nextPage()" class="control next" ng-if="currentPage<totalPages"><img src="../libs/common/images/nextBtn.png" /></a>
</div>
<img  ng-show="" ng-src="{{configUrl+ (hide.pictureUrlForBytes?hide.pictureUrlForBytes:hide.imageUrl)}}" ng-repeat="hide in historyData track by $index"/>
<img  ng-show="" ng-src="{{configUrl+ (hides.pictureUrlForBytes?hides.pictureUrlForBytes:hides.imageUrl)}}" ng-repeat="hides in elicenseData track by $index"/>

<p class="pages">{{currentPage+"/"+totalPages}}</p>
<app-footer prev="prevStep()" default-next='hidden'>
	<a href="javascript:;" class="del" ng-click="delStuff()" ng-if="currentLicense=='history'">删除</a>
	<a href="javascript:;" class="continue" ng-click="preview()">预览打印</a>
</app-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<div class="loadingBox" ng-if="!isLoding">
		<img style="margin-left: 909px;margin-top: 310px;" src="../libs/common/images/loadings.gif" alt="">
		<p>正在加载数据，请稍后...</p>
</div>
<style type="text/css">
	.pages {
		text-align: center;
		font-size: 50px;
	}
	.loadingBox {
		    position: fixed;
    width: 1920px;
    height: 930px;
    /* margin: auto; */
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    top: 150px;
    right: 0;
    bottom: 0;
    z-index: 10;
	}
	
	.loadingBox p {
		margin-left: 781px;
		font-size: 38px;
	}
	.licenseContainer .control {
		position: absolute;
		display: block;
		height: 100px;
		width: 100px;
		top: 50%;
		margin-top: -50px;
	}
	
	.licenseContainer .control img {
		height: 100%;
		width: 100%;
	}
	
	.control.prev {
		left: -110px;
	}
	
	.control.next {
		right: -110px;
	}
	
	.licenseContainer {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		background-color: #2864b0;
		align-items: center;
		margin: 30px auto;
		width: 1610px;
		height: 560px;
	}
	
	.licenseContainer img {
		transition: all 300ms;
		max-height: 100%;
		width: 30%;
	}
	
	.licenseContainer img.active {
		transition: all 300ms;
		box-shadow: 0px 10px 12px #56ce97;
	}
	
	.licenseContainer img.hidden {
		visibility: hidden;
	}
	
	.licenseTab {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		margin: 40px auto;
		width: 1610px;
		height: 90px;
	}
	
	.licenseTab li {
		text-align: center;
		background-color: #2864b0;
		height: 90px;
		line-height: 90px;
		font-size: 40px;
		width: 45%;
	}
	.del{
		position: relative;
	    padding: 17px 40px 18px 40px;
	    height: 70px;
	    line-height: 68px;
	    border: 1px solid #fcfeff;
	    margin-left: 1215px;
	    margin-top: 10px;
	}
</style>