<p class="caption">{{operation}}</p>
<div class="scrollBox2 clearfloat">
	<div class="linkBox1 clearfloat">
		<a href="javascript:;" ng-click="choiceType('person')">
			<img src="../libs/common/images/icon/person.png" />
			<p>个人电子证照</p>
		</a>
		<a href="javascript:;" ng-click="choiceType('corporate')">
			<img src="../libs/common/images/icon/corporate.png" />
			<p>法人电子证照</p>
		</a>

	</div>
</div>
<style type="text/css">
	.scrollBox2 .linkBox1 {
		padding-left: 600px;
		text-align: center;
		margin-top: 134px;
	}
</style>