<style type="text/css">
	#wrapper {
		/*width: 1300px;*/
		height: 720px;
		margin-top: 20px;
		overflow: auto;
		-ms-scroll-chaining: chained;
		-ms-overflow-style: none;
		-ms-content-zooming: zoom;
		-ms-scroll-rails: none;
		-ms-content-zoom-limit-min: 100%;
		-ms-content-zoom-limit-max: 500%;
		-ms-scroll-snap-type: proximity;
		-ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
		-ms-overflow-style: none;
	}
	
	#wrapper::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}
	
	#wrapper::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 90px;
	}
	
	#wrapper::-webkit-scrollbar-thumb {
		background: #aaa;
		border-radius: 90px;
	}
	
	#wrapper::-webkit-scrollbar-thumb:hover {
		background: #747474;
	}
	
	#wrapper::-webkit-scrollbar-corner {
		background: #f6f6f6;
	}
	
	#wrapper::-webkit-scrollbar {
	    display: none;
	}
	
	.tabBotbox1inner {
		height: 720px;
	}
	.tabBotbox1inner .linkbox1 {
		margin-top: 0px;
	}
	
	.tabBotbox1inner .linkbox1.matter a {
		/*width: 734px;*/
		background: url(images/bg-listCon.png) no-repeat;
	    background-size: 100% 100%;
		width: 450px;
		height: 160px;
		margin-bottom: 20px;
		line-height: 30px;
		margin-left: 30px;
	}
	
	.dept {
		color: #fefefe;
		opacity: .6;
	}
	
	.fontSize_18 {
		font-size: 18px!important;
		/*height: 200px!important;*/
	}
</style>

<div class="TabBox1">
	<ul class="tabul1 clearfloat">
		<li ng-class="{'in':current==index}" ng-repeat="(index,item) in searchType" ng-click="getMatterCon(index,item)">{{item}}</li>
		<div ng-show="idRead" class="inputBox1 inputDiv">
			<input class="input1" ng-model="matterVal" type="text" placeholder="请输入事项名称" />
			<a class="btn_radius_50" style="right:20px;top:18px;" ng-click="getSearchMatter()">
				<div class="greyLight">
					<img src="images/icon-link9.png" height="50" width="50" />
				</div>
			</a>
		</div>
	</ul>
	<div class="tabBotbox1">
		<div class="cont">
			<div class="tabBotbox1inner tabBotbox1inner1">
				<div id="wrapper" class="wrapper">
					<div class="linkbox1 clearfloat" ng-class="{'matter':deptindex==1}">
						<a ng-show="dept" ng-class="{'active':$index==active}" on-finish ng-repeat="item in itemName" ng-click="toMaterials(item.stItemName,item.organCode,item.organName,item.stItemNo)">{{item.stItemName||item.organName}}</a>
						<a ng-show="!dept" ng-class="{'active':$index==active}" on-finish ng-repeat="itemType in itemType" ng-click="toItemTypeMaterials(itemType.itemTypeName,itemType.itemTypeCode,itemType.type)">{{itemType.itemTypeCode}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="goHome()">
</apptb-footer>

<div class="loadingBox" ng-if="!isLoding">
	<img style="margin-left: 909px;margin-top: 565px;" src="../libs/common/images/loadings.gif" alt="">
	<p>正在加载数据，请稍后...</p>
</div>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
</div>
