<style type="text/css">
	.scrollBox2 {
		width: 1500px;
		margin-top: 80px;
		margin-left: 210px;
	}

	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	#wrapper {
		width: 1500px;
		height: 690px;
	}


	.linkt {
		float: left;
		width: 750px;
		position: relative;
	}

	.select {
		float: left;
		width: 666px;
		height: 220px;
		background: url('../libs/common/images/bg-bigList.png') no-repeat;
		background-size: 100% 100%;
		font-size: 24px;
		padding: 35px;
	}

	.select div {
		margin-bottom: 10px;
	}

	.select span {
		width: 195px;
		display: block;
		font-weight: bold;
		float: left;
		text-align: justify;
		text-align-last: justify;
		-ms-text-justify: inter-ideograph;
		-ms-text-align-last: justify;
	}

	.agency {
		font-weight: bold;
	}

	@media screen and (max-width: 1600px) {
		.scrollBox2 {
			width: 1000px;
		}
		#wrapper {
			width: 1000px;
			height: 600px;
		}
	}
</style>
<div class="scrollBox2 clearfloat">
	<div id="wrapper" class="wrapper">
		<div>
			<div class="linkt" ng-repeat="item in queryList">
				<div class="select">
					<div class="agency">{{item.cnname}}</div>
					<div><span>经营地址</span>：{{item.operateaddress}}</div>
					<div><span>开业时间</span>：{{item.opendate}}</div>
					<div><span>负责人姓名</span>：{{item.dutyperson || '--'}}</div>
					<div><span>统一社会信用代码</span>：{{item.taxlicense || '暂无'}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<loading ng-if="isLoading"></loading>
<apptb-footer prev="prevStep()" next="nextStep()" default-is-show-prev-btn="hidden" default-is-show-next-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>