<style>
	.view-main {
		justify-content: space-around;
	}
	.view-main a {
		text-align: center;
	}
	.view-main .staffLogin {
		bottom: -420px;
	}
</style>
<div class="view-main">
    <a href="javascript:;" ng-click="choiceMatter('license')">
        <img src="images/licenseGet.png" alt="">
    </a>
    <!--<a href="javascript:;" ng-click="choiceMatter('material')">
        <img src="images/materialPut.png" alt="">
    </a>-->
</div>

<a href="javascript:;" class="staffLogin" ng-click="changeModel('staff')" style="border: 1px solid purple;padding: 0 20px;line-height: 68px;border-radius: 10px;">
    <img src="images/person-icon.png" alt="">工作人员登录
</a>