<p class="caption">{{funName}}</p>
<div class="scrollBox2 clearfloat" style="margin-top: 20px;">
    <div class="main2" style="height: 675px;">
        <div class="scrollBox2 clearfloat">
            <div id="wrapper" class="wrapper"> 
                    <div class="tabelBox1" style="width: 1705px;padding-top: 35px;">
                        <dl class="dl1 clearfloat">
                            <dd class="lt1 lt6">
                                <span>办证机关：</span>
                                <b class="red1">*</b>
                            </dd>
                            <dd class="rt2">
                                <select class="select1" id="ddress"  ng-model="ddress" ng-options="x.name for x in addressList">
                                    <option value="">请选择合适的办证机关</option>
                                </select>
                            </dd>
                        </dl>
                         <dl class="dllist1 clearfloat">
                                <dt>预约友情提示：</dt>
                                <dd  class="ng-binding" >
									<div ng-bind-html ="desc | to_trusted"></div> 
								</dd>
                        </dl>

                      
                    </div>
         
            </div>
        </div>
    </div>
</div>
<div class="prev-back-next">
	<!--删除a标签的href属性, 防止出现某些页面跳转需要双击才能跳转-->
	<!-- ngIf: isShowPrevBtn=='1' --><a class="prev ng-binding ng-scope" ng-if="isShowPrevBtn=='1'" ng-click=" prevStep()" >上一步</a><!-- end ngIf: isShowPrevBtn=='1' -->
	<a class="backindex1" ng-click="goHome()"></a>
	<!-- ngIf: isShowNextBtn=='1' --><a class="next ng-binding ng-scope" ng-if="isShowNextBtn=='1'" ng-click="nextStep()">下一步</a><!-- end ngIf: isShowNextBtn=='1' -->
</div>
<apptb-footer prev="prevStep()" next="nextStep()" default-is-show-prev-btn="" default-is-show-next-btn="" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<style type="text/css">

  .active{
   color:red;
  }

	.city {
		margin-bottom: 20px;
		color: #fefefe;
		margin-left: 81px;
		font-size: 30px;
		opacity: .6;
	}
	
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	#wrapper {
		width: 1750px;
        height: 650px;
	}
	
	.img {
		width: 90px;
		height: 90px;
		float: left;
		padding: 29px 0 0 22px;
	}
	
	.linkt {
		position: relative;
		left: 50px;
		float:left;
	}
	
	.select {
		float: left;
		width: 700px;
		height: 95px;
		overflow: hidden;
		background: url(../libs/common/images/bg-bigList.png) no-repeat;
		background-size: 700px 100px;
		margin-left: 40px;
		margin-bottom: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
		font-size: 29px;
		line-height: 94px;
	}
	
	.top1 {
		padding-bottom: 77px;
		padding-left: 76px;
	}
	
	.top1 li {
		float: left;
		width: 455px;
		height: 110px;
		line-height: 126px;
		box-sizing: border-box;
		text-align: center;
		font-size: 33px;
		font-weight: bold;
		margin-top: 50px;
		margin-left: 70px;
		color: #3794e4;
		background: url('../libs/common/images/handleList.png') no-repeat center;
		background-size: 400px 84px;
	}
	
	.top1 li.in {
		color: #fff;
		background: url('../libs/common/images/dzzz.png') no-repeat;
		background-size: 440px 150px;
		background-position: 32% 6%;
	}
	
	.stuff {
		height: 70px;
		line-height: 107px;
		font-size: 28px;
		text-align: center;
	}
</style>