<div class="contain">
	<p class="caption1">{{ operation }}</p>
	<ul class="fromList">
		<li ng-click="choiceForm(item)" ng-repeat="item in takeFormList track by $index">
			<img ng-src="{{ item.formImg }}" />
			<p>{{ item.formName }}</p>
		</li>
		<!--<a href="javascript:;" class="controlGroup prev" ng-click="prevPage()">
			<img src="./images/prevBtn.png" />
		</a>
		<a href="javascript:;" class="controlGroup next" ng-click="nextPage()">
			<img src="./images/nextBtn.png" />
		</a>-->
	</ul>
	<img ng-show="" ng-src="{{ hide.formImg }}" ng-repeat="hide in takeFormList track by $index" />
	<!--下面的p标签为分页标签-->
	<!--<p class="pages">{{ currentPage + "/" + totalPages }}</p>-->
</div>
<apptb-footer 
	prev="prevStep()" 
	next="nextStep()" 
	default-is-show-prev-btn="hidden" 
	default-is-show-next-btn="hidden" 
	custom-home="true" 
	home="customMain()" 
	go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.contain {
	    width: 1620px;
	    height: 700px;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}
	.caption1 {
		font-size: 30px;
		margin-left: 30px;
	}
	.pages {
		margin-top: -40px;
		text-align: center;
		font-size: 50px;
	}
	
	.fromList {
		position: relative;
		margin: 50px auto;
		width: 1475px;
		height: 590px;
		display: flex;
		justify-content: space-around;
	}
	
	.fromList li {
		padding-bottom: 0;
		height: auto;
		box-sizing: border-box;
	}
	
	.fromList p {
		text-align: center;
		font-size: 24px;
		margin: 10px 0;
		height: 31px;
		overflow: hidden;
	}
	
	.fromList img {
		transition: all 300ms;
		width: 100%;
		height: 84%;
		text-align: center;
	}
	
	.fromList img.active {
		transition: all 300ms;
		box-shadow: 0px 10px 12px #e2e6d7;
	}
	
	.fromList img.hidden {
		visibility: hidden;
	}
	.fromList>li {
		background: url(./images/bg-form.png) no-repeat;
		background-size: contain;
		padding: 2.2%;
		width: 391px;
		height: 547px;
		left: 600px;
		top: 0;
		z-index: 3;
	}
	
	.controlGroup.prev {
		left: 25px;
	}
	
	.controlGroup.next {
		right: 20px;
	}
</style>