<div class="scrollBox2 clearfloat">
		<button ng-click="signout()" style="width:  400px;height: 400px;background-color: #2964B0;margin-left: 750px;margin-top: 150px;border-radius: 200px;border-width: 0px;font-size: 60px;color: white;">签&nbsp;&nbsp;退<br/>{{theTime}}</button>
		<div style="font-size: 40px;margin-left: 775px;margin-top: 50px;">签到&nbsp;{{signinTime}}&nbsp;&nbsp;<span ng-click="__open()"><sapn style="font-weight: bold;">备注:</span><span>{{note}}</span><br/>
			<span>签退&nbsp;{{signoutTime}}</span>
		</div>
</div>
<div class="customAlert" ng-if="isAlert">
	<div class="alertContent">
		<span class="close" ng-click="__close()">x</span>
		
		<div style="float: right;font-size: 48px;margin-right: 86px;margin-top: 125px;margin-bottom: 50px;">
			<sapn style="">备&nbsp;注&nbsp;&nbsp;</span>
			<textarea id="note" style="font-size: 48px;width:700px;height: 250px;border-radius: 20px;">{{note}}</textarea>
		</div>
		
		<div class="btnBox1 clearfloat">
			<a ng-click="saveNote()" class="next">保存</a>
		</div>
	</div>
</div>
<div class="customAlert" ng-if="isAlert2">
	<div class="alertContent">
		<p class="title">{{message}}</p>
	</span>
		<div class="controlAlert">
			<a href="javascript:;" class="control confirm continue" ng-click="confirm()">确定</a>
		</div>
	</div>
</div>
<apptb-footer 
	prev="prevStep()" 
	next="" 
	default-is-show-prev-btn="hidden" 
	default-is-show-next-btn="hidden" 
	custom-home="true" 
	home="customMain()"
    go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.close {
		position: absolute;
		display: block;
		text-align: center;
		line-height: 60px;
		font-size: 50px;
		height: 60px;
		width: 60px;
		right: 0px;
		top: 0px;
	}
	
	.controlAlert {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		position: relative;
		margin: 0 auto;
		top: 180px;
		width: 600px;
		height: 80px;
	}
	.confirm{
		background-color: #56ce97;
	}
	.control {
		height: 68px;
		line-height: 68px;
		border: 1px solid #fcfeff;
		padding: 0 40px 0 40px;
		border-radius: 10px;
		font-size: 30px;
		text-align: center;
	}
	
	.title {
		text-align: center;
		margin-top: 150px;
		font-size: 50px;
	}
	
	.customAlert {
		position: fixed;
		margin: auto;
		background-color: rgba(0, 0, 0, .5);
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
	}
	
	.alertContent {
		overflow: hidden;
		position: relative;
		background-color: rgba(39, 93, 161, .9);
		text-align: center;
		margin: 200px auto;
		height: 570px;
		width: 1044px;
	}
	.scrollBox2 .linkBox1 {
		padding-left: 600px;
		text-align: center;
		margin-top: 134px;
	}
</style>