<nav>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;" ui-sref="main">
                <img src="images/homeLogo.png">
            </a>
        </li>
        <li>
            <a href="javascript:;" ui-sref="staffOperationChoice">工作人员操作</a>
        </li>
        <li>
            <a href="javascript:;">自助取证</a>
        </li>
        <li class="active">证照列表</li>
    </ol>
</nav>
<div class="shadowBox licenseInfoList">
    <p class="boldTips">证照列表</p>
    <div class="loadingBox" ng-if="isLoding">
        <img src="images/loading.gif" alt="">
        <p>正在加载数据，请稍后...</p>
    </div>
    <div class="fileInfoList" ng-if="!isLoding">
        <p class="emptyTips" ng-if="hasData">暂无数据</p>
        <a href="javacript:;" class="fileInfo" ng-repeat="item in licenseList">
            <p class="order absoluteTopBottomCenter">{{item.ST_CABINET_NO}}</p>
            <div class="infoBox custom absoluteTopBottomCenter">
                <span class="staff pos leftTop">{{item.ST_RECEIVER_NAME}}&nbsp;&nbsp;({{item.ST_RECEIVER_PHONE}})</span>
                <span class="date pos rightTop">{{item.DT_STORE}}</span>
                <br />
                <hr>
                <span class="licenseName pos leftBottom">{{item.ST_CERT_NAME||'无'}}</span>
                <span class="licenseStatus pos rightBottom" ng-class="{'isOverDue':item.isOverDue == 'true'}">{{
                    item.isOverDue == 'true' ? '逾期' : '正常'}}</span>
            </div>
            <button class="btnIcon custom absoluteTopBottomCenter" ng-click="openBox(item.ST_CABINET_NO,item.ST_CERT_FLOW_ID)">
                开箱
            </button>
        </a>
    </div>
    <div class="pageControl" ng-if="!isLoding">
        <button class="btnIcon" ng-show="isPaging" ng-click="prev()">
            上一页
        </button>
        <p class="pageNum"><span>{{currentPage||1}}</span>/<span>{{totalPages||1}}</span></p>
        <button class="btnIcon" ng-show="isPaging" ng-click="next()">
            下一页
        </button>
    </div>
</div>