<style type="text/css">
	#wrapper {
		height: 550px;
		position: relative;
	}
	
	#infoForm .inputBox {
		width: 47%;
		height: 70px
	}
	
	.inputBox>label {
		width: 270px;
	}
	
	#infoForm .inputBox select,
	#infoForm .inputBox input[type=textarea] {
		width: 55%;
		background-color: rgba(200, 200, 200, 0.8);
		min-height: 20px;
		min-width: 20px;
		padding: 15px;
		font-size: 0.8em;
		box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px inset;
		border-radius: 8px;
		border: 0;
	}
	
	#infoForm .inputBox input[type=textarea] {
		width: 50%;
		vertical-align: middle;
		height: 58%;
	}
	
	#infoForm .content {
		padding-bottom: 15px;
		width: 95%;
	}
	
	#infoForm .inputBox input[type=text] {
		width: 50%;
	}	
	.datetimepicker {
		display: none;
		position: absolute;
		font-size: 24px;
		background-color: white;
		color: black;
		padding: 5px 20px;
		background: rgba(255, 255, 255, 0.95);
	}
	
	/*.datetimepicker td,
	.datetimepicker th {
		padding: 2px 10px;
	}*/
	#font_24 {
		font-size: 24px;
	}
	/*日期控件相关*/
	.layui-laydate-main{
		width: 440px !important;
	}
	.laydate-set-ym span, .layui-laydate-header i{
		font-size: 30px;
	}
	.layui-laydate-content td, .layui-laydate-content th{
		padding: 5px 15px !important;
		font-size: 26px !important;
	}
	.layui-laydate-header{
		line-height: 50px !important;
	}
	.layui-laydate-footer span{
		font-size: 32px !important;
		border: none;
	}
	.layui-laydate-footer{
		height: 50px !important;
		line-height: 50px !important;
	}
</style>
<nav>
	<ol class="breadcrumb">
		<li>
			<a ng-click="Home()"><img src="images/home.png" height="30"></a>
		</li>
		<li>
			<a href="#list">自助申报</a>
		</li>
		<li>
			<a href="#">{{itemName}}</a>
		</li>
		<li>
			<a href="#guideline">办事指南</a>
		</li>
		<li>
			<a href="#main">实名认证</a>
		</li>
		<li class="active">基本信息</li>
	</ol>
</nav>
<div class="board">
	<div class="action right-info" style="background: none; width: 100%;left: 0;">
		<div class="right-input" style="width: 97%; margin: 2% auto;">
			<form id="infoForm" method="get">
				<div style="text-align: center; margin-bottom: 10px; color: #1566aa;width: 97%;">
					{{fullItemName}}
				</div>
				<div id="wrapper">
					<div class="infoContent" style="margin-left: 2.4%;margin-top: 1%;width: 1550px; display: flex; display: -ms-flexbox; flex-flow: wrap;-ms-flex-wrap: wrap;justify-content: space-between;-ms-flex-pack: justify;align-content: flex-start;">
						<div style="width: 100%; margin: 10px;">
							<hr style="width:40%;border-top:3px dashed #000; height:1px;float: left;">
							<span style=" text-align: center;font-weight: bold;">&emsp;&emsp;基本信息 </span>
							<hr style="width:38%;border-top:3px dashed #000; height:1px;float: right;">
						</div>
						<div class="inputBox">
							<label class="true">单位名称</label>
							<input type="text" id="targetName" ng-model="targetName"/>
						</div>
						<div class="inputBox">
							<label class="">单位类型</label>
							<select ng-model="selected_st_org_type" ng-options="x.name for x in ST_ORG_TYPE"></select>
						</div>
						<div class="inputBox">
							<label class="true">统一社会信用代码</label>
							<input type="text" id="targetNo" ng-model="targetNo"/>
						</div>
						<div class="inputBox">
							<label class="true">联系人名称</label>
							<input type="text" id="ST_LINK_NAME" ng-model="ST_LINK_NAME"/>
						</div>
						<div class="inputBox">
							<label class="true">联系地址</label>
							<input type="text" id="ST_LINK_ADDRESS" ng-model="ST_LINK_ADDRESS"/>
						</div>
						<div class="inputBox">
							<label class="true">固定电话</label>
							<input type="text" id="DWTEL" ng-model="DWTEL"/>
						</div>
						<div class="inputBox">
							<label class="true">手机</label>
							<input type="text" id="mobile" ng-model="mobile"/>
						</div>
						<div class="inputBox">
							<label class="true">电子邮件</label>
							<input type="text" id="DWEMAIL" ng-model="DWEMAIL"/>
						</div>
						<div style="width: 100%; margin: 10px;">
							<hr style="width:40%;border-top:3px dashed #000; height:1px;float: left;">
							<span style=" text-align: center;font-weight: bold;">&emsp;&emsp;工程信息 </span>
							<hr style="width:38%;border-top:3px dashed #000; height:1px;float: right;">
						</div>
						<div class="inputBox">
							<label class="true">行政区</label>
							<select ng-model="selected_districts" ng-options="x.name for x in DISTRICTS"></select>
						</div>
						<div class="inputBox">
							<label class="true">证件类型</label>
							<select ng-model="selected_zzjglx" ng-options="x.name for x in ZZJGLX"></select>
						</div>
						<div class="inputBox">
							<label class="true">证件号</label>
							<input type="text" id="COMPANYCODE" ng-model="COMPANYCODE"/>
						</div>
						<div class="inputBox">
							<label class="true">申请人</label>
							<input type="text" id="APPLIER" ng-model="APPLIER"/>
						</div>
						<div class="inputBox">
							<label class="true">法定代表人</label>
							<input type="text" id="ARTIFICIALPERSON" ng-model="ARTIFICIALPERSON"/>
						</div>
						<div class="inputBox">
							<label class="true">申请人地址</label>
							<input type="text" id="APPADDRESS" ng-model="APPADDRESS"/>
						</div>
						<div class="inputBox">
							<label class="">申请人邮编</label>
							<input type="text" id="APPPOST" ng-model="APPPOST"/>
						</div>
						<div class="inputBox">
							<label class="">联系人</label>
							<input type="text" id="LINKMAN" ng-model="LINKMAN"/>
						</div>
						<div class="inputBox">
							<label class="true">联系人电话</label>
							<input type="text" id="LINKPHONE" ng-model="LINKPHONE"/>
						</div>
						<div class="inputBox">
							<label class="true">联系人传真</label>
							<input type="text" id="LINKFAX" ng-model="LINKFAX"/>
						</div>
						<div class="inputBox">
							<label class="">联系人手机</label>
							<input type="text" id="LINKMOBILEPHONE" ng-model="LINKMOBILEPHONE"/>
						</div>
						<div class="inputBox">
							<label class="">联系人邮箱</label>
							<input type="text" id="LINKEMAIL" ng-model="LINKEMAIL"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 30px;">建设单位防汛责任人</label>
							<input type="text" id="FANGXUNMAN" ng-model="FANGXUNMAN"/>
						</div>
						<div class="inputBox">
							<label class="">防汛责任人电话</label>
							<input type="text" id="FANGXUNPHONE" ng-model="FANGXUNPHONE"/>
						</div>
						<div class="inputBox">
							<label class="">防汛责任人传真</label>
							<input type="text" id="FANGXUNFAX" ng-model="FANGXUNFAX"/>
						</div>
						<div class="inputBox">
							<label class="">防汛责任人手机</label>
							<input type="text" id="FANGXUNMOBILEPHONE" ng-model="FANGXUNMOBILEPHONE"/>
						</div>
						<div class="inputBox">
							<label class="">防汛责任人邮箱</label>
							<input type="text" id="FANGXUNEMAIL" ng-model="FANGXUNEMAIL"/>
						</div>
						<div class="inputBox">
							<label class="">项目名称</label>
							<input type="text" id="PROJECTNAME" ng-model="PROJECTNAME"/>
						</div>
						<div class="inputBox">
							<label class="true">项目地址</label>
							<input type="text" id="PROJECTADDRESS" ng-model="PROJECTADDRESS"/>
						</div>
						<div class="inputBox">
							<label class="true">所涉及的河道堤防</label>
							<input type="text" id="SJHDDF" ng-model="SJHDDF"/>
						</div>
						<div class="inputBox">
							<label class="true">设计单位</label>
							<input type="text" id="SJUNIT" ng-model="SJUNIT"/>
						</div>
						<div class="inputBox">
							<label class="true">监理单位</label>
							<input type="text" id="JLUNIT" ng-model="JLUNIT"/>
						</div>
						<div class="inputBox">
							<label class="true">质监单位</label>
							<input type="text" id="ZJUNIT" ng-model="ZJUNIT"/>
						</div>
						<div class="inputBox">
							<label class="true">法定代表人</label>
							<input type="text" id="ARTIFICIALPERSON1" ng-model="ARTIFICIALPERSON1"/>
						</div>
						<div class="inputBox">
							<label class="">法定代表人邮箱</label>
							<input type="text" id="APPPOST1" ng-model="APPPOST1"/>
						</div>
						<div class="inputBox">
							<label class="">施工单位</label>
							<input type="text" id="SGUNIT" ng-model="SGUNIT"/>
						</div>
						<div class="inputBox">
							<label class="true">施工地址</label>
							<input type="text" id="SGADDRESS" ng-model="SGADDRESS"/>
						</div>
						<div class="inputBox">
							<label class="true">施工开始时间</label>
							<input style="margin-left: 10px;" size="16" type="text" id="STARTTIME" ng-model="STARTTIME" readonly>
						</div>
						<div class="inputBox">
							<label class="true">施工结束时间</label>
							<input style="margin-left: 10px;" size="16" type="text" id="ENDTIME" ng-model="ENDTIME" readonly>
						</div>
						<div class="inputBox">
							<label class="true">施工单位联系人</label>
							<input type="text" id="LINKMAN1" ng-model="LINKMAN1"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 30px;">施工单位联系人电话</label>
							<input type="text" id="LINKPHONE1" ng-model="LINKPHONE1"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 30px;">施工单位联系人传真</label>
							<input type="text" id="LINKFAX1" ng-model="LINKFAX1"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 30px;">施工单位联系人手机</label>
							<input type="text" id="LINKMOBILEPHONE1" ng-model="LINKMOBILEPHONE1"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 30px;">施工单位联系人邮箱</label>
							<input type="text" id="LINKEMAIL1" ng-model="LINKEMAIL1"/>
						</div>
						<div class="inputBox">
							<label class="" style="font-size: 28px;vertical-align: middle;">申请开缺（凿洞）<br/>长度（面积）</label>
							<input type="text" id="KQZDCD" ng-model="KQZDCD"/>
						</div>
						<div class="inputBox">
							<label class="true" style="font-size: 28px;vertical-align: middle;">申请开缺（凿洞）<br/>起始时间</label>
							<input style="margin-left: 10px;" size="16" type="text" id="QISHIDATE" ng-model="QISHIDATE" readonly>
						</div>
						<div class="inputBox">
							<label class="true" style="font-size: 30px;">临时防汛墙设计图号</label>
							<input type="text" id="FXQSJTH" ng-model="FXQSJTH"/>
						</div>
						<div class="inputBox">
							<label class="true" style="font-size: 28px;vertical-align: middle;">临时防汛墙<br/>计划完工时间</label>
							<input style="margin-left: 10px;" size="16" type="text" id="WANGONGDATE" ng-model="WANGONGDATE" readonly>
						</div>
						<div class="inputBox">
							<label class="true" style="font-size: 28px;vertical-align: middle;">永久防汛墙<br/>计划形成封闭时间</label>
							<input style="margin-left: 10px;" size="16" type="text" id="XCFBDATE" ng-model="XCFBDATE" readonly>
						</div>
						<div class="inputBox">
							<label class="true">申请内容</label>
							<input type="textarea" id="APPLICATIONCONTENT" ng-model="APPLICATIONCONTENT"/>
						</div>

					</div>
				</div>
			</form>
		</div>
		<a class="btn_radius_50" ng-click="goNext()" style="left: 42%;">
			<div class="greyLight">
				<img src="images/ok.png" width="50" height="50" style="margin: 15px 0 15px 15px;">
				<label>继续</label>
			</div>
		</a>
	</div>
</div>