<p class="caption">{{funName}}查询</p>
<div class="main2" style="width: 1625px;height: 645px;margin-left: 118px;    margin-top: 30px;">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>使用说明：</dt>
				<dd>
					<p>1、个人住房房产税纳税人在取得应税住房产权之日起10个工作日后，可以登录“随申办”微信小程序查询个人住房房产税应税情况。</p>
					<p>2、个人住房房产税纳税人在缴税之日起3个工作日后，可以登录“随申办”微信小程序查询个人住房房产税已缴税情况。</p>
					<p>3、查询时请输入个人住房房产税认定时登记的产权人证件类型及证件号码，以及个人住房房产税认定后首次取得的房地产权证或不动产权证编号。</p>
					<p>4、查询结果仅供参考。如有异议的，应税情况根据个人住房房产税试点相关规定计算结果为准，已缴税情况以个人住房房产税完税凭证或代征单位收款凭证为准。</p>
					<p>5、房产税税款自纳税人取得应税住房产权的次月起计算，按年计征，不足一年的按月计算应纳房产税税额。计算公式：当年度应纳税款=年应纳税额÷12个月×当年度应纳税月份数。</p>
					<p>6、查询中遇有相关问题，请拨打12366纳税服务热线咨</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	.scrollBox2 .dllist1 dd {
		width: 1270px;
	}
	
	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
	#wrapper {
		width: 1750px;
		height: 600px;
		overflow: scroll;
		overflow-style: none;
		-ms-overflow-style: none;
		-webkit-overflow-style: none;
	}
	
	::-webkit-scrollbar {
		display: none;
	}
	
	.stuff td {
		font-size: 24px;
	}
	
	.stuff th {
		font-size: 24px;
	}
	
	.stuff table tr>td:nth-child(1) {
		width: 950px;
	}
	
	.stuff table tr>td:nth-child(2) {
		display: none;
		text-align: center
	}
	
	.stuff table tr>th:nth-child(2) {
		display: none;
	}
	
	.stuff table tr>td:nth-child(3) {
		width: 170px;
		margin-left: 20px;
		text-align: center
	}
	
	.stuff table tr>td:nth-child(4) {
		width: 130px;
		margin-left: 20px;
		text-align: center
	}
	
	.stuff table tr>td:nth-child(5) {
		width: 150px;
		margin-left: 20px;
		text-align: center
	}
</style>