<nav>
	<ol class="breadcrumb">
		<li>
			<a ng-click="Home()"><img src="images/home.png" height="30"></a>
		</li>
		<li>
			<a href="#">自助申报</a>
		</li>
		<li>
			<a href="#list">{{itemName}}</a>
		</li>
		<li>
			<a href="#guideline">办事指南</a>
		</li>
		<li>
			<a href="#materialUpload">材料清单</a>
		</li>
		<li>
			<a href="#uploadMethod">上传方式</a>
		</li>
		<li class="active">材料上传</li>
	</ol>
</nav>
<div class="board">
	<div class="info blue-green">
		<!--<img class="bg" src="images/mainIndexBG_0.png">
        <div class="leftImg">
            <img src="images/prototype.png">
            <img src="images/click.gif" width="80" class="click">
            <div>
                请确认照片清晰<br />
                点击“重拍”按钮重新拍摄<br />
                点击“拍照”按钮拍摄材料<br />
                点击“上传”按钮结束拍摄
            </div>
        </div>-->
		<div style="margin: 10px 15px 0; text-align: left;">已上传图片：</div>
		<div class="imgBox">
			<!--<div class="img">
        		<img src="views/test.jpg" width="150" height="200" />
        		<p class="del" ng-click="del(111)">X</p>
        	</div>-->
		</div>
		<a class="btn_radius_50" ng-show="capture" ng-click="finishUpload()" style="top: 690px; left: 110px;">
			<div class="greyLight" style="padding: 10px 0 10px 30px;">
				<img src="images/ok.png" height="50">
				<label style="font-weight: normal;">完成</label>
			</div>
		</a>
	</div>
	<div class="action right-grey">
		<a class="btn_radius_50 vertical-middle" ng-click="finishUpload()" style="top: 20px;left: 980px;">
			<div class="greyLight-dark">
				<img src="images/back.png" height="50" border="0" style="margin: 10px 15px 15px 15px;">
			</div>
		</a>
		<div class="camera">
			<img id="showImg" style="width: 740px; height: 525px;" />
		</div>
		<a class="btn_radius_50" ng-show="!capture" ng-click="refresh()" style="left: 270px;">
			<div class="greyLight">
				<img src="images/retry.png" height="80">
				<label>重拍</label>
			</div>
		</a>
		<a class="btn_radius_50" ng-show="capture" ng-click="next()">
			<div class="greyLight">
				<img src="images/camera.png" height="80">
				<label>拍照</label>
			</div>
		</a>
		<a class="btn_radius_50" ng-show="!capture" ng-click="finish()" style="left: 590px;">
			<div class="greyLight">
				<img src="images/ok.png" width="50" height="50" style="margin: 15px 0 15px 15px;">
				<label>上传</label>
			</div>
		</a>
	</div>
</div>