<nav>
	<ol class="breadcrumb">
		<li>
			<a href="#"><img src="../libs/common/images/home.png" style="height: 30px;"></a>
		</li>
		<li>
			<a href="#main">自助取表</a>
		</li>
		<li>
			<a href="#main">选择表格</a>
		</li>
		<li>
			<a href="javascript:;">{{formName}}</a>
		</li>
		<li>
			<a href="javascript:;">填充身份信息</a>
		</li>
		<li class="active">确认并打印</li>
	</ol>
</nav>
<div class="board">
	<div class="info blue-green">
		<div class="bg"></div>
		<div class="vertical-middle horizontal-middle leftLump">
			<img src="../libs/common/images/prototype.png">
			<img src="../libs/common/images/click.gif" style="width:80px;position:absolute;top:150px;left:160px;">
			<div>请确认表格信息<br />并点击“取表”以继续</div>
			<div class="sub-index  horizontal-middle" ng-click="home()">
				<a class="blue-green active" style="padding:15px 0px;width:100%;font-size:30px;margin-top:50px;">重选所需表格</a>
			</div>
		</div>
	</div>
	<div class="action">
		<div class="imageShow vertical-middle" style="height:700px;width:700px;left:50px;overflow:hidden;">
			<img src="{{showImg}}" alt="">
		</div>
		<div style="position:absolute;width:300px;font-size:30px;right:30px;top:50px;">
			<b>注意信息</b>
			<p style="font-size:0.9em">
				1. 预填写信息正确<br> 2. 身份证扫描件清晰<br> 3. 打印表格<br>
			</p>
		</div>
		<a class="btn_radius_50" ng-click="printWord()" style="position:absolute;left:780px;top:660px; width: 300px;">
			<div class="greyLight" style="padding: 0  25px;">
				<img src="../libs/common/images/icon200/print.png" height="80">
				<label>打印</label>
			</div>
		</a>
	</div>
</div>