<p class="caption">{{funName}}--办理须知</p>
<div class="main2">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>一、事项名称：</dt>
				<dd>
					<p>长三角地区基本医疗保险关系转移接续</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>二、办理依据：</dt>
				<dd>
					<p>1.《中华人民共和国社会保险法》（中华人民共和国主席令第三十五号）：“第十九条 个人跨统筹地区就业的，其基本医疗保险关系随本人转移，缴费年限累计计算”</p>
					<p>2.《人力资源和社会保障部、卫生部、财政部关于印发《流动就业人员基本医疗保障关系转移接续暂行办法》的通知》（人社部发〔2009〕191号）。</p>
					<p>3.人力资源和社会保障部办公厅《关于印发流动就业人员基本医疗保险关系转移接续业务经办规程的通知》（人社厅发〔2016〕94号）。</p>
					<p>4.《浙江省人力资源和社会保障厅关于转发人力资源社会保障部办公厅印发流动就业人员基本医疗保险关系转移接续业务经办规程的通知》（浙人社办发〔2016〕58号）。</p>
					<p>5.市、县（市、区）相关规范性文件。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>三、申请条件：</dt>
				<dd>
					<p>长三角跨省基本医疗保险关系转续适用于在长三角地区现参保地医保机构正常参保缴费，且在现参保地医保机构参保前曾在长三角地区其他统筹区参加基本医疗保险，且办理了参保关系中止的在职人员。</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" default-is-show-prev-btn="hidden" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.main2 {
		width: 1625px;
		height: 645px;
		margin-left: 150px;
		margin-top: 30px;
	}

	.scrollBox2 .dllist1 {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.scrollBox2 .dllist1 dd {
		width: 1270px;
	}

	#wrapper {
		width: 1630px;
		height: 600px;
	}
	.dllist1 dd b{
		color:#e1ba1c;font-weight:bold;
	}
	@media screen and (min-width:1279px) and (max-width:1281px) {
		.caption {
			margin-left: 130px !important;
			margin-top: 60px !important;
		}
		.main2 {
			width: 1105px;
			height: 645px;
			margin-left: 95px;
			margin-top: 30px;
		}
		.scrollBox2 .dllist1 dd {
			width: 1000px;
		}
		#wrapper {
			width: 1000px;
			height: 600px;
		}
	}
</style>