<div class="shell bg2">
	<apptb-header fun-name="办事指南"></apptb-header>
	<div class="TabBox1">
		<div class="scrollBox2 clearfloat">
			<div class="linkBox1 clearfloat" style="    margin-top: 150px;">
				<a href="http://183.194.250.112/ac-product/cmpt/selfWorkBench_V2/guideline/index.html#/citylist">
					<img src="../libs/common/images/materials-copy.png" />
					<p>市级</p>
				</a>
				<a href="http://183.194.250.112/ac-product/cmpt/selfWorkBench_V2/guideline/index.html#/list?areaCode=SH00YP">
					<img src="../libs/common/images/newIcon/bookMake.png" />
					<p>区级</p>
				</a>
			</div>
		</div>
	</div>
	<apptb-footer prev="goHome()" next="" default-is-show-prev-btn="hidden" default-is-show-next-btn="hidden" custom-home="true" home="goHome()" go-back="goAppHistoryBack()">
	</apptb-footer>
	<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
</div>

<style type="text/css">
	#wrapper {
		width: 1800px;
		height: 500px;
	}
	.tabBotbox1inner .text a {
		width: 266px;
		margin-right: 44px;
	}
</style>