<style type="text/css">
	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
	.scrollBox2 .linkBox1 {
		padding-left: 0px;
		text-align: center;
		margin-top: 80px;
		display: flex;
		justify-content: center;
	}
	
	.scrollBox2 .linkBox1 a {
		margin: 84px 80px 0px 80px;
	}
	@media screen and (max-width: 1600px) {
		.scrollBox2 .linkBox1 {
			margin-top: 0px;
			padding-top: 40px;
		}
	}
</style>

<div class="contain">
	<p class="caption">{{stuff.stuffName}}</p>
	<div class="scrollBox2 clearfloat">
		<div class="linkBox1 clearfloat">
			<a ng-click="choiceType(stuff.type,stuff.stuffName,stuff.ywlx)">
				<img src="../libs/common/images/newIcon/idCard.png" />
				<p>{{stuff.stuffName}}</p>
			</a>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" default-is-show-prev-btn="hidden" custom-home="true" home="customMain()" go-back="goAppHistoryBack()"></apptb-footer>