<p class="caption">{{funName}}办理须知</p>
<div class="main2">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>一、主管部门：</dt>
				<dd>
					<p>市绿化和市容管理局及各区绿化和市容管理局</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>二、申报条件：</dt>
				<dd>
					<p>自然人,企业法人</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>三、申请材料：</dt>
				<dd>
					<p>申请对象需带齐以下材料：</p>
					<p>（1）野生动物保护管理行政许可事项申请表</p>
					<p>（2）国家重点保护野生动物人工繁育许可证申请表</p>
					<p>（3）区审核意见材料</p>
					<p>（4）证明申请人和委托代理人身份的有效文件或材料及代理关系证明（可由政府部门调取）</p>
					<p>（5）申请人工繁育的野生动物种源来源证明材料，包括引种协议书或意向书、有效批准文件、进出口证明书、收容救护处理文书</p>
					<p>（6）野生动物人工繁育的规划方案</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>四、办理流程：</dt>
				<dd>
					<p>（1）该项业务全市通办，申请对象可通过“一网通办”提出申请，或至市绿化市容局或就近的行政服务中心自助终端提出申请</p>
					<p>（2）市绿容局窗口用户可以通过局审批系统进行收件</p>
					<p>（3）	市绿容审批用户可以通过局审批系统进行受理</p>
					<p>（4）市绿化和市容管理局应在审批期限内作出行政审批决定</p>
					<p>（5）申请人可以用过“一网通办”下载证照</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>五、收费标准：</dt>
				<dd>
					<p>免费</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer default-is-show-prev-btn="hidden" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.main2 {
		width: 1625px;
		height: 645px;
		margin-left: 118px;
		margin-top: 30px;
	}

	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.contain {
		width: 1530px;
		height: 700px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	#wrapper {
		width: 1750px;
		height: 600px;
	}

	.scrollBox2 .dllist1 {
		margin-left: 50px;
	}
</style>