<style type="text/css">
	.content {
		background: url(../guideline/images/bg-subcontent.png) no-repeat;
		background-size: 100% 100%;
		width: 1500px;
		height: 550px;
		margin-left: 100px;
		overflow: hidden;
	}

	#wrapper {
		width: 1600px;
		height: 475px;
	}

	.scrollBox2 .dllist1 dd {
		width: 1100px;
	}

	.scrollBox2 .dllist1 dd,
	.scrollBox2 .dllist1 dt {
		font-size: 25px;
	}

	.scrollBox2 .dllist1 .stuff {
		width: 1400px;
		margin-left: 35px;
	}

	.scrollBox2 .dllist1 .spzj {
		width: 1400px;
		margin-left: 35px;
	}

	table {
		table-layout: auto;
		width: 100%;
		text-align: center;
	}

	table td,
	table th {
		font-size: 22px;
		border: #477cbe 1px solid;
		padding: 10px 5px;
		text-align: center;
		height: 50px;
	}

	table th {
		font-weight: bold;
	}

	table td {
		line-height: 35px;
	}

	.stuff table tr>th:nth-child(1) {
		width: 56%;
	}

	.stuff table tr>th:nth-child(2) {
		text-align: center;
		width: 18%;
	}

	.stuff table tr>th:nth-child(3) {
		width: 14%;
	}

	.spzj th {
		width: 25%;
	}

	.CodeBox1 {
		right: 98px;
	}

	@media screen and (max-width: 1600px) {
		.content {
			background: url(../guideline/images/bg-subcontent.png) no-repeat center center;
			background-size: 94% 100%;
			width: 100%;
			height: 550px;
			margin-left: 0px;
			overflow: hidden;
			padding: 0px 20px;
			box-sizing: border-box;
		}
		.CodeBox1 {
			position: absolute;
			z-index: 10;
			width: 200px;
			overflow: hidden;
			top: 480px;
			right: 53px;
			text-align: center;
			height: 340px;
		}
		.scrollBox2 .dllist1 .spzj {
			width: 870px;
			margin-left: 0px;
		}
	}
</style>
<div class="TabBox1">
	<div class="navBox2"><b>您正在办理：</b><span>{{name}}---{{itemName}}</span></div>
	<div class="content">
		<div class="main2">
			<div id="wrapper">
				<div class="scrollBox2 clearfloat" id="scrollBox2">
					<dl class="dllist1 clearfloat" style="padding-top: 25px;">
						<dt>一、适用范围：</dt>
						<dd>
							<p>{{guideInfo.auditfwznextend.syfw|| to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>二、事项名称和代码：</dt>
						<dd>
							<p>事项名称：{{guideInfo.auditfwzn.ql_name}}</p>
							<p>事项代码：{{guideInfo.auditfwzn.catalog_code}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>三、办理依据：</dt>
						<dd ng-bind-html="guideInfo.auditfwzn.lawbasis | to_trusted">
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>四、实施主体：</dt>
						<dd>
							<p>{{guideInfo.auditfwznextend.bljg || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>五、受理条件：</dt>
						<dd>
							<p>{{guideInfo.auditfwznextend.sptj || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>六、服务数量：</dt>
						<dd>
							<p>{{guideInfo.auditfwznextend.spsl || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt style="float:none">七、申请材料：</dt>
						<dd id="lodop" class="stuff">
							<table>
								<tbody>
									<tr>
										<th>材料名称</th>
										<th>材料类型及份数</th>
										<th>来源渠道说明</th>
										<th>材料必要性</th>
									</tr>
									<tr ng-repeat=" item in guideInfo.auditfwznmaterial">
										<td>{{item.materialname}}</td>
										<td>{{item.submittype | myFilter : submittypeList}}和{{item.materialformat | myFilter : materialformatList}}x{{item.page_num}}</td>
										<td>{{item.file_source_explain || '无'}}</td>
										<td>{{item.materialnecessity | myFilter : materialnecessityList}}</td>
									</tr>
								</tbody>
							</table>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>八、审批期限：</dt>
						<dd>
							<p>法定办结时限：{{guideInfo.auditfwzn.anticipate_day}}</p>
							<p>承诺办结时限：{{guideInfo.auditfwzn.promise_day}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>九、审批证件：</dt>
						<dd class="spzj">
							<table>
								<tbody>
									<tr>
										<th>证件名称</th>
										<th>送达方式</th>
										<th>送达期限</th>
										<th>审批结果类型</th>
									</tr>
									<tr ng-repeat=" item in guideInfo.spzj">
										<td>{{item.zj_name}}</td>
										<td>{{item.zj_sdfs}}</td>
										<td>{{item.zj_sdqx}}</td>
										<td>{{item.result_type ||'无'}}</td>
									</tr>
								</tbody>
							</table>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十、是否收费：</dt>
						<dd>
							<p>{{guideInfo.auditfwzn.charge_flag | myFilter : charge_flagList}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十一、申请人权利及义务：</dt>
						<dd>
							<p>服务对象依法享有以下权利：<span ng-bind-html="guideInfo.auditfwznextend.sqrql | to_trusted"></span></p>
							<p>服务对象依法履行以下义务：<span ng-bind-html="guideInfo.auditfwznextend.sqryw | to_trusted"></span></p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十二、咨询电话：</dt>
						<dd>
							<p>{{guideInfo.auditfwzn.link_tel || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十三、投诉电话：</dt>
						<dd>
							<p>{{guideInfo.auditfwzn.supervise_tel || to_trusted}}</p>
						</dd>
					</dl>
					<dl class="dllist1 clearfloat">
						<dt>十四、常见问题：</dt>
						<dd>
							<div ng-repeat="item in guideInfo.auditfwznqa">
								<p>问：<span>{{item.auditfwznqa || to_trusted}}</span></p>
								<p>答：<span>{{item.auditfwznqa || to_trusted}}</span></p>
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="goHome()">
</apptb-footer>
<loading ng-if="isLoading"></loading>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>