
<div class="shell bg2">
	 <div class="headBox1">
			<div class="headtop1 clearfloat">
				<a class="back1" ng-click="goHome()">自助申报</a>
				<a href="javascript:;" class="message1">message</a>
				<a ng-click="goHome()" class="backindex1">返回首页</a>
				<div class="backbox1">无操作<span><b class="minute">60</b>秒</span>后将返回首页</div>
			</div>
			<ul class="navul1 clearfloat">
				<li>选择事项</li>
			<li>办事指南</li>
			<li>事项情形</li>
			<li>人证核验</li>
			<li class="act">材料上传</li>
			</ul>
	</div>
	<div class="main2" style="height: 650px;">
		<div class="action">
			<div class="imageShow" style="height: 500px;position: absolute;top: 99px;left: 40px;font-size: 40px;">
				 <img ng-click="select(index)" ng-class="{'imgStyle':current==index}" class="id" ng-src="{{'http://218.202.254.222'+item.imageUrl}}" ng-repeat="(index,item) in imgUrls">
			</div>
		</div>
	</div>
	<div class="loadingBox" ng-if="!isLoding">
  			<img style="margin-left: 909px;margin-top: 523px;" src="../libs/common/images/loadings.gif" alt=""/>
  			<p>正在加载数据，请稍后...</p >
		</div>

	<div class="btnBox1 clearfloat">
	    <a href="#materialList" class="Prev" style="width: 195px;" >返回材料列表</a>
		<a class="next" id="consureOnclick" ng-click="goNext()" >确认</a>
	</div>
	
</div>
<style>
	.id{
		height: 185px;
		margin-left: 10px;
	}
	.imgStyle{
		border: #AA0000 2px solid;
	}
</style>