<ul class="container">
	<li ng-click="choice('https://gaj.sh.gov.cn/yzxt/')">
		<!--http://180.168.211.56/YzWeb/-->
		<img src="../libs/common/images/icon/ggkz.png" />
		<p style="margin-top: 25px;">
			公章刻制
		</p>
	</li>
	<li ng-click="choice('https://etax.shanghai.chinatax.gov.cn/wszx-web/bszm/apps/views/beforeLogin/indexBefore/pageIndex.html#/')">
		<img src="../libs/common/images/icon/ddsw.png" />
		<p style="margin-top: 25px;">
			电子税务局
		</p>
	</li>
	<li ng-click="choice('https://zzjb.rsj.sh.gov.cn/zzjbdl/jsp/login.jsp')">
		<img src="../libs/common/images/icon/rszz.png" />
		<p>
			人社公共服务平台
		</p>
		<p style="margin-top: 0px;">
			就业&nbsp;社保&nbsp;居住证
		</p>
	</li>
	<!--<li ng-click="choice('http://zzcx.huangpuqu.sh.cn/hpqyfwweb/touchpage/index.html')">
		<img src="../libs/common/images/icon/qqy.png" />
		<p>
			区企业发展<br/>服务平台
		</p>
	</li>-->
	<li ng-click="choice('http://gcls.sh.gov.cn/urpfront/#/ui/user/login')">
		<img src="../libs/common/images/icon/jsgc.png" />
		<p>
			建设工程联审<br/>共享平台
		</p>
	</li>
	<li ng-click="choice('http://zwdt.sh.gov.cn/govPortals/ftl/project')">
		<img src="../libs/common/images/icon/yqcy.png" />
		<p>
			上海市工程建设项目<br/>服务平台
		</p>
	</li>
	<li ng-click="choice('http://www.gsxt.gov.cn/index.htm')" style="margin-left: 260px;">
		<img src="../libs/common/images/icon/serial.png" />
		<p>
			国家企业信用<br/>信息公示
		</p>
	</li>
	<!--<li ng-click="choice('https://www.shhuangpu.gov.cn/zw/009002/009002011/009002011002/009002011002002/20190202/93c84481-2b1e-433f-9b79-552814dcfd05.html')">
		<img src="../libs/common/images/icon/yqcy.png" />
		<p>
			园区创业服务<br/>优惠政策
		</p>
	</li>-->
	<li ng-click="choice('http://cxw.creditshanghai.org.cn/xyxxzc-app-front/f/login.jsp')">
		<img src="../libs/common/images/icon/ggxy.png" />
		<p>
			公共信用信息<br/>报告
		</p>
	</li>
	<li ng-click="choice('http://fwp.safea.gov.cn/')">
		<img src="../libs/common/images/icon/foreign.png" />
		<p>
			外国人来华工作
		</p>
		<p style="margin-top: 0px;">
			管理服务平台
		</p>
	</li>
	<li ng-click="choice('http://rsj.sh.gov.cn/wsbs/zypxjd/2007zpsy/index.shtml')">
		<img src="../libs/common/images/icon/shtz.png" />
		<p>
			上海职业培训
		</p>
		<p style="margin-top: 0px;">
			指导服务平台
		</p>
	</li>
</ul>
<apptb-footer default-is-show-prev-btn="hidden" default-is-show-next-btn="hidden" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 80px auto;
		align-items: flex-start;
		width: 1750px;
		height: 800px;
	}
	
	.container li {
		margin-left: 105px;
		text-align: center;
		height: 220px;
		width: 215px;
	}
	
	.container li>img {
	}
	
	.container li>p {
		margin: 0 auto;
		width: 271px;
		font-size: 26px;
	}
}

/*.container li:nth-of-type(1) {
		background-color: #0078d7;
		margin-left: 0px;
	}
	
	.container li:nth-of-type(2) {
		background-color: #50a299;
	}
	
	.container li:nth-of-type(3) {
		background-color: #8973b4;
	}
	
	.container li:nth-of-type(4) {
		background-color: #10d367;
	}
	
	.container li:nth-of-type(5) {
		background-color: #a17e68;
	}
	
	.container li:nth-of-type(6) {
		background-color: #fc6392;
		margin-left: 184px;
	}
	.container li:nth-of-type(7) {
		background-color: #ffb347;
	}
	.container li:nth-of-type(8) {
		background-color: #f17878;
	}
	.container li:nth-of-type(9) {
		background-color: #f64e4e;
	}*/
</style>