<div class="six">
	<span>{{operation}}</span>
	<div class="six-img">
		<span></span>
		<p>{{operation}}</p>
	</div>
	<span id="six-out">{{completeTips}}</span>
	<span id="cksure">温馨提示：每张身份证只能预约两次事项。</span>
</div>
<apptb-footer prev="prevStep()" next="" default-is-show-next-btn="hidden" custom-home="true" home="customMain()"
 go-back="goAppHistoryBack()"></apptb-footer>
<style type="text/css">
	.base-under {
		visibility: hidden;
	}

	.footBox {
		top: 958px;
		width: 1920px;
	}
	#cksure{
	margin: 203px 638px 0px;
    font-size: 16px;
    color: #f1992e;
	}
</style>
