<p class="caption">{{funName}}--办理须知</p>
<div class="main2">
	<div id="wrapper">
		<div class="scrollBox2 clearfloat">
			<dl class="dllist1 clearfloat">
				<dt>一、事项名称：</dt>
				<dd>
					<p>购房提取住房公积金</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>二、办理依据：</dt>
				<dd>
					<p> 国务院《住房公积金管理条例》；长三角地区住房公积金管理部门关于购房提取住房公积金的规定。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>三、申请条件：</dt>
				<dd>
					<p>职工与（或）其配偶在长三角地区购买拥有所有权的自住住房，职工（及参与提取的配偶）在长三角地区缴存住房公积金，按照国家和住房公积金缴存地管理部门规定，通过长三角“一网通办”平台申请购房提取住房公积金。</p>
				</dd>
			</dl>
			<dl class="dllist1 clearfloat">
				<dt>四、服务方式：</dt>
				<dd>
					<p>符合条件的职工登录“长三角一网通办专栏”申请办理，选择“购房提取住房公积金”，输入相关信息，并按提示进行操作。</p>
				</dd>
			</dl>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" default-is-show-prev-btn="hidden" next="nextStep()" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<style type="text/css">
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}

	.main2 {
		width: 1625px;
		height: 645px;
		margin-left: 150px;
		margin-top: 30px;
	}

	.scrollBox2 .dllist1 {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.scrollBox2 .dllist1 dd {
		width: 1270px;
	}

	#wrapper {
		width: 1630px;
		height: 600px;
	}
	.dllist1 dd b{
		color:#e1ba1c;font-weight:bold;
	}
	@media screen and (min-width:1279px) and (max-width:1281px) {
		.caption {
			margin-left: 130px !important;
			margin-top: 60px !important;
		}
		.main2 {
			width: 1105px;
			height: 645px;
			margin-left: 95px;
			margin-top: 30px;
		}
		.scrollBox2 .dllist1 dd {
			width: 1000px;
		}
		#wrapper {
			width: 1000px;
			height: 600px;
		}
	}
</style>