<style type="text/css">
	.bd {
		border-top: 0px;
		border-left: 0px;
	}
	
	.caption {
		margin-top: 80px;
		margin-left: 200px;
	}
	
	#wrapper {
		width: 1750px;
		height: 650px;
	}
	
	.select1 option {
		color: #333;
	}
	
	.main2 {
		height: 650px;
		margin-top: 20px;
	}
	
	.table-sty1 {
		table-layout: auto;
		width:83%;
		margin-left: 155px;
		margin-top: 50px;
		font-size:30px;
	}
	
	.table-sty1 th {
		width: 26%;
		font-weight: bold;
		font-size: 28px;
	}
	
	.table-sty1 td {
		font-size: 28px;
	}
	
	@media screen and (max-width: 1600px) {
		.caption {
			margin-top: 80px;
			margin-left: 136px;
		}
		.table-sty1 {
			table-layout: auto;
			width:90%;
			margin: 0 auto;
		}
		
		.table-sty1 th {
			width: 26%;
			font-weight: bold;
			font-size: 20px;
		}
		
		.table-sty1 td {
			font-size: 20px;
		}
	}
</style>

<p class="caption">居住证积分查询结果</p>
<div class="st">
	<div class="my-card">
		<div class="body">
			<table class="table-sty1" cellspacing="0" style="">
				<tr>
					<th>达标状态：</th>
					<td style="color: #e1ba1c;" colspan="3">{{baseScore}}</th>
				</tr>
				<tr>
					<th>姓名：</th>
					<td>{{info.name}}</td>
					<th>身份证号：</th>
					<td>{{info.idcard}}</td>
				</tr>
				<tr>
					<th>居住证有效截止日期：</th>
					<td>{{info.validitydayJf}}</td>
					<th>居住证积分有效截止日期：</th>
					<td>{{info.validitydayJzz}}</td>
				</tr>
				<tr>
					<th>配偶姓名：</th>
					<td>{{info.sponceName}}</td>
					<th>配偶身份证号：</th>
					<td>{{info.sponcePid}}</td>
				</tr>
				<tr ng-repeat="item in info.childrenList">
					<th>子女姓名：</th>
					<td>{{item.childname}}</th>
					<th>子女身份证号码：</th>
					<td>{{item.childpid}}</th>
				</tr>
			</table>
		</div>
	</div>
</div>
<apptb-footer prev="prevStep()" next="nextStep()" next-btn-info="{{nextText}}" custom-home="true" home="customMain()" go-back="goAppHistoryBack()">
</apptb-footer>
<alert msg="msg" ng-if="isAlert" confirm="alertConfirm()" concel="concel"></alert>
<div class="loadingBox" ng-if="!isLoding">
	<img style="margin-left: 909px;margin-top: 460px;" src="../libs/common/images/loadings.gif" alt="">
	<p>正在加载数据，请稍后...</p>
</div>