<div class="shell bg2">

    <div class="headBox1">
        <div class="headtop1 clearfloat">
            <a href="#start" class="back1">自助办理</a>
            <a ng-click="goHome()" class="backindex1">返回首页</a>
            <div class="backbox1">无操作<zizhu-header></zizhu-header>后将返回首页</div>
        </div>
        <ul class="navul1 clearfloat">
            <li>选择事项</li>
            <li>办事指南</li>
            <li class="act">人证核验</li>
            <li>在线填报</li>
        </ul>
    </div>

    <div class="navBox2"><b>您正在办理：</b><span>{{itemName}}---{{statusName}}&nbsp;/&nbsp;随申办亮证</span></div>

    <div class="main2">
        <div class="scrollBox2 clearfloat">
            <div class="citizen clearfloat">
            	<img style="height: 540px;" src="../libs/common/images/newTips/qrCode-self.png"/>
                <!--<img src="images/citizen2.jpg" style="margin-left: 90px;"/>
				<img src="images/citizen1.jpg" style="margin-left: 20px;"/>
				<img src="images/手机二维码.png" style="margin-left: 20px; height:360px;"/>
				<div class="t1" style="width: 150px;height: 50px;padding-left: 102px;position: absolute;top: 430px;"><p>进入随申办选择亮证功能</p></div>
				<div class="t2" style="width: 150px;height: 50px;padding-left: 353px;position: absolute;top: 430px;"><p>查看二维码信息</p></div>
				<div class="t3" style="width: 150px;height: 50px;padding-left: 1245px;position: absolute;top: 300px;"><p>请将二维码放置扫码区</p></div>-->
            </div>
        </div>

    </div>
    <div class="btnBox1 clearfloat">
        <a href="#select" class="Prev">上一步</a>
    </div>
	<!--<div class="CodeBox1">
	    <img src="images/smy.png" class="img1"/>
	    <p>下载随申办APP </p>
	</div>-->
</div>
<div class="loadingBox" ng-if="!isLoding">
		<img style="margin-left: 909px;margin-top: 310px;" src="../libs/common/images/loadings.gif" alt="">
		<p>正在加载数据，请稍后...</p>
</div>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
<style type="text/css">
	.loadingBox {
		    position: fixed;
    width: 1920px;
    height: 930px;
    /* margin: auto; */
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    top: 150px;
    right: 0;
    bottom: 0;
    z-index: 10;
	}
	
	.loadingBox p {
		margin-left: 781px;
		font-size: 38px;
	}
	.scrollBox2 .citizen {
    width: 1755px;
}
</style>