<div class="shell bg2">

	<div class="headBox1">
		<div class="headtop1 clearfloat">
			<a href="#start" class="back1">自助办理</a>
			<a ng-click="goHome()" class="backindex1">返回首页</a>
			<div class="backbox1">无操作
				<zizhu-header></zizhu-header>后将返回首页</div>
		</div>
		<ul class="navul1 clearfloat">
			<li>选择事项</li>
			<li>办事指南</li>
			<li class="act">人证核验</li>
			<li>在线填报</li>
		</ul>
	</div>

	<div class="navBox2"><b>您正在办理：</b><span>{{itemName}}---{{statusName}}&nbsp;/&nbsp;刷脸认证</span></div>

		<!--<div class="scrollBox2 clearfloat" style="overflow:visible;" ng-show="!show">
			<a href="javascript:;" class="stamp" ng-click="capture()">拍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;照</a>
		</div>
		<div class="view-search" ng-show="show">
			<input class="view-input" maxlength="6" ng-keyup="keyboardInput($event)" type="text" ng-model="idcard" ng-click="(idcard=='请输入身份证号码后6位')?idcard='':''" />
		</div>
		<div class="keybord" ng-show="show">
			<a href="javascript:;" ng-repeat="item in keybordArr" ng-click="inputNumber(item)">{{item}}</a>
		</div>-->
		<query-face result="getInfo(idCard,Name)" prev="prev()" next="next()"></query-face>
	
</div>
<alert msg="msg" ng-if="isAlert" hasCancel="true" confirm="alertConfirm()" cancel="alertCancel()"></alert>
